.Fs1 {
    font-size: 1px
}

.Fs2 {
    font-size: 2px
}

.Fs3 {
    font-size: 3px
}

.Fs4 {
    font-size: 4px
}

.Fs5 {
    font-size: 5px
}

.Fs6 {
    font-size: 6px
}

.Fs7 {
    font-size: 7px
}

.Fs8 {
    font-size: 8px
}

.Fs9 {
    font-size: 9px
}

.Fs10 {
    font-size: 10px
}

.Fs11 {
    font-size: 11px
}

.Fs12 {
    font-size: 12px
}

.Fs13 {
    font-size: 13px
}

.Fs14 {
    font-size: 14px
}

.Fs15 {
    font-size: 15px
}

.Fs16 {
    font-size: 16px
}

.Fs17 {
    font-size: 17px
}

.Fs18 {
    font-size: 18px
}

.Fs19 {
    font-size: 19px
}

.Fs20 {
    font-size: 20px
}

.Fs21 {
    font-size: 21px
}

.Fs22 {
    font-size: 22px
}

.Fs23 {
    font-size: 23px
}

.Fs24 {
    font-size: 24px
}

.Fs25 {
    font-size: 25px
}

.Fs26 {
    font-size: 26px
}

.Fs27 {
    font-size: 27px
}

.Fs28 {
    font-size: 28px
}

.Fs29 {
    font-size: 29px
}

.Fs30 {
    font-size: 30px
}

.Fs31 {
    font-size: 31px
}

.Fs32 {
    font-size: 32px
}

.Fs33 {
    font-size: 33px
}

.Fs34 {
    font-size: 34px
}

.Fs35 {
    font-size: 35px
}

.Fs36 {
    font-size: 36px
}

.Fs37 {
    font-size: 37px
}

.Fs38 {
    font-size: 38px
}

.Fs39 {
    font-size: 39px
}

.Fs40 {
    font-size: 40px
}

.Fs41 {
    font-size: 41px
}

.Fs42 {
    font-size: 42px
}

.Fs43 {
    font-size: 43px
}

.Fs44 {
    font-size: 44px
}

.Fs45 {
    font-size: 45px
}

.Fs46 {
    font-size: 46px
}

.Fs47 {
    font-size: 47px
}

.Fs48 {
    font-size: 48px
}

.Fs49 {
    font-size: 49px
}

.Fs50 {
    font-size: 50px
}



.ui-dialog.countryDlg .ui-dialog-content{
    padding: 10px;
    background-color: white;

}
.countryDlg .ui-widget.ui-widget-content { background: white    }
body .ui-widget-overlay {
    background-color: #918f98;
    opacity: .8;
}
.coupon-accordion span {
    color: #009688;
}

.ht-dropdown {
    max-height: 70vh;
    overflow: auto;
}
