nav > ul > li {
    float: right;
}

.nav {
    direction: ltr !important;
}

.menu-3 nav > ul > li > .dropmenu {
    text-align: right;
}


.ui-panelgrid .ui-panelgrid-footer {
    text-align: right !important;
}

* {
    letter-spacing: normal !important;
}

.ui-selectonemenu label.ui-selectonemenu-label, .ui-selectonemenu-panel .ui-selectonemenu-item {
    text-align: right !important;
    direction: rtl;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
    text-align: right !important;
    direction: rtl;

}


body .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-item label {
    padding-right: 28px;
    padding-left: inherit;
}


body .ui-selectcheckboxmenu .ui-selectcheckboxmenu-label-container .ui-selectcheckboxmenu-label {
    padding: 5px 23px 5px 3px;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
    float: left !important;
}


body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    margin-left: inherit;
    margin-right: -4px;
}


.menu-3 nav > ul > li, ul li, nav .dropmenu a {
    font-size: 15px;
}


body .ui-accordion .ui-accordion-header {
    padding-right: 60px;

}

body .ui-accordion-rtl .ui-accordion-header .ui-icon {
    right: .5em;
}


.grid-content .list-item-entry {
    float: right;
}


body.layout-compact .ui-panel .ui-panel-titlebar .ui-panel-title {
    float: right;
    line-height: 18px;
    font-size: 20px;
    direction: rtl;
}

.layout-rtl {
    direction: rtl;
    text-align: right;
}

.body-rtl .ui-selectcheckboxmenu-panel {
    direction: rtl !important;
    right: 54px;
    left: auto !important;
}

.ui-selectcheckboxmenu-token {
    float: right;
}

.ui-selectcheckboxmenu-multiple-container {
    overflow: auto;
    max-height: 100px;
}
.ui-selectcheckboxmenu-panel {
    width: auto!important;

}