<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.defin.banner']}</ui:define>

    <ui:define name="head">
        <style>

            .img-cont img {
                max-width: 100%;
                width: 100%
            }

            .no-border * {
                border: none !important;
            }

            .ui-inputfield {
                text-align: left;
                direction: ltr;
                border: 1px solid #5180ce !important;
                border-radius: 5px !important;
                background-image: none !important;
                padding: 3px !important;
            }
        </style>


    </ui:define>

    <ui:define name="content">

        <h:form id="main_from">
            <div class="ui-g ui-fluid">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.defin.banner']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <p:accordionPanel>

                            <p:tab title="#{msg['common.home']}">
                                <p:panelGrid columns="2" layout="grid" columnClasses="ui-g-6 ,ui-g-6"
                                             styleClass="no-border img-cont">

                                    <h:panelGroup layout="block" style="position: relative">
                                        <p:outputLabel value="#{msg['common.url']}" for="url4"/>
                                        <p:inputText id="url4" value="#{adsMB.ads4.url}"/>
                                        <p:commandButton icon="fa fa-save" action="#{adsMB.save('4')}" update="@form"
                                                         process="@this url4"/>


                                        <p:graphicImage width="100%" name="img/banner/b9.jpg" library="store"
                                                        rendered="#{!adsMB.checkSaveAds(4)}" alt="banner-img"/>


                                        <p:graphicImage rendered="#{adsMB.checkSaveAds(4)}"
                                                        cache="true" value="#{imageMb.imageStream}" stream="true">
                                            <f:param value="4" name="code"/>
                                            <f:param value="#{adsMB.ads4.image.versionId}" name="cache"/>
                                        </p:graphicImage>

                                        <p:commandButton icon="fa fa-upload" type="button"
                                                         onclick="PF('uplouad4').chooseButton.click()"
                                                         style="position: absolute; right: 5px ; top :80px"/>
                                        <p:commandButton icon="fa fa-close" immediate="true"
                                                         styleClass="red-btn" actionListener="#{adsMB.deleteAds('4')}"
                                                         style="position: absolute; right: 50px ; top :80px"/>

                                        <p:fileUpload fileUploadListener="#{adsMB.upload}" mode="advanced"
                                                      update="@form" process="@this url4"
                                                      label=" صورة  " auto="true" widgetVar="uplouad4"
                                                      style="display: none"
                                                      allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                      uploadLabel="رفع صورة"
                                                      cancelLabel="#{msg['common.cancel']}">
                                            <f:attribute name="code" value="4"/>
                                        </p:fileUpload>


                                    </h:panelGroup>
                                    <p:panelGrid columns="1" layout="grid">
                                        <p:panelGrid columns="2" layout="grid">
                                            <h:panelGroup layout="block" style="position: relative">

                                                <p:outputLabel value="#{msg['common.url']}" for="url1"/>
                                                <p:inputText id="url1" value="#{adsMB.ads1.url}"/>
                                                <p:commandButton icon="fa fa-save" action="#{adsMB.save('1')}"
                                                                 update="@form" process="@this url1"/>

                                                <p:graphicImage width="100%" name="img/banner/b10.jpg" library="store"
                                                                alt="banner-img"
                                                                rendered="#{!adsMB.checkSaveAds('1')}"/>
                                                <p:graphicImage rendered="#{adsMB.checkSaveAds('1')}"
                                                                cache="true" value="#{imageMb.imageStream}">
                                                    <f:param value="1" name="code"/>
                                                    <f:param value="#{adsMB.ads1.image.versionId}" name="cache"/>
                                                </p:graphicImage>


                                                <p:commandButton icon="fa fa-upload" type="button"
                                                                 onclick="PF('uplouad1').chooseButton.click()"
                                                                 style="position: absolute; right: 5px ; top :80px"/>

                                                <p:commandButton icon="fa fa-close" immediate="true"
                                                                 styleClass="red-btn"
                                                                 actionListener="#{adsMB.deleteAds('1')}"
                                                                 style="position: absolute; right: 50px ; top :80px"/>

                                                <p:fileUpload fileUploadListener="#{adsMB.upload}" mode="advanced"
                                                              update="@form" process="@this url1"
                                                              uploadLabel="رفع صورة"
                                                              label=" صورة  " auto="true" widgetVar="uplouad1"
                                                              style="display: none"
                                                              allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                              cancelLabel="#{msg['common.cancel']}">
                                                    <f:attribute name="code" value="1"/>
                                                </p:fileUpload>


                                            </h:panelGroup>
                                            <h:panelGroup layout="block" style="position: relative">

                                                <p:outputLabel value="#{msg['common.url']}" for="url2"/>
                                                <p:inputText id="url2" value="#{adsMB.ads2.url}"/>
                                                <p:commandButton icon="fa fa-save"  action="#{adsMB.save('2')}"
                                                                 update="@form" process="@this url2" />

                                                <p:graphicImage width="100%" name="img/banner/b11.jpg" library="store"
                                                                rendered="#{!adsMB.checkSaveAds(2)}"
                                                                alt="banner-img"/>

                                                <p:graphicImage rendered="#{adsMB.checkSaveAds(2)}"
                                                                cache="true" value="#{imageMb.imageStream}">
                                                    <f:param value="2" name="code"/>
                                                    <f:param value="#{adsMB.ads2.image.versionId}" name="cache"/>

                                                </p:graphicImage>


                                                <p:commandButton icon="fa fa-upload" type="button"
                                                                 onclick="PF('uplouad2').chooseButton.click()"
                                                                 style="position: absolute; right: 5px ; top :80px"/>

                                                <p:commandButton icon="fa fa-close" immediate="true"
                                                                 styleClass="red-btn"
                                                                 actionListener="#{adsMB.deleteAds('2')}"
                                                                 style="position: absolute; right: 50px ; top :80px"/>

                                                <p:fileUpload fileUploadListener="#{adsMB.upload}" mode="advanced"
                                                              update="@form" process="@this url2"
                                                              label=" صورة  " auto="true" widgetVar="uplouad2"
                                                              style="display: none"
                                                              allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                              uploadLabel="رفع صورة"
                                                              cancelLabel="#{msg['common.cancel']}">
                                                    <f:attribute name="code" value="2"/>
                                                </p:fileUpload>
                                            </h:panelGroup>

                                        </p:panelGrid>
                                        <h:panelGroup layout="block" style="position: relative">

                                            <p:outputLabel value="#{msg['common.url']}" for="url3"/>
                                            <p:inputText id="url3" value="#{adsMB.ads3.url}"/>

                                            <p:commandButton icon="fa fa-save" action="#{adsMB.save('3')}"
                                                             update="@form" process="@this url3"/>

                                            <p:graphicImage width="100%" name="img/banner/b12.jpg" library="store"
                                                            rendered="#{!adsMB.checkSaveAds(3)}" alt="banner-img"/>
                                            <p:graphicImage rendered="#{adsMB.checkSaveAds(3)}"
                                                            cache="true" value="#{imageMb.imageStream}">
                                                <f:param value="3" name="code"/>
                                                <f:param value="#{adsMB.ads3.image.id}" name="cache"/>

                                            </p:graphicImage>


                                            <p:commandButton icon="fa fa-upload" type="button"
                                                             onclick="PF('uplouad3').chooseButton.click()"
                                                             style="position: absolute; right: 5px ; top :80px"/>
                                            <p:commandButton icon="fa fa-close" immediate="true"
                                                             styleClass="red-btn"
                                                             actionListener="#{adsMB.deleteAds('3')}"
                                                             style="position: absolute; right: 50px ; top :80px"/>

                                            <p:fileUpload fileUploadListener="#{adsMB.upload}" mode="advanced"
                                                          update="@form" process="@this url3"
                                                          label=" صورة  " auto="true" widgetVar="uplouad3"
                                                          style="display: none"
                                                          allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                          uploadLabel="رفع صورة"
                                                          cancelLabel="#{msg['common.cancel']}">
                                                <f:attribute name="code" value="3"/>
                                            </p:fileUpload>

                                        </h:panelGroup>

                                    </p:panelGrid>


                                </p:panelGrid>
                            </p:tab>
                        </p:accordionPanel>


                    </div>

                </div>

            </div>
        </h:form>

    </ui:define>

</ui:composition>

