<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ele="http://java.sun.com/jsf/composite/components"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.defin.article']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.defin.article']}</h1>

                        <p:messages id="form_messages" closable="true"/>


                        <p:dataTable var="cat" lazy="true" value="#{articleMB.articleCustomLazyDataModel}"
                                     id="articleDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="#{msg['common.show']} {RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{cat.id}" paginator="true" rows="10">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages" action="#{articleMB.addNewArticle}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column
                                    headerText="#{msg['common.title']}">#{cat.title.get(cat.currentLanguage)}</p:column>
<p:column
                                    headerText="#{msg['common.code']}">#{cat.code}</p:column>

                            <p:column sortable="true" sortBy="#{cat.publishDate}"
                                      headerText="#{msg['common.publishDate']}">
                                #{cat.publishDate}
                            </p:column>

                            <p:column headerText="#{msg['common.publisher']}">
                                #{cat.account.firstname.get(cat.currentLanguage )}  #{cat.account.lastname.get(cat.currentLanguage )}
                            </p:column>


                            <p:column headerText="#{msg['common.pic']}">
                                <p:lightBox styleClass="imagebox" blockScroll="true" rendered="#{cat.cover ne null}">
                                    <h:outputLink value="#{request.contextPath}/file/article/#{cat.cover.name}"
                                                  title="Image">
                                        <p:graphicImage width="90%" height="150" url="/file/article/#{cat.cover.name}"/>
                                    </h:outputLink>
                                </p:lightBox>
                            </p:column>
                            <p:column width="70">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{articleMB.editArticle(cat)}"/>

                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                            rendered="#{cat.enableDelete}"     action="#{articleMB.deleteArticle(cat)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgArticle" id="dlgArticle" modal="true" width="100%" blockScroll="true"
                  header="#{msg['common.defin.article']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="articleFrm">
                <p:messages id="form_messages"/>

                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <ele:translator label="#{msg['common.title']}" columns="2" required="true"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                                value="#{articleMB.selectedArticle.title}"/>

                                <ele:translatorCkEditor label="#{msg['common.desc']}" columns="2" required="true"
                                                        columnClasses="ui-grid-col-6"
                                                        value="#{articleMB.selectedArticle.desc}"/>

                                <h:panelGroup layout="block" id="container1" style="text-align: center;">
                                    <p:commandButton value="#{msg['common.uplouad.img']}" styleClass="green-btn"
                                                     type="button" icon="ui-icon ui-icon-file-upload"
                                                     onclick="PF('Upload').chooseButton.click()"/>
                                    <p:fileUpload fileUploadListener="#{articleMB.uploadImages}" mode="advanced"
                                                  update="container1" label=" #{msg['common.pic']}" auto="true"
                                                  widgetVar="Upload" style="display: none"
                                                  allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                  cancelLabel="#{msg['common.cancel']}"/>


                                    <ui:repeat value="#{articleMB.selectedArticle.images}" var="img">
                                        <h:panelGrid columns="1" rendered="#{!img.markedForDeletion}"
                                                     style="display: inline;">

                                            <p:graphicImage styleClass="img#{img.id}"
                                                            style="margin: auto 5px" width="100" height="100"
                                                            cache="true" value="#{imageMb.imageStream}"
                                                            stream="true">
                                                <f:param value="#{img.id}" name="ids"/>
                                                <f:param value="#{img.versionId}" name="cache"/>
                                            </p:graphicImage>


                                            <p:commandButton styleClass="red-btn small-btn" update="@form:container1"
                                                             immediate="true" icon="fa fa-close">
                                                <f:setPropertyActionListener value="#{true}"
                                                                             target="#{img.markedForDeletion}"/>
                                            </p:commandButton>
                                        </h:panelGrid>

                                    </ui:repeat>

                                </h:panelGroup>

                                <h:panelGroup layout="block" id="container" style="    text-align: center;">
                                    <p:commandButton value="#{msg['common.uplouad.img']}" styleClass=" green-btn"
                                                     type="button"
                                                     icon="ui-icon ui-icon-file-upload"
                                                     onclick="PF('uplouad').chooseButton.click()"/>
                                    <p:fileUpload fileUploadListener="#{articleMB.upload}" mode="advanced"
                                                  update="container" label=" صورة  " auto="true" widgetVar="uplouad"
                                                  style="display: none" allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                  uploadLabel="رفع صورة"
                                                  cancelLabel="#{msg['common.cancel']}"/>


                                    <p:lightBox styleClass="imagebox" id="lighbox1" blockScroll="true"
                                                rendered="#{articleMB.selectedArticle.cover ne null}">
                                        <h:outputLink title="Image"
                                                      value="#{request.contextPath}/file/article/#{articleMB.selectedArticle.cover.name}">
                                            <p:graphicImage width="50%" height="150"
                                                            url="/file/article/#{articleMB.selectedArticle.cover.name}"/>

                                        </h:outputLink>
                                    </p:lightBox>
                                </h:panelGroup>
                            </p:panelGrid>

                        </div>
                    </div>
                </div>


                <div class="ui-g">


                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{articleMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{articleMB.saveArticleAndHide}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!articleMB.editMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{articleMB.saveArticle}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!articleMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}" action="#{articleMB.saveArticleAndHide}"
                                         validateClient="true" process="@form" update="form_messages"
                                         icon="ui-icon ui-icon-save" styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true"
                                         onclick="PF('dlgArticle').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/></div>
                </div>


            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgArticle" resetValues="true"/>
        </p:dialog>

    </ui:define>

</ui:composition>

