<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.availableQuantitItem']}</ui:define>

    <ui:define name="head">


    </ui:define>


    <ui:define name="content">
        <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-lg-12">
                <h:form id="main_from">
                    <p:importConstants type="com.ellepharma.data.model.GenderEnum" var="gender"/>
                    <p:importConstants type="com.ellepharma.data.model.PaymentStatusEnum" var="payment"/>

                    <div class="card card-w-title">

                        <p:growl id="form_messages" closable="true"/>

                        <p:panelGrid columns="2" columnClasses="ui-grid-col-6 ,ui-grid-col-6" layout="grid"
                                     styleClass="ui-panelgrid-blank form-group"
                                     style="border:0px none; background-color:transparent;">


                            <h:outputText value="#{msg['common.status']}"/>
                            <p:selectOneRadio id="sendAranix"
                                              value="#{sellerReportMB.status}"
                                              layout="responsive"
                                              columns="3"  styleClass="form-group">
                                <f:selectItem itemValue="#{null}" itemLabel="#{msg['msg.all']}"/>
                                <f:selectItem itemValue="true" itemLabel="#{msg['common.active']}"/>
                                <f:selectItem itemValue="false" itemLabel="#{msg['common.notActive']}"/>
                            </p:selectOneRadio>

                            <h:panelGroup layout="block" id="container" style="text-align: center;">

                                <p:commandButton value="البحث" process="@form" action="#{sellerReportMB.find2()}"
                                                 update="@form" icon="fa fa-search"/>


                                <div style="padding-top: 5px;" dir="#{guestPreferences.dir}">
                                    <h:commandLink>
                                        <i class="fa fa-file-excel-o" style="font-size: 30px;color: green"></i>
                                        <p:dataExporter type="xls" target="orderDtl" fileName="sellerItem"/>
                                    </h:commandLink>


                                </div>
                            </h:panelGroup>
                        </p:panelGrid>
                        <b/>

                        <p:dataTable var="order" value="#{sellerReportMB.itemDtoList}"
                                     id="orderDtl" paginatorPosition="bottom" reflow="true"
                                     dir="#{guestPreferences.getDir()}" lazy="false"
                                     multiViewState="false" emptyMessage="#{msg['common.NoData']}"
                                     rowIndexVar="index" styleClass="table-reflow-desktop"
                                     paginatorAlwaysVisible="false"
                                     currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     rowsPerPageTemplate="5,10,15,20,30,50,100,200"
                                     paginatorTemplate="{RowsPerPageDropdown}  {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {Exporters}"
                                     rowKey="#{order.id}" sortBy="#{order.available}" paginator="true"
                                     rows="20">


                            <p:column headerText="#{msg['common.name']}" sortable="true"
                                      filterBy="#{order.item.name.get(currentLanguage.locale)}"
                                      width="200" sortBy="#{order.item.name.get(currentLanguage.locale)}"
                                      filterMatchMode="contains">
                                <h:outputLabel value="#{order.item.name.get(currentLanguage.locale)}"/>
                                <f:facet name="footer">
                                    <h:outputText value="#{msg['common.total']} :" styleClass="bold"/>

                                </f:facet>
                            </p:column>

                            <p:column headerText="#{msg['common.productCode']}" width="70" sortBy="#{order.item.code}"
                                      filterBy="#{order.item.code}">
                                <h:outputLabel value="#{order.item.code}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.status']}" sortBy="#{order.item.status}" filterBy="#{order.item.status}">
                                <h:outputLabel value="#{order.item.status ? msg['common.active'] : msg['common.notActive']}" />

                            </p:column>


                            <p:column headerText="الفواتير المرتبطه" width="90" sortBy="#{order.invoiceNo}" filterBy="#{order.invoiceNo}">
                                <h:outputLabel value="#{order.invoiceNo}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.barcode']}" sortable="true" width="120"
                                      filterBy="#{order.item.barcode}"
                                      filterMatchMode="contains"
                                      sortBy="#{order.item.barcode}"> <h:outputLabel value="#{order.item.barcode}"/>
                            </p:column>


                            <p:column headerText="#{msg['common.category']} " filterMatchMode="contains"
                                      filterBy="#{order.item.categoryString}" width="100"
                                      sortBy="#{order.item.categoryString}">
                                <h:outputLabel value="#{order.item.categoryString}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.brand']}" sortable="true" filterMatchMode="contains"
                                      width="100" filterBy="#{order.item.manufacturer.name.get(currentLanguage.locale)}"
                                      sortBy="#{order.item.manufacturer.name.get(currentLanguage.locale)}">
                                <h:outputLabel value="#{order.item.manufacturer.name.get(currentLanguage.locale)}"/>

                            </p:column>
                            <p:column headerText="#{msg['common.price']}" sortable="true" filterMatchMode="contains"
                                      width="100" filterBy="#{order.item.price}" styleClass="priceT" sortBy="#{order.item.price}">
                                <h:outputLabel value="#{utils.convertPriceToString(order.item.price)} USD"/>

                                <f:facet name="footer">
                                    <h:outputText
                                            value="#{utils.convertPriceToString(sellerReportMB.itemDtoList.stream().map(m->m.item.price).sum())} USD"/>
                                </f:facet>

                            </p:column>
                            <p:column headerText="#{msg['common.finalPrice']}" sortable="true"
                                      filterMatchMode="exact" styleClass="priceT"
                                      width="100" filterBy="#{order.item.finalPrice}"
                                      sortBy="#{order.item.finalPrice}">

                                <h:outputLabel value="#{utils.convertPriceToString(order.item.finalPrice)} USD"/>

                                <f:facet name="footer">
                                    <h:outputText
                                            value="#{utils.convertPriceToString(sellerReportMB.itemDtoList.stream().map(m->m.item.finalPrice).sum())} USD"/>

                                </f:facet>

                            </p:column>

                            <p:column headerText="#{msg['msg.availableItem']}" width="70" sortBy="#{order.available}"
                                      styleClass="priceT" filterBy="#{order.available}" filterMatchMode="exact">
                                <h:outputLabel value="#{order.available}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.total']}" width="95" styleClass="priceT"
                                      sortBy="#{order.available * order.item.finalPrice}"
                                      filterBy="#{order.available * order.item.finalPrice}">
                                <h:outputLabel value="#{utils.convertPriceToString(order.available *order.item.finalPrice)} USD"/>
                                <f:facet name="footer">
                                    <h:outputText
                                            value="#{utils.convertPriceToString(sellerReportMB.itemDtoList.stream().map(m->m.available * m.item.finalPrice).sum())} USD"/>

                                </f:facet>
                            </p:column>


                        </p:dataTable>


                        <style type="text/css">
                            .ui-datatable-header {
                                height: 50px
                            }
                        </style>
                    </div>
                </h:form>

            </div>
        </div>

    </ui:define>


</ui:composition>

