<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.products']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">
        <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-lg-12">
                <h:form id="main_from">
                    <div class="card card-w-title">

                        <div style="direction: rtl;">

                            <p:panelGrid id="pnl" columns="4" layout="grid"
                                         styleClass="form-group ui-panelgrid-blank"
                                         columnClasses="col-md-3و col-md-3و col-md-3 , col-md-3">

                                <h:outputText value="اسم الماركة"/>
                                <p:selectOneMenu styleClass="col-md-6"
                                                 value="#{itemReportMB.itemReportFilterDTO.brandId}"
                                                 filterMatchMode="contains"
                                                 filter="true">
                                    <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                    <f:selectItems value="#{itemReportMB.brandList}" var="c"
                                                   itemLabel="#{c.name.get('ar')}" itemValue="#{c.id}"/>
                                </p:selectOneMenu>

                                <h:outputText value="اسم التصنيف"/>
                                <p:selectOneMenu styleClass="col-md-6"
                                                 value="#{itemReportMB.itemReportFilterDTO.categoryId}"
                                                 filterMatchMode="contains"
                                                 filter="true">
                                    <f:selectItem noSelectionOption="true" itemValue="#{null}" itemLabel="#{msg['msg.select']}"/>
                                    <f:selectItems value="#{itemReportMB.categoryList}" var="c"
                                                   itemLabel="#{c.name.get('ar')}" itemValue="#{c.id}"/>
                                </p:selectOneMenu>

                                <h:outputText value="التاريخ من"/>
                                <p:datePicker value="#{itemReportMB.itemReportFilterDTO.fromDate}" pattern="dd/MM/yyyy"/>
                                <h:outputText value="التاريخ الى"/>
                                <p:datePicker value="#{itemReportMB.itemReportFilterDTO.toDate}" pattern="dd/MM/yyyy"/>

                                <p:commandButton value="البحث" action="#{itemReportMB.findItem}" process="@form"
                                                 update="@form" icon="fa fa-search"/>
                            </p:panelGrid>
                        </div>
                        <br/>
                        <div id="datatable">
                            <p:dataTable var="item" lazy="true" value="#{itemReportMB.itemReportResultDTOSList}"
                                         id="itemDtl" paginatorPosition="bottom" reflow="true"
                                         dir="#{guestPreferences.getDir()}"
                                         multiViewState="true" emptyMessage="#{msg['common.NoData']}"
                                         rowIndexVar="index"
                                         paginatorAlwaysVisible="false"
                                         currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                         paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                         rowKey="#{item.id}" paginator="true" rows="10">

                                <p:column headerText="الماركة">
                                    #{item.item.manufacturer.name.get('ar')}
                                </p:column>

                                <p:column headerText="اسم المنتج">
                                    #{item.item.name.get('ar')}
                                </p:column>
                                <!--filterBy="#{item.item.code}" filterOptions="contains" sortable="true" sortBy="#{item.item.code}"-->
                                <p:column headerText="الكود">
                                    #{item.item.code}
                                </p:column>

                                <p:column headerText="الباركود">
                                    #{item.item.barcode}
                                </p:column>

                                <p:column headerText="الكمية الاصلية">
                                    #{item.originalItemQty}
                                </p:column>

                                <p:column headerText="الكمية المباعة">
                                    #{item.soldItemQty}
                                </p:column>

                                <p:column headerText="الكمية المتبقية">
                                    #{item.remainingItemQty}
                                </p:column>

                                <p:column headerText="السعر الاصلي">
                                    #{item.item.finalPrice}
                                </p:column>

                                <p:column headerText="الخصم">
                                    #{item.item.discount}
                                </p:column>

                                <p:column headerText="سعر البيع">
                                    #{item.sellPrice}
                                </p:column>

                                <p:column headerText="تاريخ الادخال">
                                    #{item.item.dateAdded}
                                </p:column>

                            </p:dataTable>

                        </div>
                        <style type="text/css">
                            .ui-datatable-header {
                                height: 50px
                            }
                        </style>
                    </div>
                </h:form>

            </div>
        </div>
    </ui:define>

</ui:composition>

