<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ele="http://java.sun.com/jsf/composite/components"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.category']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.category']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <p:dataTable var="cat" lazy="true" value="#{categoryMB.categoryCustomLazyDataModel}"
                                     id="catDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{cat.id}" paginator="true" rows="5">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages" action="#{categoryMB.addNewCategory}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.code']}" width="100" sortable="true"
                                      sortBy="#{cat.code}" filterBy="#{cat.code}"> #{cat.code}</p:column>
                            <p:column headerText="#{msg['common.name']}" sortable="true" filterable="true"
                                      filterBy="#{cat.name}"
                                      sortBy="#{cat.name}">#{cat.name.get(currentLanguage.locale)}</p:column>
                            <p:column
                                    headerText="#{msg['common.desc']}" filterBy="#{cat.desc}"> #{cat.desc.get(currentLanguage.locale)}</p:column>
                            <p:column headerText="#{msg['common.pic']}" sortBy="#{cat.image.id}" >

                                <p:lightBox styleClass="imagebox" blockScroll="true" rendered="#{cat.image ne null}">

                                    <h:outputLink styleClass="link#{cat.image.id}"
                                                  title="Image">

                                        <p:graphicImage styleClass="img#{cat.image.id}"
                                                        width="90%" height="150" cache="true"
                                                        value="#{imageMb.imageStream}" stream="true">
                                            <f:param value="#{cat.image.id}" name="ids"/>
                                            <f:param value="#{cat.image.versionId}"
                                                     name="cache"/>
                                        </p:graphicImage>

                                    </h:outputLink>

                                    <script>
                                        $('.link#{cat.image.id}').attr("href", $('.img#{cat.image.id}')[0].src);
                                    </script>


                                </p:lightBox>

                            </p:column>
                            <p:column
                                    headerText="#{msg['msg.cat.parent']}" filterBy="#{cat.parent.name}">#{cat.parent.name.get(currentLanguage.locale)}</p:column>
                            <p:column headerText="#{msg['common.status']}" width="120" sortBy="#{cat.status}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{cat.status}"
                                                       offLabel="#{msg['common.notActive']}"
                                                       onLabel="#{msg['common.active']}"/>

                            </p:column>
                            <p:column headerText="#{msg['common.showInSlider']}" width="120"
                                      sortBy="#{cat.showInSlider}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{cat.showInSlider}"
                                                       offLabel="#{msg['msg.no']}"
                                                       onLabel="#{msg['msg.yes']}"/>

                            </p:column>
                            <p:column width="70">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{categoryMB.editCategory(cat)}"/>

                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                 action="#{categoryMB.deleteCategory(cat)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgCategory" id="dlgCategory" modal="true" blockScroll="true"
                  header="#{msg['common.defin.category']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="catFrm">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <ele:translator label="#{msg['common.name']}" columns="2" required="true"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                                value="#{categoryMB.selectedCategory.name}"/>
                                <ele:translator label="#{msg['common.desc']}" columns="2" required="false"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                                value="#{categoryMB.selectedCategory.desc}"/>


                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.code']}" for="code"/>
                                    <p:inputText id="code" value="#{categoryMB.selectedCategory.code}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block">
                                    <p:outputLabel for="console" value="#{msg['msg.cat.parent']}"/>
                                    <p:selectOneMenu id="console" value="#{categoryMB.selectedCategory.parent}"
                                                     filter="true" filterMatchMode="contains" required="false"
                                                     converter="omnifaces.SelectItemsConverter"
                                                     style="margin-bottom:10px;" dynamic="true">
                                        <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                        <f:selectItems value="#{categoryMB.categoryList}" var="cat"
                                                       itemValue="#{cat}"
                                                       itemLabel="#{cat.name.get(currentLanguage.locale)}"/>
                                    </p:selectOneMenu>
                                </h:panelGroup>

                                <p:panelGrid columns="2" style="margin-bottom:10px" layout="grid"
                                             styleClass="form-group ui-panelgrid-blank" columnClasses="ui-grid-col-12">
                                    <h:panelGroup layout="block">

                                        <p:outputLabel value="#{msg['common.status']}"/>

                                        <p:selectOneRadio id="status" value="#{categoryMB.selectedCategory.status}"
                                                          layout="responsive"
                                                          columns="2" styleClass="form-group">
                                            <f:selectItem itemValue="true" itemLabel=" #{msg['common.active']}"/>
                                            <f:selectItem itemValue="false" itemLabel="#{msg['common.notActive']} "/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block">

                                        <p:outputLabel value="#{msg['common.showInSlider']}"/>

                                        <p:selectOneRadio id="radio" value="#{categoryMB.selectedCategory.showInSlider}"
                                                          layout="responsive"
                                                          columns="2" styleClass="form-group">
                                            <f:selectItem itemValue="true" itemLabel=" #{msg['msg.yes']}"/>
                                            <f:selectItem itemValue="false" itemLabel="#{msg['msg.no']} "/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <h:panelGroup layout="block" id="container" style="text-align: center;">
                                    <p:commandButton value="#{msg['common.uplouad.img']}" styleClass="green-btn"
                                                     type="button"
                                                     icon="ui-icon ui-icon-file-upload"
                                                     onclick="PF('Upload').chooseButton.click()"/>
                                    <p:fileUpload fileUploadListener="#{categoryMB.upload}" mode="advanced"
                                                  update="container" label=" #{msg['common.pic']}" auto="true"
                                                  widgetVar="Upload" style="display: none"
                                                  allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                  cancelLabel="#{msg['common.cancel']}"/>


                                    <p:lightBox styleClass="imagebox" id="lighbox1" blockScroll="true"
                                                rendered="#{categoryMB.selectedCategory.image ne null}">
                                        <h:outputLink styleClass="link#{categoryMB.selectedCategory.image.id}"
                                                      title="Image">

                                            <p:graphicImage styleClass="img#{categoryMB.selectedCategory.image.id}"
                                                            width="300px" height="150" cache="true"
                                                            value="#{imageMb.imageStream}"
                                                            stream="true">
                                                <f:param value="#{categoryMB.selectedCategory.image.id}" name="ids"/>
                                                <f:param value="#{categoryMB.selectedCategory.image.versionId}"
                                                         name="cache"/>
                                            </p:graphicImage>

                                        </h:outputLink>

                                        <script>
                                            $('.link#{categoryMB.selectedCategory.image.id}').attr("href", $('.img#{categoryMB.selectedCategory.image.id}')[0].src);
                                        </script>

                                    </p:lightBox>
                                </h:panelGroup>

                            </p:panelGrid>


                        </div>
                    </div>
                </div>


                <div class="ui-g">


                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{categoryMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{categoryMB.saveCategoryAndHide}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!categoryMB.editMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{categoryMB.saveCategory}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!categoryMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}" action="#{categoryMB.saveCategoryAndHide}"
                                         validateClient="true" process="@form" update="form_messages"
                                         icon="ui-icon ui-icon-save"
                                         styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true" process="@this"
                                         onclick="PF('dlgCategory').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/></div>
                </div>


            </h:form>
            <p:ajax event="close" immediate="true" process="@this" update="@parent @this dlgCategory" resetValues="true"/>
        </p:dialog>

    </ui:define>

</ui:composition>

