<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" lang="#{localeMB.language}" dir="#{localeMB.dir}">

<div class="main-wraper padd-90">
    <div class="row">
        <div class="col-md-12">
            <h:form id="frm">
                <p:growl autoUpdate="true"/>

                <p:panelGrid id="pnl" columns="2" styleClass="MarAuto col-md-12 VT "
                             columnClasses="col-md-13 , col-md-9">

                    <h:outputText value="#{msg['msg.region.nameAr']}"/>
                    <p:inputText value="#{adminCityMB.city.nameAr}" styleClass="col-md-12"/>
                    <h:outputText value="#{msg['msg.region.nameEn']}"/>
                    <p:inputText value="#{adminCityMB.city.nameEr}" styleClass="col-md-12"/>
                    <f:facet name="footer">
                        <p:commandButton icon="fa fa-save" update="tbl pnl " action="#{adminCityMB.save()}"/>
                    </f:facet>
                    <f:facet name="header">
                        <p:commandButton icon="fa fa-save" update="tbl pnl " action="#{adminCityMB.save()}"/>
                    </f:facet>

                </p:panelGrid>
                <div class="clear"/>
                <p:dataTable styleClass="VT" id="tbl" value="#{adminCityMB.cities}" var="c" rowIndexVar="index">
                    <p:column width="5%" headerText="#"> #{index+1}</p:column>
                    <p:column headerText="#{msg['msg.region.nameAr']}">
                        #{c.nameAr}
                    </p:column>
                    <p:column headerText="#{msg['msg.region.nameEn']}"> #{c.nameEr} </p:column>
                    <p:column headerText="#{msg['msg.btn.delete']}" width="70">
                        <p:commandButton process="@this" icon="fa fa-close"
                                         actionListener="#{adminCityMB.deleteCity(c)}" update="@form:tbl">
                            <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                    </p:column>
                    <p:column headerText="#{msg['msg.btn.edit']}" width="70">
                        <p:commandButton icon="fa fa-edit" process="@this" update="@form:pnl ">
                            <f:setPropertyActionListener value="#{c}" target="#{adminCityMB.city}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:confirmDialog dir="#{localeMB.dir}" widgetVar="confirmClose" global="true" showEffect="fade"
                                 hideEffect="fade">
                    <p:commandButton type="button" value="#{msg['msg.yes']}" styleClass="ui-confirmdialog-yes"
                                     icon="ui-icon-check"/>
                    <p:commandButton type="button" value="#{msg['msg.no']}" styleClass="ui-confirmdialog-no"
                                     icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </div>
</div>
</html>