<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ele="http://java.sun.com/jsf/composite/components"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.defin.config']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.defin.config']}</h1>



                        <p:panelGrid columns="1" columnClasses="ui-grid-col-4 ,ui-grid-col-6" layout="grid"
                                     styleClass="ui-panelgrid-blank form-group"
                                     style="border:0px none; background-color:transparent;">
                        <p:commandButton value="clear all Cache" ajax="false" styleClass="pink-btn " process="@this" action="#{configMB.clearAllCache}" />
                        </p:panelGrid>
                        <br/>
                        <p:messages id="form_messages" closable="true"/>

                        <p:dataTable var="config" lazy="true" value="#{configMB.configCustomLazyDataModel}"
                                     id="configDtl" paginatorPosition="bottom" paginatorAlwaysVisible="false" rowIndexVar="index"
                                     reflow="true" dir="#{guestPreferences.getDir()}" emptyMessage="#{msg['common.NoData']}"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="#{msg['common.show']} {RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{config.id}" paginator="true" rows="20">
                            <f:facet name="header">
                                <p:commandButton rendered="false" iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages" action="#{configMB.addNewConfig}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.name']}">#{config.name}</p:column>
                            <p:column headerText="#{msg['common.value']}">
                                <h:outputText rendered="#{config.name ne  'LOGO'}" value="#{config.value.get(currentLanguage.locale)}"/>

                                <p:lightBox styleClass="imagebox" blockScroll="true" rendered="#{config.name eq'LOGO'}">
                                    <h:outputLink value="#{imageMb.getImageUrl(config.value.get(currentLanguage.locale))}"
                                                  title="LOGO">
                                        <p:graphicImage width="90%" height="150"
                                                        url="#{imageMb.getImageUrl(config.value.get(currentLanguage.locale))}"/>
                                    </h:outputLink>
                                </p:lightBox>

                            </p:column>


                            <p:column width="50">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{configMB.editConfig(config)}"/>

                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgConfig" id="dlgConfig" modal="true" width="50%" blockScroll="true"
                  header="#{msg['common.defin.config']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="configFrm">
                <p:messages id="form_messages"/>

                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group" style="border:0px none; background-color:transparent;">

                                <ele:translator label="#{configMB.selectedConfig.name}" columns="2" required="true"
                                                rendered="#{configMB.selectedConfig.name ne 'LOGO'}"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6" value="#{configMB.selectedConfig.value}"/>


                                <h:panelGroup layout="block" id="container" style="text-align: center;"
                                              rendered="#{configMB.selectedConfig.name eq 'LOGO'}">
                                    <p:outputLabel value="#{configMB.selectedConfig.name}"/>
                                    <br/>

                                    <p:commandButton value="#{msg['common.uplouad.img']}" styleClass=" green-btn" type="button"
                                                     icon="ui-icon ui-icon-file-upload"
                                                     onclick="PF('uplouad').chooseButton.click()"/>
                                    <p:fileUpload fileUploadListener="#{configMB.upload}" mode="advanced"
                                                  update="container" label=" صورة  " auto="true" widgetVar="uplouad"
                                                  style="display: none" allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i" uploadLabel="رفع صورة"
                                                  cancelLabel="#{msg['common.cancel']}"/>


                                    <p:lightBox styleClass="imagebox" id="lighbox1" blockScroll="true"
                                                rendered="#{not empty configMB.selectedConfig.value}">
                                        <h:outputLink title="Image"
                                                      value="#{imageMb.getImageUrl(configMB.selectedConfig.value.get(currentLanguage.locale))}">
                                            <p:graphicImage width="50%" height="150"
                                                            url="#{imageMb.getImageUrl(configMB.selectedConfig.value.get(currentLanguage.locale))}"/>

                                        </h:outputLink>
                                    </p:lightBox>
                                </h:panelGroup>
                            </p:panelGrid>

                        </div>
                    </div>
                </div>


                <div class="ui-g">


                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{configMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true" action="#{configMB.saveConfigAndHide}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>


                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!configMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}" action="#{configMB.saveConfigAndHide}" validateClient="true"
                                         process="@form" update="form_messages" icon="ui-icon ui-icon-save" styleClass="teal-btn"
                                         style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true" onclick="PF('dlgConfig').hide()"
                                         icon="ui-icon ui-icon-clear" styleClass="red-btn" style="width:100%"/>
                    </div>
                </div>


            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgConfig" resetValues="true"/>
        </p:dialog>

    </ui:define>

</ui:composition>

