<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.definCountry']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.definCountry']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <p:dataTable var="item" lazy="false" value="#{countryMB.countryList}"
                                     id="itemDtl" paginatorPosition="bottom" reflow="true"
                                     dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{item.id}" paginator="true" rows="10">

                            <p:column headerText="#" width="50">#{index+1}</p:column>


                            <p:column headerText="#{msg['common.name']}" sortable="true" filterMatchMode="contains"
                                    filterBy="#{item.countryNameAr}"    sortBy="#{item.countryNameAr}">#{item.countryNameAr}</p:column>

                            <p:column headerText="#{msg['common.name']}" sortable="true"
                                      filterBy="#{item.countryNameEn}"   sortBy="#{item.countryNameEn}">#{item.countryNameEn}</p:column>

                            <p:column headerText="#{msg['common.currency']}">
                                <h:panelGroup layout="block">
                                    <p:selectOneMenu id="currency" value="#{item.currency}" style="width:150px"
                                                     filter="true" filterMatchMode="contains" required="false"
                                                     converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                        <f:selectItems value="#{countryMB.currencyList}" var="cur" itemLabel="#{cur.currencyCode}" />
                                    </p:selectOneMenu>
                                </h:panelGroup>
                            </p:column>
                        </p:dataTable>
                    </div>

                </div>

                <h:panelGroup layout="block" styleClass="ui-g-4">
                    <p:commandButton value="#{msg['common.save']}" action="#{countryMB.saveCountry}"
                                     validateClient="true" process="@form" update="form_messages"
                                     icon="ui-icon ui-icon-save" styleClass="teal-btn" style="width:100%"/>
                </h:panelGroup>
                <div class="ui-g-4">
                    <p:commandButton value="#{msg['common.cancel']}" immediate="true"
                                     onclick="PF('dlgBrand').hide()" icon="ui-icon ui-icon-clear"
                                     styleClass="red-btn" style="width:100%"/></div>

            </h:form>

        </div>
    </ui:define>

</ui:composition>

