<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ele="http://java.sun.com/jsf/composite/components"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.coupon']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.coupon']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <p:dataTable var="coupon" lazy="true" value="#{couponMB.couponCustomLazyDataModel}"
                                   widgetVar="couponDtl"  id="couponDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{coupon.id}" paginator="true" rows="5">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages"
                                                 action="#{couponMB.addNewCoupon}"/>

                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>

                            <p:column headerText="#{msg['common.couponNumber']}" sortable="true"
                                filterBy="#{coupon.couponNumber}"      sortBy="#{coupon.couponNumber}">#{coupon.couponNumber}</p:column>

                            <p:column headerText="#{msg['common.name']}" sortable="true"
                                      sortBy="#{coupon.name}">#{coupon.name.get(currentLanguage.locale)}</p:column>

                            <p:column sortBy="#{coupon.discount}" filterBy="#{coupon.discount}"
                                    headerText="#{msg['common.discount']}"> <p:outputLabel
                                    value="#{coupon.discount} #{coupon.percentage == true? '%' : ''}"/>
                            </p:column>

                            <p:column filterBy="#{coupon.desc}"
                                    headerText="#{msg['common.desc']}"> #{coupon.desc.get(currentLanguage.locale)}</p:column>

                            <p:column  headerText="#{msg['common.couponValidDate']}" sortBy="#{coupon.validToDate}">

                                <p:outputLabel value="#{coupon.validToDate}">
                                    <f:convertDateTime pattern="dd/MM/YYYY"/>
                                </p:outputLabel>
                            </p:column>

                            <p:column headerText="#{msg['common.celebrity']}" filterBy="#{coupon.celebrity.fullName}" sortBy="#{coupon.celebrity.fullName}">
                                #{coupon.celebrity.fullName}
                            </p:column>

                            <p:column headerText="#{msg['common.status']}" width="120" sortBy="#{coupon.status}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{coupon.status}"
                                                       offLabel="#{msg['common.notActive']}"
                                                       onLabel="#{msg['common.active']}"/>

                            </p:column>


                            <p:column width="70">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{couponMB.editCoupon(coupon)}"/>

                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                 action="#{couponMB.deleteCoupon(coupon)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgCoupon" id="dlgCoupon" modal="true" blockScroll="true"
                  header="#{msg['common.defin.coupon']}" responsive="true" fitViewport="true"
                  closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="couponFrm">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.couponNumber']}" for="couponNumber"/>
                                    <p:inputText id="couponNumber" value="#{couponMB.selectedCoupon.couponNumber}"/>
                                </h:panelGroup>

                                <ele:translator label="#{msg['common.name']}" columns="2" required="true"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                                value="#{couponMB.selectedCoupon.name}"/>

                                <p:panelGrid columns="2" style="margin-bottom:10px" layout="grid"
                                             styleClass="form-group ui-panelgrid-blank" columnClasses="ui-grid-col-12">
                                    <h:panelGroup layout="block">

                                        <p:outputLabel value="#{msg['common.isPercentage']}"/>

                                        <p:selectOneRadio id="isPerc"
                                                          value="#{couponMB.selectedCoupon.percentage}"
                                                          layout="responsive"
                                                          columns="2" styleClass="form-group">
                                            <f:selectItem itemValue="true" itemLabel=" #{msg['common.percentage']}"/>
                                            <f:selectItem itemValue="false"
                                                          itemLabel="#{msg['common.notPercentage']} "/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </p:panelGrid>
                            <p:panelGrid columns="1" style="margin-bottom:10px" layout="grid"
                                         styleClass="form-group ui-panelgrid-blank" columnClasses="ui-grid-col-12">
                            <h:panelGroup layout="block">
                                <p:outputLabel for="discount" value="#{msg['common.discount']}"/>
                                <p:inputNumber thousandSeparator="," decimalPlaces="2" id="discount"
                                               value="#{couponMB.selectedCoupon.discount}"/>
                            </h:panelGroup>

                            <ele:translator label="#{msg['common.desc']}" columns="2" required="false"
                                            columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                            value="#{couponMB.selectedCoupon.desc}"/>

                            <h:panelGroup layout="block">
                                <p:outputLabel for="validToDate1" value="#{msg['common.couponValidDate']}"/>
                                <p:datePicker id="validToDate1"  pattern="dd/MM/yyyy" value="#{couponMB.selectedCoupon.validToDate}"
                                              showButtonBar="true"/>
                            </h:panelGroup>

                            <h:panelGroup layout="block">
                                <p:outputLabel for="celebrity" value="#{msg['common.celebrity']}"/>
                                <p:selectOneMenu id="celebrity"  converter="omnifaces.SelectItemsIndexConverter" styleClass="col-md-12"
                                                 value="#{couponMB.selectedCoupon.celebrity}" filterMatchMode="contains" filter="true">
                                    <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                    <f:selectItems value="#{celebrityMB.allCelebrities}" var="c"
                                                   itemLabel="#{c.fullName}" itemValue="#{c}"/>
                                </p:selectOneMenu>

                            </h:panelGroup>
                            </p:panelGrid>

                            <p:panelGrid columns="2" style="margin-bottom:10px" layout="grid"
                                         styleClass="form-group ui-panelgrid-blank" columnClasses="ui-grid-col-12">
                                <h:panelGroup layout="block">

                                    <p:outputLabel value="#{msg['common.status']}"/>

                                    <p:selectOneRadio id="status"
                                                      value="#{couponMB.selectedCoupon.status}"
                                                      layout="responsive"
                                                      columns="2" styleClass="form-group">
                                        <f:selectItem itemValue="true" itemLabel=" #{msg['common.active']}"/>
                                        <f:selectItem itemValue="false" itemLabel="#{msg['common.notActive']} "/>
                                    </p:selectOneRadio>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </div>
                </div>

                <div class="ui-g">

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{couponMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{couponMB.saveCouponeAndHide}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!couponMB.editMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{couponMB.saveCoupon}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!couponMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}"
                                         action="#{couponMB.saveCouponeAndHide}"
                                         validateClient="true" process="@form" update="form_messages"
                                         icon="ui-icon ui-icon-save"
                                         styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true"
                                         onclick="PF('dlgCoupon').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/></div>
                </div>
            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgCoupon" resetValues="true"/>
        </p:dialog>
    </ui:define>

</ui:composition>

