<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.customers']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.customers']}</h1>

                        <p:messages id="form_messages" closable="true"/>
                        <p:inputTextarea dir="ltr" autoResize="false" scrollHeight="300" rows="5" value="#{customerMB.emails}" />
                        <p:dataTable var="cel" lazy="true" value="#{customerMB.userAccountCustomLazyDataModel}"
                                     id="catDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50,100"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{cel.id}" paginator="true" rows="15">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 disabled="true" rendered="false"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages"
                                                 action="#{customerMB.addNewCelebrity()}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.firstName']}" sortable="true" filterable="true"
                                      filterBy="#{cel.firstName}"
                                      sortBy="#{cel.firstName}">#{cel.firstName}</p:column>
                            <p:column headerText="#{msg['common.lastName']}" sortable="true" filterable="true"
                                      filterBy="#{cel.lastName}"
                                      sortBy="#{cel.lastName}">#{cel.lastName}</p:column>


                            <p:column headerText="#{msg['common.email']}" sortable="true" filterable="true"
                                      styleClass="TxtLeft"
                                      filterBy="#{cel.email}"
                                      sortBy="#{cel.email}"><h:outputText value="#{cel.email}" dir="LTR"/></p:column>

                            <p:column headerText="#{msg['common.phone']}" sortable="true" filterable="true"
                                      styleClass="TxtLeft" width="150"
                                      filterBy="#{cel.phone}"
                                      sortBy="#{cel.phone}">
                                <h:outputText value="#{cel.phoneKey.concat(cel.phone)}" dir="LTR"/>

                            </p:column>

                            <p:column headerText="#{msg['common.gender']}" sortable="true" filterable="true"
                                      filterBy="#{cel.genderEnum}"
                                      sortBy="#{cel.genderEnum}">
                                <h:outputText value=" #{msg['common.'.concat(cel.genderEnum)]}"
                                              rendered="#{cel.genderEnum ne null}"/>

                            </p:column>

                            <p:column headerText="#{msg['common.country']}" sortable="true" filterable="true"
                                      filterBy="#{cel.country.countryNameAr}"
                                      sortBy="#{cel.country.countryNameAr}">
                                <h:outputText value=" #{cel.country.countryNameAr}"/>

                            </p:column>

                            <p:column headerText="#{msg['common.city']}" sortable="true" filterable="true"
                                      filterBy="#{cel.city}"
                                      sortBy="#{cel.city}">
                                <h:outputText value=" #{cel.city}"/>

                            </p:column>

                            <p:column headerText="#{msg['common.state']}" sortable="true" filterable="true"
                                      filterBy="#{cel.state}"
                                      sortBy="#{cel.state}">
                                <h:outputText value=" #{cel.state}"/>

                            </p:column>

                            <p:column headerText="#{msg['common.postcode']}" sortable="true" filterable="true"
                                      filterBy="#{cel.postcode}"
                                      sortBy="#{cel.postcode}">
                                <h:outputText value=" #{cel.postcode}"/>

                            </p:column>

                            <p:column headerText="#{msg['common.address']}" sortable="true" filterable="true"
                                      filterBy="#{cel.address}"
                                      sortBy="#{cel.address}">
                                <h:outputText value=" #{cel.address}"/>

                            </p:column>



                            <p:column headerText="#{msg['common.pic']}" rendered="false">

                                <p:lightBox styleClass="imagebox" blockScroll="true" rendered="#{cel.image ne null}">

                                    <h:outputLink styleClass="link#{cel.image.id}"
                                                  title="Image">

                                        <p:graphicImage styleClass="img#{cel.image.id}"
                                                        width="90%" height="150" cache="true"
                                                        value="#{imageMb.imageStream}" stream="true">
                                            <f:param value="#{cel.image.id}" name="ids"/>
                                            <f:param value="#{cel.image.versionId}"
                                                     name="cache"/>
                                        </p:graphicImage>

                                    </h:outputLink>

                                    <script>
                                        $('.link#{cat.image.id}').attr("href", $('.img#{cat.image.id}')[0].src);
                                    </script>


                                </p:lightBox>

                            </p:column>

                            <p:column headerText="#{msg['common.active']}" width="120" sortBy="#{cel.active}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{cel.active}"
                                                       offLabel="#{msg['common.notActive']}"
                                                       onLabel="#{msg['common.active']}"/>

                            </p:column>

                            <p:column width="70">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 rendered="false" disabled="true"
                                                 action="#{customerMB.editCelebrity(cel)}"/>

                                <p:commandButton icon="fa fa-ban" styleClass="blue-grey-btn" process="@this"
                                               rendered="#{cel.active}" value="ايقاف"
                                                 action="#{customerMB.deactivate(cel)}"
                                                 update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirm']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                                <p:commandButton icon="fa fa-check-circle" styleClass="green-btn" process="@this"
                                                 rendered="#{!cel.active}" value="تفعيل"
                                                 action="#{customerMB.active(cel)}"
                                                 update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirm']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

    </ui:define>

</ui:composition>

