<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.customers']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <h:form id="main_from">
            <div class="ui-g ui-fluid">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.email']}</h1>


                        <p:messages id="form_messages" closable="true"/>


                        <p:panelGrid columns="1" columnClasses="ui-grid-col-10 ,ui-grid-col-6" layout="grid"
                                     styleClass="ui-panelgrid-blank form-group"
                                     style="border:0px none; background-color:transparent;">
                            <p:panelGrid columns="2" columnClasses="ui-grid-col-1 ,ui-grid-col-10" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">
                                <h:outputLabel for="multiple" value="To:"/>
                                <p:selectCheckboxMenu id="multiple" value="#{emailMB.selectEmail}" label="#{msg['common.email']}"
                                                      required="true" multiple="true"
                                                      requiredMessage="#{msg['common.email']} #{msg['common.required']}"  updateLabel="true" filter="true" filterMatchMode="startsWith"
                                                      panelStyle="width:250px">
                                    <f:selectItems value="#{emailMB.allEmail}"/>
                                </p:selectCheckboxMenu>
                            </p:panelGrid>
                            <p:panelGrid columns="2" columnClasses="ui-grid-col-1 ,ui-grid-col-10" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">
                                <p:outputLabel for="subject" value="Subject :"/>


                                <p:inputText id="subject" placeholder="Subject " value="#{emailMB.subject}"
                                             required="true"/>

                            </p:panelGrid>
                        </p:panelGrid>
                        <p:panelGrid columns="2" columnClasses="ui-grid-col-4 ,ui-grid-col-10" layout="grid"
                                     styleClass="ui-panelgrid-blank form-group"
                                     style="border:0px none; background-color:transparent;">
                            <p:commandButton update="@form" action="#{emailMB.send}" validateClient="true" value="Send" icon="fa fa-send"/>
                        </p:panelGrid>
                        <h:outputLabel for="html" value="نص الرسالة :" />

                        <pe:ckEditor id="html" width="100%" value="#{emailMB.text}"
                                     requiredMessage="نص الرسالة :  #{msg['common.required']}"
                                     customConfig="#{request.contextPath}/faces/javax.faces.resource/js/ck.js"
                                     required="true" />


                    </div>
                </div>

            </div>
        </h:form>
    </ui:define>
</ui:composition>