<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.importData.quantities']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-lg-12">
                <h:form id="main_from">
                    <div class="card card-w-title">
                        <h1>#{msg['common.importData.quantities']}</h1>

                        <p:messages id="form_messages" closable="true"/>


                        <p:dataTable var="cat" value="#{importDataMB.stockIns}"
                                     id="catDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{cat.id}" paginator="true" rows="15">

                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 onclick="PF('Upload').chooseButton.click()" icon="fa fa-plus"
                                                 value="#{msg['common.excel']}" type="button"/>

                                <p:fileUpload fileUploadListener="#{importDataMB.uploadStock}" mode="advanced"
                                              label=" #{msg['common.excel']}" auto="true"
                                              widgetVar="Upload" style="direction: #{guestPreferences.dir};display:none"
                                              allowTypes="/(\.|\/)(xls?x)$/i" update="@form"
                                              cancelLabel="#{msg['common.cancel']}"/>

                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.stockin.voucherNo']}" width="100" sortable="true"
                                      sortBy="#{cat.voucherNo}"> #{cat.voucherNo}</p:column>
                            <p:column headerText="#{msg['common.code']}" sortable="true"
                                      sortBy="#{cat.item.name}">#{cat.item.code}</p:column>
                            <p:column headerText="#{msg['common.productName']}" sortable="true"
                                      sortBy="#{cat.item.name}">#{cat.item.name.get(cat.currentLanguage)}</p:column>
                            <p:column headerText="#{msg['common.qty']}">#{cat.quantity}</p:column>


                        </p:dataTable>
                    </div>

                </h:form>
            </div>

        </div>

    </ui:define>

</ui:composition>

