<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.products']}</ui:define>

    <ui:define name="head">


    </ui:define>


    <ui:define name="content">
        <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-lg-12">
                <h:form id="main_from">
                    <p:importConstants type="com.ellepharma.data.model.GenderEnum" var="gender"/>
                    <p:importConstants type="com.ellepharma.data.model.PaymentStatusEnum" var="payment"/>

                    <div class="card card-w-title">

                        <p:panel header="بحث" toggleable="true">
                            <div style="direction: rtl;">

                                <p:panelGrid id="pnl" columns="1" layout="grid"
                                             styleClass="form-group ui-panelgrid-blank"
                                             columnClasses="ui-grid-col-4 , ui-grid-col-4">
                                    <h:panelGroup>

                                        <h:outputText value=" التاريخ"/>
                                        <h:panelGrid columns="2">
                                            <h:panelGroup>
                                                <h:outputText value=" من"/>
                                                <p:datePicker value="#{sellerReportMB.orderReportFilterDTO.fromDate}"
                                                              pattern="dd/MM/yyyy"/>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:outputText value=" الى"/>
                                                <p:datePicker value="#{sellerReportMB.orderReportFilterDTO.toDate}"
                                                              pattern="dd/MM/yyyy"/>
                                            </h:panelGroup>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                    <h:outputText value="#{msg['common.status']}"/>
                                    <p:selectOneRadio id="sendAranix"
                                                      value="#{sellerReportMB.orderReportFilterDTO.status}"
                                                      layout="responsive"
                                                      columns="3"  styleClass="form-group">
                                        <f:selectItem itemValue="#{null}" itemLabel="#{msg['msg.all']}"/>
                                        <f:selectItem itemValue="true" itemLabel="#{msg['common.active']}"/>
                                        <f:selectItem itemValue="false" itemLabel="#{msg['common.notActive']}"/>
                                    </p:selectOneRadio>

                                    <p:panelGrid columns="3" layout="grid"
                                                 styleClass="form-group ui-panelgrid-blank"
                                                 columnClasses="ui-grid-col-6 , ui-grid-col-6">

                                        <p:commandButton value="#{msg['msg.search']}" process="@form" action="#{sellerReportMB.find()}"
                                                         update="@form" icon="fa fa-search"/>
                                        <p:commandButton value="#{msg['msg.clear']}" process="@this" immediate="true"
                                                         action="#{sellerReportMB.clear()}"
                                                         update="@form" icon="fa fa-eraser" styleClass="pink-btn"/>

                                        <p:commandButton icon="fa fa-file-excel-o" styleClass="green-btn" value="xls" ajax="false">
                                            <p:dataExporter type="xls" target="orderDtl" fileName="sellerItem"/>
                                        </p:commandButton>
                                    </p:panelGrid>
                                </p:panelGrid>

                            </div>

                        </p:panel>


                        <p:growl id="form_messages" closable="true"/>

                        <br/>


                        <p:dataTable var="order" value="#{sellerReportMB.itemDtoList}"
                                     id="orderDtl" paginatorPosition="bottom" reflow="true"
                                     dir="#{guestPreferences.getDir()}" lazy="false"
                                     multiViewState="false" emptyMessage="#{msg['common.NoData']}"
                                     rowIndexVar="index" styleClass="table-reflow-desktop"
                                     paginatorAlwaysVisible="false"
                                     currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     rowsPerPageTemplate="5,10,15,20,30,50,100,200"
                                     paginatorTemplate="{RowsPerPageDropdown}  {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {Exporters}"
                                     rowKey="#{order.id}" sortBy="#{order.id}" sortOrder="descending" paginator="true"
                                     rows="20">


                            <p:column headerText="#{msg['common.name']}" sortable="true"
                                      filterBy="#{order.item.name.get(currentLanguage.locale)}"
                                      width="200" sortBy="#{order.item.name.get(currentLanguage.locale)}"
                                      filterMatchMode="contains">
                                <h:outputLabel value="#{order.item.name.get(currentLanguage.locale)}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.productCode']}" width="70" sortBy="#{order.item.code}" filterBy="#{order.item.code}">
                                <h:outputLabel value="#{order.item.code}"/>
                            </p:column>
                            <p:column headerText="#{msg['common.status']}" sortBy="#{order.item.status}" filterBy="#{order.item.status}">
                                <h:outputLabel value="#{order.item.status ? msg['common.active'] : msg['common.notActive']}" />

                            </p:column>

                            <p:column headerText="#{msg['common.barcode']}" sortable="true" width="120"
                                      filterBy="#{order.item.barcode}"
                                      filterMatchMode="contains"
                                      sortBy="#{order.item.barcode}"> <h:outputLabel value="#{order.item.barcode}"/>
                            </p:column>


                            <p:column headerText="#{msg['common.category']} " filterMatchMode="contains"
                                      filterBy="#{order.item.categoryString}" width="100"
                                      sortBy="#{order.item.categoryString}"
                            >
                                <h:outputLabel value="#{order.item.categoryString}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.brand']}" sortable="true" filterMatchMode="contains"
                                      width="100" filterBy="#{order.item.manufacturer.name.get(currentLanguage.locale)}"
                                      sortBy="#{order.item.manufacturer.name.get(currentLanguage.locale)}">
                                <h:outputLabel value="#{order.item.manufacturer.name.get(currentLanguage.locale)}"/>

                            </p:column>

                            <p:column headerText="الطلبات المرتبطه" width="70" sortBy="#{order.orderIds}" filterBy="#{order.orderIds}">
                                <h:outputLabel value="#{order.orderIds}"/>
                            </p:column>

                            <p:column headerText="الفواتير المرتبطه" width="70" sortBy="#{order.invoiceNo}" filterBy="#{order.invoiceNo}">
                                <h:outputLabel value="#{order.invoiceNo}"/>
                            </p:column>

                            <p:column headerText="عدد القطع المباعه" width="70" sortBy="#{order.qty}" filterBy="#{order.qty}">
                                <h:outputLabel value="#{order.qty}"/>
                            </p:column>

                            <p:column headerText=" عدد القطع المتوفرةإلى الآن" width="70" sortBy="#{order.available}" filterBy="#{order.available}">
                                <h:outputLabel value="#{order.available}"/>
                            </p:column>

                        </p:dataTable>


                        <style type="text/css">
                            .ui-datatable-header {
                                height: 50px
                            }
                        </style>
                    </div>
                </h:form>

            </div>
        </div>

    </ui:define>


</ui:composition>

