<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.products.new']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <h:form id="main_from">
            <div class="ui-g ui-fluid">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title" dir="#{guestPreferences.dir}">
                        <h1>#{msg['common.products.new']}</h1>

                        <div class="Wid50" dir="#{guestPreferences.dir}">
                            <p:messages id="form_messages" closable="true"/>
                            <p:fileUpload fileUploadListener="#{linkImageMB.upload}" mode="advanced"
                                          update="@form" label="File " auto="true"
                                          widgetVar="Upload"
                                          allowTypes="/(\.|\/)(zip)$/i"
                                          cancelLabel="#{msg['common.cancel']}"/>

                            <p:inputText value="#{linkImageMB.dir}" readonly="true"/>
                            <p:panelGrid columns="2">
                                <h:panelGroup layout="block">
                                    <h:commandLink>
                                        <i class="fa fa-file-excel-o" style="font-size: 30px;color: green"></i>
                                        <p:dataExporter type="xls" target="done" fileName="Done"/>
                                    </h:commandLink>
                                    <p:spacer height="5" width="100%"/>

                                    <p:dataTable var="order" value="#{linkImageMB.imageDone}"
                                                 id="done" paginatorPosition="bottom" reflow="true"
                                                 dir="#{guestPreferences.getDir()}" lazy="false"
                                                 multiViewState="false" emptyMessage="#{msg['common.NoData']}"
                                                 rowIndexVar="index" styleClass="table-reflow-desktop"
                                                 paginatorAlwaysVisible="false"
                                                 currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                                 rowsPerPageTemplate="50,100,200,500"
                                                 paginatorTemplate="{RowsPerPageDropdown}  {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {Exporters}"
                                                 rowKey="#{order}" sortBy="#{order}" sortOrder="descending"
                                                 paginator="true"
                                                 rows="50">
                                        <p:column headerText="done">
                                            <h:outputText value="#{order}"/> </p:column>

                                    </p:dataTable>
                                </h:panelGroup>
                                <h:panelGroup layout="block">
                                    <h:commandLink>
                                        <i class="fa fa-file-excel-o" style="font-size: 30px;color: green"></i>
                                        <p:dataExporter type="xls" target="Failed" fileName="Failed"/>
                                    </h:commandLink>
                                    <p:spacer height="5" width="100%"/>


                                    <p:dataTable var="order" value="#{linkImageMB.imageFailed}"
                                                 id="Failed" paginatorPosition="bottom" reflow="true"
                                                 dir="#{guestPreferences.getDir()}" lazy="false"
                                                 multiViewState="false" emptyMessage="#{msg['common.NoData']}"
                                                 rowIndexVar="index" styleClass="table-reflow-desktop"
                                                 paginatorAlwaysVisible="false"
                                                 currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                                 rowsPerPageTemplate="50,100,200,500"
                                                 paginatorTemplate="{RowsPerPageDropdown}  {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}  {Exporters}"
                                                 rowKey="#{order}" sortBy="#{order}" sortOrder="descending"
                                                 paginator="true"
                                                 rows="50">
                                        <p:column headerText="Failed">
                                            <h:outputText value="#{order}"/>
                                        </p:column>

                                    </p:dataTable>
                                </h:panelGroup>

                            </p:panelGrid>
                        </div>

                    </div>

                </div>

            </div>
        </h:form>


    </ui:define>

</ui:composition>

