<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ele="http://java.sun.com/jsf/composite/components"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.menu']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.menu']}</h1>

                        <p:messages id="form_messages" closable="true"/>


                        <p:dataTable var="cat" lazy="true" value="#{menuMB.menuCustomLazyDataModel}"
                                     id="menuDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="#{msg['common.show']} {RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{cat.id}" paginator="true" rows="10">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages" action="#{menuMB.addNewMenu}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.name']}" sortable="true" filterBy="#{cat.name}"
                                      sortBy="#{cat.name}">#{cat.name.get(currentLanguage.locale)}</p:column>
                            <p:column headerText="#{msg['common.url']}" style="direction: ltr;text-align: left" filterBy="#{cat.url}">
                                            <a href="#{request.contextPath}#{cat.url}"> #{cat.url}</a>
                                </p:column>
                            <p:column headerText="#{msg['common.priorityOrder']}" sortBy="#{cat.priorityOrder}" filterBy="#{cat.priorityOrder}"> #{cat.priorityOrder}</p:column>
                            <p:column
                                    headerText="#{msg['msg.menu.parent']}" filterBy="#{cat.parent.name}">#{cat.parent.name.get(currentLanguage.locale)}</p:column>
                            <p:column headerText="#{msg['common.status']}" width="120">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{cat.status}"
                                                       offLabel="#{msg['common.notActive']}"
                                                       onLabel="#{msg['common.active']}"/>

                            </p:column>
                            <p:column width="70">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{menuMB.editMenu(cat)}"/>

                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                 action="#{menuMB.deleteMenu(cat)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgMenu" id="dlgMenu" modal="true" blockScroll="true"
                  header="#{msg['common.defin.menu']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="menuFrm">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <ele:translator label="#{msg['common.name']}" columns="2" required="true"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                                value="#{menuMB.selectedMenu.name}"></ele:translator>

                                <p:panelGrid columns="2" style="margin-bottom:10px" layout="grid"
                                             styleClass="form-group ui-panelgrid-blank" columnClasses="ui-grid-col-6">




                                    <h:panelGroup layout="block">
                                        <p:outputLabel for="cat" value="#{msg['common.category']}"/>
                                        <p:selectOneMenu id="cat"  widgetVar="carSO"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter"
                                                         style="margin-bottom:10px;" dynamic="true">
                                            <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>

                                            <f:selectItems value="#{productMB.categoryList}" var="ship"
                                                           itemValue="#{ship.id}"
                                                           itemLabel="#{ship.name[ship.currentLanguage]}"/>
                                            <p:ajax immediate="true" global="false" oncomplete="$('.InUrl').val('/shop.xhtml?cId='+PF('carSO').value)"></p:ajax>

                                        </p:selectOneMenu>


                                    </h:panelGroup>

                                    <h:panelGroup layout="block">
                                        <p:outputLabel for="brand" value="#{msg['common.brand']}"/>
                                        <p:selectOneMenu id="brand"  widgetVar="brandSO"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter"
                                                         style="margin-bottom:10px;" dynamic="true">
                                            <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>

                                            <f:selectItems value="#{productMB.manufacturerList}" var="ship"
                                                           itemValue="#{ship.id}"
                                                           itemLabel="#{ship.name[ship.currentLanguage]}"/>
                                            <p:ajax immediate="true" global="false" oncomplete="$('.InUrl').val('/shop.xhtml?bId='+PF('brandSO').value)"></p:ajax>

                                        </p:selectOneMenu>


                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" style="margin-bottom:10px" layout="grid"
                                             styleClass="form-group ui-panelgrid-blank" columnClasses="ui-grid-col-6">

                                    <h:panelGroup layout="block">
                                        <p:outputLabel for="url" value="#{msg['common.url']}"/>
                                        <p:inputText styleClass="InUrl" dir="ltr" style="text-align: left;direction: ltr" id="url"
                                                     value="#{menuMB.selectedMenu.url}"/>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block">
                                        <p:outputLabel for="priorityOrder" value="#{msg['common.priorityOrder']}"/>
                                        <p:inputNumber decimalPlaces="0" thousandSeparator=" " dir="ltr"
                                                       style="text-align: left" id="priorityOrder"
                                                       value="#{menuMB.selectedMenu.priorityOrder}"/>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block">
                                        <p:outputLabel for="console" value="#{msg['msg.menu.parent']}"/>
                                        <p:selectOneMenu id="console" value="#{menuMB.selectedMenu.parent}"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter"
                                                         style="margin-bottom:10px;" dynamic="true">
                                            <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                            <f:selectItems value="#{menuMB.menuList}" var="cat" itemValue="#{cat}"
                                                           itemLabel="#{cat.name.get(currentLanguage.locale)}"/>
                                        </p:selectOneMenu>
                                    </h:panelGroup>
                                    <p:spacer></p:spacer>

                                    <h:panelGroup layout="block">

                                        <p:outputLabel value="#{msg['common.status']}"/>

                                        <p:selectOneRadio id="radio" value="#{menuMB.selectedMenu.status}"
                                                          layout="responsive"
                                                          columns="2" styleClass="form-group">
                                            <f:selectItem itemValue="true" itemLabel=" #{msg['common.active']}"/>
                                            <f:selectItem itemValue="false" itemLabel="#{msg['common.notActive']}"/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>
                                    <p:spacer></p:spacer>


                                </p:panelGrid>


                            </p:panelGrid>
                        </div>
                    </div>
                </div>


                <div class="ui-g">


                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{menuMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{menuMB.saveMenuAndHide}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!menuMB.editMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{menuMB.saveMenu}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!menuMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}" action="#{menuMB.saveMenuAndHide}"
                                         validateClient="true" process="@form" update="form_messages"
                                         icon="ui-icon ui-icon-save"
                                         styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true"
                                         onclick="PF('dlgMenu').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/></div>
                </div>


            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgMenu" resetValues="true"/>
        </p:dialog>

    </ui:define>

</ui:composition>

