<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.products.new']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <h:form id="main_from">
            <div class="ui-g ui-fluid">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title" dir="#{guestPreferences.dir}">
                        <h1>#{msg['common.products.new']}</h1>

                        <div class="Wid50" dir="#{guestPreferences.dir}">
                        <p:messages id="form_messages" closable="true"/>
                            <p:commandButton value="unSelectAll" immediate="true" action="#{newProductMB.removeAll()}" update="@form" ></p:commandButton>
                            <p:selectManyMenu id="advanced" value="#{newProductMB.selectedItemList}"
                                              converter="omnifaces.SelectItemsConverter" scrollHeight="250"
                                        widgetVar="newPrductList"
                                              var="t" filter="true" filterMatchMode="contains" showCheckbox="true">
                                <f:selectItems value="#{newProductMB.itemList}" var="item"
                                               itemLabel="#{item.name.get(item.currentLanguage)}"
                                               itemValue="#{item}"/>
                                <f:attribute name="collectionType" value="java.util.ArrayList"/>

                                <p:column>
                                    <p:graphicImage rendered="#{not empty t.image}" width="50" height="50"
                                                    url="/file/product/#{t.image.get(0).name}"/>

                                </p:column>

                                <p:column>
                                    <h:outputText value="#{t.name.get(t.currentLanguage)}"/>
                                </p:column>
                            </p:selectManyMenu>

                            <p:commandButton value="#{msg['common.save']}" validateClient="true"
                                             action="#{newProductMB.save}" icon="ui-icon ui-icon-send" process="@form"
                                             update="form_messages"
                                             styleClass="amber-btn" style="width:100%"/>

                        </div>

                    </div>

                </div>

            </div>
        </h:form>


    </ui:define>

</ui:composition>

