<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:elle="http://java.sun.com/jsf/composite/components"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.products']}</ui:define>

    <ui:define name="head">



    </ui:define>


    <ui:define name="content">
        #{request.getParameter('dash')  eq null ? orderReportMB.init() : ''}
        <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-lg-12">
                <h:form id="main_from">
                    <p:importConstants type="com.ellepharma.data.model.GenderEnum" var="gender"/>
                    <p:importConstants type="com.ellepharma.data.model.PaymentStatusEnum" var="payment"/>

                    <div class="card card-w-title">

                        <p:panel  header="بحث" toggleable="true">
                            <div style="direction: rtl;">

                                <p:panelGrid id="pnl" columns="2" layout="grid"
                                             styleClass="form-group ui-panelgrid-blank"
                                             columnClasses="ui-grid-col-4 , ui-grid-col-4 , ui-grid-col-1, ui-grid-col-3">

                                    <h:panelGroup>

                                        <h:outputText value="رقم الطلبية"/>
                                        <p:inputText value="#{orderReportMB.orderReportFilterDTO.orderNumber}"/>
                                    </h:panelGroup>
                                    <h:panelGroup></h:panelGroup>
                                    <h:panelGroup>
                                        <h:outputText value=" التاريخ"/>
                                        <h:panelGrid columns="2">
                                            <h:panelGroup>
                                                <h:outputText value=" من"/>
                                                <p:datePicker value="#{orderReportMB.orderReportFilterDTO.fromDate}"
                                                              pattern="dd/MM/yyyy"/>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:outputText value=" الى"/>
                                                <p:datePicker value="#{orderReportMB.orderReportFilterDTO.toDate}"
                                                              pattern="dd/MM/yyyy"/>
                                            </h:panelGroup>
                                        </h:panelGrid>
                                    </h:panelGroup>

                                    <h:panelGroup>
                                        <h:outputText value="مبلغ الطلب الاجمالي "/>
                                        <h:panelGrid columns="2">
                                            <h:panelGroup>
                                                <h:outputText value="من"/>
                                                <p:inputText value="#{orderReportMB.orderReportFilterDTO.fromTotal}"/>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:outputText value="الى"/>
                                                <p:inputText value="#{orderReportMB.orderReportFilterDTO.toTotal}"/>
                                            </h:panelGroup>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <h:outputText value="الجنس"/>
                                        <p:selectOneRadio id="gender1"
                                                          value="#{orderReportMB.orderReportFilterDTO.gender}"
                                                          layout="responsive"
                                                          columns="2" styleClass="form-group">
                                            <f:selectItem itemValue="#{gender.get('MALE')}" itemLabel="ذكر"/>
                                            <f:selectItem itemValue="#{gender.get('FEMALE')}" itemLabel="انثى"/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <h:outputText value="بلد الطلب"/>

                                        <p:selectOneMenu id="country"
                                                         value="#{orderReportMB.orderReportFilterDTO.countryId}"
                                                         style="margin-bottom:10px;" dynamic="true"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter">
                                            <f:selectItem noSelectionOption="true" itemValue="true"
                                                          itemLabel=" #{msg['msg.select']}"/>
                                            <f:selectItems value="#{shipmentTypeMB.countryList}" var="ctry"
                                                           itemLabel="#{ctry.countryNameAr}" itemValue="#{ctry.id}"/>
                                        </p:selectOneMenu>
                                    </h:panelGroup>

                                    <h:panelGroup>
                                        <h:outputText value="#{msg['common.shipmentStatus']} "/>

                                        <p:selectOneMenu id="shipmentStatus"
                                                         value="#{orderReportMB.orderReportFilterDTO.shipmentStatus}"
                                                         style="margin-bottom:10px;" dynamic="true"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter">
                                            <f:selectItem noSelectionOption="true" itemValue="true"
                                                          itemLabel=" #{msg['msg.select']}"/>
                                            <f:selectItems value="#{orderReportMB.shipmentStatusList}" var="ty"
                                                           itemLabel="#{ty.name()}" itemValue="#{ty}"/>
                                        </p:selectOneMenu>

                                    </h:panelGroup>

                                    <h:panelGroup>
                                        <h:outputText value="#{msg['common.paymentStatus']} "/>

                                        <p:selectOneMenu id="paymentStatus"
                                                         value="#{orderReportMB.orderReportFilterDTO.paymentStatus}"
                                                       panelStyle="width: 350px;"  style="margin-bottom:10px;" dynamic="true"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter">
                                            <f:selectItem noSelectionOption="true" itemValue="true"
                                                          itemLabel=" #{msg['msg.select']}"/>
                                            <f:selectItems value="#{orderReportMB.paymentStatusList}" var="ty"
                                                           itemLabel="#{msg['tnc'.concat(ty.code)]}" itemValue="#{ty}"/>
                                        </p:selectOneMenu>

                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <h:outputText value="#{msg['common.payment-type']} "/>

                                        <p:selectOneMenu id="paymentType"
                                                         value="#{orderReportMB.orderReportFilterDTO.paymentType}"
                                                         style="margin-bottom:10px;" dynamic="true"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter">
                                            <f:selectItem noSelectionOption="true" itemValue="true"
                                                          itemLabel=" #{msg['msg.select']}"/>
                                            <f:selectItems value="#{cartMB.paymentTypeList}" var="ty"
                                                           itemLabel="#{ty.desc[ty.currentLanguage]}"
                                                           itemValue="#{ty}"/>
                                        </p:selectOneMenu>

                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <h:outputText value="#{msg['common.coupon']} "/>

                                        <p:selectOneMenu id="coupon"
                                                         value="#{orderReportMB.orderReportFilterDTO.coupon}"
                                                         style="margin-bottom:10px;" dynamic="true"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter">
                                            <f:selectItem noSelectionOption="true" itemValue="true"
                                                          itemLabel=" #{msg['msg.select']}"/>
                                            <f:selectItems value="#{couponMB.coupons}" var="co"
                                                           itemLabel="#{co.desc[ty.currentLanguage]} ( #{co.couponNumber} )"
                                                           itemValue="#{co}"/>
                                        </p:selectOneMenu>

                                    </h:panelGroup>

                                    <h:panelGroup>
                                        <h:outputText value="تم ارسال إلى ِركة الشحن ؟"/>
                                        <p:selectOneRadio id="sendAranix"
                                                          value="#{orderReportMB.orderReportFilterDTO.aramexSent}"
                                                          layout="responsive"
                                                          columns="3" styleClass="form-group">
                                            <f:selectItem itemValue="#{null}" itemLabel="#{msg['msg.all']}"/>
                                            <f:selectItem itemValue="true" itemLabel="#{msg['msg.yes']}"/>
                                            <f:selectItem itemValue="false" itemLabel="#{msg['msg.no']}"/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>

                                    <h:panelGroup rendered="false">
                                        <h:outputText value="تم ارسال إلى شركة التغليف ؟"/>
                                        <p:selectOneRadio id="emailSent"
                                                          value="#{orderReportMB.orderReportFilterDTO.emailSent}"
                                                          layout="responsive"
                                                          columns="3" styleClass="form-group">
                                            <f:selectItem itemValue="#{null}" itemLabel="#{msg['msg.all']}"/>

                                            <f:selectItem itemValue="true" itemLabel="#{msg['msg.yes']}"/>
                                            <f:selectItem itemValue="false" itemLabel="#{msg['msg.no']}"/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>
                                    <p:spacer></p:spacer>

                                    <p:commandButton value="البحث" action="#{orderReportMB.findOrders}" process="@form"
                                                     update="@form" icon="fa fa-search"/>
                                </p:panelGrid>
                            </div>

                        </p:panel>


                        <p:growl id="form_messages" closable="true"/>

                        <br />
                       <!-- <style>
                            .table-reflow-desktop .ui-datatable-data td .ui-column-title {
                                display: none;
                            }
                            .table-reflow-desktop thead th,
                            .table-reflow-desktop tfoot td {
                                display: none;
                            }
                            .table-reflow-desktop .ui-datatable-data td {
                                text-align: left;
                                display: block;
                                border: 0px none;
                                width: 100%;
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                float: left;
                                clear: left;
                            }
                            .table-reflow-desktop .ui-datatable-data.ui-widget-content {
                                border: 0px none;
                            }
                            .table-reflow-desktop .ui-datatable-data tr.ui-widget-content {
                                border-left: 0px none;
                                border-right: 0px none;
                            }
                            .table-reflow-desktop .ui-datatable-data td .ui-column-title {
                                padding: .4em;
                                min-width: 30%;
                                display: inline-block;
                                margin: -.4em 1em -.4em -.4em;
                            }
                            body.layout-compact .ui-datatable tbody tr.ui-widget-content td {
                                float: right;
                                width: auto;
                                padding: 6px 10px;
                            }


                        </style>-->

                        <style>

                            @media(max-width: 10000px) {
                                .ui-datatable-reflow thead th,.ui-datatable-reflow tfoot td {
                                    display:none
                                }

                                .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden) {
                                    text-align: center!important;
                                    display: block;
                                    border: 0 none;
                                    width: max-content;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    float: right;
                                    border: 1px solid #e8e8e8;
                                    width: 10%;
                                    height: 70px;

                                }

                                .ui-datatable-reflow .ui-datatable-data.ui-widget-content {
                                    border: 0 none
                                }

                                .ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
                                    border-left: 0 none;
                                    border-right: 0 none
                                }

                                .ui-datatable-reflow .ui-datatable-data td[role="gridcell"] .ui-column-title {
                                    padding: .4em;
                                    min-width: 100%;
                                    display: inline-block;
                                }

                                .ui-datatable-reflow .ui-reflow-label,.ui-datatable-reflow .ui-reflow-dropdown {
                                    display: inline-block
                                }

                                .ui-datatable-reflow .ui-reflow-dropdown {
                                    margin-left: 5px;
                                    border-top-left-radius: 3px;
                                    border-bottom-left-radius: 3px
                                }

                                .ui-datatable-reflow tr.ui-datatable-empty-message>td {
                                    display: block;
                                    border: 0 none
                                }

                                body.layout-compact .ui-datatable-reflow  .ui-button {
                                    width: auto;
                                }
                                body .ui-datatable tbody tr.ui-datatable-even {
                                    background-color: #a5d6a7 !important;
                                }
                            }


                        </style>
                        <p:dataTable var="order" value="#{orderReportMB.orderCustomLazyDataModel}"
                                     id="orderDtl" paginatorPosition="bottom" reflow="true"
                                     dir="#{guestPreferences.getDir()}" lazy="true"
                                     multiViewState="true" emptyMessage="#{msg['common.NoData']}"
                                     rowIndexVar="index"  styleClass="table-reflow-desktop"
                                     paginatorAlwaysVisible="false"
                                     currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown}  {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{order.id}" sortBy="#{order.id}" sortOrder="descending"  paginator="true" rows="10">


                            <p:column headerText="رقم الطلب" width="70" sortBy="#{order.id}" sortable="true">
                                #{order.id}
                            </p:column>

                            <p:column headerText="التاريخ" sortBy="#{order.creationDate}" width="75">

                                <h:outputText value="#{order.creationDate}">
                                    <f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss a" type="both"/>
                                </h:outputText>

                            </p:column>

                            <p:column headerText="#{msg['common.cartTotals']}" sortBy="#{order.total}" width="100">


                                <elle:priceWitouConvert code="#{order.currency.currencyCode}"
                                                        value="#{order.total}"/>
                                <elle:priceWitouConvert code="USD"
                                                        value="#{order.total/order.currencyValue}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.coupon']}" sortBy="#{order.coupon.couponNumber}" width="100">

                                #{order.coupon.couponNumber}


                            </p:column>

                            <p:column headerText="#{msg['common.discount']}" sortBy="#{order.discount}" width="100">


                                <elle:priceWitouConvert code="#{order.currency.currencyCode}"
                                                        value="#{order.discount}"/>

                                <elle:priceWitouConvert code="USD"
                                                        value="#{order.discount/order.currencyValue}"/>

                            </p:column>

                            <p:column headerText="#{msg['common.shipping']}" sortBy="#{order.shippingFee}" width="100">


                                <elle:priceWitouConvert code="#{order.currency.currencyCode}"
                                                        value="#{order.shippingFee}"/>
                                <elle:priceWitouConvert code="USD"
                                                        value="#{order.shippingFee/order.currencyValue}"/>

                            </p:column>
                            <p:column headerText="#{msg['common.payment-type']}" width="100"
                                      sortBy="#{order.paymentType}">
                                #{order.paymentType.desc[order.currentLanguage]}
                            </p:column>
                            <p:column headerText="#{msg['common.payment-type.fee']}" width="100"
                                      sortBy="#{order.paymentFee}">


                                <elle:priceWitouConvert code="#{order.currency.currencyCode}"
                                                        value="#{order.paymentFee}"/>

                                <elle:priceWitouConvert code="USD"
                                                        value="#{order.paymentFee/order.currencyValue}"/>

                            </p:column>

                            <p:column headerText="#{msg['common.orderTotal']}" width="100"
                                      sortBy="#{order.total}">
                                <elle:priceWitouConvert code="#{order.currency.currencyCode}"
                                                        value="#{order.total-order.discount +order.shippingFee +order.paymentFee}"/>

                                <elle:priceWitouConvert code="USD"
                                                        value="#{(order.total-order.discount +order.shippingFee +order.paymentFee) /order.currencyValue}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.paymentStatus']}" width="100"
                                      sortBy="#{order.paymentStatus}">
                                <h:outputLabel rendered="#{order.paymentStatus ne null}"
                                               value="#{msg['tnc'.concat(order.paymentStatus.code)]}"/>
                            </p:column>
                            <p:column headerText="#{msg['common.shipmentStatus']}" width="100"
                                      sortBy="#{order.shipmentStatus} ">#{order.shipmentStatus.name()} </p:column>

                            <p:column headerText="بلد الطلب" sortBy=" #{order.account.country.desc}" width="100">
                                #{order.account.country.desc}
                            </p:column>


                            <p:column rendered="false"  headerText="جنس صاحب الطلب" sortBy="#{order.account.genderEnum}" width="100">
                                #{order.account.genderEnum.equals(gender.get('MALE')) ? 'ذكر' : 'انثى'}
                            </p:column>

                            <p:column headerText="#{msg['common.customerName']} :">
                            <p:commandLink
                                    action="#{accountMB.viewAccountDetails(order.account.id)}">

                                <h:outputLabel value="#{order.account.fullName}"/>
                            </p:commandLink>
                            </p:column>

                            <p:column headerText="  ؟ تم رسال إلى شركة الشحن" sortBy="#{order.aramexSent}">

                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{order.aramexSent}"
                                                       offLabel="#{msg['msg.no']}" onLabel="#{msg['msg.yes']}"/>

                            </p:column>

                            <p:column headerText="Tracking" sortBy=" #{order.tracking}">
                                #{order.tracking}
                            </p:column>


                            <p:column rendered="false" headerText="تم الإرسال لشركة التغليف؟  "
                                      sortBy="#{order.emailSent}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{order.emailSent}"
                                                       offLabel="#{msg['msg.no']}" onLabel="#{msg['msg.yes']}"/>
                            </p:column>

                            <!--                                <p:column headerText="الماركة">-->

                            <!--                                </p:column>-->

                            <!--                                <p:column headerText="التصنيف">-->

                            <!--                                </p:column>-->

                            <p:column headerText="#{msg['common.orderDetails']}" width="50"
                                      style="text-align: center!important;">
                                <p:commandLink action="#{accountMB.showProductItem(order)}" process="@this"
                                               immediate="true"
                                               styleClass="view">
                                    <i class="fa fa-search"/>

                                </p:commandLink>
                            </p:column>

                            <p:column   rendered="#{!order.paymentStatus.equals(payment.TNC_100)}"
                                        style="text-align: center!important;">

                                <h:outputLabel value="." style="visibility: hidden" />
                                <p:commandButton value=" التحقق من الدفع" styleClass="ql-color-blue"
                                                 rendered="true" update="@form"
                                                 action="#{cartMB.checkPayment(order.id)}"/>

                            </p:column>

                            <p:column   rendered="#{order.paymentStatus.equals(payment.TNC_100) and !order.aramexSent}"
                                      style="text-align: center!important;">

                                <h:outputLabel value="." style="visibility: hidden" />
                                <p:commandButton value="ارسال إلى الشحن" styleClass="pink-btn "
                                                 rendered="true"
                                                 action="#{cartMB.sentToAramex(order)}"/>

                            </p:column>
                            <p:column   rendered="#{order.paymentStatus.equals(payment.TNC_100) and !order.aramexSent}"
                                        style="text-align: center!important;">

                                <h:outputLabel value="." style="visibility: hidden" />

                                <p:commandButton value="ادخال رقم الشحنة يدوي" styleClass="purple-btn"
                                                 action="#{orderReportMB.addTrackNo(order.id)}"/>



                            </p:column>

                            <p:column   rendered="#{order.paymentStatus.equals(payment.TNC_100) and order.aramexSent}"
                                        style="text-align: center!important;">

                                <p:commandButton value="#{msg['common.shipmentStatus.edit']}" styleClass="blue-grey-btn"

                                                 action="#{orderReportMB.changeStatus(order.id)}"/>

                            </p:column>
                            <p:column
                                    rendered=" #{false and order.paymentStatus.equals(payment.TNC_100) and order.aramexSent and !order.emailSent}"
                                    style="text-align: center!important; width: 180px">


                                <p:commandButton value="ارسال إلى شركة التغلبف" process="@this"
                                                 action="#{cartMB.sentOrderEmail(order.id)}"
                                                 styleClass=" amber-btn"/>


                            </p:column>
                        </p:dataTable>


                        <style type="text/css">
                            .ui-datatable-header {
                                height: 50px
                            }
                        </style>
                    </div>
                </h:form>

            </div>
        </div>

        <p:dialog widgetVar="dlgProductArmexTRNO" id="dlgProductArmexTRNO" modal="true" blockScroll="true"
                  closeOnEscape="true" maximizable="true" dynamic="true"
                  showEffect="fade" hideEffect="fade" style="max-width: 70%"
                  position="center center">
            <f:facet name="header">
                <h:outputLabel id="headerdlgProductArmexTRNO"
                               value="#{msg['common.aramexTrackingNumber']}  fro Order #  :#{orderReportMB.selectedOrder.id}"/>
            </f:facet>
            <h:form id="frmTacking">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.aramexTrackingNumber']}" for="tracking"/>
                                    <p:inputText required="true" id="tracking"
                                                 value="#{orderReportMB.selectedOrder.tracking}"/>
                                </h:panelGroup>

                            </p:panelGrid>
                        </div>
                    </div>
                </div>

                <div class="ui-g">

                    <h:panelGroup layout="block" styleClass="ui-g-4">
                        <p:commandButton value="#{msg['common.save']}" validateClient="true"
                                         action="#{orderReportMB.saveTrackingNo}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>


                </div>
            </h:form>

        </p:dialog>

        <p:dialog widgetVar="dlgOrderStatus" id="dlgOrderStatus" modal="true" blockScroll="true"
                  closeOnEscape="true" maximizable="true" dynamic="true"
                  showEffect="fade" hideEffect="fade" style="max-width: 70%"
                  position="center center">
            <f:facet name="header">
                <h:outputLabel id="headerdlgOrderStatus"
                               value="#{msg['common.shipmentStatus.edit']}  fro Order #  :#{orderReportMB.selectedOrder.id}"/>
            </f:facet>
            <h:form id="frmOrderStatus">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.shipmentStatus']}" for="shipmentStatus"/>
                                    <p:selectOneMenu id="shipmentStatus"
                                                     value="#{orderReportMB.selectedOrder.shipmentStatus}"
                                                     style="margin-bottom:10px;" dynamic="true"
                                                     filter="true" filterMatchMode="contains" required="true"
                                                     converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem noSelectionOption="true" itemValue="true"
                                                      itemLabel=" #{msg['msg.select']}"/>
                                        <f:selectItems value="#{orderReportMB.shipmentStatusList}" var="ty"
                                                       itemLabel="#{ty.name()}" itemValue="#{ty}"/>
                                    </p:selectOneMenu>

                                </h:panelGroup>

                                <h:panelGroup  layout="block" rendered="false">

                                    <h:outputText value="#{msg['common.paymentStatus']} "/>

                                    <p:selectOneMenu id="paymentStatus"
                                                     value="#{orderReportMB.selectedOrder.paymentStatus}"
                                                     style="margin-bottom:10px;" dynamic="true"
                                                     filter="true" filterMatchMode="contains" required="false"
                                                     converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem noSelectionOption="true" itemValue="true"
                                                      itemLabel=" #{msg['msg.select']}"/>
                                        <f:selectItems value="#{orderReportMB.paymentStatusList}" var="ty"
                                                       itemLabel="#{msg['tnc'.concat(ty.code)]}" itemValue="#{ty}"/>
                                    </p:selectOneMenu>

                                </h:panelGroup>

                            </p:panelGrid>
                        </div>
                    </div>
                </div>

                <div class="ui-g">

                    <h:panelGroup layout="block" styleClass="ui-g-4">
                        <p:commandButton value="#{msg['common.save']}" validateClient="true"
                                         action="#{orderReportMB.saveChangeStatus}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>


                </div>
            </h:form>

        </p:dialog>
        <ui:include src="/resources/components/orderItems.xhtml"/>
    </ui:define>


</ui:composition>

