<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.products']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">


                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.orders']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <p:dataTable var="order" lazy="true" value="#{ordersMB.orderCustomLazyDataModel}"
                                     id="orderDtl" paginatorPosition="bottom" reflow="true"
                                     dir="#{guestPreferences.getDir()}"
                                     multiViewState="true" emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{item.id}" paginator="true" rows="5">

                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.invoiceNo']}" sortable="true" filterBy="#{order.invoiceNo}"
                                      sortBy="#{order.invoiceNo}"> #{order.invoiceNo}</p:column>


                            <p:column headerText="#{msg['common.firstName']}" sortable="true" filterBy="#{order.account.firstName}"
                                      sortBy="#{order.account.firstName}">#{order.account.firstName}</p:column>


                            <p:column headerText="#{msg['common.lastName']}" sortable="true" filterBy="#{order.account.lastName}"
                                      sortBy="#{order.account.lastName}">#{order.account.lastName}</p:column>

                            <p:column headerText="#{msg['common.total']}" sortable="true"
                                      filterBy="#{order.total}"
                                      sortBy="#{order.total}"> #{order.total}</p:column>

                            <p:column headerText="#{msg['common.currencyCode']}" sortable="true"
                                      filterBy="#{order.currency.currencyCode}"
                                      sortBy="#{order.currency.currencyCode}"> #{order.currency.currencyCode}</p:column>


                            <p:column headerText="#{msg['common.discount']}" sortable="true"
                                      filterBy="#{order.discount}"
                                      sortBy="#{order.discount}"> #{order.discount}</p:column>


                            <p:column headerText="#{msg['common.couponNumber']}" sortable="true"
                                      filterBy="#{order.coupon.couponNumber}"
                                      sortBy="#{order.coupon.couponNumber}"> #{order.coupon.couponNumber}</p:column>


                            <p:column width="70" toggleable="false">

                                <p:commandButton icon="fa fa-eye" styleClass="blue-grey-btn" process="@this"
                                                 action="#{ordersMB.showProductItem(order)}" update="@form">
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgProductItem" id="dlgProductItem" modal="true" blockScroll="true"
                  header="#{msg['common.defin.item']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="ProductItemFrm">
                <p:messages id="form_messages"/>

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">

                        <p:dataTable var="orderItem" lazy="true" value="#{ordersMB.selectedOrder.productList}"
                                     id="orderItemDtl" paginatorPosition="bottom" reflow="true"
                                     dir="#{guestPreferences.getDir()}"
                                     multiViewState="true" emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{item.id}" paginator="true" rows="5">

                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.barcode']}" sortable="true" filterBy="#{orderItem.item.barcode}"
                                      sortBy="#{orderItem.item.barcode}"> #{orderItem.item.barcode}</p:column>


                            <p:column headerText="#{msg['common.name']}" sortable="true" filterBy="#{orderItem.item.name}"
                                      sortBy="#{orderItem.item.name}">#{orderItem.item.name.get(currentLanguage.locale)}</p:column>

                            <p:column headerText="#{msg['common.qty']}" sortable="true"
                                      filterBy="#{orderItem.qty}"
                                      sortBy="#{orderItem.qty}"> #{orderItem.qty}</p:column>

                            <p:column headerText="#{msg['common.price']}" sortable="true"
                                      filterBy="#{orderItem.price}"
                                      sortBy="#{orderItem.price}"> #{orderItem.price}</p:column>

                            <p:column headerText="#{msg['common.tax']}" sortable="true"
                                      filterBy="#{orderItem.tax}"
                                      sortBy="#{orderItem.tax}"> #{orderItem.tax}</p:column>

                            <p:column headerText="#{msg['common.total']}" sortable="true"
                                      filterBy="#{orderItem.total}"
                                      sortBy="#{orderItem.total}"> #{orderItem.total}</p:column>
                        </p:dataTable>
                    </div>

                </div>
            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgProductItem" resetValues="true"/>
        </p:dialog>


    </ui:define>

</ui:composition>

