<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ele="http://java.sun.com/jsf/composite/components"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.payment-type']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.payment-type']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <p:dataTable var="pay" lazy="true" value="#{paymentTypeMB.paymentTypeCustomLazyDataModel}"
                                     id="payDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{pay.id}" paginator="true" rows="5">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages"
                                                 action="#{paymentTypeMB.addNewPaymentType}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.name']}" sortable="true"
                                      sortBy="#{pay.name}">#{pay.name.get(currentLanguage.locale)}</p:column>

                            <p:column
                                    headerText="#{msg['common.desc']}"> #{pay.desc.get(currentLanguage.locale)}</p:column>


                            <p:column headerText="#{msg['common.status']}" width="120" sortBy="#{pay.status}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{pay.status}"
                                                       offLabel="#{msg['common.notActive']}"
                                                       onLabel="#{msg['common.active']}"/>

                            </p:column>
                            <p:column width="70" style="text-align: center!important;">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{paymentTypeMB.editPaymentType(pay)}"/>

                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                            rendered="#{!pay.defaults}"     action="#{paymentTypeMB.deletePaymentType(pay)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgPaymentType" id="dlgPaymentType" modal="true" blockScroll="true"
                  header="#{msg['common.defin.payment-type']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="payFrm">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <ele:translator label="#{msg['common.name']}" columns="2" required="true"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                                value="#{paymentTypeMB.selectedPaymentType.name}"/>

                                <ele:translator label="#{msg['common.desc']}" columns="2" required="false"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                                value="#{paymentTypeMB.selectedPaymentType.desc}"/>

                                <p:panelGrid columns="2" style="margin-bottom:10px" layout="grid"
                                             styleClass="form-group ui-panelgrid-blank" columnClasses="ui-grid-col-12">
                                    <h:panelGroup layout="block">

                                        <p:outputLabel value="#{msg['common.status']}"/>

                                        <p:selectOneRadio id="status"
                                                          value="#{paymentTypeMB.selectedPaymentType.status}"
                                                          layout="responsive"
                                                          columns="2" styleClass="form-group">
                                            <f:selectItem itemValue="true" itemLabel=" #{msg['common.active']}"/>
                                            <f:selectItem itemValue="false" itemLabel="#{msg['common.notActive']} "/>
                                        </p:selectOneRadio>

                                    </h:panelGroup>
                                </p:panelGrid>
                            </p:panelGrid>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12">
                        <div class="card card-w-title">
                            <h1>#{msg['common.definCountry.add']}</h1>

                            <p:dataTable var="country" lazy="false"
                                         value="#{paymentTypeMB.selectedPaymentType.countryCashOnDeliveries}"
                                         id="countryDtl" paginatorPosition="bottom"
                                         reflow="true" dir="#{guestPreferences.getDir()}"
                                         emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                         paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                         currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                         paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                         rowKey="#{country.id}" paginator="true" rows="5">
                                <f:facet name="header">
                                    <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                     validateClient="true" style="width:auto; margin: auto 10px"
                                                     icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                     update="@form:form_messages"
                                                     action="#{paymentTypeMB.addNewCountry}"/>
                                </f:facet>
                                <p:column headerText="#" width="50">
                                    #{index+1}
                                </p:column>
                                <p:column headerText="#{msg['common.definCountryName']}" sortable="true"
                                          sortBy="#{country.country.countryNameAr}">
                                    #{country.country.countryNameAr}
                                </p:column>

                                <p:column headerText="#{msg['common.shipment-notes']}" rendered="false">
                                    #{country.free == true ? msg['common.shipment-free'] : msg['common.shipment-not-free']}
                                </p:column>

                                <p:column headerText="#{msg['common.shipment-value-first-half-kilo']}">
                                    <p:outputLabel value="#{country.rate}"/>
                                </p:column>

                                <p:column width="70">
                                    <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                     action="#{paymentTypeMB.editCountry(country)}"/>

                                    <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                     action="#{paymentTypeMB.deleteCountry(country)}"
                                                     update="@form">
                                        <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                                   icon="ui-icon-alert"/>
                                    </p:commandButton>
                                </p:column>

                            </p:dataTable>
                        </div>

                    </div>


                </div>
                <div class="ui-g">

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{paymentTypeMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{paymentTypeMB.savePaymentTypeAndHide}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!paymentTypeMB.editMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{paymentTypeMB.savePaymentType}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!paymentTypeMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}"
                                         action="#{paymentTypeMB.savePaymentTypeAndHide}"
                                         validateClient="true" process="@form" update="form_messages"
                                         icon="ui-icon ui-icon-save"
                                         styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true"
                                         onclick="PF('dlgShipmentType').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/></div>
                </div>
            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgPaymentType" resetValues="true"/>
        </p:dialog>


        <p:dialog widgetVar="dlgCountry" id="dlgCountry" modal="true" blockScroll="true"
                  header="#{msg['common.defin.shipment-type']}" responsive="true" fitViewport="true"
                  closeOnEscape="true" width="600"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="countryFrm">
                <p:messages id="form_messagess"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <h:panelGroup layout="block">

                                    <p:outputLabel for="country" value="#{msg['common.definCountryName']}"/>
                                    <p:selectOneMenu id="country"
                                                     value="#{paymentTypeMB.countryCashOnDelivery.country}"
                                                     style="margin-bottom:10px;" dynamic="true"
                                                     filter="true" filterMatchMode="contains" required="false"
                                                     converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem noSelectionOption="true" itemValue="true"
                                                      itemLabel=" #{msg['msg.select']}"/>
                                        <f:selectItems value="#{shipmentTypeMB.countryList}" var="ctry"
                                                       itemLabel="#{ctry.countryNameAr}"/>
                                    </p:selectOneMenu>
                                </h:panelGroup>
                                <h:panelGroup layout="block" rendered="false">
                                    <p:outputLabel for="free" value="#{msg['common.shipment-free']}"/>

                                    <p:selectBooleanCheckbox id="free"
                                                             value="#{paymentTypeMB.countryCashOnDelivery.free}"/>
                                </h:panelGroup>

                                <h:panelGroup layout="block" rendered="false">

                                    <p:outputLabel for="isPerce" value="#{msg['common.shipment-method']}"/>

                                    <p:selectOneRadio id="isPerce"
                                                      value="#{paymentTypeMB.countryCashOnDelivery.percentage}"
                                                      layout="responsive"
                                                      columns="2" styleClass="form-group">
                                        <f:selectItem itemValue="true" itemLabel=" #{msg['common.percentage']}"/>
                                        <f:selectItem itemValue="false"
                                                      itemLabel="#{msg['common.notPercentage']} "/>
                                    </p:selectOneRadio>
                                </h:panelGroup>


                                <h:panelGroup layout="block">
                                    <p:outputLabel for="shipmentRate" value="#{msg['common.rate']}"/>
                                    <p:inputNumber thousandSeparator="," decimalPlaces="2" id="shipmentRate"
                                                   value="#{paymentTypeMB.countryCashOnDelivery.rate}"/>
                                </h:panelGroup>

                            </p:panelGrid>
                        </div>
                    </div>
                </div>

                <div class="ui-g">

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{paymentTypeMB.editCountryMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{paymentTypeMB.editCountryAndHide}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messagess"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!paymentTypeMB.editCountryMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{paymentTypeMB.saveCountry}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messagess"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!paymentTypeMB.editCountryMode}">
                        <p:commandButton value="#{msg['common.save']}"
                                         action="#{paymentTypeMB.saveCountryAndHide}"
                                         validateClient="true" process="@form" update="form_messagess"
                                         icon="ui-icon ui-icon-save"
                                         styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true"
                                         type="button" onclick="PF('dlgCountry').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/></div>
                </div>
            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgCountry" resetValues="true" global="false"/>
        </p:dialog>
    </ui:define>

</ui:composition>

