<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
    <ui:define name="title">Trip</ui:define>

    <ui:define name="head">

    </ui:define>

    <ui:define name="content">
        <div class="main-wraper padd-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="second-title">
                            <h2>#{msg['msg.touristAreas']}</h2>
                        </div>
                        <h:form>
                            <p:growl autoUpdate="true"/>

                            <p:panelGrid id="pnl" columns="2"
                                         styleClass="MarAuto col-md-12 VT "
                                         columnClasses="col-md-13 , col-md-9">
                                <h:outputText value="#{msg['msg.region.nameAr']}"/>
                                <p:inputText value="#{adminRegionMB.region.nameAr}"
                                             styleClass="col-md-12"/>
                                <h:outputText value="#{msg['msg.region.nameEn']}"/>
                                <p:inputText value="#{adminRegionMB.region.nameEn}"
                                             styleClass="col-md-12"/>
                                <h:outputText value="#{msg['msg.region.description']}"/>
                                <p:inputText value="#{adminRegionMB.region.descriptionAr}"
                                             styleClass="col-md-12"/>
                                <h:outputText value="#{msg['msg.region.fees']}"/>
                                <p:inputNumber value="#{adminRegionMB.region.fees}"
                                               styleClass="col-md-12"/>
                                <h:outputText value="#{msg['msg.region.temperature']}"/>
                                <p:inputNumber value="#{adminRegionMB.region.temperature}"
                                               styleClass="col-md-12"/>

                                <h:outputText value="#{msg['msg.region.image']}"/>

                                <h:panelGroup layout="block" id="uiimg">

                                    <p:fileUpload styleClass="col-md-8 FRight"
                                                  fileUploadListener="#{adminRegionMB.uploadImage}"
                                                  mode="advanced" label="#{screenLabels.UPLOAD_BTN}"
                                                  multiple="false" auto="true"
                                                  allowTypes="/(\.|\/)(gif|jpg|jpe?g|png|doc|docx|xls|xlsx|pdf|ppt)$/"
                                                  uploadLabel="#{screenLabels.UPLOAD_BTN}" cancelLabel="الغاء"
                                                  update="uiimg "/>
                                    <br/>
                                    <div class="clear"/>

                                    <ui:repeat var="im"
                                               value="#{utils.getListFromSet(adminRegionMB.region.image)}">
                                        <p:lightBox styleClass="Fright  MarL20" id="img">
                                            <h:outputLink value="/image/slide/#{im.name}">
                                                <p:graphicImage value="/image/slide/#{im.name}" width="90"/>
                                            </h:outputLink>
                                        </p:lightBox>
                                    </ui:repeat>
                                </h:panelGroup>
                                <f:facet name="footer">
                                    <p:commandButton icon="fa fa-save" update="tbl pnl"
                                                     action="#{adminSliderMB.save()}"/>
                                </f:facet>

                            </p:panelGrid>
                            <div class="clear"/>
                            <p:dataTable styleClass="VT" id="tbl"
                                         value="#{adminRegionMB.region}" var="slid" rowIndexVar="index">
                                <p:column width="5%" headerText="#"> #{index+1}</p:column>
                                <p:column headerText="#{msg['msg.slide.image']}" width="120">
                                    <p:lightBox>
                                        <h:outputLink value="/image/slide/#{slid.name}">
                                            <p:graphicImage value="/image/slide/#{slid.name}" width="100"/>
                                        </h:outputLink>
                                    </p:lightBox>
                                </p:column>
                                <p:column headerText="#{msg['msg.slide.url']}">
                                    <h:outputLink value="/image/slide/#{slid.url}">
                                        #{slid.url}
                                    </h:outputLink>
                                </p:column>
                                <p:column headerText="#{msg['msg.slide.descrip']}"> #{slid.descrip}</p:column>
                                <p:column headerText="#{msg['msg.btn.delete']}" width="70">
                                    <p:commandButton process="@this" icon="fa fa-close"
                                                     action="#{adminSliderMB.delete(slid)}" update="@form:tbl">
                                        <p:confirm header="#{msg['msg.confirm']}"
                                                   message="#{msg['msg.confirmDelete']}" icon="ui-icon-alert"/>

                                    </p:commandButton>
                                </p:column>
                                <p:column headerText="#{msg['msg.btn.edit']}" width="70">
                                    <p:commandButton icon="fa fa-edit" process="@this"
                                                     update="@form:pnl">
                                        <f:setPropertyActionListener value="#{slid}"
                                                                     target="#{adminSliderMB.slide}"/>
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                            <p:confirmDialog dir="#{localeMB.dir}" widgetVar="confirmClose"
                                             global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton type="button" value="#{msg['msg.yes']}"
                                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                                <p:commandButton type="button" value="#{msg['msg.no']}"
                                                 styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                            </p:confirmDialog>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>