<!--suppress ALL -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ele="http://java.sun.com/jsf/composite/components"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.products']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">


                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.products']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <div dir="#{guestPreferences.dir}">

                            <p:commandButton
                                    onclick="PF('statusDialog').hide();$('#isRedirct').val(1);"
                                    onsuccess="PF('statusDialog').hide()"
                                    oncomplete="PF('statusDialog').hide()" process="@this" update="script" ajax="false"
                                    value="Export" icon=" fa fa-file-excel-o" action="#{exportDataMB.export()}"
                                    style="font-size: 15px;  width: 150px ">


                            </p:commandButton>
                            <h:outputScript id="script">


                                if ($('#isRedirct').val() == 1) {
                                    location.reload();
                                    $('#isRedirct').val('');

                                }
                            </h:outputScript>
                            <p:spacer height="10" width="100%"/>
                        </div>


                        <p:dataTable var="item" lazy="true" value="#{productMB.itemCustomLazyDataModel}"
                                     id="itemDtl" paginatorPosition="bottom" reflow="true"
                                     dir="#{guestPreferences.getDir()}"
                                     multiViewState="true" emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}" rowsPerPageTemplate="5,10,15,30,50"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{item.id}" paginator="true" rows="5" sortBy="#{item.id}" sortOrder="descending">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages" action="#{productMB.addNewItem}"/>

                                <p:commandButton id="toggler" type="button" styleClass="green-btn"
                                                 style="width: 90px;float: left"
                                                 value="Columns" icon="pi pi-align-justify"/>
                                <p:columnToggler datasource="itemDtl" trigger="toggler"/>

                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.addedDate']}" width="100" sortBy="#{item.dateAdded}" >

                                <h:outputText value="#{item.dateAdded}">
                                    <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"/>
                                </h:outputText>
                            </p:column>

                            <p:column headerText="#{msg['common.code']}" sortable="true" filterBy="#{item.code}"
                                      sortBy="#{item.code}"> #{item.code}</p:column>


                            <p:column headerText="#{msg['common.name']}" sortable="true" filterBy="#{item.name}"
                                      sortBy="#{item.name}" filterMatchMode="contains">
                                <a target="blank" href="#{request.contextPath}/product-details.xhtml?id=#{item.id}">

                                    #{item.name.get(currentLanguage.locale)}
                                </a>
                            </p:column>

                            <p:column headerText="#{msg['common.price']}" sortable="true" filterBy="#{item.price}"
                                      visible="true"
                                      sortBy="#{item.price}"> #{item.price} USD</p:column>


                            <p:column headerText="#{msg['common.limitQty']}" sortable="true" visible="false" rendered="false"
                                      sortBy="#{item.limitQty}" filterBy="#{item.limitQty}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{item.limitQty}"
                                                       offLabel="#{msg['msg.no']}" onLabel="#{msg['msg.yes']}"/>
                            </p:column>


                            <p:column headerText="#{msg['common.availableQty']}" sortable="true" filterBy="#{item.qty}"
                                      sortBy="#{item.qty}"> #{productDetailsMB.getAvailableQty(item.id) }</p:column>

                            <p:column headerText="#{msg['common.haveTax']}" sortable="true"
                                      sortBy="#{item.haveTax}" visible="false">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{item.haveTax}"
                                                       offLabel="#{msg['msg.no']}" onLabel="#{msg['msg.yes']}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.tax']}" sortable="true" visible="false"
                                      sortBy="#{item.tax}"> #{item.tax}</p:column>


                            <p:column headerText="#{msg['common.barcode']}" sortable="true"
                                      filterBy="#{item.barcodeString}"
                                      filterMatchMode="contains"
                                      sortBy="#{item.barcodeString}"> #{item.barcode}</p:column>

                            <p:column headerText="#{msg['common.haveDiscount']} %" sortable="true" visible="false"
                                      sortBy="#{item.haveDiscount}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{item.haveDiscount}"
                                                       offLabel="#{msg['msg.no']}" onLabel="#{msg['msg.yes']}"/>
                            </p:column>

                            <p:column headerText="#{msg['common.discount']} %" sortable="true" visible="false"
                                      sortBy="#{item.discount}"> #{item.discount}</p:column>

                            <p:column headerText="#{msg['common.category']} " filterMatchMode="contains"
                                      filterBy="#{item.categoryString}"
                            > #{item.categoryString}</p:column>

                            <p:column headerText="#{msg['common.brand']}" sortable="true" filterMatchMode="contains"
                                      filterBy="#{item.manufacturer.name.get(currentLanguage.locale)}"
                                      sortBy="#{item.manufacturer}"> #{item.manufacturer.name.get(currentLanguage.locale)}</p:column>

                            <p:column headerText="#{msg['common.defaultCommission']}" sortable="true" filterMatchMode="contains"
                                      filterBy="#{item.defaultCommission}"
                                      sortBy="#{item.defaultCommission}"> #{item.defaultCommission} %</p:column>


                            <p:column
                                    headerText="#{msg['common.desc']}"
                                    visible="false"> #{item.desc.get(currentLanguage.locale)}</p:column>
                            <p:column headerText="#{msg['common.pic']}" visible="false">


                                <p:lightBox styleClass="imagebox" blockScroll="true" rendered="#{not empty item.image}">
                                    <ui:repeat value="#{item.image}" var="img">
                                        <h:outputLink styleClass="link#{img.id}"
                                                      title="#{item.name.get(currentLanguage.locale)}">

                                            <p:graphicImage styleClass="img#{img.id}"
                                                            width="50" height="50"
                                                            cache="true" value="#{imageMb.imageStream}"
                                                            stream="true">
                                                <f:param value="#{img.id}" name="ids"/>
                                                <f:param value="#{img.versionId}" name="cache"/>
                                            </p:graphicImage>

                                        </h:outputLink>
                                        <script>
                                            $('.link#{img.id}').attr("href", $('.img#{img.id}')[0].src);
                                        </script>

                                    </ui:repeat>
                                </p:lightBox>

                            </p:column>

                            <p:column headerText="#{msg['common.status']}" sortBy="#{item.status}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{item.status}"
                                                       offLabel="#{msg['common.notActive']}"
                                                       onLabel="#{msg['common.active']}"/>
                            </p:column>

                            <p:column width="70" toggleable="false">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{productMB.editItem(item)}"/>

                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                 action="#{productMB.deleteItem(item)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgItem" id="dlgItem" modal="true" blockScroll="true" positionType="absolute" width="80%"
                  header="#{msg['common.defin.item']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="center center">
            <h:form id="itemFrm">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="2" columnClasses="ui-grid-col-6 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">

                                <ele:translator label="#{msg['common.name']}" columns="2" required="true"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6"
                                                value="#{productMB.selectedItem.name}"/>


                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.code']}" for="code"/>
                                    <p:inputText id="code" value="#{productMB.selectedItem.code}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block">
                                    <p:outputLabel for="category" value="#{msg['common.category']}"/>
                                    <p:selectCheckboxMenu id="category" value="#{productMB.selectedItem.categories}"

                                                          updateLabel="true" filter="true" filterMatchMode="contains"
                                                          required="false" converter="#{categoryConverter}"
                                                          style="margin-bottom:10px;">
                                        <f:selectItem noSelectionOption="true"></f:selectItem>
                                        <f:selectItems value="#{productMB.categoryList}" var="cat" itemValue="#{cat}"
                                                       itemLabel="#{cat.name.get(currentLanguage.locale)}"/>
                                        <p:ajax process="@this"></p:ajax>
                                        <f:attribute name="collectionType" value="java.util.ArrayList"/>

                                    </p:selectCheckboxMenu>

                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel for="manufacturer" value="#{msg['common.brand']}"/>
                                    <p:selectOneMenu id="manufacturer" value="#{productMB.selectedItem.manufacturer}"
                                                     filter="true" filterMatchMode="contains" required="false"
                                                     converter="omnifaces.SelectItemsConverter"
                                                     style="margin-bottom:10px;" dynamic="true">
                                        <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                        <f:selectItems value="#{productMB.manufacturerList}" var="brand"
                                                       itemValue="#{brand}"
                                                       itemLabel="#{brand.name.get(currentLanguage.locale)}"/>
                                    </p:selectOneMenu>
                                </h:panelGroup>


                                <h:panelGroup layout="block">
                                    <p:outputLabel for="price" value="#{msg['common.price']}"/>
                                    <p:inputNumber thousandSeparator="," decimalPlaces="2" id="price"
                                                   value="#{productMB.selectedItem.price}"/>
                                </h:panelGroup>


                                <h:panelGroup layout="block">
                                    <p:outputLabel for="weight" value="#{msg['common.weight']}"/>
                                    <p:inputNumber thousandSeparator="," decimalPlaces="2" id="weight"
                                                   value="#{productMB.selectedItem.weight}"/>
                                </h:panelGroup>

                                <h:panelGroup layout="block">

                                    <p:outputLabel value="#{msg['common.haveDiscount']}"/>

                                    <p:selectOneRadio id="haveDiscount" value="#{productMB.selectedItem.haveDiscount}"
                                                      layout="responsive" columns="2" styleClass="form-group">
                                        <f:selectItem itemValue="true" itemLabel=" #{msg['msg.yes']}"/>
                                        <f:selectItem itemValue="false" itemLabel="#{msg['msg.no']} "/>
                                        <p:ajax update="discount"></p:ajax>
                                    </p:selectOneRadio>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel for="discount" value="#{msg['common.discount']}"/>
                                    <p:inputNumber disabled="#{!productMB.selectedItem.haveDiscount}"
                                                   thousandSeparator=","
                                                   decimalPlaces="2" id="discount"
                                                   value="#{productMB.selectedItem.discount}"/>
                                </h:panelGroup>


                                <h:panelGroup layout="block">

                                    <p:outputLabel value="#{msg['common.limitQty']}" rendered="false" />

                                    <p:selectOneRadio id="limitQty" value="#{productMB.selectedItem.limitQty}"
                                                 rendered="false"     layout="responsive" columns="2" styleClass="form-group">
                                        <f:selectItem itemValue="true" itemLabel=" #{msg['msg.yes']}"/>
                                        <f:selectItem itemValue="false" itemLabel="#{msg['msg.no']} "/>
                                        <p:ajax update="qty"></p:ajax>
                                    </p:selectOneRadio>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel for="qty" value="#{msg['common.qty']}" rendered="false"/>
                                    <p:inputNumber thousandSeparator="" decimalPlaces="0" id="qty" rendered="false"
                                                   value="#{productMB.selectedItem.qty}"/>
                                </h:panelGroup>


                                <h:panelGroup layout="block">

                                    <p:outputLabel value="#{msg['common.haveTax']}"/>

                                    <p:selectOneRadio id="haveTax" value="#{productMB.selectedItem.haveTax}"
                                                      layout="responsive" columns="2" styleClass="form-group">
                                        <f:selectItem itemValue="true" itemLabel=" #{msg['msg.yes']}"/>
                                        <f:selectItem itemValue="false" itemLabel="#{msg['msg.no']} "/>
                                        <p:ajax update="tax"></p:ajax>
                                    </p:selectOneRadio>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel for="tax" value="#{msg['common.tax']}"/>
                                    <p:inputNumber disabled="#{!productMB.selectedItem.haveTax}"
                                                   thousandSeparator="," decimalPlaces="2" id="tax"
                                                   value="#{productMB.selectedItem.tax}"/>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel for="vendor" value="#{msg['common.vendors']}"/>
                                    <p:selectOneMenu id="vendor" value="#{productMB.selectedItem.vendor}"
                                                     filter="true" filterMatchMode="contains" required="false"
                                                     converter="omnifaces.SelectItemsConverter"
                                                     style="margin-bottom:10px;" dynamic="true">
                                        <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                        <f:selectItems value="#{vendorMB.allVendors}" var="vendor"
                                                       itemValue="#{vendor}"
                                                       itemLabel="#{vendor.fullName} - ( #{vendor.code} )"/>
                                    </p:selectOneMenu>
                                </h:panelGroup>
                                <p:spacer/>

                                <h:panelGroup layout="block" id="pnl">
                                    <p:outputLabel for="tax" value="#{msg['common.barcode']}"/>

                                    <p:panelGrid columns="2" columnClasses="ui-grid-col-10 ,ui-grid-col-2"
                                                 layout="grid">
                                        <h:panelGroup styleClass="md-inputfield">
                                            <p:inputText id="txtBrand" value="#{productMB.barcode}"/>
                                            <label>#{msg['common.barcode']}</label>
                                        </h:panelGroup>
                                        <p:commandButton icon="fa fa-plus" process="pnl" update="pnl msg"
                                                         styleClass="green-btn" action="#{productMB.addBarcode}">

                                        </p:commandButton>

                                    </p:panelGrid>
                                    <p:messages id="msg" for="txtBrand"></p:messages>


                                    <p:dataTable value="#{productMB.selectedItem.barcodeList}"
                                                 var="barcode" id="brandsTable" style="max-width: 300px">
                                        <p:column headerText="#{msg['common.barcode']}">
                                            #{barcode}
                                        </p:column>
                                        <p:column width="50">


                                            <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn"
                                                             process="@this"
                                                             update="@form">
                                                <p:collector value="#{barcode}"
                                                             removeFrom="#{productMB.selectedItem.barcodeList}"
                                                             unique="true"/>
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                                <h:panelGroup layout="block">

                                    <p:outputLabel value="#{msg['common.status']}"/>

                                    <p:selectOneRadio id="status" value="#{productMB.selectedItem.status}"
                                                      layout="responsive" columns="2" styleClass="form-group">
                                        <f:selectItem itemValue="true" itemLabel=" #{msg['common.active']}"/>
                                        <f:selectItem itemValue="false" itemLabel="#{msg['common.notActive']} "/>
                                    </p:selectOneRadio>
                                </h:panelGroup>


                                <h:panelGroup layout="block" id="container" style="text-align: center;">
                                    <p:commandButton value="#{msg['common.uplouad.img']}" styleClass="green-btn"
                                                     type="button" icon="ui-icon ui-icon-file-upload"
                                                     onclick="PF('Upload').chooseButton.click()"/>
                                    <p:fileUpload fileUploadListener="#{productMB.upload}" mode="advanced"
                                                  update="container" label=" #{msg['common.pic']}" auto="true"
                                                  widgetVar="Upload" style="display: none"
                                                  allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                  cancelLabel="#{msg['common.cancel']}"/>


                                    <ui:repeat value="#{productMB.selectedItem.image}" var="img">
                                        <h:panelGrid columns="1" rendered="#{!img.markedForDeletion}"
                                                     style="display: inline;">

                                            <p:graphicImage styleClass="img#{img.id}"
                                                            style="margin: auto 5px" width="100" height="100"
                                                            cache="true" value="#{imageMb.imageStream}"
                                                            stream="true">
                                                <f:param value="#{img.id}" name="ids"/>
                                                <f:param value="#{img.versionId}" name="cache"/>
                                            </p:graphicImage>


                                            <p:commandButton styleClass="red-btn small-btn" update="@form:container"
                                                             immediate="true" icon="fa fa-close">
                                                <f:setPropertyActionListener value="#{true}"
                                                                             target="#{img.markedForDeletion}"/>
                                            </p:commandButton>
                                        </h:panelGrid>

                                    </ui:repeat>

                                </h:panelGroup>


                            </p:panelGrid>

                            <ele:translatorCkEditor label="#{msg['common.desc']}" columns="2"
                                                    columnClasses="ui-grid-col-6 ui-grid-col-6"
                                                    value="#{productMB.selectedItem.desc}"/>

                        </div>
                    </div>
                </div>


                <div class="ui-g">


                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{productMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{productMB.saveItemAndHide}" icon="ui-icon ui-icon-send"
                                         process="@form"
                                         update="form_messages" styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!productMB.editMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{productMB.saveItem}" icon="ui-icon ui-icon-send" process="@form"
                                         update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!productMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}" action="#{productMB.saveItemAndHide}"
                                         validateClient="true" process="@form" update="form_messages"
                                         icon="ui-icon ui-icon-save" styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true" onclick="PF('dlgItem').hide()"
                                         type="button" icon="ui-icon ui-icon-clear" styleClass="red-btn" style="width:100%"/>
                    </div>
                </div>


            </h:form>
            <p:ajax event="close" immediate="true" global="false" update="@parent @this dlgItem" resetValues="true"/>
        </p:dialog>


    </ui:define>

</ui:composition>

