<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" lang="#{localeMB.language}" dir="#{localeMB.dir}">
<div class="main-wraper padd-90">
    <div class="row">
        <div class="col-md-12">
            <h:form id="frmProp">
                <p:growl autoUpdate="true"/>

                <p:panelGrid id="pnl" columns="2" styleClass="MarAuto col-md-12 VT "
                             columnClasses="col-md-13 , col-md-9">

                    <h:outputText value="#{msg['msg.region.nameAr']}"/>
                    <p:inputText value="#{adminProprtiesMB.proprties.nameAr}" styleClass="col-md-12"/>
                    <h:outputText value="#{msg['msg.region.nameEn']}"/>
                    <p:inputText value="#{adminProprtiesMB.proprties.nameEn}" styleClass="col-md-12"/>

                    <h:outputText value="#{msg['msg.region.image']}"/>

                    <h:panelGroup layout="block" id="uiimg">

                        <p:fileUpload styleClass="col-md-8 FRight" fileUploadListener="#{adminProprtiesMB.uploadImage}"
                                      mode="advanced" label="#{screenLabels.UPLOAD_BTN}" multiple="false"
                                      auto="true" allowTypes="/(\.|\/)(gif|jpg|jpe?g|png|doc|docx|xls|xlsx|pdf|ppt)$/"
                                      uploadLabel="#{screenLabels.UPLOAD_BTN}" cancelLabel="الغاء" update="uiimg "/>
                        <br/>
                        <div class="clear"/>

                        <p:lightBox styleClass="Fright  MarL20" id="img"
                                    rendered="#{adminProprtiesMB.proprties.image ne null}">
                            <h:outputLink value="/image/prop/#{adminProprtiesMB.proprties.image.name}">
                                <img src="/image/prop/#{adminProprtiesMB.proprties.image.name}" width="100"/>
                            </h:outputLink>
                        </p:lightBox>
                    </h:panelGroup>


                    <f:facet name="footer">
                        <p:commandButton icon="fa fa-save" update="tbl pnl " action="#{adminProprtiesMB.save()}"/>
                    </f:facet>
                    <f:facet name="header">
                        <p:commandButton icon="fa fa-save" update="tbl pnl " action="#{adminProprtiesMB.save()}"/>
                    </f:facet>

                </p:panelGrid>
                <div class="clear"/>
                <p:dataTable styleClass="VT" id="tbl" value="#{adminProprtiesMB.proprtiesList}" var="prop"
                             rowIndexVar="index">
                    <p:column width="5%" headerText="#"> #{index+1}</p:column>
                    <p:column headerText="#{msg['msg.region.nameAr']}">
                        #{prop.nameAr}
                    </p:column>
                    <p:column headerText="#{msg['msg.region.nameEn']}"> #{prop.nameEn} </p:column>
                    <p:column headerText="#{msg['msg.prop.icon']}">
                        <p:lightBox styleClass="Fright  MarL20" id="img" rendered="#{prop.image ne null}">
                            <h:outputLink value="/image/prop/#{prop.image.name}">
                                <img src="/image/prop/#{prop.image.name}" width="100"/>
                            </h:outputLink>
                        </p:lightBox>
                    </p:column>
                    <p:column headerText="#{msg['msg.btn.delete']}" width="70">
                        <p:commandButton process="@this" icon="fa fa-close"
                                         actionListener="#{adminProprtiesMB.deleteProprties(prop)}" update="@form:tbl">
                            <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                    </p:column>
                    <p:column headerText="#{msg['msg.btn.edit']}" width="70">
                        <p:commandButton icon="fa fa-edit" process="@this" update="@form:pnl ">
                            <f:setPropertyActionListener value="#{prop}" target="#{adminProprtiesMB.proprties}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:confirmDialog dir="#{localeMB.dir}" widgetVar="confirmClose" global="true" showEffect="fade"
                                 hideEffect="fade">
                    <p:commandButton type="button" value="#{msg['msg.yes']}" styleClass="ui-confirmdialog-yes"
                                     icon="ui-icon-check"/>
                    <p:commandButton type="button" value="#{msg['msg.no']}" styleClass="ui-confirmdialog-no"
                                     icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </div>
</div>
</html>
