<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" lang="#{localeMB.language}" xmlns:pe="http://primefaces.org/ui/extensions"
      dir="#{localeMB.dir}">


<div class="main-wraper padd-90">
    <div class="row">
        <div class="col-md-12">
            <h:form prependId="false" id="frmMap">
                <p:inputText type="hidden" styleClass="lat" value="#{adminRegionMB.region.checkin.lat}"/>
                <p:inputText type="hidden" styleClass="lng" value="#{adminRegionMB.region.checkin.lng}"/>
                <p:remoteCommand name="addRemote" process="@form" update="@form"/>
            </h:form>


            <h:outputScript>

                //<![CDATA[

                // In the following example, markers appear when the user clicks on the map.
                // The markers are stored in an array.
                // The user can then click an option to hide, show or delete the markers.
                var map;
                var markers = [];
                var latv;
                var lngv;
                var haightAshbury;

                function initMap() {
                    latv = parseFloat($('.lat').val());
                    lngv = parseFloat($('.lng').val());
                    console.log(latv);
                    haightAshbury = {lat: latv, lng: lngv};

                    //  var haightAshbury = {lat: 31.944588, lng: 35.929585};

                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 10,
                        center: haightAshbury,
                        mapTypeId: 'roadmap'
                    });

                    // This event listener will call addMarker() when the map is clicked.
                    map.addListener('click', function (event) {
                        addMarker(event.latLng);
                    });

                    // Adds a marker at the center of the map.
                    addMarker(haightAshbury);
                    if (latv == 0) {
                        setMylocation();
                    }


                }

                function setMylocation() {
                    var infoWindow = new google.maps.InfoWindow({map: map});

                    // Try HTML5 geolocation.
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            haightAshbury = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            };

                            infoWindow.setPosition(haightAshbury);
                            infoWindow.setContent('#{msg['
                            msg.region.yourLocation
                            ']}'
                        )
                            ;
                            map.setCenter(haightAshbury);
                        }, function () {
                            handleLocationError(true, infoWindow, map.getCenter());
                        });
                    } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, infoWindow, map.getCenter());
                    }
                }

                function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                    infoWindow.setPosition(pos);
                    infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
                    infoWindow.open(map);
                }

                function addMarker(location) {
                    deleteMarkers();
                    $('.lat').val(location.lat);
                    $('.lng').val(location.lng);
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                    markers.push(marker);
                    addRemote();
                    map.setCenter(location);
                }

                // Sets the map on all markers in the array.
                function setMapOnAll(map) {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(map);
                    }
                }

                // Removes the markers from the map, but keeps them in the array.
                function clearMarkers() {
                    setMapOnAll(null);
                }

                // Shows any markers currently in the array.
                function showMarkers() {
                    setMapOnAll(map);
                }

                // Deletes all markers in the array by removing references to them.
                function deleteMarkers() {
                    clearMarkers();
                    markers = [];
                }

                //]]>

            </h:outputScript>

            <h:form id="frmReg">
                <p:growl/>

                <p:panelGrid id="pnl" columns="2" styleClass="MarAuto col-md-12 VT "
                             columnClasses="col-md-3 , col-md-9">

                    <h:outputText value="#{msg['msg.region.nameAr']}"/>
                    <p:inputText value="#{adminRegionMB.region.nameAr}" styleClass="col-md-12"/>
                    <h:outputText value="#{msg['msg.region.nameEn']}"/>
                    <p:inputText value="#{adminRegionMB.region.nameEn}" styleClass="col-md-12"/>
                    <h:outputText value="#{msg['msg.region.city']}"/>
                    <p:selectOneMenu converter="omnifaces.SelectItemsIndexConverter" styleClass="col-md-12"
                                     value="#{adminRegionMB.region.city}" filterMatchMode="contains" filter="true">
                        <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                        <f:selectItems value="#{adminRegionMB.cities}" var="c"
                                       itemLabel="#{localeMB.language eq 'ar' ? c.nameAr: c.nameEr}" itemValue="#{c}"/>
                    </p:selectOneMenu>
                    <h:outputText value="#{msg['msg.region.description']}"/>
                    <p:accordionPanel activeIndex="-1">
                        <p:tab>
                            <f:facet name="title">
                                <h:outputText value="#{msg['msg.region.descriptionAr']}"/>
                            </f:facet>
                            <pe:ckEditor value="#{adminRegionMB.region.descriptionAr}" id="ck" width="100%"
                                         height="65vh" customConfig="#{request.contextPath}/resources/js/ck.js"
                                         defaultLanguage="ar"/>
                        </p:tab>
                        <p:tab>
                            <f:facet name="title">

                                <h:outputText value="#{msg['msg.region.descriptionEn']}"/>
                            </f:facet>
                            <pe:ckEditor value="#{adminRegionMB.region.descriptionEn}" id="ckEn" width="100%"
                                         height="65vh" customConfig="#{request.contextPath}/resources/js/ck.js"
                                         defaultLanguage="ar"/>
                        </p:tab>
                    </p:accordionPanel>

                    <h:outputText value="#{msg['msg.region.fees']}"/>
                    <p:inputNumber value="#{adminRegionMB.region.fees}" styleClass="col-md-12"/>
                    <h:outputText value="#{msg['msg.region.temperature']}"/>
                    <p:inputNumber value="#{adminRegionMB.region.temperature}" styleClass="col-md-12"/>
                    <h:outputText value="#{msg['msg.region.phoneNumbers']}"/>
                    <h:panelGroup id="phons">
                        <p:commandButton styleClass="small" process="phons" icon="fa fa-plus" update="phons"
                                         action="#{adminRegionMB.addPhone()}"/>
                        <br/>
                        <ui:repeat value="#{adminRegionMB.region.phoneNumbers}" var="phone">
                            <h:panelGrid columns="2">
                                <p:commandButton styleClass="small" process="@this" icon="fa fa-close"
                                                 update="@form:phons"
                                                 actionListener="#{adminRegionMB.deletePhone(phone)}"/>
                                <p:inputText value="#{phone.phoneNo}"/>
                            </h:panelGrid>
                            <br/>
                        </ui:repeat>
                    </h:panelGroup>
                    <h:outputText value="#{msg['msg.region.proprties']}"/>
                    <p:selectManyCheckbox collectionType="java.util.ArrayList" label=" #{msg['msg.select']}"
                                          value="#{adminRegionMB.region.proprties}"
                                          converter="omnifaces.SelectItemsIndexConverter">
                        <f:selectItems value="#{adminRegionMB.proprtiesList}" var="prop" itemValue="#{prop}"
                                       itemLabel="#{localeMB.language eq 'ar' ? prop.nameAr:prop.nameEn}">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                        </f:selectItems>
                    </p:selectManyCheckbox>
                    <h:outputText value="#{msg['msg.region.image']}"/>

                    <h:panelGroup layout="block" id="uiimg">

                        <p:fileUpload styleClass="col-md-8 FRight" fileUploadListener="#{adminRegionMB.uploadImage}"
                                      mode="advanced" label="#{screenLabels.UPLOAD_BTN}" multiple="false"
                                      auto="true" allowTypes="/(\.|\/)(gif|jpg|jpe?g|png|doc|docx|xls|xlsx|pdf|ppt)$/"
                                      uploadLabel="#{screenLabels.UPLOAD_BTN}" cancelLabel="الغاء" update="uiimg "/>
                        <br/>
                        <div class="clear"/>

                        <p:lightBox styleClass="Fright" id="img">
                            <ui:repeat var="im" value="#{adminRegionMB.region.image}">
                                <div class="dis-in posRelative">
                                    <h:outputLink value="/image/slide/#{im.name}">
                                        <img class="MarL10" src="/image/slide/#{im.name}" width="100"/>
                                    </h:outputLink>
                                    <p:commandButton oncomplete="$('.ui-widget-overlay').remove()" process="@this"
                                                     update="@form:img"
                                                     actionListener="#{adminRegionMB.deleteImage(im)}"
                                                     styleClass="small insideIMg" icon="fa fa-close"></p:commandButton>
                                </div>
                            </ui:repeat>
                        </p:lightBox>
                    </h:panelGroup>

                    <h:outputText value="#{msg['msg.region.cover']}"/>
                    <h:panelGroup layout="block" id="uiimg2">

                        <p:fileUpload styleClass="col-md-8 FRight" fileUploadListener="#{adminRegionMB.uploadCover}"
                                      mode="advanced" label="#{screenLabels.UPLOAD_BTN}" multiple="false"
                                      auto="true" allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/"
                                      uploadLabel="#{screenLabels.UPLOAD_BTN}" cancelLabel="الغاء" update="uiimg2"/>
                        <br/>
                        <div class="clear"/>

                        <p:lightBox styleClass="Fright" id="img2" rendered="#{not empty adminRegionMB.region.cover}">
                            <div class="dis-in posRelative">
                                <h:outputLink value="/image/cover/#{adminRegionMB.region.cover.name}">
                                    <img class="MarL10" src="/image/cover/#{adminRegionMB.region.cover.name}"
                                         width="100"/>
                                </h:outputLink>
                                <p:commandButton oncomplete="$('.ui-widget-overlay').remove()" process="@this"
                                                 update="@form:uiimg2" styleClass="small insideIMg" icon="fa fa-close">
                                    <f:setPropertyActionListener value="#{null}"
                                                                 target="#{adminRegionMB.region.cover}"/>
                                </p:commandButton>
                            </div>
                        </p:lightBox>
                    </h:panelGroup>


                    <h:outputText value="#{msg['msg.region.position']}"/>

                    <h:panelGroup layout="block" id="Gmap">
                        <div id="map"></div>
                        <script type="text/javascript">
                            initMap();
                        </script>
                    </h:panelGroup>
                    <f:facet name="header">
                        <p:commandButton styleClass="saveBtnFloat" icon="fa fa-save" update="@form "
                                         action="#{adminRegionMB.save()}"/>
                    </f:facet>

                </p:panelGrid>
                <div class="clear"/>
                <p:spacer height="50px" width="100%"/>
                <p:dataTable styleClass="VT" id="tbl" value="#{adminRegionMB.regions}" var="r" rowIndexVar="index">
                    <p:column width="5%" headerText="#"> #{index+1}</p:column>
                    <p:column headerText="#{msg['msg.region.nameAr']}">
                        #{r.nameAr}
                    </p:column>
                    <p:column headerText="#{msg['msg.region.nameEn']}">
                        #{r.nameEn}
                    </p:column>
                    <p:column headerText="#{msg['msg.region.proprties']}">

                        <ui:repeat value="#{r.proprties}" var="prop">
                            <h:outputLabel styleClass="MarL10"
                                           value="#{localeMB.language eq 'ar' ? prop.nameAr:prop.nameEn},"/>

                        </ui:repeat>

                    </p:column>
                    <p:column headerText="#{msg['msg.region.image']}">

                        <p:lightBox styleClass="Fright  " id="img">
                            <ui:repeat var="im" value="#{r.image}">
                                <h:outputLink value="/image/slide/#{im.name}">
                                    <img class="MarL10" src="/image/slide/#{im.name}" width="70"/>
                                </h:outputLink>
                            </ui:repeat>
                        </p:lightBox>
                    </p:column>
                    <p:column headerText="#{msg['msg.btn.delete']}" width="70">
                        <p:commandButton process="@this" icon="fa fa-close"
                                         actionListener="#{adminRegionMB.deleteRegion(r)}" update="@form:tbl">
                            <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                       icon="ui-icon-alert"/>
                        </p:commandButton>
                    </p:column>
                    <p:column headerText="#{msg['msg.btn.edit']}" width="70">
                        <p:commandButton icon="fa fa-edit" process="@this" update="@form:pnl ">
                            <f:setPropertyActionListener value="#{r}" target="#{adminRegionMB.region}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:confirmDialog dir="#{localeMB.dir}" widgetVar="confirmClose" global="true" showEffect="fade"
                                 hideEffect="fade">
                    <p:commandButton type="button" value="#{msg['msg.yes']}" styleClass="ui-confirmdialog-yes"
                                     icon="ui-icon-check"/>
                    <p:commandButton type="button" value="#{msg['msg.no']}" styleClass="ui-confirmdialog-no"
                                     icon="ui-icon-close"/>
                </p:confirmDialog>
            </h:form>
        </div>
    </div>
</div>
</html>
