<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.shipment-report']}</ui:define>

    <ui:define name="head">

    </ui:define>


    <ui:define name="content">
        #{orderReportMB.init()}
        <div class="ui-g ui-fluid">

            <div class="ui-g-12 ui-lg-12">
                <h:form id="main_from">
                    <p:importConstants type="com.ellepharma.data.model.GenderEnum" var="gender"/>
                    <p:importConstants type="com.ellepharma.data.model.PaymentStatusEnum" var="payment"/>

                    <div class="card card-w-title">

                        <p:panel header="بحث" toggleable="true">
                            <div style="direction: rtl;">

                                <p:panelGrid id="pnl" columns="1" layout="grid"
                                             styleClass="form-group ui-panelgrid-blank"
                                             columnClasses="ui-grid-col-6 , ui-grid-col-6 , ui-grid-col-1, ui-grid-col-3">


                                    <h:panelGroup>
                                        <h:outputText value=" التاريخ"/>
                                        <h:panelGrid columns="2">
                                            <h:panelGroup>
                                                <h:outputText value=" من"/>
                                                <p:datePicker value="#{orderReportMB.orderReportFilterDTO.fromDate}"
                                                              pattern="dd/MM/yyyy"/>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:outputText value=" الى"/>
                                                <p:datePicker value="#{orderReportMB.orderReportFilterDTO.toDate}"
                                                              pattern="dd/MM/yyyy"/>
                                            </h:panelGroup>
                                        </h:panelGrid>
                                    </h:panelGroup>


                                    <h:panelGroup>
                                        <h:outputText value="#{msg['common.shipmentStatus']} "/>

                                        <p:selectOneMenu id="shipmentStatus"
                                                         value="#{orderReportMB.orderReportFilterDTO.shipmentStatus}"
                                                         style="margin-bottom:10px;" dynamic="true"
                                                         filter="true" filterMatchMode="contains" required="false"
                                                         converter="omnifaces.SelectItemsConverter">
                                            <f:selectItem noSelectionOption="true" itemValue="true"
                                                          itemLabel=" #{msg['msg.select']}"/>
                                            <f:selectItems value="#{orderReportMB.shipmentStatusList}" var="ty"
                                                           itemLabel="#{ty.name()}" itemValue="#{ty}"/>
                                        </p:selectOneMenu>

                                    </h:panelGroup>


                                    <p:commandButton value="البحث" action="#{orderReportMB.findOrders}" process="@form"
                                                     update="@form" icon="fa fa-search"/>

                                    <div style="padding-top: 5px;" dir="#{guestPreferences.dir}">
                                        <h:commandLink>
                                            <i class="fa fa-file-excel-o" style="font-size: 30px;color: green"></i>
                                            <p:dataExporter type="xls" target="orderDtl" fileName="shipment-report"/>
                                        </h:commandLink>


                                    </div>
                                </p:panelGrid>
                            </div>

                        </p:panel>


                        <p:growl id="form_messages" closable="true"/>


                        <p:dataTable var="order" value="#{orderReportMB.orderShipmentList}"
                                     id="orderDtl" paginatorPosition="bottom" reflow="true"
                                     dir="#{guestPreferences.getDir()}" lazy="false"
                                     multiViewState="true" emptyMessage="#{msg['common.NoData']}"
                                     rowIndexVar="index" styleClass="table-reflow-desktop"

                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,20,30,50,100,200"
                                     currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown}  {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{order.id}" sortBy="#{order.id}" sortOrder="descending" paginator="true" rows="10">

                            <p:column headerText="#" width="10">
                                <h:outputText value="#{index+1}"/>
                            </p:column>
                            <p:column headerText="رقم الطلب" width="70" sortBy="#{order.id}" sortable="true">
                                <h:outputText value="#{order.id}"/>
                            </p:column>

                            <p:column headerText="التاريخ" sortBy="#{order.creationDate}" width="170">

                                <h:outputText value="#{order.creationDate}">
                                    <f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss a" type="both"/>
                                </h:outputText>

                            </p:column>


                            <p:column headerText="#{msg['common.shipping']}" sortBy="#{order.shippingFee}" width="100">

                                <h:outputLabel escape="false" dir="LTR" styleClass="priceT" style="display: block"
                                               value="#{utils.convertPriceToString(order.shippingFee)} #{order.currency.currencyCode}"/>


                            </p:column>

                            <p:column headerText="#{msg['common.shipping']} USD" sortBy="#{order.shippingFee}" width="100">

                                <h:outputLabel escape="false" dir="LTR" styleClass="priceT" style="display: block"
                                               value=" #{utils.convertPriceToString(order.shippingFee/order.currencyValue)}"/>

                                <f:facet name="footer">

                                    <h:outputLabel dir="LTR" styleClass="priceT"
                                                   value="#{utils.convertPriceToString(orderReportMB.sumTotalShipmentOrders)} USD"/>
                                </f:facet>


                            </p:column>


                            <p:column headerText="#{msg['common.payment-type']}" width="100"
                                      sortBy="#{order.paymentType}">

                                <h:outputText value="#{order.paymentType.desc[order.currentLanguage]}"/>
                            </p:column>
                            <p:column headerText="#{msg['common.payment-type.fee']}" width="100" styleClass="priceT"
                                      sortBy="#{order.paymentFee}">

                                <h:outputLabel styleClass="priceT"
                                               value="#{utils.convertPriceToString(order.paymentFee)} #{order.currency.currencyCode}"/>

                            </p:column>

                            <p:column headerText="#{msg['common.payment-type.fee']} USD" width="100" styleClass="priceT"
                                      sortBy="#{order.paymentFee}">

                                <h:outputLabel styleClass="priceT"
                                               value="#{utils.convertPriceToString(order.paymentFee/order.currencyValue)}"/>

                            </p:column>


                            <p:column headerText="#{msg['common.shipmentStatus']}" width="100"
                                      sortBy="#{order.shipmentStatus} ">
                                <h:outputText value="#{order.shipmentStatus.name()}"/>
                            </p:column>

                            <p:column headerText="بلد الطلب" sortBy=" #{order.account.country.desc}" width="170">
                                <h:outputText value="#{order.account.country.desc}"/>
                            </p:column>


                            <p:column headerText="Tracking" sortBy=" #{order.tracking}">
                                <h:outputText value="#{order.tracking}"/>
                            </p:column>


                            <p:column headerText="#{msg['common.orderDetails']}" width="50"
                                      style="text-align: center!important;">
                                <p:commandLink action="#{accountMB.showProductItem(order)}" process="@this"
                                               immediate="true"
                                               styleClass="view">
                                    <i class="fa fa-search"/>

                                </p:commandLink>
                            </p:column>


                        </p:dataTable>


                    </div>
                </h:form>

            </div>
        </div>

        <ui:include src="/resources/components/orderItems.xhtml"/>
    </ui:define>


</ui:composition>

