<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ele="http://java.sun.com/jsf/composite/components"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.defin.slider']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.defin.slider']}</h1>

                        <p:messages id="form_messages" closable="true"/>


                        <p:dataTable var="cat" lazy="true" value="#{sliderMB.sliderCustomLazyDataModel}"
                                     id="slidDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" sortBy="#{cat.priorityOrder}"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="#{msg['common.show']} {RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{cat.id}" paginator="true" rows="10">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages" action="#{sliderMB.addNewSlider}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.priorityOrder']}"> #{cat.priorityOrder}</p:column>
                            <p:column headerText="#{msg['common.title']}">#{cat.title.get(currentLanguage.locale)}</p:column>

                            <p:column headerText="#{msg['common.status']}" width="120">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{cat.status}"
                                                       offLabel="#{msg['common.notActive']}" onLabel="#{msg['common.active']}"/>

                            </p:column>

                            <p:column headerText=" #{msg['common.active.url']}" width="120">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{cat.showButton}"
                                                       offLabel="#{msg['common.notActive']}" onLabel="#{msg['common.active']}"/>

                            </p:column>
                            <p:column headerText="#{msg['common.url']}"> #{cat.url}</p:column>
                            <p:column headerText="#{msg['common.pic']}">
                                <p:lightBox styleClass="imagebox" blockScroll="true" rendered="#{cat.image ne null}">

                                    <h:outputLink styleClass="link#{cat.image.id}"
                                                  title="Image">

                                        <p:graphicImage styleClass="img#{cat.image.id}"
                                                        width="90%" height="150" cache="true"
                                                        value="#{imageMb.imageStream}" stream="true">
                                            <f:param value="#{cat.image.id}" name="ids"/>
                                            <f:param value="#{cat.image.versionId}"
                                                     name="cache"/>
                                        </p:graphicImage>

                                    </h:outputLink>

                                    <script>
                                        $('.link#{cat.image.id}').attr("href", $('.img#{cat.image.id}')[0].src);
                                    </script>


                                </p:lightBox>



                            </p:column>
                            <p:column width="70">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{sliderMB.editSlider(cat)}"/>

                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                 action="#{sliderMB.deleteSlider(cat)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgSlider" id="dlgSlider" modal="true" width="50%" blockScroll="true"
                  header="#{msg['common.defin.slider']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="slidFrm">
                <p:messages id="form_messages"/>

                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group" style="border:0px none; background-color:transparent;">

                                <ele:translator label="#{msg['common.title']}" columns="2" required="true"
                                                columnClasses="ui-grid-col-6 ,ui-grid-col-6" value="#{sliderMB.selectedSlider.title}"/>
                                <p:panelGrid columns="2" columnClasses="ui-grid-col-6 ,ui-grid-col-6" layout="grid"
                                             styleClass="ui-panelgrid-blank form-group"
                                             style="border:0px none; background-color:transparent;">
                                    <h:panelGroup layout="block">

                                        <p:outputLabel value="#{msg['common.active.url']}"/>
                                        <p:selectOneRadio id="radio2" value="#{sliderMB.selectedSlider.showButton}"
                                                          layout="responsive" columns="2" styleClass="form-group">
                                            <f:selectItem itemValue="true" itemLabel=" #{msg['common.active']}"/>
                                            <f:selectItem itemValue="false" itemLabel=" #{msg['common.notActive']} "/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>


                                    <h:panelGroup layout="block">

                                        <p:outputLabel value="#{msg['common.status']}"/>

                                        <p:selectOneRadio id="radio" value="#{sliderMB.selectedSlider.status}"
                                                          layout="responsive" columns="2" styleClass="form-group">
                                            <f:selectItem itemValue="true" itemLabel=" #{msg['common.active']}"/>
                                            <f:selectItem itemValue="false" itemLabel=" #{msg['common.notActive']} "/>
                                        </p:selectOneRadio>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block">
                                        <p:outputLabel for="order" value="#{msg['common.priorityOrder']}"/>
                                        <p:inputNumber thousandSeparator="" decimalPlaces="0" id="order"
                                                       value="#{sliderMB.selectedSlider.priorityOrder}"/>

                                    </h:panelGroup>

                                    <h:panelGroup layout="block">
                                        <p:outputLabel for="url" value="#{msg['msg.slide.url']}"/>
                                        <p:inputText id="url" value="#{sliderMB.selectedSlider.url}"/>
                                    </h:panelGroup>


                                </p:panelGrid>

                                <h:panelGroup layout="block" id="container" style="    text-align: center;">
                                    <p:commandButton value="#{msg['common.uplouad.img']}" styleClass=" green-btn" type="button"
                                                     icon="ui-icon ui-icon-file-upload"
                                                     onclick="PF('uplouad').chooseButton.click()"/>
                                    <p:fileUpload fileUploadListener="#{sliderMB.upload}" mode="advanced"
                                                  update="container"
                                                  label=" صورة  " auto="true" widgetVar="uplouad"
                                                  style="display: none"
                                                  allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i" uploadLabel="رفع صورة"
                                                  cancelLabel="#{msg['common.cancel']}"/>


                                    <p:lightBox styleClass="imagebox" id="lighbox1" blockScroll="true"
                                                rendered="#{sliderMB.selectedSlider.image ne null}">
                                        <h:outputLink title="Image"
                                                      value="#{imageMb.getImageUrl(sliderMB.selectedSlider.image)}">
                                            <p:graphicImage width="50%" height="150"
                                                            url="#{imageMb.getImageUrl(sliderMB.selectedSlider.image)}"/>

                                        </h:outputLink>
                                    </p:lightBox>
                                </h:panelGroup>
                            </p:panelGrid>

                        </div>
                    </div>
                </div>


                <div class="ui-g">


                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{sliderMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{sliderMB.saveSliderAndHide}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!sliderMB.editMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{sliderMB.saveSlider}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!sliderMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}" action="#{sliderMB.saveSliderAndHide}"
                                         validateClient="true" process="@form" update="form_messages"
                                         icon="ui-icon ui-icon-save"
                                         styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true"
                                         onclick="PF('dlgSlider').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/></div>
                </div>


            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgSlider" resetValues="true"/>
        </p:dialog>

    </ui:define>

</ui:composition>

