<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.stockIn']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.stockIn']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <p:dataTable var="stck" lazy="true" value="#{stockInMB.stockInCustomLazyDataModel}"
                                     id="stckDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{stck.id}" paginator="true" rows="5">

                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages" action="#{stockInMB.addNewStockIn}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">
                                #{index+1}
                            </p:column>
                            <p:column filterBy="#{stck.voucherNo}" filterMatchMode="contains"
                                      headerText="#{msg['common.stockin.voucherNo']}"
                                      width="120">
                                #{stck.voucherNo}
                            </p:column>
                            <p:column headerText="#{msg['common.code']}">
                                #{stck.item.code}
                            </p:column>
                            <p:column headerText="#{msg['msg.stockItem.item']}">
                                #{stck.item.name.get(stck.currentLanguage)}
                            </p:column>

                            <p:column headerText="#{msg['common.barcode']}">
                                #{stck.item.barcodeString}
                            </p:column>
                            <p:column headerText="#{msg['common.stockin.quantity']}" width="50">
                                #{stck.quantity}
                            </p:column>

                            <p:column width="50">
                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                 title="#{msg['common.remove']}"
                                                 action="#{stockInMB.deleteStockIn(stck)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgStockIn" id="dlgStockIn" modal="true" blockScroll="true"
                  header="#{msg['common.defin.item.quantity']}" responsive="true" width="auto" style="max-width: 50%"
                  closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="stckFrm">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="1" columnClasses="ui-grid-col-6 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">


                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.stockin.voucherNo']}" for="voucherNo"/>
                                    <p:inputText id="voucherNo" value="#{stockInMB.selectedStockItem.voucherNo}"
                                                 required="true"/>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.stockin.quantity']}" for="quantity"/>
                                    <p:inputNumber id="quantity" value="#{stockInMB.selectedStockItem.quantity}"
                                                   required="true"/>
                                </h:panelGroup>


                                <h:panelGroup layout="block">
                                    <p:outputLabel for="console" value="#{msg['msg.stockItem.item']}"/>
                                    <p:selectOneMenu id="console" value="#{stockInMB.selectedStockItem.item}"
                                                     widgetVar="WvItem" filter="true" filterMatchMode="contains"
                                                     required="true"
                                                     converter="omnifaces.SelectItemsConverter"
                                                     onkeyup="if (event.keyCode == 13) {PF('BtnAdd').jq.click()}"
                                                     style="margin-bottom:10px;" dynamic="true">
                                        <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                        <f:selectItems value="#{stockInMB.itemList}" var="item"
                                                       itemValue="#{item}"
                                                       itemLabel="#{item.name.get(currentLanguage.locale)} - #{item.barcodeString}"/>

                                    </p:selectOneMenu>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                     widgetVar="BtnAdd" validateClient="true"
                                                     style="width:auto; margin: auto 10px"
                                                     title="#{msg['common.remove']}"
                                                     oncomplete="PF('WvItem').focus();PF('WvItem').show();$(PF('WvItem').filterInput).val('')"
                                                     icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                     update="@form:form_messages" action="#{stockInMB.addNewItem}"/>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.stockIn']}</h1>

                        <p:dataTable var="stckItem" value="#{stockInMB.stockInAddedList}"
                                     id="itemDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{stckItem.id}" paginator="true" rows="5">

                            <p:column headerText="#" width="50">
                                #{index+1}
                            </p:column>
                            <p:column headerText="#{msg['msg.stockItem.item']}">
                                #{stckItem.item.name.get(stckItem.currentLanguage)}
                            </p:column>
                            <p:column headerText="#{msg['common.barcode']}">
                                #{stckItem.item.barcodeString}
                            </p:column>
                            <p:column headerText="#{msg['common.code']}">
                                #{stckItem.item.code}
                            </p:column>
                            <p:column headerText="#{msg['common.stockin.quantity']}" width="50">
                                #{stckItem.quantity}
                            </p:column>
                            <p:column width="70">
                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                 action="#{stockInMB.deleteItem(stckItem)}" update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}"
                                               message="#{msg['msg.confirmDelete']}" icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>

                <div class="ui-g-12 ui-lg-12">
                    <h:panelGroup layout="block" styleClass="ui-g-4">
                        <p:commandButton id="saveBtn" value="#{msg['common.save']}"
                                         action="#{stockInMB.saveStockInAndHide}"
                                         process="@this" immediate="true" update="@form"
                                         icon="ui-icon ui-icon-save" styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>

                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true"
                                         onclick="PF('dlgStockIn').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/>
                    </div>
                </div>
            </h:form>
            <p:ajax event="close" immediate="true" update="@parent @this dlgStockIn" resetValues="true"/>
        </p:dialog>

    </ui:define>

</ui:composition>

