<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/admin/template.xhtml">

    <ui:define name="title">#{msg['common.vendors']}</ui:define>

    <ui:define name="head">


    </ui:define>

    <ui:define name="content">

        <div class="ui-g ui-fluid">
            <h:form id="main_from">

                <div class="ui-g-12 ui-lg-12">
                    <div class="card card-w-title">
                        <h1>#{msg['common.vendors']}</h1>

                        <p:messages id="form_messages" closable="true"/>

                        <p:dataTable var="cel" lazy="true" value="#{vendorMB.vendorCustomLazyDataModel}"
                                     id="catDtl" paginatorPosition="bottom"
                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rowKey="#{cel.id}" paginator="true" rows="5">
                            <f:facet name="header">
                                <p:commandButton iconPos="#{guestPreferences.getPos()}" styleClass=" amber-btn"
                                                 validateClient="true" style="width:auto; margin: auto 10px"
                                                 icon="fa fa-plus" value="#{msg['common.add']}" process="@form"
                                                 update="@form:form_messages"
                                                 action="#{vendorMB.addNewVendor()}"/>
                            </f:facet>
                            <p:column headerText="#" width="50">#{index+1}</p:column>
                            <p:column headerText="#{msg['common.firstName']}" sortable="true" filterable="true"
                                      filterBy="#{cel.firstName}"
                                      sortBy="#{cel.firstName}">#{cel.firstName}</p:column>
                            <p:column headerText="#{msg['common.lastName']}" sortable="true" filterable="true"
                                      filterBy="#{cel.lastName}"
                                      sortBy="#{cel.lastName}">#{cel.lastName}</p:column>


                            <p:column headerText="#{msg['common.email']}" sortable="true" filterable="true"
                                      styleClass="TxtLeft"
                                      filterBy="#{cel.email}"
                                      sortBy="#{cel.email}"><h:outputText value="#{cel.email}" dir="LTR"/></p:column>

                            <p:column headerText="#{msg['common.phone']}" sortable="true" filterable="true"
                                      styleClass="TxtLeft"
                                      filterBy="#{cel.phone}"
                                      sortBy="#{cel.phone}">
                                <h:outputText value="#{cel.phone}" dir="LTR"/>

                            </p:column>

                            <p:column headerText="#{msg['common.gender']}" sortable="true" filterable="true"
                                      filterBy="#{cel.genderEnum}"
                                      sortBy="#{cel.genderEnum}">
                                <h:outputText value=" #{msg['common.'.concat(cel.genderEnum)]}"
                                              rendered="#{cel.genderEnum ne null}"/>

                            </p:column>
                            <p:column headerText="#{msg['common.code']}" sortable="true" filterable="true"
                                      filterBy="#{cel.code}"
                                      sortBy="#{cel.code}">
                                <h:outputText value="#{cel.code}"/>

                            </p:column>


                            <p:column headerText="#{msg['common.pic']}">

                                <p:lightBox styleClass="imagebox" blockScroll="true" rendered="#{cel.image ne null}">

                                    <h:outputLink styleClass="link#{cel.image.id}"
                                                  title="Image">

                                        <p:graphicImage styleClass="img#{cel.image.id}"
                                                        width="90%" height="150" cache="true"
                                                        value="#{imageMb.imageStream}" stream="true">
                                            <f:param value="#{cel.image.id}" name="ids"/>
                                            <f:param value="#{cel.image.versionId}"
                                                     name="cache"/>
                                        </p:graphicImage>

                                    </h:outputLink>

                                    <script>
                                        $('.link#{cat.image.id}').attr("href", $('.img#{cat.image.id}')[0].src);
                                    </script>


                                </p:lightBox>

                            </p:column>

                            <p:column headerText="#{msg['common.active']}" width="120" sortBy="#{cel.active}">
                                <p:selectBooleanButton style="opacity: 1" disabled="true" value="#{cel.active}"
                                                       offLabel="#{msg['common.notActive']}"
                                                       onLabel="#{msg['common.active']}"/>

                            </p:column>

                            <p:column width="70">
                                <p:commandButton icon="fa fa-edit" process="@this" styleClass="amber-btn"
                                                 action="#{vendorMB.editVendor(cel)}"/>

                                <p:commandButton icon="fa fa-close" styleClass="blue-grey-btn" process="@this"
                                                  action="#{vendorMB.deleteVendor(cel)}"
                                                 update="@form">
                                    <p:confirm header="#{msg['msg.confirm']}" message="#{msg['msg.confirmDelete']}"
                                               icon="ui-icon-alert"/>
                                </p:commandButton>
                            </p:column>

                        </p:dataTable>
                    </div>

                </div>
            </h:form>

        </div>

        <p:dialog widgetVar="dlgVendor" id="dlgVendor" modal="true" blockScroll="true"
                  header="#{msg['common.defin.category']}" responsive="true" fitViewport="true" closeOnEscape="true"
                  maximizable="true" dynamic="true" showEffect="fade" hideEffect="fade" position="top">
            <h:form id="catFrm">
                <p:messages id="form_messages"/>


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="2" columnClasses="ui-grid-col-6 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">


                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.firstName']}" for="firstName"/>
                                    <p:inputText id="firstName" value="#{vendorMB.selectedAccount.firstName}"/>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.lastName']}" for="lastName"/>
                                    <p:inputText id="lastName" value="#{vendorMB.selectedAccount.lastName}"/>
                                </h:panelGroup>

                                <h:panelGroup layout="block" class="checkout-form-list ">
                                    <p:outputLabel for="gender"
                                                   value="#{msg['common.gender']}"/>
                                    <p:selectOneRadio id="gender"
                                                      value="#{vendorMB.selectedAccount.genderEnum}"
                                                      required="true">
                                        <f:selectItem itemValue="MALE"
                                                      itemLabel="#{msg['common.MALE']}"/>
                                        <f:selectItem itemValue="FEMALE"
                                                      itemLabel="#{msg['common.FEMALE']}"/>
                                    </p:selectOneRadio>

                                </h:panelGroup>
                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.code']}" for="code"/>
                                    <p:inputText id="code" required="true" value="#{vendorMB.selectedAccount.code}"/>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.country']}" for="cs"/>

                                    <p:selectOneMenu
                                            value="#{vendorMB.selectedCountryShipment}"
                                            styleClass="wide custSelect"
                                            id="cs"
                                            valueChangeListener="#{vendorMB.changeCountry}"
                                            requiredMessage="#{msg['common.country']} #{msg['common.required']}"
                                            converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem noSelectionOption="true"
                                                      itemLabel="#{msg['msg.select']}"/>
                                        <f:selectItems
                                                value="#{accountMB.countryShipmentList}"
                                                var="co"
                                                itemLabel="#{co.country.discriminator[co.currentLanguage]}"
                                                itemValue="#{co}"/>
                                        <p:ajax process="cs" update="country phone"/>

                                    </p:selectOneMenu>
                                </h:panelGroup>
                                <h:panelGroup layout="block">
                                    <p:outputLabel for="country" value="#{msg['common.city']}"/>
                                    <p:selectOneMenu
                                            value="#{vendorMB.selectedAccount.city}"
                                            styleClass="wide custSelect"
                                            required="false" id="country"
                                            requiredMessage="#{msg['common.city']} #{msg['common.required']}">
                                        <f:selectItem noSelectionOption="true"
                                                      itemLabel="#{msg['msg.select']}"/>
                                        <f:selectItems
                                                value="#{vendorMB.cities}"
                                                var="co"
                                                itemLabel="#{co}"
                                                itemValue="#{co}"/>

                                    </p:selectOneMenu>
                                </h:panelGroup>

                                <h:panelGroup layout="block">
                                    <p:outputLabel value="#{msg['common.email']}" for="email"/>
                                    <p:inputText rendered="true"
                                                 type="text" dir="ltr" style="text-align: left;direction: ltr"
                                                 id="email" required="true"
                                                 validatorMessage="#{msg['common.invalidEmail']}"
                                                 value="#{vendorMB.selectedAccount.email}">
                                        <f:validateRegex
                                                pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                    </p:inputText> </h:panelGroup>

                                <h:panelGroup layout="block"
                                              class="checkout-form-list ">
                                    <p:outputLabel for="phone"
                                                   value="#{msg['common.phone']}"/>
                                    <pe:inputPhone dir="ltr" required="true"
                                                   id="phone"
                                                   value="#{vendorMB.selectedAccount.phone}"
                                                   style="width:100%"
                                                   initialCountry="#{vendorMB.selectedAccount.phoneCode}">
                                        <p:ajax event="countrySelect"
                                                listener="#{vendorMB.onCountrySelect}"/>
                                    </pe:inputPhone>
                                    <p:watermark for="phone"
                                                 value="#{msg['common.phone']}"/>

                                </h:panelGroup>


                                <h:panelGroup layout="block" id="container" style="text-align: center;">
                                    <p:commandButton value="#{msg['common.uplouad.img']}" styleClass="green-btn"
                                                     type="button"
                                                     icon="ui-icon ui-icon-file-upload"
                                                     onclick="PF('Upload').chooseButton.click()"/>
                                    <p:fileUpload fileUploadListener="#{vendorMB.upload}" mode="advanced"
                                                  update="container" label=" #{msg['common.pic']}" auto="true"
                                                  widgetVar="Upload" style="display: none"
                                                  allowTypes="/(\.|\/)(gif|jpg|jpe?g|png)$/i"
                                                  cancelLabel="#{msg['common.cancel']}"/>


                                    <p:lightBox styleClass="imagebox" id="lighbox1" blockScroll="true"
                                                rendered="#{vendorMB.selectedAccount.image ne null}">
                                        <h:outputLink styleClass="link#{vendorMB.selectedAccount.image.id}"
                                                      title="Image">

                                            <p:graphicImage styleClass="img#{vendorMB.selectedAccount.image.id}"
                                                            width="300px" height="150" cache="true"
                                                            value="#{imageMb.imageStream}"
                                                            stream="true">
                                                <f:param value="#{vendorMB.selectedAccount.image.id}" name="ids"/>
                                                <f:param value="#{vendorMB.selectedAccount.image.versionId}"
                                                         name="cache"/>
                                            </p:graphicImage>

                                        </h:outputLink>

                                        <script>
                                            $('.link#{vendorMB.selectedAccount.image.id}').attr("href", $('.img#{vendorMB.selectedAccount.image.id}')[0].src);
                                        </script>

                                    </p:lightBox>
                                </h:panelGroup>


                            </p:panelGrid>
                            <br/>
                            <p:separator/>
                            <p:selectBooleanButton rendered="#{vendorMB.editMode}" offLabel="changePassword " onLabel="keep Password " value="#{vendorMB.changePassword}">
                                <p:ajax partialSubmit="true" process="@this" update="ps"/>
                            </p:selectBooleanButton>
                            <p:panelGrid id="ps" columns="2" columnClasses="ui-grid-col-6 ,ui-grid-col-6" layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">
                                <h:panelGroup layout="block" rendered="#{vendorMB.editMode ?  vendorMB.changePassword :true}"
                                              class="checkout-form-list "
                                >
                                    <p:outputLabel for="password"
                                                   value="#{msg['common.password']}"/>
                                    <p:password id="password" required="true"
                                                match="passwordConfirm"
                                                validatorMessage="#{msg['common.passwordNotMatch']}"
                                                value="#{vendorMB.selectedAccount.password}"/>
                                    <p:watermark for="password"
                                                 value="#{msg['common.password']}"/>

                                </h:panelGroup>

                                <h:panelGroup layout="block" rendered="#{vendorMB.editMode ?  vendorMB.changePassword :true}"
                                              class="checkout-form-list "
                                >

                                    <p:outputLabel for="passwordConfirm"
                                                   value="#{msg['common.passwordConfirm']}"/>
                                    <p:password id="passwordConfirm"
                                                required="true"
                                                value="#{vendorMB.selectedAccount.passwordConfirm}"/>
                                    <p:watermark for="passwordConfirm"
                                                 value="#{msg['common.passwordConfirm']}"/>

                                </h:panelGroup>


                            </p:panelGrid>


                        </div>
                    </div>
                </div>


                <div class="ui-g">


                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{vendorMB.editMode}">
                        <p:commandButton value="#{msg['msg.btn.edit']}" validateClient="true"
                                         action="#{vendorMB.saveVendorAndHide()}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!vendorMB.editMode}">
                        <p:commandButton value="#{msg['common.saveAndContinue']}" validateClient="true"
                                         action="#{vendorMB.saveVendor()}"
                                         icon="ui-icon ui-icon-send" process="@form" update="form_messages"
                                         styleClass="amber-btn" style="width:100%"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="ui-g-4" rendered="#{!vendorMB.editMode}">
                        <p:commandButton value="#{msg['common.save']}" action="#{vendorMB.saveVendorAndHide()}"
                                         validateClient="true" process="@form" update="form_messages"
                                         icon="ui-icon ui-icon-save"
                                         styleClass="teal-btn" style="width:100%"/>
                    </h:panelGroup>
                    <div class="ui-g-4">
                        <p:commandButton value="#{msg['common.cancel']}" immediate="true" process="@this"
                                         onclick="PF('dlgVendor').hide()" icon="ui-icon ui-icon-clear"
                                         styleClass="red-btn" style="width:100%"/></div>
                </div>


            </h:form>
            <p:ajax event="close" immediate="true" process="@this" update="@parent @this dlgVendor"
                    global="false" resetValues="true"/>
        </p:dialog>

    </ui:define>

</ui:composition>

