<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html">


    <!-- Hero Banner Area Start Here -->
    <div class="hero-banner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 ">
                    <div class="banner-inner-top">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="single-banner zoom">
                                    <a href="#{request.contextPath}/#{adsMB.ads4.url}">
                                        <p:graphicImage name="img/banner/b9.jpg" library="store"
                                                        rendered="#{!adsMB.checkSaveAds(4)}" alt="banner-img"/>

                                        <p:fragment rendered="#{adsMB.checkSaveAds(4)}" >

                                            <img class="lazy" data-src="#{imageMb.getImageUrl(adsMB.ads4.image)}" />
                                        </p:fragment>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="banner-inner-top">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="single-banner zoom">
                                    <a href="#{request.contextPath}/#{adsMB.ads1.url}">
                                        <p:graphicImage width="100%" name="img/banner/b10.jpg" library="store"
                                                        alt="banner-img"
                                                        rendered="#{!adsMB.checkSaveAds('1')}"/>
                                        <p:fragment rendered="#{adsMB.checkSaveAds(1)}" >

                                            <img class="lazy" data-src="#{imageMb.getImageUrl(adsMB.ads1.image)}" />
                                        </p:fragment>


                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="single-banner zoom">
                                    <a href="#{request.contextPath}/#{adsMB.ads2.url}">
                                        <p:graphicImage name="img/banner/b11.jpg" library="store"
                                                        rendered="#{!adsMB.checkSaveAds(2)}" alt="banner-img"/>
                                        <p:fragment rendered="#{adsMB.checkSaveAds(2)}" >

                                            <img class="lazy" data-src="#{imageMb.getImageUrl(adsMB.ads2.image)}" />
                                        </p:fragment>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner-inner-bottom single-banner zoom mt-30">
                        <a href="#{adsMB.ads3.url}">
                            <p:graphicImage width="100%" name="img/banner/b12.jpg" library="store"
                                            rendered="#{!adsMB.checkSaveAds(3)}" alt="banner-img"/>
                            <p:fragment rendered="#{adsMB.checkSaveAds(3)}" >

                                <img class="lazy" data-src="#{imageMb.getImageUrl(adsMB.ads3.image)}" />
                            </p:fragment>


                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Banner Area End Here -->

</ui:composition>