<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:elle="http://java.sun.com/jsf/composite/components">

    <br/>
    <!-- New Arrival Products Start Here -->
    <h:panelGroup layout="block" styleClass="new-arrival no-border-style ptb-5 LTR"
                  rendered="#{not empty homeMB.bestPriceItem}">
        <h:form id="frmbest">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title text-center">

                    <h4>#{msg['common.bestPrice']}</h4>
                    <!--
                                        <p>#{msg['common.newArrivals']} &lt;!&ndash;#{msg['common.newArrivals.desc']}&ndash;&gt;</p>
                    -->
                </div>
                <!-- Section Title End -->
                <div class="our-pro-active owl-carousel">
                    <p:repeat value="#{homeMB.bestPriceItem}" var="product">

                        <!-- Single Product Start Here -->
                        <div class="single-makal-product">
                            <div class="pro-img">
                                <a href="#{request.contextPath}/product-details.xhtml?id=#{product.id}">


                                    <p:fragment rendered="#{not empty product.image}" >

                                        <img class="lazy" alt="#{product.name[currentLanguage.locale]}" data-src="#{imageMb.getImageUrl(product.image.get(0))}" />
                                    </p:fragment>


                                    <p:graphicImage rendered="#{empty product.image}" library="store"
                                                    name="img/products/p1.jpg"/>

                                </a>



                                <h:outputLabel styleClass="sticker-new" value="#{msg['common.new']}"
                                               rendered="#{product.newItem}"/>

                                <h:panelGroup styleClass="sticker-sale" rendered="#{product.haveDiscount}">
                                    -  #{product.discount} %
                                </h:panelGroup>
                                <h:outputLabel styleClass="sticker-new"
                                               style="bottom: 0;top: auto;background: red;" value="#{msg['common.outStock']}"
                                               rendered="#{productDetailsMB.getAvailableQty(product.id) le 0}"/>

                                <div class="quick-view-pro">
                                    <p:commandLink data-toggle="modal" data-target="#product-window"
                                                   styleClass="quick-view" href="#"
                                                   immediate="true" update=":frmModl" process="@this"
                                                   oncomplete="$('.do-quick-view').click()"
                                                   onclick="viewPdoduct([{name:'productId', value:'#{product.id}'}])"/>
                                </div>
                            </div>

                            <div class="pro-content">
                                <h4 class="pro-title" dir="#{guestPreferences.dir}">
                                    <a href="#{request.contextPath}/product-details.xhtml?id=#{product.id}">#{product.name.get(product.currentLanguage)}</a>
                                </h4>
                                <p>


                                    <span class="price">
                                                              <elle:price value="#{product.finalPrice} "/>
                                                    </span>
                                    <span class="prev-price">
                                            <elle:price value="#{product.price} " rendered="#{product.haveDiscount}" />
                                        </span>


                                </p>
                                <div class="pro-actions" dir="#{guestPreferences.dir}">
                                    <div class="actions-primary" dir="#{guestPreferences.dir}">
                                        <p:commandLink class="add-to-carts c " data-toggle="tooltip"
                                                       onclick="addToCart([{name:'productId', value:'#{product.id}'} , {name:'qty', value:'1'}])"
                                                       title="#{msg['common.addToCart']}"
                                                       data-original-title="#{msg['common.addToCart']}">
                                            <span class="fa fa-shopping-cart"/>
                                        </p:commandLink>
                                        <p:commandLink class="c addToWishlist" data-toggle="tooltip"
                                                       onclick="addToWishlist([{name:'productId', value:'#{product.id}'}])"
                                                       title="#{msg['common.addToWishlist']}"
                                                       data-original-title="#{msg['common.addToWishlist']}">
                                            <span class="fa fa-star"/>
                                        </p:commandLink>

                                    </div>


                                    <ui:remove>

                                        <div class="actions-secondary">
                                            <div class="rating">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </ui:remove>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product End Here -->
                    </p:repeat>


                </div>
            </div>

        </h:form>
        <br/>
    </h:panelGroup>


</ui:composition>