<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <!-- Brand Activation Start Here -->


    <h:panelGroup layout="block" styleClass="brand-area ptb-90" rendered="#{not empty homeMB.brandList}"
                  style="direction: ltr">

        <div class="container">
            <!-- Brand Logo Active Start Here -->
            <div class="brand-logo-active owl-carousel">
                <p:repeat value="#{homeMB.brandList}" var="brand">

                    <div class="single-brand">
                        <a href="#{request.contextPath}/shop.xhtml?bId=#{brand.id}">


                            <p:fragment rendered="#{brand.image ne null}" >

                                <img class="lazy" style="width: 170px;height: 130px;" alt="#{brand.name.get(brand.currentLanguage)}"
                                     data-src="#{imageMb.getImageUrl(brand.image)}" />
                            </p:fragment>




                            <p:graphicImage rendered="#{brand.image eq null}" library="store"
                                            style="width: 170px;height: 130px;" name="img/brand/b5.jpg"/>


                        </a>
                    </div>
                </p:repeat>

            </div>
            <!-- Brand Logo Active End Here -->
        </div>

        <!-- Brand Activation End Here -->
    </h:panelGroup>

</ui:composition>