<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <h:panelGroup layout="block" styleClass="categories-of-pro pt-20 LTR" rendered="#{not empty homeMB.categoryList}">
        <div class="container-fluid">
            <!-- Categorie Product Activation Start Here -->
            <div class="categorie-pro-active owl-carousel">
                <!-- Single Cat Pro Start -->

                <p:repeat value="#{homeMB.categoryList}" var="cat">


                    <div class="single-categorie">
                        <div class="cat-img">
                            <a href="#{request.contextPath}/shop.xhtml?cId=#{cat.id}">


                                    <img   alt="#{cat.name.get(cat.currentLanguage)}"
                                         src="#{imageMb.getImageUrl(cat.image)}" />

                            </a>
                            <!--  <div class="cat-content">
                                  <a href="#">#{cat.name.get(currentLanguage.locale)}</a>
                              </div>-->
                        </div>
                    </div>
                </p:repeat>
                <!-- Single Cat Pro End -->
            </div>
            <!-- Categorie Product Activation End Here -->
        </div>
    </h:panelGroup>


</ui:composition>