<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:elle="http://java.sun.com/jsf/composite/components" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <a data-toggle="modal" class="do-quick-view" href="#" onclick="PF('do-quick-view').show()"
       style="display: none"></a>
    <p:dialog showHeader="false" widgetVar="do-quick-view" closeOnEscape="true" hideEffect="fade"
              responsive="true" style="max-width: 90%;background: white;max-height: 90vh;overflow: auto;"
              resizable="false" draggable="false"
              appendTo="@(body)" blockScroll="true "
              onShow="PF('do-quick-view').initPosition()" closable="true" position="center center" modal="true">
        <h:form id="frmModl">
            <a href="#" style="font-size: 19px;" onclick="PF('do-quick-view').hide(); return false;">
                <i class="fa fa-close"/>
            </a>
            <p:remoteCommand name="viewPdoduct" immediate="true" process="@this" update="@form"
                             action="#{homeMB.viewPdoduct}"/>
            <h:panelGroup id="modal-body" styleClass="modal-body" layout="block"
                          rendered="#{homeMB.selectedItem ne null}">
                <div class="row">
                    <!-- Main Thumbnail Image Start -->
                    <div class="col-lg-5 col-md-6 mb-all-40">
                        <!-- Thumbnail Large Image start -->

                        <p:galleria value="#{homeMB.selectedItem.image}" var="image"
                                    style="max-width: 100%;    height: 100%;"
                                    panelHeight="313" showCaption="false" autoPlay="false">

                            <p:graphicImage data-fancybox="images" style="max-width: 100%"
                                         cache="true"   alt="#{homeMB.selectedItem.name.get(homeMB.selectedItem.currentLanguage)}"
                                             value="#{imageMb.getImageUrl(image)}"
                            />

                        </p:galleria>

                        <ui:remove>
                            <div class="tab-content">
                                <ui:repeat value="#{homeMB.selectedItem.image}" var="image" varStatus="st">
                                    <div id="pro-#{st.index}"
                                         class="tab-pane fade #{st.index eq 0 ? 'show active':''}">
                                        <a data-fancybox="images" class="link#{image.id}"
                                           href="#{imageMb.getImageUrl(image)}">

                                            <p:graphicImage cache="true"
                                                    alt="#{homeMB.selectedItem.name.get(currentLanguage.locale)}"
                                                    styleClass="img"
                                                    value="#{imageMb.getImageUrl(image)}"/>
                                        </a>

                                    </div>
                                </ui:repeat>

                            </div>
                            <!-- products Large Image End -->
                            <!-- products Image End -->
                            <div class="product-thumbnail">
                                <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                                    <ui:repeat value="#{homeMB.selectedItem.image}" var="image"
                                               varStatus="st">
                                        <a class="active" data-toggle="tab" href="#pro-#{st.index}">

                                            <p:graphicImage cache="true"
                                                    alt="#{homeMB.selectedItem.name.get(homeMB.selectedItem.currentLanguage)}"
                                                    url="#{imageMb.getImageUrl(image)}"/>
                                        </a>
                                    </ui:repeat>
                                </div>
                            </div>
                            <!-- Thumbnail image end -->
                        </ui:remove>
                    </div>
                    <!-- Main Thumbnail Image End -->
                    <!-- Thumbnail Description Start -->
                    <div class="col-lg-7 col-md-6">
                        <div class="thubnail-desc fix">
                            <h3 class="product-header">#{homeMB.selectedItem.name.get(homeMB.selectedItem.currentLanguage)}</h3>
                            <ui:remove>
                                <ul class="rating-summary">
                                    <li class="rating-pro">
                                        <i class="fa fa-star"/>
                                        <i class="fa fa-star"/>
                                        <i class="fa fa-star-o"/>
                                        <i class="fa fa-star-o"/>
                                        <i class="fa fa-star-o"/>
                                    </li>
                                    <li class="read-review">
                                        <a href="#">read reviews (1)</a>
                                    </li>
                                    <li class="write-review">
                                        <a href="#">write review</a>
                                    </li>
                                </ul>
                            </ui:remove>
                            <div class="pro-thumb-price mt-10">
                                <p class="d-flex align-items-center">
                                                    <span class="prev-price"><elle:price
                                                            rendered="#{homeMB.selectedItem.haveDiscount}"
                                                            value="#{homeMB.selectedItem.price}"/></span>
                                    <span class="price"> <elle:price
                                            value="#{homeMB.selectedItem.finalPrice}"/></span>

                                    <h:panelGroup styleClass="saving-price"
                                                  rendered="#{homeMB.selectedItem.haveDiscount}">
                                        <h:outputText value="-#{homeMB.selectedItem.discount}%"/>
                                    </h:panelGroup>
                                </p>
                            </div>
                            <br/>
                            <h:outputText value="#{msg['common.productCode']} :  "/>
                            <h:outputLabel styleClass="code-box" value="#{homeMB.selectedItem.code} "/>
                            <p class="pro-desc-details">#{homeMB.selectedItem.name.get(homeMB.currentLanguage)}</p>

                            <ui:remove>
                                <div class="product-size mtb-30 clearfix">
                                    <label>Size</label>
                                    <select class="">
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                    </select>
                                </div>
                                <div class="color clearfix mb-30">
                                    <label>color</label>
                                    <ul class="color-list">
                                        <li>
                                            <a class="white" href="#"/>
                                        </li>
                                        <li>
                                            <a class="orange active" href="#"/>
                                        </li>
                                        <li>
                                            <a class="paste" href="#"/>
                                        </li>
                                    </ul>
                                </div>
                            </ui:remove>
                            <div class="quatity-stock">
                                <ul class="d-flex flex-wrap  align-items-center">
                                    <li class="box-quantity">

                                        #{msg['common.quantity']}
                                        <input readonly="true" id="qty" class="quantity" type="number" min="1"
                                               value="1"/>

                                        <span style="position: relative ;    display: inline-block;">

                                            <a onclick="$('#qty').val(parseInt($('#qty').val()) + 1 );"
                                               style="cursor: pointer; position: absolute;top:-20px;color: blue;pointer-events: painted;">
                                                <i class="fa fa-plus "/>
                                            </a>                                            <a
                                                onclick="if ($('#qty').val()==1) return;  $('#qty').val(parseInt($('#qty').val()) - 1 );"
                                                style="cursor: pointer; position: absolute;top:0px;color: red;pointer-events: painted;">
                                                <i class="fa fa-minus "/>
                                            </a>
                                            </span>


                                    </li>
                                    <li>

                                        <p:button styleClass="pro-cart "
                                                  title=" #{msg['common.addToCart']}"
                                                  icon="fa fa-shopping-cart "
                                                  onclick="addToCart([{name:'productId', value:'#{homeMB.selectedItem.id}'} , {name:'qty', value:$('#qty').val()}]) ;return false;">


                                        </p:button>


                                    </li>
                                    <li>

                                        <p:button styleClass="pro-cart amber-btn"
                                                  title="#{msg['common.addToWishlist']}"
                                                  icon="fa fa-star"
                                                  onclick="addToWishlist([{name:'productId', value:'#{homeMB.selectedItem.id}'}]) ;return false;">


                                        </p:button>

                                    </li>

                                </ul>
                                <p:spacer width="100%" height="10px"/>
                                <p>

                                    <span class="in-stock">
                                        <i class="ion-checkmark-round"/>
                                        <h:outputText style="background-color: red; color: white;padding: 5px"
                                                      rendered="#{productDetailsMB.getAvailableQty(homeMB.selectedItem.id) le 0}"
                                                      value="#{msg['common.outStock']}"/>
                                    </span>

                                </p>
                            </div>
                            <div class="social-sharing mt-30">

                                #{msg['common.share']}
                                <pe:social id="socialMedia"
                                           shares="twitter,facebook,pinterest,googleplus,whatsapp,linkedin,email"
                                           url="#{utils.getFullUrlApp()}/product-details.xhtml?id=#{homeMB.selectedItem.id}"
                                           text="#{configMB.getConf(conf.NAME.name())} : #{homeMB.selectedItem.name[currentLanguage.locale]}"
                                           theme="classic" style="font-size:12px;display:inline-block" showLabel="false"
                                           showCount="false" emailTo="#{configMB.getConf(conf.EMAIL.name())}"
                                           twitterHashtags="#{configMB.getConf(conf.NAME.name())},Store, KSA"
                                           onclick="console.log('share ' +this.share + ' url ' + this.url + ' at ' + e.timeStamp);"/>
                                <ui:remove>
                                    <ul>
                                        <li><label>#{msg['common.share']}</label></li>
                                        <li>
                                            <a target="_blank" rel="external"
                                               href="http://www.facebook.com/sharer.php?u=#{utils.getFullUrlApp()}/product-details.xhtml?id=#{homeMB.selectedItem.id}">
                                                <i class="fa fa-facebook" aria-hidden="true"/>
                                            </a>
                                        </li>
                                        <li><a target="_blank" rel="external"
                                               href="https://twitter.com/intent/tweet?text=#{homeMB.selectedItem.name[currentLanguage.locale]}&amp;url=#{utils.getFullUrlApp()}/product-details.xhtml?id=#{homeMB.selectedItem.id}"><i
                                                class="fa fa-twitter" aria-hidden="true"></i></a></li>

                                    </ul>
                                </ui:remove>
                            </div>
                        </div>
                    </div>
                    <!-- Thumbnail Description End -->
                </div>
                <script>
                    $(function () {
                        $('button').tooltip();
                    });
                </script>
                <h:outputScript library="store" name="js/main.js"/>
            </h:panelGroup>
        </h:form>
    </p:dialog>

</ui:composition>