<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <style>
        .slider-area .bg-image-1 {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        @media (max-width: 1300px) {

            .slider-area .bg-image-1 {

                background-size: 100% 100%;
            }


        }

        /*=============== Medium (md) Device ===============*/
        .owl-carousel .fullscreen::before {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;


        }
    </style>


    <!-- Slider Area Start -->
    <h:panelGroup layout="blcok" styleClass="slider-area slider-style-three LTR"
                  rendered="#{not empty homeMB.sliderList}">
        <!-- Slider Area Start Here -->
        <div class="slider-activation owl-carousel">
            <!-- Start Single Slide -->

            <p:repeat value="#{homeMB.sliderList}" var="slide">


                <div class="slide align-center-left fullscreen animation-style-01 bg-image-1 divS#{slide.id}"
                     style="background-image :url('#{imageMb.getImageUrl(slide.image)}')">

                    <div class="slider-progress"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="slider-content">

                                    <h:panelGroup layout="block" styleClass="slide-btn small-btn">
                                        <p:link href="#{slide.url}" rendered="#{not empty slide.url}">
                                            #{msg['common.shopNow']}
                                        </p:link>


                                        <p:commandLink actionListener="#{shopMB.goToShop(null)}"
                                                       rendered="#{empty slide.url}">
                                            #{msg['common.shopNow']}
                                        </p:commandLink>


                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </p:repeat>

        </div>
        <!-- Slider Area End Here -->
    </h:panelGroup>
    <!-- Slider Area End -->

</ui:composition>