<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:elle="http://java.sun.com/jsf/composite/components">

<p:dialog widgetVar="dlgProductItem" id="dlgProductItem" modal="true" blockScroll="true"
          closeOnEscape="true" maximizable="true" dynamic="true"
          showEffect="fade" hideEffect="fade" style="max-width: 70%"
          position="center center">
    <f:facet name="header">
        <h:outputLabel id="headerOrder" value="#{msg['common.orderDetails']}  #  :#{accountMB.selectedOrder.id}"/>
    </f:facet>
    <h:form id="ProductItemFrm">
        <p:messages id="form_messages"/>

        <div class="ui-g-12 ui-lg-12">
            <div class="card card-w-title">


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="6"
                                         columnClasses="ui-grid-col-2 diffColor,ui-grid-col-2, diffColor ui-grid-col-2  ,ui-grid-col-2, diffColor ui-grid-col-2,ui-grid-col-2"
                                         layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">


                                <h:outputLabel value="رقم الطلب :"/>
                                <h:outputLabel value="#{accountMB.selectedOrder.id}"/>
                                <h:outputLabel value="رقم الفاتورة :"/>
                                <h:outputLabel value=" #{utils.formatInvoice(accountMB.selectedOrder.invoiceNo)}"/>

                                <h:outputLabel value=" التاريخ: "/>
                                <h:outputText value="#{accountMB.selectedOrder.creationDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"/>
                                </h:outputText>

                                <h:outputLabel value="#{msg['common.cartTotals']} :"/>
                                <elle:priceWitouConvert code="#{accountMB.selectedOrder.currency.currencyCode}"
                                                        value="#{accountMB.selectedOrder.total}"/>


                                <h:outputLabel value="#{msg['common.couponNumber']} :"/>
                                <p:outputLabel value="#{accountMB.selectedOrder.coupon.couponNumber}"/>

                                <h:outputLabel value="#{msg['common.discount']} :"/>
                                <elle:priceWitouConvert code="#{accountMB.selectedOrder.currency.currencyCode}"
                                                        value="#{accountMB.selectedOrder.discount}"/>


                                <h:outputLabel value="#{msg['common.shipping']} :"/>
                                <elle:priceWitouConvert code="#{accountMB.selectedOrder.currency.currencyCode}"
                                                        value="#{accountMB.selectedOrder.shippingFee}"/>

                                <h:outputLabel value="#{msg['common.payment-type.fee']} :"/>
                                <elle:priceWitouConvert code="#{accountMB.selectedOrder.currency.currencyCode}"
                                                        value="#{accountMB.selectedOrder.paymentFee}"/>

                                <h:outputLabel value="#{msg['common.orderTotal']} :"/>
                                <elle:priceWitouConvert code="#{accountMB.selectedOrder.currency.currencyCode}"
                                                        value="#{accountMB.selectedOrder.total-accountMB.selectedOrder.discount +accountMB.selectedOrder.shippingFee +accountMB.selectedOrder.paymentFee}"/>
                                <h:outputLabel value="#{msg['common.payment-type']} :"/>

                                <h:outputLabel
                                        value="#{accountMB.selectedOrder.paymentType.desc[accountMB.selectedOrder.languageCode]}"/>

                                <h:outputLabel value="#{msg['common.paymentStatus']} :"/>
                                <h:outputLabel
                                        value="#{msg['tnc'.concat(accountMB.selectedOrder.paymentStatus.code)]}"/>

                                <h:outputLabel value="#{msg['common.shipmentStatus']} :"/>
                                <h:outputLabel
                                        value="#{accountMB.selectedOrder.shipmentStatus.name()}"/>

                                <h:outputLabel value="#{msg['common.customerName']} :"/>
                                <p:commandLink
                                        action="#{accountMB.viewAccountDetails(accountMB.selectedOrder.account.id)}">

                                    <h:outputLabel value="#{accountMB.selectedOrder.account.fullName}"/>
                                </p:commandLink>

                                <h:outputLabel value="#{msg['common.aramexTrackingNumber']} :"/>
                                <h:outputLabel value="#{accountMB.selectedOrder.tracking}"/>


                            </p:panelGrid>
                        </div>
                    </div>
                </div>
                <p:dataTable var="orderItem"
                             value="#{accountMB.selectedOrder.productList}"
                             id="orderItemDtl" paginatorPosition="bottom" reflow="true"
                             dir="#{guestPreferences.getDir()}"

                             emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                             paginatorAlwaysVisible="false"
                             currentPageReportTemplate="#{msg['common.showing']}
                                      {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                             paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                             rowKey="#{orderItem.id}" paginator="true" rowsPerPageTemplate="5,10,15,25"
                             rows="5">

                    <p:column headerText="#" width="50">#{index+1}</p:column>
                    <p:column headerText="#{msg['common.barcode']}" sortable="true"
                              filterBy="#{orderItem.item.barcode}"
                              sortBy="#{orderItem.item.barcode}"> #{orderItem.item.barcode}</p:column>


                    <p:column headerText="#{msg['common.productName']}" sortable="true"
                              filterBy="#{orderItem.item.name.get(orderItem.currentLanguage)}"
                              filterable="true"
                              filterMatchMode="contains"
                              sortBy="#{orderItem.item.name.get(orderItem.currentLanguage)}">#{orderItem.item.name.get(orderItem.currentLanguage)}</p:column>


                    <p:column headerText="#{msg['common.price']}" sortable="true"
                              filterBy="#{orderItem.price}"
                              sortBy="#{orderItem.price}">
                    <elle:priceWitouConvert code="#{accountMB.selectedOrder.currency.currencyCode}" value="#{orderItem.price}" />
                    </p:column>
                    <p:column headerText="#{msg['common.qty']}" sortable="true"
                              filterBy="#{orderItem.qty}"
                              sortBy="#{orderItem.qty}"> #{orderItem.qty}</p:column>

                    <p:column headerText="#{msg['common.tax']}" sortable="true" rendered="false"
                              filterBy="#{orderItem.tax}"
                              sortBy="#{orderItem.tax}"> #{orderItem.tax}</p:column>

                    <p:column headerText="#{msg['common.total']}" sortable="true"
                              filterBy="#{orderItem.total}"
                              sortBy="#{orderItem.total}"> <elle:priceWitouConvert code="#{accountMB.selectedOrder.currency.currencyCode}" value="#{orderItem.total}" /> </p:column>
                </p:dataTable>
            </div>

        </div>
    </h:form>

    <p:ajax event="close" immediate="true" update="@parent @this dlgProductItem" global="false"
            resetValues="true"/>
</p:dialog>


<p:dialog widgetVar="dlgAccountDetails" id="dlgAccountDetails" modal="true" blockScroll="true"
          closeOnEscape="true" maximizable="true" dynamic="true" appendTo="@(body)"
          showEffect="fade" hideEffect="fade" style="max-width: 100%" width="600px"
          position="center center">
    <f:facet name="header">
        <h:outputLabel id="headerdlgAccountDetails"
                       value="#{msg['common.accountDetails']}  #  :#{accountMB.orderAccountDetails.fullName}"/>
    </f:facet>
    <h:form id="dlgAccountDetailsFrm">
        <p:messages id="form_messages"/>

        <div class="ui-g-12 ui-lg-12">
            <div class="card card-w-title">


                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">

                            <p:panelGrid columns="2"
                                         columnClasses="ui-grid-col-4 diffColor,ui-grid-col-8, diffColor ui-grid-col-2  ,ui-grid-col-2, diffColor ui-grid-col-2,ui-grid-col-2"
                                         layout="grid"
                                         styleClass="ui-panelgrid-blank form-group"
                                         style="border:0px none; background-color:transparent;">


                                <h:outputLabel value="#{msg['common.name']} :"/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.fullName}"/>
                                <h:outputLabel value="#{msg['common.gender']} :"/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.genderEnum.name()}"/>

                                <h:outputLabel value="#{msg['common.country']} :"/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.country.desc}"/>

                                <h:outputLabel value="#{msg['common.city']} :"/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.city}"/>

                                <h:outputLabel value="#{msg['common.state']} : "/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.state}"/>

                                <h:outputLabel value="#{msg['common.postcode']} :"/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.postcode}"/>
                                <h:outputLabel value="#{msg['common.address']} :"/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.address}"/>

                                <h:outputLabel value="#{msg['common.email']} :"/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.email}"/>

                                <h:outputLabel value="#{msg['common.phone']} :"/>
                                <h:outputLabel value="#{accountMB.orderAccountDetails.phone.replaceAll(' ','')}"/>


                            </p:panelGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h:form>
</p:dialog>

<h:outputStylesheet>
    .diffColor {

        background-color: #E0E0E0;

    }
</h:outputStylesheet>

</html>
