<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
>

<cc:interface componentType="cust.outputText">
</cc:interface>

<cc:implementation>
	<span id="#{cc.clientId}"> <h:outputText id="lang1Output"/>
	</span>
</cc:implementation>

</html>
