<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite" xmlns:f="http://java.sun.com/jsf/core">

<cc:interface>
    <cc:attribute name="value" required="true"/>
    <cc:attribute name="qty" required="false"/>
    <cc:attribute name="code" required="false" default="#{currentCurrency.currencyCode}"/>
    <cc:attribute name="pattern" required="false" default="###,###,###.###"/>
</cc:interface>

<cc:implementation>


    <div>

    <h:outputText  dir="LTR" id="value1" value="#{cc.attrs.value}" style="text-align: left!important;">
        <f:convertNumber pattern="###,###,###.###" type="number" />
    </h:outputText>
    <h:outputText styleClass="ss" value=" #{cc.attrs.code}" />
    </div>


</cc:implementation>

</html>
