<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite" xmlns:f="http://java.sun.com/jsf/core">

<cc:interface>
    <cc:attribute name="value" required="true"/>
    <cc:attribute name="qty" required="false"/>
    <cc:attribute name="pattern" required="false"/>
</cc:interface>

<cc:implementation>
    <h:outputText value="#{cc.attrs.value}" qty="#{cc.attrs.qty}">

        <f:converter converterId="priceConverter"/>
    </h:outputText>
</cc:implementation>

</html>
