<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">

<cc:interface componentType="translator">
    <cc:attribute name="label" required="true" type="java.lang.String"/>
    <cc:attribute name="help" required="false" type="java.lang.Object"/>
    <cc:attribute name="disabled" required="false"/>
    <cc:attribute name="columnClasses" required="false" default="ui-grid-col-4,ui-grid-col-7"/>
    <cc:attribute name="required" type="java.lang.Boolean" default="true"/>
    <cc:attribute name="cols" type="java.lang.Integer" default="20"/>
    <cc:attribute name="rows" type="java.lang.Integer" default="3"/>
    <cc:attribute name="nextTabindex1"/>
    <cc:attribute name="nextTabindex2"/>
</cc:interface>

<cc:implementation>
	<span id="#{cc.clientId}"> <p:panelGrid columns="1"
                                            columnClasses="ui-grid-col-12"
                                            layout="grid" styleClass="ui-panelgrid-blank form-group">
			<p:outputLabel id="lang1Lbl" value="#{cc.attrs.label}"
                           for="lang1Input"/>

		<h:panelGroup styleClass="md-inputfield">
          <p:inputTextarea id="lang1Input" readonly="#{cc.attrs.disabled}" autoResize="false" style="resize: none;"
                           cols="#{cc.attrs.cols}" rows="#{cc.attrs.rows}"/>

			<p:commandButton id="moreBtn" icon="ui-icon-translate" original="true" update="extraLangsDlgPnlGrd"
                             process="@this"
                             onclick="PF('extraLangsDlg#{cc.clientId}Var').show();" style="position: absolute;"/>

			</h:panelGroup>

			<p:outputLabel id="lang2Lbl" value="#{cc.attrs.label}" for="lang2Input"/>
			<p:inputTextarea id="lang2Input" readonly="#{cc.attrs.disabled}" autoResize="false" style="resize: none;"
                             cols="#{cc.attrs.cols}" rows="#{cc.attrs.rows}"/>

	</p:panelGrid>

	<p:dialog id="extraLangsDlg" header="#{msg['common.otherLanguages']}" widgetVar="extraLangsDlg#{cc.clientId}Var"
              modal="true"
              closeOnEscape="true">
		<p:defaultCommand target="okBtn" scope="extraLangsDlg" rendered="#{!cc.attrs.disabled}"/>

		<p:panelGrid id="extraLangsDlgPnlGrd" columns="2">
			<f:facet name="footer">
				<p:commandButton id="okBtn" value="#{msg['common.done']}" process="extraLangsDlgPnlGrd"
                                 rendered="#{!cc.attrs.disabled}"
                                 onclick="PF('extraLangsDlg#{cc.clientId}Var').hide();"/>
			</f:facet>
		</p:panelGrid>
	</p:dialog>

	</span>


    <script type="application/javascript">
        $($(PrimeFaces.escapeClientId("#{cc.clientId}:lang1Input"))).keydown(function (e) {
            if ('#{cc.attrs.nextTabindex1}') {
                if (e.keyCode == 9) {
                    $("textarea[id*='#{cc.attrs.nextTabindex1}']").focus();
                    return false;
                }
            }
        });
        $($(PrimeFaces.escapeClientId("#{cc.clientId}:lang2Input"))).keydown(function (e) {
            if ('#{cc.attrs.nextTabindex2}') {
                if (e.keyCode == 9) {
                    $("textarea[id*='#{cc.attrs.nextTabindex2}']").focus();
                    return false;
                }
            }
        });

    </script>
</cc:implementation>

</html>
