<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">

<cc:interface componentType="translator">
    <cc:attribute name="value" required="false"/>
    <cc:attribute name="label" required="true" type="java.lang.String"/>
    <cc:attribute name="help" required="false" type="java.lang.Object"/>
    <cc:attribute name="disabled" required="false"/>
    <cc:attribute name="modal" required="false" default="true"/>
    <cc:attribute name="columnClasses" required="false" default="ui-grid-col-6,ui-grid-col-6"/>
    <cc:attribute name="columns" required="false" default="2"/>
    <cc:attribute name="required" type="java.lang.Boolean" default="true"/>
    <cc:attribute name="nextTabindex1"/>
    <cc:attribute name="nextTabindex2"/>
</cc:interface>

<cc:implementation>

    <p:panelGrid columns="#{cc.attrs.columns}" columnClasses="#{cc.attrs.columnClasses}" layout="grid"
                 styleClass="ui-panelgrid-blank form-group" style="border:0px none; background-color:transparent;">
        <h:panelGroup styleClass="translate-md-inputfield">

        <p:outputLabel id="lang1Lbl" value="#{cc.attrs.label} ( ع )" for="lang1Input"/>
        <pe:ckEditor required="#{cc.attrs.required}" id="lang1Input" disabled="#{cc.attrs.disabled}"
                     customConfig="#{request.contextPath}/faces/javax.faces.resource/js/ck.js"   styleClass="input-trans" width="100%"/>
        <p:commandButton id="moreBtn" icon="ui-icon-translate" original="true" styleClass="btn-trans"
                         update="extraLangsDlgPnlGrd" process="@this" widgetVar="moreBtn#{cc.clientId}"
                         onclick="PF('extraLangsDlg#{cc.clientId}Var').show();" style="position: absolute;"/>
        </h:panelGroup>
        <h:panelGroup styleClass="translate-md-inputfield">

        <p:outputLabel id="lang2Lbl" value="#{cc.attrs.label} ( En )" for="lang2Input"/>
        <pe:ckEditor width="100%" customConfig="#{request.contextPath}/faces/javax.faces.resource/js/ck.js"     required="#{cc.attrs.required}" id="lang2Input" disabled="#{cc.attrs.disabled}"/>
        </h:panelGroup>
    </p:panelGrid>

    <p:dialog id="extraLangsDlg" header="#{msg['common.otherLanguages']}"
              widgetVar="extraLangsDlg#{cc.clientId}Var" modal="#{cc.attrs.modal}" closeOnEscape="true"
              styleClass="favOverLay">
        <p:defaultCommand target="okBtn" scope="extraLangsDlg" rendered="#{!cc.attrs.disabled}"/>
        <p:panelGrid id="extraLangsDlgPnlGrd" columns="2">
            <p:commandButton id="okBtn" value="#{msg['common.done']}" process="extraLangsDlgPnlGrd"
                             rendered="#{!cc.attrs.disabled}" update="extraLangsDlgPnlGrd" original="true"
                             tabindex="#{guestPreferences.languageList.size()}"
                             onclick="PF('extraLangsDlg#{cc.clientId}Var').hide();"
                             style="width: 100%"/>
        </p:panelGrid>
    </p:dialog>

    <script type="application/javascript">
        $($(PrimeFaces.escapeClientId("#{cc.clientId}:lang1Input"))).keydown(function (e) {
            if ('#{cc.attrs.nextTabindex1}') {
                if (!e.shiftKey &amp;&amp; e.keyCode == 9) {
                    $("input[id*='#{cc.attrs.nextTabindex1}']").attr('back', this.id);
                    $("input[id*='#{cc.attrs.nextTabindex1}']").focus();
                    return false;
                } else if (e.shiftKey &amp;&amp; e.keyCode == 9) {
                    var idB = $(this).attr('back');
                    if (idB)
                        $(PrimeFaces.escapeClientId(idB)).focus();
                    return false;
                }
            }
        });
        $($(PrimeFaces.escapeClientId("#{cc.clientId}:lang2Input"))).keydown(function (e) {
            if ('#{cc.attrs.nextTabindex2}') {
                if (!e.shiftKey &amp;&amp; e.keyCode == 9) {
                    $("input[id*='#{cc.attrs.nextTabindex2}']").focus();
                    $("input[id*='#{cc.attrs.nextTabindex2}']").attr('back', this.id);

                    return false;
                } else if (e.shiftKey &amp;&amp; e.keyCode == 9) {
                    var idB = $(this).attr('back');
                    if (idB)
                        $(PrimeFaces.escapeClientId(idB)).focus();
                    return false;
                }
            }
        });
    </script>
</cc:implementation>

</html>
