body {

}

.MarAuto {
    margin: auto;
}


.bor1 {
    border: 1px solid #000;
}

.EM2 {
    font-size: 2.5em;
}

.EM1 {
    font-size: 1.1em
}

.bold {
    font-weight: bold
}

.underLine {
    text-decoration: underline;
}

.EM1Half {
    font-size: 1.5em
}

.bgWhite {
    background-color: white !important;
}

.bgWhite .body {
    background-color: rgba(203, 203, 203, 0.15) !important;
}

.ui-panelgrid .ui-widget-content {
    background: transparent !important;
}

.Wid100 {
    width: 100% !important;
}

.Wid90 {
    width: 90% !important;
}

.Wid80 {
    width: 80% !important;
}

.Wid70 {
    width: 70% !important;
}

.Wid60 {
    width: 60% !important;
}

.Wid50 {
    width: 50% !important;
}

.Wid60 {
    width: 60% !important;
}

.Wid50 {
    width: 50% !important;
}

.Wid45 {
    width: 45% !important;
}

.Wid40 {
    width: 40% !important;
}

.Wid35 {
    width: 35% !important;
}

.Wid33 {
    width: 33% !important;
}

.Wid30 {
    width: 30% !important;
}

.Wid20 {
    width: 20% !important;
}

.Wid25 {
    width: 25% !important;
}

.Wid15 {
    width: 15% !important;
}

.Wid10 {
    width: 10% !important;
}

.Wid5 {
    width: 5% !important;
}

.Wid3 {
    width: 3% !important;
}

.Wid2 {
    width: 2% !important;
}

.Wid1 {
    width: 1% !important;
}

.pad10 {
    padding: 10px;
}

.mar10 {
    margin: 10px;
}

.marR10 {
    margin-right: 10px;
}

.marR15 {
    margin-right: 15px;
}

.marR20 {
    margin-right: 20px;
}

.marR30 {
    margin-right: 30px;
}

.marR40 {
    margin-right: 40px;
}

.marT5 {
    margin-top: 5px;
}

.sub {
    background: #f5f2f2;
}

.mar5 {
    margin: 5px;
}

.smallBtn {
    width: 25px !important;
    height: 25px;
}

.no-border {
    border: none;
}

.no-border .ui-panelgrid tr, .no-border .ui-panelgrid td {
    border: none !important;
}

.no-border.ui-panelgrid tr, .no-border.ui-panelgrid td {
    border: none !important;
}

.ui-button-icon-only .ui-button-text {
    padding: inherit !important;
}

.disblock {
    display: block;
}

.posFixed {
    position: fixed;
    z-index: 99999
}

.posStatic {
    position: static;
    z-index: 99999
}

.posRelative {
    position: relative;
}

.FLeft {
    float: left;
}

.MarL20 {
    margin-left: 20px
}

.MarL10 {
    margin-left: 10px
}

.left20 {
    left: 20px;
}

.right20 {
    right: 20px;
}

.Fright {
    float: right;
}

.clear {
    clear: both;
}

.Vt {
    vertical-align: top;
}

.Vt tr, .Vt tr {
    vertical-align: top;
}

.inputToSum {
    width: 95%
}

.disinblock {
    display: inline-block
}

.inpAutoWidth input {
    width: 95% !important
}

.btn-save, .btn-view {
    z-index: 9999999;
}

.custFileUp .ui-fileupload-buttonbar, .custFileUp {
    padding: 0px;
    display: inline-block;
    border: none;
    background: transparent
}

.custFileUp .ui-fileupload-buttonbar .ui-button, .custFileUp1 .ui-fileupload-buttonbar .ui-button {
    margin: 0px
}

.custFileUp .ui-button-text-icon-left .ui-button-text {
    padding: .1em 0.2em .1em 1.5em;
    visibility: hidden;
}

.custFileUp .ui-fileupload-content {
    display: none !important;
}

.custFileUp1 .ui-fileupload-content {
    display: none !important;
}

.red {
    color: red;
}

.green {
    color: rgb(26, 128, 35);
}

/* //  tr ,table ,.blockPrint  { page-break-inside:avoid; page-break-after:auto } /**/
.advCustom {
    display: none
}

.advance .fa-minus {
    display: none
}

.btn-c {
    padding: 5px !important;
    background: #CCCCCC;
    margin: 5px !important;
    display: inline-block;
    position: relative;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
}

.disNone {
    display: none;
}

td.noP {
    padding: 0px !important;
}

.widthRe input {
    width: inherit;
}

.C .val {
    margin-right: 15px;
    display: block;
}

.C td {
    background: #f5f2f2;
}

.P td {
    background: #ccddf3;
    border-top: 3px solid !important;
    padding: 15px 5px !important;
}

.onPrint {
    display: none;
}

@media all {
    .page-break {
        display: none;
    }
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }

    .onPrint {
        display: block;
    }

    input.forcePrint {
        display: block !important;
    }

    .no-print {
        display: none;
    }

    .ui-button {
        display: none;
        visibility: hidden
    }

    tr, td, .blockPrint {
        page-break-inside: avoid;
        page-break-after: auto
    }
}

.heddin {
    display: none !important;
    visibility: hidden !important;
}

select.inputFull {
    width: 100% !important;
    height: 100%;
    /* border: none;*/
    margin: 0px;
    background: transparent;
}

.no-border, .no-border.inputFull * {
    border: none !important;
    outline: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.no-back {
    background: transparent !important;
}


.ui-datatable .ui-datatable-scrollable-body {
    overflow: scroll;
}

.ui-datatable-scrollable-theadclone * {
    height: 0px;
}

.Fs12 {
    font-size: 12px
}

.Fs13 {
    font-size: 13px
}

.ui-selectonemenu.col-md-12 {
    width: 100% !important;
}

.small.ui-button.ui-button-icon-only {
    width: 15px;
    height: 15px;
    padding: 12px;
}

.small.ui-button.ui-button-icon-only .ui-icon {
    width: 15px;
    height: 15px;
    font-size: 15px;
    margin-top: -8px;
    margin-left: -8px;
}

#map {
    width: 600px;
    height: 600px;
}

body .ui-selectmanycheckbox.ui-widget label, body .ui-selectoneradio.ui-widget label {
    margin-left: 20px;
}

.saveBtnFloat {
    position: fixed !important;
    right: 4% !important;
    z-index: 6;
}

.saveBtnFloat2 {
    position: fixed !important;
    right: 4% !important;
    margin-top: -47PX;
    z-index: 6;
}

.uploudSmall.ui-fileupload .ui-fileupload-buttonbar {
    padding: 0px;
    border: none;
}

.uploudSmall .ui-fileupload-buttonbar .ui-button {
    margin: 0px;
}

.uploudSmall {
    width: 53px;
    display: inline-block;
}

.uploudSmall .ui-fileupload-content {
    display: none;
}

.offers-block {
    direction: rtl;
}

.MarAuto {
    margin: auto;
}

.FRight {
    float: right;
}

.FLeft {
    float: left;
}

.layout-rtl .FDir {
    float: left;
}

.layout-rtl .FDir {
    float: right;
}


/* paginator */
.layout-rtl .ui-paginator-next {
    transform: rotate(180deg);
}

.layout-rtl .ui-paginator-last {
    transform: rotate(180deg);
}

.layout-rtl .ui-paginator-prev {
    transform: rotate(180deg);
}

.layout-rtl .ui-paginator-first {
    transform: rotate(180deg);
}

.layout-rtl .ui-paginator {
    direction: rtl;
}

.layout-rtl .ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
    direction: ltr !important;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: left;
}

.layout-rtl .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: right;
}


.layout-rtl .card h1, .layout-rtl .ui-messages {
    text-align: right;
}

body .layout-rtl .md-inputfield label:not(.ui-selectonemenu-label) {
    left: auto;
    right: 5px;

}

.VT tr > td {
    vertical-align: top;
}

.main-slider .swiper-slide {
    min-height: 500px !important;
}

.MarAuto {
    margin: auto !important;
}

.vert-title2 {
    margin-top: 120px !important;
}

.input-style-1 {
    width: 300px !important;
}

.slidDiv {
    position: relative !important;
    display: inline-block;
}

.cont-1170 .sw-arrow {
    display: block !important;
}

.insideIMg.ui-button {
    position: absolute;
    right: 0;
}

.small.ui-button.ui-button-icon-only .ui-icon {
    width: 5px;
    height: 5px;
    font-size: 15px;
    margin-top: -7px;
    margin-left: -6px;
}

.input-style-1C {
    margin: auto;
    float: inherit !important;
    display: block;
}

.input-style-1C input {
    border-color: black;
    color: black;
}

.tabs-block.cu {
    text-align: center;
}

.tpl-tabs-cont.cu {
    padding: 0px !important;
    min-height: 60px;
    display: block;

}

.cu .input-style-1 input {
    border-color: black;
    color: black;
    border: 1px solid white;
}

.cu {
    margin-top: -120px !important;
    background: transparent;
}

.cu .input-style-1 input {
    width: 100%;
    border: 1px solid white;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: white;
    height: 60px;
    padding: 1px 20px 0px 50px;
    color: black;
}

.cu .input-style-1 img {
    background: #2196F3;
}

.cu ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}

.cu ::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

.cu :-ms-input-placeholder { /* IE 10+ */
    color: black;
}

.cu :-moz-placeholder { /* Firefox 18- */
    color: black;
}

.cu1 .input-style-1 img {
    background: #2196F3;
}

.cu1 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}

.cu1 ::-moz-placeholder { /* Firefox 19+ */
    color: black;
}

.cu1 :-ms-input-placeholder { /* IE 10+ */
    color: black;
}

.cu1 :-moz-placeholder { /* Firefox 18- */
    color: black;
}

.proContain {
    background: rgba(0, 188, 212, 0.68);

}

#popup,
#popup2,
.bMulti {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px
}

#popup .logo {
    color: #2b91af;
    font: bold 325% 'Petrona', sans
}

#popup,
.bMulti {
    min-height: 250px
}

.bMulti p {
    font: 500% 'Petrona', sans-serif;
    padding: 45px 0 0;
    text-align: center
}

.bMulti a {
    left: 175px;
    position: absolute;
    top: 175px
}

.lt-ie9 .bModal {
    background-color: #000
}

.ui-dialog .ui-dialog-titlebar {
    background-color: rgba(0, 0, 0, 0.23)!important;
}

.ui-datatable thead tr th {
    text-align: center !important;

}

.ui-datatable thead th, .ui-datatable td {
    text-align: center !important;
}

body.layout-compact .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
    top: 0;
    left: -3px;
    width: 18px;
    height: 18px;
}

.ui-datatable-reflow.ui-datatable thead th, .ui-datatable-reflow.ui-datatable td {
    text-align: left !important;
}

.layout-rtl .ui-datatable-reflow.ui-datatable thead th, .layout-rtl .ui-datatable-reflow.ui-datatable td {
    text-align: right !important;
}

.ui-dialog {
    margin-top: 20px;
}

.body-rtl .ui-selectcheckboxmenu-panel {
    direction: rtl !important;
}

.body-rtl .ui-columntoggler {
    direction: rtl;
    max-width: 300px;
}

.body-rtl .ui-columntoggler .ui-columntoggler-item label {
    padding-right: 2.2em;
    padding-left: auto;

}

.body-rtl .ui-columntoggler .ui-columntoggler-item {
    text-align: right;

}

.TxtCenter {
    text-align: center;
}

.TxtRight {
    text-align: right !important;
}

.TxtLeft {
    text-align: left !important;
}
td.TxtLeft {
    text-align: left !important;
}
.TxtLeft *{
    text-align: left !important;
}

.TxtJus {
    text-align: justify;
    text-justify: inter-word;
}
body .ui-button.ui-state-focus.amber-btn {
    border: 1px solid cornflowerblue!important;
}

body .ui-datepicker table {
    background: white;
}

body .ui-selectbooleanbutton.ui-state-active {
    background-color: #4caf50;
    color: #212121;
}

body .ui-selectbooleanbutton.ui-state-default {
    background-color: red !important;
    color: white;
}

body .ui-selectbooleanbutton.ui-state-active {
    background-color: #4caf50 !important;
    color: white;
}

.ui-datatable tfoot td {
    padding: 6px 10px;
    background: #cdeb3b !important;
}

.layout-rtl .ui-datatable-reflow.ui-datatable td.priceT {
    text-align: left !important;
    direction: ltr;
}


.priceT {
    text-align: left !important;
    direction: ltr;
}

td.priceT {
    text-align: left !important;
    direction: ltr;
}