<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
>
    
    <div class="footer">
        <div class="card clearfix">
            <span class="footer-text-left">#{configMB.getConf(conf.NAME.name())}</span>
            <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span>  <span>All Rights Reserved</span></span>
        </div>
    </div>
</ui:composition>