<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pu="http://primefaces.org/ultima">

    <h:form id="menuform">
        <div class="layout-menu #{guestPreferences.menuClass}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <ui:fragment
                            rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
                        <div class="profile">
                            <div class="profile-image"></div>

                            <span class="profile-name">#{loginBean.currentUser.firstname.get(currentLanguage.locale)} #{loginBean.currentUser.lastname.get(currentLanguage.locale)} </span>
                            <br/>
                            <p:commandLink styleClass="ripplelink" action="#{loginBean.logout()}">
                                <i class="material-icons">&#xE8AC;</i>
                            </p:commandLink>
                        </div>

                        <ui:remove>
                            <ul id="profile-menu" class="ultima-menu">
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE7FD;</i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE32A;</i>
                                        <span>Privacy</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE8B9;</i>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#{request.contextPath}/logout" class="ripplelink">
                                        <i class="material-icons">&#xE8AC;</i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </ui:remove>
                    </ui:fragment>

                    <pu:menu widgetVar="me">


                        <p:menuitem value="#{msg['common.home']}" icon="fa fa-home"
                                    action="/admin/index.xhtml?faces-redirect=true"/>

                        <p:menuitem value="Store" icon="fa fa-home"
                                    action="/index.xhtml?faces-redirect=true"/>

                        <p:menuitem value="#{msg['common.defin.config']}" icon="fa fa-cog"
                                    action="/admin/config.xhtml?faces-redirect=true"/>

                        <p:menuitem value="#{msg['common.category']}" icon="fa fa-suitcase"
                                    action="/admin/catagory.xhtml?faces-redirect=true"/>
                        <p:menuitem value="#{msg['common.brand']}" icon="fa fa-tags"
                                    action="/admin/brands.xhtml?faces-redirect=true"/>
                        <p:submenu id="cat" label="#{msg['common.mange.product']}" icon="fa fa-wrench">
                            <p:menuitem value="#{msg['common.products']}" icon="fa fa-wrench"
                                        action="/admin/product.xhtml?faces-redirect=true"/>

                            <p:menuitem value="#{msg['common.products.new']}" icon="fa fa-wrench"
                                        action="/admin/new-product.xhtml?faces-redirect=true"/>

                            <p:menuitem value="#{msg['common.stockIn']}" icon="&#xE3AE;"
                                        action="/admin/stock-in.xhtml?faces-redirect=true"/>

                        </p:submenu>
                        <p:menuitem value="#{msg['common.menu']}" icon="fa fa-server"
                                    action="/admin/menu.xhtml?faces-redirect=true"/>
                        <p:menuitem value="#{msg['common.defin.slider']}" icon="fa fa-sliders"
                                    action="/admin/slider.xhtml?faces-redirect=true"/>
                        <p:menuitem value="#{msg['common.definCountry']}" icon="fa fa-globe"
                                    action="/admin/country.xhtml?faces-redirect=true"/>

                        <p:menuitem value="#{msg['common.shipment-type']}" icon="&#xE3AE;" rendered="true"
                                    action="/admin/shipment-type.xhtml?faces-redirect=true"/>
                        <p:menuitem value="#{msg['common.payment-type']}" icon="&#xE3AE;"
                                    action="/admin/payment-type.xhtml?faces-redirect=true"/>

                        <p:menuitem value="#{msg['common.coupon']}" icon="fa fa-cut"
                                    action="/admin/coupon.xhtml?faces-redirect=true"/>

                        <p:menuitem value="#{msg['common.orders']}" icon="fa fa-list-alt"
                                    action="/admin/order-report.xhtml?faces-redirect=true"/>

                        <p:menuitem value="#{msg['common.defin.banner']}" icon="fa fa-image"
                                    action="/admin/ads.xhtml?faces-redirect=true"/>

                        <p:menuitem value="#{msg['common.defin.article']}" icon="fa fa-newspaper-o"
                                    action="/admin/articles.xhtml?faces-redirect=true"/>

                        <p:submenu id="export" label="#{msg['common.export']}" icon="fa fa-file-excel-o">
                            <p:menuitem value="#{msg['common.products']}" icon="fa fa-file-excel-o"
                                        ajax="false" action="#{exportDataMB.export()}"/>
                            <p:menuitem value="#{msg['common.category']}" icon="fa fa-file-excel-o"
                                        ajax="false" action="#{exportDataMB.exportCategory()}"/>
                            <p:menuitem value="#{msg['common.brand']}" icon="fa fa-file-excel-o"
                                        ajax="false" action="#{exportDataMB.exportBrands()}"/>
                            <p:menuitem value="#{msg['common.quantities']}" icon="fa fa-file-excel-o"
                                        process="@this" action="#{exportDataMB.openDlgQuantities}"/>


                        </p:submenu>
                        <p:submenu id="import" label="#{msg['common.importData']}" icon="fa fa-file-excel-o">
                            <p:menuitem value="#{msg['common.importData.brand']}" icon="fa fa-file-excel-o"
                                        action="/admin/import-brand.xhtml?faces-redirect=true"/>

                            <p:menuitem value="#{msg['common.importData.cat']}" icon="fa fa-file-excel-o"
                                        action="/admin/import-category.xhtml?faces-redirect=true"/>

                            <p:menuitem value="#{msg['common.importData.product']}" icon="fa fa-file-excel-o"
                                        action="/admin/import-product.xhtml?faces-redirect=true"/>

                            <p:menuitem value="#{msg['common.importData.quantities']}" icon="fa fa-file-excel-o"
                                        action="/admin/import-stock.xhtml?faces-redirect=true"/>
                        </p:submenu>

                        <p:submenu id="celebrities" label="#{msg['common.useres.manage']}" icon="fa fa-users">
                            <p:menuitem value="#{msg['common.celebrities']}" icon="fa fa-users"
                                        action="/admin/celebrities.xhtml?faces-redirect=true"/>
                            <p:menuitem value="#{msg['common.customers']}" icon="fa fa-users"
                                        action="/admin/customer.xhtml?faces-redirect=true"/>
                            <p:menuitem value="#{msg['common.vendors']}" icon="fa fa-users"
                                        action="/admin/vendors.xhtml?faces-redirect=true"/>

                        </p:submenu>
                        <p:submenu id="report" label="التقارير" icon="fa fa-file-pdf-o">
                            <p:menuitem value="تقرير المواد" icon="fa fa-file-pdf-o"
                                        action="/admin/item-report-category.xhtml?faces-redirect=true"/>

                            <p:menuitem value="تقرير الطلبات" icon="fa fa-file-pdf-o"
                                        action="/admin/order-report.xhtml?faces-redirect=true"/>

                            <p:menuitem value="#{msg['common.availableQuantitItem']}" icon="fa fa-file-pdf-o"
                                        action="/admin/available-report.xhtml?faces-redirect=true"/>

                            <p:menuitem value="#{msg['common.ItemsSold']}" icon="fa fa-file-pdf-o"
                                        action="/admin/items-sold-report.xhtml?faces-redirect=true"/>

                            <p:menuitem value="#{msg['common.shipment-report']}" icon="fa fa-file-pdf-o"
                                        action="/admin/shipment-report.xhtml?faces-redirect=true"/>
                        </p:submenu>


                        <p:menuitem value="#{msg['common.LogOut']}" icon="&#xE8AC;"
                                    action="#{loginBean.logout()}"/>
                        <ui:remove>
                            <p:submenu id="themes" label="Themes" icon="&#xE40A;">
                                <f:attribute name="badge" value="5"/>
                                <p:menuitem id="theme1" value="Indigo - Pink" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('indigo')}" ajax="false"/>
                                <p:menuitem id="theme2" value="Brown - Green" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('brown')}" ajax="false"/>
                                <p:menuitem id="theme3" value="Blue - Amber" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('blue')}" ajax="false"/>
                                <p:menuitem id="theme4" value="Blue Grey - Green" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('blue-grey')}" ajax="false"/>
                                <p:menuitem id="theme5" value="Dark - Blue" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('dark-blue')}" ajax="false"/>
                                <p:menuitem id="theme6" value="Dark - Green" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('dark-green')}" ajax="false"/>
                                <p:menuitem id="theme7" value="Green - Yellow" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('green')}" ajax="false"/>
                                <p:menuitem id="theme8" value="Purple - Cyan" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('purple-cyan')}" ajax="false"/>
                                <p:menuitem id="theme9" value="Purple - Amber" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('purple-amber')}" ajax="false"/>
                                <p:menuitem id="theme10" value="Teal - Lime" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('teal')}" ajax="false"/>
                                <p:menuitem id="theme11" value="Cyan - Amber" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('cyan')}" ajax="false"/>
                                <p:menuitem id="theme12" value="Grey - Deep Orange" icon="&#xE3AE;"
                                            actionListener="#{guestPreferences.setTheme('grey')}" ajax="false"/>
                            </p:submenu>
                            <p:submenu id="um_customization" label="Customization" icon="&#xE8B8;"
                                       styleClass="amber-badge">
                                <f:attribute name="badge" value="10"/>
                                <p:menuitem id="custom1" value="Compact Size" icon="&#xE061;"
                                            actionListener="#{guestPreferences.setCompact(true)}" ajax="false"/>
                                <p:menuitem id="custom2" value="Material Size" icon="&#xE062;"
                                            actionListener="#{guestPreferences.setCompact(false)}" ajax="false"/>
                                <p:menuitem id="custom3" value="Static Menu" icon="&#xE5D2;"
                                            actionListener="#{guestPreferences.setMenuLayout('static')}" ajax="false"/>
                                <p:menuitem id="custom4" value="Overlay Menu" icon="&#xE879;"
                                            actionListener="#{guestPreferences.setMenuLayout('overlay')}" ajax="false"/>
                                <p:menuitem id="custom5" value="Slim Menu" icon="&#xE879;"
                                            actionListener="#{guestPreferences.setMenuLayout('slim')}" ajax="false"/>
                                <p:menuitem id="custom6" value="Horizontal Menu" icon="&#xE22C;"
                                            actionListener="#{guestPreferences.setMenuLayout('horizontal')}"
                                            ajax="false"/>
                                <p:menuitem id="custom7" value="Light Menu" icon="&#xE893;"
                                            actionListener="#{guestPreferences.setLightMenu}"
                                            ajax="false"/>
                                <p:menuitem id="custom8" value="Dark Menu" icon="&#xE892;"
                                            actionListener="#{guestPreferences.setDarkMenu}"
                                            ajax="false"/>
                                <p:menuitem id="custom9" value="Inline Profile" icon="&#xE0BA;"
                                            actionListener="#{guestPreferences.setProfileMode('inline')}" ajax="false"/>
                                <p:menuitem id="custom10" value="Top Profile" icon="&#xE55A;"
                                            actionListener="#{guestPreferences.setProfileMode('overlay')}"
                                            ajax="false"/>
                            </p:submenu>
                            <p:submenu id="um_orientation" label="Orientation" icon="&#xE237;">
                                <p:menuitem id="um_ltr" value="LTR" icon="&#xE236;"
                                            actionListener="#{guestPreferences.setOrientationRTL(false)}" ajax="false"/>
                                <p:menuitem id="um_rtl" value="RTL" icon="&#xE237;"
                                            actionListener="#{guestPreferences.setOrientationRTL(true)}"
                                            ajax="false"/>
                            </p:submenu>
                            <p:submenu id="um_components" label="Components" icon="&#xE896;">
                                <p:menuitem id="um_sample" value="Sample Page" icon="&#xE30B;"/>
                                <p:menuitem id="um_forms" value="Forms" icon="&#xE890;"/>
                                <p:menuitem id="um_data" value="Data" icon="&#xE3EC;"/>
                                <p:menuitem id="um_panels" value="Panels" icon="&#xE14F;"/>
                                <p:menuitem id="um_overlays" value="Overlays" icon="&#xE14D;"/>
                                <p:menuitem id="um_menus" value="Menus" icon="&#xE5D2;"/>
                                <p:menuitem id="um_messages" value="Messages" icon="&#xE0C9;"/>
                                <p:menuitem id="um_charts" value="Charts" icon="&#xE24B;"/>
                                <p:menuitem id="um_file" value="File" icon="&#xE226;"/>
                                <p:menuitem id="um_misc" value="Misc" icon="&#xE332;"/>
                            </p:submenu>
                            <p:submenu id="um_default" label="Template Pages" icon="&#xE884;">
                                <p:menuitem id="um_db_landing" value="Landing" icon="&#xE904;"/>
                                <p:menuitem id="um_empty" value="Empty Page" icon="&#xE88B;"/>
                                <p:menuitem id="um_login" value="Login Page" icon="&#xE8E8;"/>
                                <p:menuitem id="um_error" value="Error Page" icon="&#xE000;"/>
                                <p:menuitem id="um_404" value="404 Page" icon="&#xE001;"/>
                                <p:menuitem id="um_access" value="Access Denied Page" icon="&#xE32A;"/>
                            </p:submenu>
                            <p:submenu id="um_hierarchy" label="Menu Hierarchy" icon="&#xE5D2;">
                                <p:submenu id="um_sm1" label="Submenu 1" icon="&#xE8D2;">
                                    <p:submenu id="um_sm11" label="Submenu 1.1" icon="&#xE8D2;">
                                        <p:menuitem id="um_lnk111" value="Link 1.1.1" icon="&#xE8D2;" url="#"/>
                                        <p:menuitem id="um_lnk112" value="Link 1.1.2" icon="&#xE8D2;" url="#"/>
                                        <p:menuitem id="um_lnk113" value="Link 1.1.3" icon="&#xE8D2;" url="#"/>
                                    </p:submenu>
                                    <p:submenu id="um_sm12" label="Submenu 1.2" icon="&#xE8D2;">
                                        <p:menuitem id="um_lnk121" value="Link 1.2.1" icon="&#xE8D2;" url="#"/>
                                    </p:submenu>
                                </p:submenu>
                                <p:submenu id="um_sm2" label="Submenu 2" icon="&#xE8D2;">
                                    <p:submenu id="um_sm21" label="Submenu 2.1" icon="&#xE8D2;">
                                        <p:menuitem id="um_lnk211" value="Link 2.1.1" icon="&#xE8D2;" url="#"/>
                                        <p:menuitem id="um_lnk212" value="Link 2.1.2" icon="&#xE8D2;" url="#"/>
                                    </p:submenu>
                                    <p:submenu id="um_sm22" label="Submenu 2.2" icon="&#xE8D2;">
                                        <p:menuitem id="um_lnk221" value="Link 2.2.1" icon="&#xE8D2;" url="#"/>
                                    </p:submenu>
                                </p:submenu>
                            </p:submenu>
                            <p:menuitem id="um_utils" value="Utils" icon="&#xE869;"/>
                            <p:menuitem id="um_doc" value="Docs" icon="&#xE880;"/>
                        </ui:remove>
                    </pu:menu>
                </div>
            </div>
        </div>
    </h:form>

    <p:dialog widgetVar="quantities" dynamic="true" width="500px" modal="true" closeOnEscape="true">
        <h:form id="quantitiesExFrm">
            <p:messages id="form_messages"/>


            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12">

                        <p:panelGrid columns="1" columnClasses="ui-grid-col-12 ,ui-grid-col-6" layout="grid"
                                     styleClass="ui-panelgrid-blank form-group" style="border:0px none; background-color:transparent;">

                            <h:panelGroup layout="block">
                                <p:outputLabel for="console" value="#{msg['common.stockin.voucherNo']}"/>
                                <p:selectOneMenu id="console" value="#{exportDataMB.voucherNo}"
                                                 widgetVar="WvItem" filter="true" filterMatchMode="contains"
                                                 required="true"
                                                 style="margin-bottom:10px;" dynamic="true">
                                    <f:selectItem noSelectionOption="true" itemLabel="#{msg['msg.select']}"/>
                                    <f:selectItems value="#{exportDataMB.voucherNoList}"/>

                                </p:selectOneMenu>
                            </h:panelGroup>

                        </p:panelGrid>

                        <p:commandButton value="#{msg['common.export']}" ajax="false" action="#{exportDataMB.exportStcokInvoice()}" />
                    </div>
                </div>
            </div>
        </h:form>

    </p:dialog>
</ui:composition>