<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>
    
    <div class="layout-rightpanel">
        <div class="nano">
            <div class="nano-content right-panel-scroll-content">
                <div class="layout-rightpanel-header">
                    <div class="weather-day">Wednesday</div>
                    <div class="weather-date">Jan 26</div>
                </div>

                <div class="layout-rightpanel-content">
                    <h1>Weather</h1>
                    <h2>New York, USA</h2>

                    <div class="weather-today">
                        <span class="weather-today-value">21&#8451;</span>
                        <p:graphicImage name="images/dashboard/weather-icon-2.svg" library="ultima-layout" width="60"/>
                    </div>

                    <ul class="weekly-weather">
                        <li>
                            Thursday
                            <p:graphicImage name="images/dashboard/weather-icon-1.svg" library="ultima-layout"/>
                            <span class="weekly-weather-value">24</span>
                        </li>
                        <li>
                            Friday
                            <p:graphicImage name="images/dashboard/weather-icon-3.svg" library="ultima-layout"/>
                            <span class="weekly-weather-value">19</span>
                        </li>
                        <li>
                            Saturday
                            <p:graphicImage name="images/dashboard/weather-icon-4.svg" library="ultima-layout"/>
                            <span class="weekly-weather-value">15</span>
                        </li>
                        <li>
                            Sunday
                            <p:graphicImage name="images/dashboard/weather-icon-1.svg" library="ultima-layout"/>
                            <span class="weekly-weather-value">24</span>
                        </li>
                        <li>
                            Monday
                            <p:graphicImage name="images/dashboard/weather-icon-2.svg" library="ultima-layout"/>
                            <span class="weekly-weather-value">21</span>
                        </li>
                        <li>
                            Tuesday
                            <p:graphicImage name="images/dashboard/weather-icon-3.svg" library="ultima-layout"/>
                            <span class="weekly-weather-value">20</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    
</ui:composition>