<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>

        <p:importEnum type="com.ellepharma.constant.ConfigEnum" var="conf" allSuffix="allConfig"/>
    <f:facet name="first">

        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

        <link rel="shortcut icon" href="#{imageMb.getImageUrl(configMB.getConf(conf.LOGO.name()))}"/>

        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="theme-color" content="#{guestPreferences.themeColors[guestPreferences.theme]}"/>
    </f:facet>

    <title>#{configMB.getConf(conf.NAME.name())} <ui:insert name="title"/></title>
    <h:outputScript name="js/nanoscroller.js" library="ultima-layout"/>
    <h:outputScript name="js/layout.js" library="ultima-layout"/>
    <h:outputScript name="js/ripple.js" library="ultima-layout" rendered="false"/>
    <h:outputScript name="js/swipe.js" library="ultima-layout"/>
    <h:outputScript name="js/validatonMessages/ClientSideValidationMessages.js" library="ultima-layout"/>
    <h:outputScript name="common.js" library="js"/>
    <ui:insert name="head"/>
</h:head>
<p:importEnum type="com.ellepharma.constant.ConfigEnum" var="conf" allSuffix="allConfig"/>

<f:view locale="#{guestPreferences.language.locale}">

    <h:body styleClass="main-body #{guestPreferences.compact ? 'layout-compact' : null} #{guestPreferences.menuLayout} #{guestPreferences.orientationRTL ? 'body-rtl' : null}">
        <h:inputHidden id="isRedirct" />
        <div class="layout-wrapper #{guestPreferences.menuLayout} #{guestPreferences.orientationRTL ? 'layout-rtl' : null}">

            <ui:include src="topbar.xhtml"/>
            <ui:include src="rightpanel.xhtml"/>
            <ui:include src="menu.xhtml"/>

            <div class="layout-main">
                <ui:insert name="content"/>

                <ui:include src="footer.xhtml"/>
            </div>
        </div>



        <p:confirmDialog dir="#{currentLanguage.direction}" widgetVar="confirmClose" global="true" showEffect="fade"
                         hideEffect="fade">
            <p:commandButton type="button" value="#{msg['msg.yes']}" styleClass="ui-confirmdialog-yes"
                             icon="ui-icon-check"/>
            <p:commandButton type="button" value="#{msg['msg.no']}" styleClass="ui-confirmdialog-no"
                             icon="ui-icon-close"/>
        </p:confirmDialog>

        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>

        <p:dialog style="box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0); background: transparent;" widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage library="ultima-layout" name="images/loading.gif" width="100px" />

            يرجى الانتظار
        </p:dialog>

        <h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout"/>
        <h:outputStylesheet name="css/animate.css" library="ultima-layout"/>
        <h:outputStylesheet name="css/ripple.css" library="ultima-layout"/>
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout"/>
        <h:outputStylesheet name="css/custom.css" library="ultima-layout"/>
        <h:outputStylesheet name="style_#{currentLanguage.locale}.css" library="css"/>

    </h:body>

</f:view>

</html>