<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
                xmlns:elle="http://java.sun.com/jsf/composite/components" xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template.xhtml" xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="title">#{msg['common.accountDetails']}</ui:define>

    <ui:define name="head">
        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS}"/>

            <f:viewAction action="#{accountMB.init()}"/>

        </f:metadata>

    </ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="#{request.contextPath}/index.xhtml">#{msg['common.home']}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#{request.contextPath}/customer/account.xhtml">#{msg['common.accountDetails']}</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->


        <!-- My Account Page Start Here -->
        <div class="my-account white-bg ">
            <div class="container">
                <div class="account-dashboard">
                    <div class="dashboard-upper-info">
                        <div class="row align-items-center no-gutters">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="d-single-info">
                                    <p class="user-name">#{msg['common.hello']}
                                        <span>#{loginBean.currentAccount.firstName}</span></p>
                                    <p>(#{msg['common.not']} #{loginBean.currentAccount.email}
                                        <a class="log-out" href="#{request.contextPath}/logout">
                                            #{msg['common.LogOut']}
                                        </a>)
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="d-single-info">

                                    <p>#{msg['common.need_assistance']}</p>
                                    <p><a target="blank"
                                          href="mailto: #{configMB.getConf('EMAIL')}">#{configMB.getConf('EMAIL')}</a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="d-single-info text-lg-center">
                                    <a class="view-cart"
                                       href="#{request.contextPath}/cart.xhtml">#{msg['common.view_cart']} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <!-- Nav tabs -->
                            <ul class="nav flex-column dashboard-list" role="tablist">

                                <li><a class="nav-link" data-toggle="tab" onclick="changeParam('account-details')"
                                       href="#account-details">#{msg['common.accountDetails']}</a>
                                </li>

                                <li>
                                    <a class="nav-link" onclick="changeParam('orders')" data-toggle="tab"
                                       href="#orders">#{msg['common.orders']}</a>
                                </li>

                                <li>
                                    <a class="nav-link " onclick="changeParam('wishlist')" data-toggle="tab"
                                       href="#wishlist">#{msg['common.myWishlist']}</a>
                                </li>
                                <c:if test="#{loginBean.currentAccount.accountType.name() ne 'CUSTOMER'}">
                                    <li>
                                        <a class="nav-link " onclick="changeParam('myCopuns')" data-toggle="tab"
                                           href="#myCopuns">#{msg['common.myCopuns']}</a>
                                    </li>
                                </c:if>

                                <li>
                                    <a class="nav-link " onclick="changeParam('changePassword')" data-toggle="tab"
                                       href="#changePassword">#{msg['common.changePassword']}</a>
                                </li>


                                <li><a class="nav-link" href="#{request.contextPath}/logout">#{msg['common.LogOut']}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-10">
                            <!-- Tab panes -->
                            <div class="tab-content dashboard-content mt-all-40">

                                <div id="account-details" class="tab-pane fade show active">
                                    <h3>#{msg['common.Accountdetails']}</h3>
                                    <div class="register-form login-form clearfix">
                                        <h:form id="signup">
                                            <p:messages id="msg" closable="true"/>
                                            <div class="checkout-area ">


                                                <div class="col-lg-12">
                                                    <div class="checkbox-form mb-sm-40">


                                                        <p:panelGrid columns="2" layout="grid"
                                                                     styleClass="ui-panelgrid-blank form-group"
                                                                     style="border:0px none; background-color:transparent;">
                                                            <h:panelGroup layout="block" class="checkout-form-list ">

                                                                <p:outputLabel for="fName"
                                                                               value="#{msg['common.fName']}"/>
                                                                <p:inputText
                                                                        id="fName"
                                                                        value="#{accountMB.account.firstName}"/>
                                                                <p:watermark for="fName"
                                                                             value="#{msg['common.fName']}"/>
                                                            </h:panelGroup>
                                                            <h:panelGroup layout="block" class="checkout-form-list ">
                                                                <p:outputLabel for="lName"
                                                                               value="#{msg['common.lName']}"/>
                                                                <p:inputText id="lName"

                                                                             value="#{accountMB.account.lastName}"/>
                                                                <p:watermark for="lName"
                                                                             value="#{msg['common.lName']}"/>
                                                            </h:panelGroup>
                                                        </p:panelGrid>
                                                        <p:panelGrid columns="2" layout="grid"
                                                                     styleClass="ui-panelgrid-blank form-group"
                                                                     style="border:0px none; background-color:transparent;">
                                                            <h:panelGroup layout="block" class="checkout-form-list ">
                                                                <p:outputLabel for="DOB"
                                                                               value="#{msg['common.DOB']}"/>
                                                                <p:calendar id="DOB" required="true" navigator="true"
                                                                            yearRange="c-100:c"
                                                                            value="#{accountMB.account.birthDate}"
                                                                            pattern="dd/MM/yyyy"/>
                                                            </h:panelGroup>
                                                            <h:panelGroup layout="block" class="checkout-form-list ">
                                                                <p:outputLabel for="gender"
                                                                               value="#{msg['common.gender']}"/>
                                                                <p:selectOneRadio id="gender"
                                                                                  value="#{accountMB.account.genderEnum}"
                                                                                  required="true">
                                                                    <f:selectItem itemValue="MALE"
                                                                                  itemLabel="#{msg['common.MALE']}"/>
                                                                    <f:selectItem itemValue="FEMALE"
                                                                                  itemLabel="#{msg['common.FEMALE']}"/>
                                                                </p:selectOneRadio>

                                                            </h:panelGroup>
                                                        </p:panelGrid>


                                                        <p:panelGrid columns="2" layout="grid"
                                                                     styleClass="ui-panelgrid-blank form-group"
                                                                     style="border:0px none; background-color:transparent;">
                                                            <h:panelGroup layout="block"
                                                                          class="checkout-form-list country-select- clearfix ">


                                                                <label>#{msg['common.country']} <span
                                                                        class="required">*</span></label>
                                                                <p:outputLabel style="display: none"
                                                                               for="country"
                                                                               value="#{msg['common.country']}"/>
                                                                <p:inputText
                                                                        style="visibility: hidden ; height: 0;width: 0 ;margin: 0;float: left;"
                                                                        required="true" type="text"
                                                                        id="country"
                                                                        value="#{accountMB.temp}"/>
                                                                <h:selectOneMenu
                                                                        value="#{accountMB.selectedCountryShipment}"
                                                                        styleClass="wide custSelect"
                                                                        required="false" id="cs"
                                                                        valueChangeListener="#{cartMB.changeCountry}"
                                                                        requiredMessage="#{msg['common.country']} #{msg['common.required']}"
                                                                        converter="omnifaces.SelectItemsConverter">
                                                                    <f:selectItem noSelectionOption="true"
                                                                                  itemLabel="#{msg['msg.select']}"/>
                                                                    <f:selectItems
                                                                            value="#{accountMB.countryShipmentList}"
                                                                            var="co"
                                                                            itemLabel="#{co.country.discriminator[co.currentLanguage]}"
                                                                            itemValue="#{co}"/>
                                                                    <f:ajax execute="cs" render="country phone"/>

                                                                </h:selectOneMenu>

                                                            </h:panelGroup>
                                                            <h:panelGroup layout="block" id="grdCity"
                                                                          class="checkout-form-list country-select- clearfix ">


                                                                <label>#{msg['common.city']} <span
                                                                        class="required">*</span></label>
                                                                <p:outputLabel
                                                                        style="display: none;float: left;"
                                                                        for="city"
                                                                        value="#{msg['common.city']}"/>
                                                                <p:inputText
                                                                        style="visibility: hidden ; height: 0;width: 0 ;margin: 0;float: left;"
                                                                        required="true" type="text"
                                                                        id="city"
                                                                        value="#{accountMB.account.city}"/>
                                                                <h:selectOneMenu
                                                                        value="#{accountMB.account.city}"
                                                                        styleClass="wide custSelect"
                                                                        required="false" id="ci"
                                                                        requiredMessage="#{msg['common.city']} #{msg['common.required']}">
                                                                    <f:selectItem noSelectionOption="true"
                                                                                  itemLabel="#{msg['msg.select']}"/>
                                                                    <f:selectItems
                                                                            value="#{accountMB.cities}"
                                                                            var="co"
                                                                            itemLabel="#{co}"
                                                                            itemValue="#{co}"/>
                                                                    <f:ajax execute="ci" render="city"
                                                                            onevent="PF('statusDialog').hide()"/>

                                                                </h:selectOneMenu>

                                                            </h:panelGroup>
                                                        </p:panelGrid>

                                                        <p:panelGrid columns="2" layout="grid"
                                                                     styleClass="ui-panelgrid-blank form-group"
                                                                     style="border:0px none; background-color:transparent;">


                                                            <h:panelGroup layout="block"
                                                                          class="checkout-form-list ">

                                                                <p:outputLabel for="state"
                                                                               value="#{msg['common.state']}"/>
                                                                <p:inputText required="true"
                                                                             id="state"
                                                                             type="text"
                                                                             value="#{accountMB.account.state}"/>
                                                                <p:watermark for="state"
                                                                             value="#{msg['common.state']}"/>
                                                            </h:panelGroup>
                                                            <h:panelGroup layout="block"
                                                                          class="checkout-form-list ">

                                                                <p:outputLabel for="postcode"
                                                                               value="#{msg['common.postcode']}"/>
                                                                <p:inputText required="true"
                                                                             type="text"
                                                                             id="postcode"
                                                                             value="#{accountMB.account.postcode}"/>
                                                                <p:watermark for="postcode"
                                                                             value="#{msg['common.postcode']}"/>

                                                            </h:panelGroup>

                                                        </p:panelGrid>
                                                        <div class="col-md-12">
                                                            <div class="checkout-form-list">
                                                                <p:outputLabel for="address"
                                                                               value="#{msg['common.address']}"/>
                                                                <p:inputTextarea id="address"
                                                                                 rows="4"
                                                                                 type="text"
                                                                                 value="#{accountMB.account.address}"/>
                                                                <p:watermark for="address"
                                                                             value="#{msg['common.address']}"/>

                                                            </div>
                                                        </div>

                                                        <p:panelGrid columns="2" layout="grid"
                                                                     styleClass="ui-panelgrid-blank form-group"
                                                                     style="border:0px none; background-color:transparent;">
                                                            <h:panelGroup layout="block"
                                                                          class="checkout-form-list ">

                                                                <p:outputLabel for="email"
                                                                               value="#{msg['common.email']}"/>
                                                                <p:inputText rendered="true"

                                                                             type="text"
                                                                             id="email" required="true"
                                                                             validatorMessage="#{msg['common.invalidEmail']}"
                                                                             value="#{accountMB.account.email}">
                                                                    <f:validateRegex
                                                                            pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                                                </p:inputText>
                                                                <p:watermark for="email"
                                                                             value="#{msg['common.email']}"/>

                                                            </h:panelGroup>

                                                            <h:panelGroup layout="block"
                                                                          class="checkout-form-list ">
                                                                <p:outputLabel for="phone"
                                                                               value="#{msg['common.phone']}"/>
                                                                <pe:inputPhone dir="ltr" required="true"
                                                                               id="phone"
                                                                               value="#{accountMB.account.phone}"
                                                                               style="width:100%"
                                                                               initialCountry="#{accountMB.account.phoneCode}">
                                                                    <p:ajax event="countrySelect"
                                                                            listener="#{accountMB.onCountrySelect}"/>
                                                                </pe:inputPhone>
                                                                <p:watermark for="phone"
                                                                             value="#{msg['common.phone']}"/>

                                                            </h:panelGroup>

                                                        </p:panelGrid>


                                                        <p:panelGrid columns="2" layout="grid" rendered="false"
                                                                     styleClass="ui-panelgrid-blank form-group"
                                                                     style="border:0px none; background-color:transparent;">

                                                            <h:panelGroup layout="block" class="checkout-form-list "
                                                                          rendered="#{!loginBean.accountLoggedIn}">
                                                                <p:outputLabel for="password"
                                                                               value="#{msg['common.password']}"/>
                                                                <p:password id="password" required="true"
                                                                            match="passwordConfirm"
                                                                            validatorMessage="#{msg['common.passwordNotMatch']}"
                                                                            value="#{accountMB.account.password}"/>
                                                                <p:watermark for="password"
                                                                             value="#{msg['common.password']}"/>

                                                            </h:panelGroup>

                                                            <h:panelGroup layout="block" class="checkout-form-list "
                                                                          rendered="#{!loginBean.accountLoggedIn}">

                                                                <p:outputLabel for="passwordConfirm"
                                                                               value="#{msg['common.passwordConfirm']}"/>
                                                                <p:password id="passwordConfirm" required="true"
                                                                            value="#{accountMB.account.passwordConfirm}"/>
                                                                <p:watermark for="passwordConfirm"
                                                                             value="#{msg['common.passwordConfirm']}"/>

                                                            </h:panelGroup>
                                                        </p:panelGrid>

                                                    </div>


                                                </div>

                                                <p class="form-row align-items-center">


                                                    <p:commandButton styleClass="login-btn NO-PF-CLASS"
                                                                     action="#{accountMB.signUp}"
                                                                     oncomplete="$('select').selectize({sortField: 'text'});"
                                                                     onclick="setTimeout(  function() {$('.ui-dialog-content').animate({scrollTop:0},1000);}, 100);                                                "
                                                                     update=":mainJs  @form msg"
                                                                     value="#{msg['common.save']}"
                                                                     validateClient="true"/>
                                                    <!-- <label>
                                                         <input type="checkbox"/>
                                                         Remember me
                                                     </label>-->
                                                </p>
                                            </div>


                                        </h:form>
                                        <ui:remove>
                                            <form action="#">
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-3 col-md-4 col-form-label">Social title</label>
                                                    <div class="col-lg-6 col-md-8">
                                                    <span class="custom-radio"><input name="id_gender" value="1"
                                                                                      type="radio"> Mr.</input></span>
                                                        <span class="custom-radio"><input name="id_gender" value="1"
                                                                                          type="radio"> Mrs.</input></span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="f-name"
                                                           class="col-lg-3 col-md-4 col-form-label">First Name</label>
                                                    <div class="col-lg-6 col-md-8">
                                                        <input type="text" class="form-control" id="f-name"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="l-name"
                                                           class="col-lg-3 col-md-4 col-form-label">Last Name</label>
                                                    <div class="col-lg-6 col-md-8">
                                                        <input type="text" class="form-control" id="l-name"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="email"
                                                           class="col-lg-3 col-md-4 col-form-label">Email address</label>
                                                    <div class="col-lg-6 col-md-8">
                                                        <input type="text" class="form-control" id="email"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="inputpassword"
                                                           class="col-lg-3 col-md-4 col-form-label">Current password</label>
                                                    <div class="col-lg-6 col-md-8">
                                                        <input type="password" class="form-control" id="inputpassword"/>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="newpassword"
                                                           class="col-lg-3 col-md-4 col-form-label">New password</label>
                                                    <div class="col-lg-6 col-md-8">
                                                        <input type="password" class="form-control" id="newpassword"/>
                                                        <button class="btn show-btn" type="button">Show</button>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="c-password"
                                                           class="col-lg-3 col-md-4 col-form-label">Confirm password</label>
                                                    <div class="col-lg-6 col-md-8">
                                                        <input type="password" class="form-control" id="c-password"/>
                                                        <button class="btn show-btn" type="button">Show</button>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="birth"
                                                           class="col-lg-3 col-md-4 col-form-label">Birthdate</label>
                                                    <div class="col-lg-6 col-md-8">
                                                        <input type="text" class="form-control" id="birth"
                                                               placeholder="MM/DD/YYYY"/>
                                                    </div>
                                                </div>
                                                <div class="form-check row p-0 mt-20">
                                                    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-4">
                                                        <input class="form-check-input" value="#" id="offer"
                                                               type="checkbox"/>
                                                        <label class="form-check-label"
                                                               for="offer">Receive offers from our partners</label>
                                                    </div>
                                                </div>
                                                <div class="form-check row p-0 mt-20">
                                                    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-4">
                                                        <input class="form-check-input" value="#" id="subscribe"
                                                               type="checkbox"/>
                                                        <label class="form-check-label"
                                                               for="subscribe">Sign up for our newsletter<br/>Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers..</label>
                                                    </div>
                                                </div>
                                                <div class="register-box mt-40">
                                                    <button type="submit" class="return-customer-btn float-right">Save
                                                    </button>
                                                </div>
                                            </form>
                                        </ui:remove>
                                    </div>
                                </div>

                                <div id="orders" class="tab-pane fade ">
                                    <h3>#{msg['common.orders']}</h3>

                                    <p:dataTable var="order" value="#{accountMB.orderList}"
                                                 id="orderDtl" paginatorPosition="bottom"
                                                 reflow="true" dir="#{guestPreferences.getDir()}"
                                                 emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                                 paginatorAlwaysVisible="false"
                                                 currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                                 rowsPerPageTemplate="5,10,15,25"
                                                 paginatorTemplate="#{msg['common.show']} {RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                                 rowKey="#{order.id}" sortBy="#{order.id}" sortOrder="descending"
                                                 paginator="true" rows="5">

                                        <p:column headerText="#" width="50" sortBy="#{order.id}">
                                            #{order.id}
                                        </p:column>
                                        <p:column width="255" sortBy="#{order.creationDate}"

                                                  headerText="#{msg['common.dateAndTime']}">

                                            <div
                                                    style="direction: ltr; text-align: left">

                                                <h:outputText value="#{order.creationDate}">
                                                    <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"/>
                                                </h:outputText>
                                            </div>
                                        </p:column>
                                        <p:column headerText="#{msg['common.paymentStatus']}"
                                                  sortBy="#{order.shipmentStatus} ">
                                            <h:outputLabel rendered="#{order.paymentStatus ne null}"
                                                           value="#{msg['tnc'.concat(order.paymentStatus.code)]}"/>
                                        </p:column>
                                        <p:column headerText="#{msg['common.shipmentStatus']}"
                                                  sortBy="#{order.shipmentStatus} ">
                                            <p:outputLabel value="#{order.shipmentStatus.name()}"
                                                           rendered="#{order.shipmentStatus ne null}"/>
                                            <p:outputLabel value="-" rendered="#{order.shipmentStatus eq null}"/>

                                        </p:column>
                                        <p:column headerText="#{msg['common.orderTotal']}"
                                                  sortBy="#{order.total -   order.discount +order.shippingFee+order.paymentFee}"
                                        >

                                            <div style="direction: ltr; text-align: left">

                                                <elle:priceWitouConvert code="#{order.currency.currencyCode}"
                                                                        value="#{order.total -order.discount +order.shippingFee+order.paymentFee}"/>
                                            </div>
                                        </p:column>
                                        <p:column headerText="#{msg['common.orderDetails']}" width="150"
                                                  style="text-align: center">
                                            <p:commandLink action="#{accountMB.showProductItem(order)}" process="@this"
                                                           immediate="true"
                                                           styleClass="view">
                                                <i class="fa fa-search"/>


                                            </p:commandLink> </p:column>

                                    </p:dataTable>

                                </div>

                                <div id="changePassword" class="tab-pane fade ">
                                    <h3>#{msg['common.changePassword']}</h3>
                                    <h:form>
                                        <p:messages id="msg" closable="true"/>
                                        <div class="checkout-area ">


                                            <div class="col-lg-6">
                                                <div class="checkbox-form mb-sm-40">


                                                    <p:panelGrid columns="1" layout="grid"
                                                                 styleClass="ui-panelgrid-blank form-group"
                                                                 style="border:0px none; background-color:transparent;">


                                                        <h:panelGroup layout="block"
                                                                      class="checkout-form-list "
                                                        >
                                                            <p:outputLabel for="oldPassword"
                                                                           value="#{msg['common.currentPassword']}"/>
                                                            <p:password id="oldPassword" required="true"
                                                                        value="#{accountMB.cuPass}"/>
                                                            <p:watermark for="oldPassword"
                                                                         value="#{msg['common.currentPassword']}"/>

                                                        </h:panelGroup>


                                                        <h:panelGroup layout="block" class="checkout-form-list ">
                                                            <p:outputLabel for="password"
                                                                           value="#{msg['common.password']}"/>
                                                            <p:password id="password" required="true"
                                                                        match="passwordConfirm"
                                                                        validatorMessage="#{msg['common.passwordNotMatch']}"
                                                                        value="#{accountMB.pass}"/>
                                                            <p:watermark for="password"
                                                                         value="#{msg['common.password']}"/>

                                                        </h:panelGroup>

                                                        <h:panelGroup layout="block" class="checkout-form-list ">

                                                            <p:outputLabel for="passwordConfirm"
                                                                           value="#{msg['common.passwordConfirm']}"/>
                                                            <p:password id="passwordConfirm" required="true"
                                                                        value="#{accountMB.confPass}"/>
                                                            <p:watermark for="passwordConfirm"
                                                                         value="#{msg['common.passwordConfirm']}"/>

                                                        </h:panelGroup>

                                                        <p:commandButton
                                                                styleClass="login-btn NO-PF-CLASS"
                                                                style="width: 100%"
                                                                action="#{accountMB.changePassword}"
                                                                onclick="$('body').addClass('disableScroll') ;"
                                                                update=" @form msg"
                                                                value="#{msg['common.changePassword']}"
                                                                icon="fa fa-refresh"
                                                                oncomplete="$('body').removeClass('disableScroll')"
                                                                validateClient="true"/>

                                                    </p:panelGrid>
                                                </div>
                                            </div>
                                        </div>

                                    </h:form>
                                </div>
                                <h:panelGroup id="myCopuns" class="tab-pane fade "
                                              rendered="#{loginBean.currentAccount.accountType.name() ne 'CUSTOMER'}">
                                    <h3>#{msg['common.myCopuns']}</h3>


                                    <h:form>


                                        <ui:remove>
                                            <p:outputLabel value="#{msg['commn.couponCode']}" for="code"
                                                           style="visibility: hidden;display: none"/>
                                            <p:messages for="code"
                                                        style="width: 308px;margin-bottom:10px;"/>
                                            <p:watermark value="#{msg['commn.couponCode']}" for="code"/>
                                            <p:inputText value="#{couponMB.code}" id="code" required="true"
                                                         styleClass="codeT code"
                                            />

                                            <p:commandButton styleClass="NO-PF-CLASS cBtn "
                                                             style="margin: 4px;background: #4caf50;"
                                                             action="#{couponMB.findOrderByCoupon}"
                                                             update="@form"
                                                             value="#{msg['msg.search']}"
                                                             validateClient="true"/>
                                        </ui:remove>


                                        <p:dataTable var="coupon" lazy="true"
                                                     value="#{couponMB.myCouponCustomLazyDataModel}"
                                                     widgetVar="couponDtl" id="couponDtl" paginatorPosition="bottom"
                                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                                     paginatorAlwaysVisible="false" rowsPerPageTemplate="5,10,15,30,50"
                                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                                     paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                                     rowKey="#{coupon.id}" paginator="true" rows="5">
                                            <p:column headerText="#" width="50">#{index+1}</p:column>

                                            <p:column headerText="#{msg['common.couponNumber']}" sortable="true"
                                                      filterBy="#{coupon.couponNumber}"
                                                      sortBy="#{coupon.couponNumber}">#{coupon.couponNumber}</p:column>

                                            <p:column headerText="#{msg['common.name']}" sortable="true"
                                                      filterBy="#{msg['common.name']}"
                                                      sortBy="#{coupon.name}">#{coupon.name.get(currentLanguage.locale)}</p:column>

                                            <p:column sortBy="#{coupon.discount}" filterBy="#{coupon.discount}"
                                                      headerText="#{msg['common.discount']}"> <p:outputLabel
                                                    value="#{coupon.discount} #{coupon.percentage == true? '%' : ''}"/>
                                            </p:column>

                                            <p:column headerText="#{msg['common.couponValidDate']}"
                                                      sortBy="#{coupon.validToDate}">

                                                <p:outputLabel value="#{coupon.validToDate}">
                                                    <f:convertDateTime pattern="dd/MM/YYYY"/>
                                                </p:outputLabel>
                                            </p:column>

                                            <p:column headerText="#{msg['common.status']}" width="120"
                                                      sortBy="#{coupon.status}">
                                                <p:selectBooleanButton style="opacity: 1" disabled="true"
                                                                       value="#{coupon.status}"
                                                                       offLabel="#{msg['common.notActive']}"
                                                                       onLabel="#{msg['common.active']}"/>

                                            </p:column>
                                            <p:column headerText="#{msg['msg.search']}" width="120"
                                                      style="text-align: center!important">
                                                <p:commandLink process="@this @form:dates" update="@form" style="text-align: center"
                                                               styleClass="view" validateClient="true"
                                                               action="#{couponMB.findOrderByCoupon()}">
                                                    <f:setPropertyActionListener value="#{coupon.couponNumber}" target="#{couponMB.code}"/>
                                                    <i class="fa fa-search"/>

                                                </p:commandLink>

                                            </p:column>


                                        </p:dataTable>


                                        <br/>
                                        <hr/>
                                        <p:panelGrid columns="3" layout="grid" id="dates"
                                                     columnClasses="ui-g-11 ui-md-5 ,ui-g-11 ui-md-5 ,ui-g-2 ui-md-2"
                                                     styleClass="ui-panelgrid-blank form-group"
                                                     style="border:0px none; background-color:transparent;">
                                            <h:panelGroup>

                                                <h:outputText value="#{msg['common.fromDate']}"/>
                                                <p:calendar id="from" required="true" navigator="true"
                                                            yearRange="c-100:c"
                                                            value="#{couponMB.from}"
                                                            pattern="dd/MM/yyyy"/>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:outputText value="#{msg['common.toDate']}"/>
                                                <p:calendar id="to" required="true" navigator="true"
                                                            yearRange="c-100:c"
                                                            value="#{couponMB.to}"
                                                            pattern="dd/MM/yyyy"/>
                                            </h:panelGroup>
                                            <p:commandLink process="@this @form:dates" update="@form" style="text-align: center"
                                                           styleClass="view" validateClient="true" action="#{couponMB.findOrderByCoupon()}">
                                                <i class="fa fa-search"/>

                                            </p:commandLink>
                                        </p:panelGrid>
                                        <hr/>
                                        <p:remoteCommand immediate="true" action="#{couponMB.defaultFind()}" update="itemDtl commission"
                                                         autoRun="true"/>
                                        <div class="ui-g dashboard">


                                            <div class="ui-g-12 ui-md-6 ui-lg-5">


                                                <div class="ui-g  colorbox colorbox-4">
                                                    <div class="ui-g-4">
                                                        <i class="material-icons">monetization_on</i>
                                                    </div>
                                                    <div class="ui-g-8">
                                                        <span class="colorbox-name">#{msg['common.commission']} </span>
                                                        <span class="colorbox-count">
                                                                    <h:panelGroup layout="block" id="commission">

                                                                    <elle:priceWitouConvert value="#{couponMB.totalCommissions}"
                                                                                            code="USD"/>
                                                                    </h:panelGroup>
                                                                </span>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>


                                        <p:dataTable var="item" value="#{couponMB.itemCustomLazyDataModel}"
                                                     id="itemDtl" paginatorPosition="bottom" lazy="true"
                                                     reflow="true" dir="#{guestPreferences.getDir()}"
                                                     emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                                     paginatorAlwaysVisible="false"
                                                     currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                                     rowsPerPageTemplate="5,10,15,25"
                                                     paginatorTemplate="#{msg['common.show']} {RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                                     rowKey="#{item.id}" sortBy="#{item.id}" sortOrder="descending"
                                                     paginator="true" rows="5">
                                            <p:column headerText="#" width="50">#{index+1}</p:column>

                                            <p:column headerText="#{msg['common.code']}" sortable="true" filterBy="#{item.code}"
                                                      sortBy="#{item.code}"> #{item.code}</p:column>
                                            <p:column headerText="#{msg['common.name']}" sortable="true" filterBy="#{item.name}"
                                                      sortBy="#{item.name}" filterMatchMode="contains">
                                                <a target="blank" href="#{request.contextPath}/product-details.xhtml?id=#{item.id}">

                                                    #{item.name.get(currentLanguage.locale)}
                                                </a>
                                            </p:column>


                                            <p:column headerText="#{msg['common.category']} " filterMatchMode="contains"
                                                      filterBy="#{item.categoryString}"
                                            > #{item.categoryString}</p:column>

                                            <p:column headerText="#{msg['common.brand']}" sortable="true" filterMatchMode="contains"
                                                      filterBy="#{item.manufacturer.name.get(currentLanguage.locale)}"
                                                      sortBy="#{item.manufacturer}"> #{item.manufacturer.name.get(currentLanguage.locale)}</p:column>

                                            <p:column width="90"
                                                      style="text-align: center">
                                                <a target="blank" href="#{request.contextPath}/product-details.xhtml?id=#{item.id}"
                                                   class="view">

                                                    <i class="fa fa-search"/> </a>


                                            </p:column>


                                        </p:dataTable>
                                    </h:form>
                                </h:panelGroup>
                                <div id="wishlist" class="tab-pane fade ">
                                    <h3>#{msg['common.myWishlist']}</h3>
                                    <h:form>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>#{msg['common.productPic']}</th>
                                                    <th>#{msg['common.productName']}</th>
                                                    <th>#{msg['common.desc']}</th>
                                                    <th>#{msg['common.action']}</th>
                                                </tr>
                                                </thead>
                                                <tbody>


                                                <ui:repeat value="#{wishListMB.wishList.items}" var="item">


                                                    <tr>
                                                        <td><p:lightBox styleClass="imagebox" blockScroll="true"
                                                                        rendered="#{not empty item.image}">
                                                            <ui:repeat value="#{item.image}" var="img">
                                                                <h:outputLink styleClass="link#{img.id}"
                                                                              value="#{imageMb.getImageUrl(img.name)}"
                                                                              title="#{item.name.get(item.currentLanguage)}">

                                                                    <p:graphicImage styleClass="img"
                                                                                    width="50" height="50"
                                                                                    cache="true"
                                                                                    url="#{imageMb.getImageUrl(img.name)}">
                                                                        <f:param name="v" value="#{img.versionId}"/>
                                                                    </p:graphicImage>


                                                                </h:outputLink>


                                                            </ui:repeat>
                                                        </p:lightBox>
                                                        </td>

                                                        <td>#{item.name[item.currentLanguage]}
                                                        </td>
                                                        <td>
                                                            <h:outputText value="#{item.desc[item.currentLanguage]}"
                                                                          escape="false"/>
                                                        </td>
                                                        <td>

                                                            <button class="pro-cart" title=" #{msg['common.addToCart']}"
                                                                    onclick="addToCart([{name:'productId', value:'#{item.id}'} , {name:'qty', value:'1'}]) ;return false;">
                                                                <span class="fa fa-shopping-cart"/>

                                                            </button>

                                                            <button class="pro-cart"
                                                                    title="#{msg['common.removeFromWishlist']}"
                                                                    onclick="removeFromWishlist([{name:'productId', value:'#{item.id}'}]) ;return false;">
                                                                <span class="fa fa-close"/>

                                                            </button>


                                                        </td>
                                                    </tr>
                                                </ui:repeat>

                                                </tbody>
                                            </table>
                                        </div>
                                        <p:remoteCommand name="addToCart" immediate="true" update="@none"
                                                         action="#{cartMB.addToCart}"/>
                                        <p:remoteCommand name="removeFromWishlist" immediate="true" update="@form"
                                                         action="#{wishListMB.removeFromWishlist}"/>
                                        <script>
                                            $(function () {
                                                $('button').tooltip();
                                            });
                                        </script>
                                    </h:form>
                                </div>
                                <ui:include src="/resources/components/orderItems.xhtml"></ui:include>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account Page End Here -->

        <style>
            body .ui-datatable tfoot td {
                padding: 10px 14px;
                border: 1px solid #bdbdbd;
                background-color: #4caf50;
                color: #f3f3f3;
            }

            .dashboard .colorbox .colorbox-name {
                font-size: 17px;
            }

            .dashboard .colorbox .colorbox-count {
                direction: ltr;
                color: #ffffff;
                font-size: 23px;
            }
        </style>
        <script>

            function changeParam(val) {
                var url1 = url();


                var regEx = /([?&amp;]active)=([^#&amp;]*)/g;
                var newurl = url1.replace(regEx, "$1=" + val);
                if (url1.indexOf('active') &lt; 0) {
                    newurl = newurl + '?active=' + val;
                }
                window.history.replaceState({}, '', newurl);
            }

            $(function () {
                var idt = document.getElementById(url('?active'));
                if (idt) {
                    $('.tab-content .tab-pane').removeClass('show active');
                    $(idt).addClass('show active');
                    console.log(url('?active'));
                    $("a[href$='#" + url('?active') + "']").addClass('active');
                }
            });
        </script>

    </ui:define>
</ui:composition>
