<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:elle="http://java.sun.com/jsf/composite/components"

                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/template.xhtml">
    <ui:define name="title">#{msg['common.home']}</ui:define>

    <ui:define name="head">
        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="#{request.contextPath}/index.xhtml">#{msg['common.home']}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#{request.contextPath}/customer/orderStatus.xhtml">#{msg['common.orderStatus']}</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->

        <div class="coupon-area white-bg pt-90 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div id="orders" class="tab-pane ">
                            <h3>#{msg['common.orders']}</h3>

                            <h:form>


                                <p:outputLabel value="#{msg['commn.couponCode']}" for="code"
                                               style="visibility: hidden;display: none"/>
                                <p:messages for="code"
                                            style="width: 308px;margin-bottom:10px;"/>
                                <p:watermark value="#{msg['commn.couponCode']}" for="code"/>

                                <p:inputText value="#{couponMB.code}" id="code" required="true"
                                             styleClass="codeT code"
                                />

                                <p:commandButton styleClass="NO-PF-CLASS cBtn "
                                                 style="margin: 4px;background: #4caf50;"
                                                 action="#{couponMB.findOrderByCoupon}"
                                                 update="@form"
                                                 value="#{msg['msg.search']}"
                                                 validateClient="true"/>

                                <hr/>


                                <p:dataTable var="order" value="#{couponMB.orderCustomLazyDataModel}"
                                             id="orderDtl" paginatorPosition="bottom" lazy="true"
                                             reflow="true" dir="#{guestPreferences.getDir()}"
                                             emptyMessage="#{msg['common.NoData']}" rowIndexVar="index"
                                             paginatorAlwaysVisible="false"
                                             currentPageReportTemplate="#{msg['common.showing']}  {startRecord} - {endRecord} #{msg['common.of']}  {totalRecords}"
                                             rowsPerPageTemplate="5,10,15,25"
                                             paginatorTemplate="#{msg['common.show']} {RowsPerPageDropdown} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                             rowKey="#{order.id}" sortBy="#{order.id}" sortOrder="descending"
                                             paginator="true" rows="5">

                                    <p:column headerText="#" width="50" sortBy="#{order.id}">
                                        #{order.id}
                                    </p:column>
                                    <p:column width="255" sortBy="#{order.creationDate}"

                                              headerText="#{msg['common.dateAndTime']}">

                                        <div style="direction: ltr; text-align: left">

                                            <h:outputText value="#{order.creationDate}">
                                                <f:convertDateTime pattern="MM/dd/yyyy hh:mm:ss a"/>
                                            </h:outputText>
                                        </div>
                                    </p:column>
                                    <p:column headerText="#{msg['common.paymentStatus']}"
                                              sortBy="#{order.shipmentStatus} ">
                                        <h:outputLabel rendered="#{order.paymentStatus ne null}"
                                                       value="#{msg['tnc'.concat(order.paymentStatus.code)]}"/>
                                    </p:column>
                                    <p:column headerText="#{msg['common.cartTotals']}"
                                              sortBy="#{order.total}">

                                        <div style="direction: ltr; text-align: left">

                                            <elle:priceWitouConvert code="USD"
                                                                    value="#{order.total /order.currencyValue}"/>
                                        </div>
                                    </p:column>

                                    <p:column headerText="#{msg['common.discount']}"
                                              sortBy="#{order.discount}">

                                        <div style="direction: ltr; text-align: left">

                                            <elle:priceWitouConvert code="USD"
                                                                    value="#{order.discount / order.currencyValue}"/>
                                        </div>
                                    </p:column>

                                    <p:column headerText="#{msg['common.shipping']}"
                                              sortBy="#{order.shippingFee}">

                                        <div style="direction: ltr; text-align: left">

                                            <elle:priceWitouConvert code="USD"
                                                                    value="#{order.shippingFee / order.currencyValue}"/>
                                        </div>
                                    </p:column>

                                    <p:column headerText="#{msg['common.payment-type.fee']}"
                                              sortBy="#{order.paymentFee}">

                                        <div style="direction: ltr; text-align: left">

                                            <elle:priceWitouConvert code="USD"
                                                                    value="#{order.paymentFee / order.currencyValue}"/>
                                        </div>
                                    </p:column>

                                    <p:column headerText="#{msg['common.orderTotal']}"
                                              sortBy="#{order.total -   order.discount +order.shippingFee+order.paymentFee}">

                                        <div style="direction: ltr; text-align: left">

                                            <elle:priceWitouConvert code="USD"
                                                                    value="#{(order.total -order.discount +order.shippingFee+order.paymentFee) /order.currencyValue}"/>
                                        </div>
                                    </p:column>

                                    <p:column headerText="#{msg['common.orderDetails']}" width="150"
                                              style="text-align: center" rendered="false">
                                        <p:commandLink action="#{accountMB.showProductItem(order)}" process="@this"
                                                       immediate="true"
                                                       styleClass="view">
                                            <i class="fa fa-search"/>

                                        </p:commandLink> </p:column>

                                    <f:facet name="footer">

                                        <div style="direction: ltr; text-align: left">
                                            Total
                                            <elle:priceWitouConvert code="USD"
                                                                    value="#{couponMB.totalAll}"/>
                                        </div>

                                    </f:facet>

                                </p:dataTable>
                            </h:form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>