<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="title">#{msg['common.home']}</ui:define>

    <ui:define name="head">
        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS}"/>

            <f:viewAction action="#{orderStatusMB.init(param.id)}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="#{request.contextPath}/index.xhtml">#{msg['common.home']}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#{request.contextPath}/customer/orderStatus.xhtml">#{msg['common.orderStatus']}</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->

        <div class="coupon-area white-bg pt-90 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h:panelGroup rendered="#{orderStatusMB.order ne null}">
                                <h:outputLabel value="#{msg['common.orderStatus']} :"/>
                                <br/>
                                <h:outputLabel
                                        style="    border: 3px solid #006224; font-size: 24px;   border-style: double;    padding: 8px 25px;    border-radius: 10px;"
                                        value="#{msg['tnc'.concat(orderStatusMB.order.paymentStatus.code)]}"/>

                                <br/>
                                <p:outputLabel value="#{msg['common.orderNo']}"/>
                                <br/>
                                <h:outputLabel
                                        style="    border: 3px solid #006224; font-size: 24px;   border-style: double;    padding: 8px 25px;    border-radius: 10px;"
                                        value="##{orderStatusMB.order.id}"/>


                            </h:panelGroup>


                        </center>
                        <br/>
                        <br/>

                        <center>
                            <p:link href="#{request.contextPath}/index.xhtml"
                               style="background: #8cc544;    border-radius: 15px; color: white;   padding: 5px 14px;    margin: 10px;"
                               class="BackToHome"
                               data-toggle="tooltip" data-original-title="#{msg['common.backToHome']}">
                                <i class="fa fa-home"/>
                                #{msg['common.backToHome']}</p:link>

                        </center>

                    </div>
                </div>
            </div>
        </div>

    </ui:define>
</ui:composition>
