<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/WEB-INF/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:elle="http://java.sun.com/jsf/composite/components"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="title">#{msg['common.home']}</ui:define>

    <ui:define name="head">
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout"/>

        <f:viewAction action="#{cartMB.preparePaymentType()}"/>

    </ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="index.xhtml">#{msg['common.home']}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="cart.xhtml">#{msg['common.cart']}</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Cart Main Area Start -->
        <div class="cart-main-area  ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Form Start -->
                        <h:form>
                            <!-- Table Content Start -->
                            <h:panelGroup id="table-cart" class="table-content table-responsive mb-45">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product-thumbnail">#{msg['msg.slide.image']}</th>
                                        <th class="product-name">#{msg['common.name']}</th>
                                        <th class="product-price">#{msg['common.price']}</th>
                                        <th class="product-quantity">#{msg['common.qty']}</th>
                                        <th class="product-subtotal">#{msg['common.total']}</th>
                                        <th class="product-remove">#{msg['common.remove']}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ui:repeat value="#{cartMB.cartList}" var="cart">
                                        <tr>
                                            <td class="product-thumbnail">
                                                <p:lightBox styleClass="imagebox" blockScroll="true"
                                                            rendered="#{not empty cart.item.image}">
                                                    <ui:repeat value="#{cart.item.image}" var="img">
                                                        <h:outputLink styleClass="link#{img.id}"
                                                               value="#{imageMb.getImageUrl(img.name)}"       title="#{cart.item.name.get(cart.currentLanguage)}">

                                                            <p:graphicImage styleClass="img" cache="true"
                                                                            style="width: #{85/(cart.item.image.size())}%!important; margin:2px"
                                                                            alt="#{cart.item.name.get(cart.currentLanguage)}"
                                                                            url="#{imageMb.getImageUrl(img)}"
                                                                            height="50">
                                                            </p:graphicImage>


                                                        </h:outputLink>

                                                    </ui:repeat>
                                                </p:lightBox>

                                            </td>
                                            <td class="product-name">
                                                <a href="product-details.xhtml?id=#{cart.item.id}">#{cart.item.name.get(cart.currentLanguage)}</a>
                                            </td>
                                            <td class="product-price"><span class="amount">
                                                <elle:price value="#{cart.item.finalPrice}"/>


                                            </span></td>
                                            <td class="product-quantity">
                                                <p:inputText type="number" value="#{cart.qty}" min="1" max="100"
                                                           styleClass="custom-spinner">
                                                    <p:ajax event="change" update="@form :cartList :sumQty" process="@this" global="false"/>
                                                </p:inputText>

                                            </td>
                                            <td class="product-subtotal">
                                                <elle:price value="#{cart.item.finalPrice}" qty="#{cart.qty}"/>
                                            </td>
                                            <td class="product-remove">
                                                <p:commandLink id="remove" action="#{cartMB.cartList.remove(cart)}" immediate="true"
                                                               update="@form :cartList :sumQty">
                                                    <i class="fa fa-times"/>
                                                </p:commandLink>
                                                <p:tooltip for="remove" value="#{msg['common.remove']}" />
                                            </td>
                                        </tr>

                                    </ui:repeat>
                                    </tbody>
                                </table>
                            </h:panelGroup>
                            <!-- Table Content Start -->
                            <div class="row">
                                <!-- Cart Button Start -->
                                <div class="col-md-8 col-sm-12">
                                    <div class="buttons-cart">
                                        <a href="index.xhtml">#{msg['common.continueShopping']}</a>
                                    </div>
                                </div>
                                <!-- Cart Button Start -->
                                <!-- Cart Totals Start -->
                                <div class="col-md-4 col-sm-12">
                                    <div class="cart_totals float-md-right text-md-right">
                                        <h2>#{msg['common.orderTotal']}</h2>
                                        <br/>
                                        <table class="float-md-right">
                                            <tbody>
                                            <tr class="cart-subtotal">
                                                <th>#{msg['common.cartTotals']}</th>
                                                <td>
                                                    <span class="amount">
                                                    <elle:price
                                                            value="#{cartMB.sumFinalAmountPrice} "/>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="cart-subtotal">
                                                <th>#{msg['common.shipping']}</th>
                                                <td>
                                                    <span class="amount">
                                                    <elle:price value="#{cartMB.shipment} "/>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="cart-subtotal">
                                                <th>#{msg['common.discount']}</th>
                                                <td>
                                                    <span class="amount">
                                                    <elle:price value="#{cartMB.discount} "/>
                                                    </span>
                                                </td>
                                            </tr>


                                            <h:panelGroup rendered="#{cartMB.paymentType.id eq 1}">
                                                <tr class="cart-subtotal" style="background: #d3ffaa;">
                                                    <th>#{msg['common.payment-type.fee']}</th>
                                                    <td>
                                                        <span class="amount">
                                                        <elle:price value="#{cartMB.paymentRate}"/>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </h:panelGroup>


                                            <tr class="order-total">
                                                <th>#{msg['common.orderTotal']}</th>
                                                <td>
                                                    <strong>
                                                        <span class="amount">

                                                               <elle:price
                                                                       value="#{cartMB.cartList.stream().map(c->c.qty *c.item.finalPrice).sum()-cartMB.discount + cartMB.shipment+cartMB.paymentRate} "/>
                                                        </span>
                                                    </strong>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="checkout.xhtml">#{msg['common.proceedToCheckout']}</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Totals End -->
                            </div>
                            <!-- Row End -->
                        </h:form>
                        <!-- Form End -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
        </div>
        <!-- Cart Main Area End -->



    </ui:define>
</ui:composition>
