<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/template.xhtml">


    <ui:define name="title">#{msg['common.changePassword']}</ui:define>

    <ui:define name="head">

        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS}"/>
            <f:viewAction action="#{accountMB.prepareToChangePassword(param.token)}"/>

        </f:metadata>
    </ui:define>

    <ui:define name="content">


        <div class="form-gap"></div>
        <div class="container">
            <div class="row">



                <div style="margin: auto">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="text-center">
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">#{msg['common.changePassword']}</h2>
                                <p:spacer height="20"></p:spacer>
                                <p>#{msg['common.password.forgot.can']}</p>
                                <p:spacer height="20"></p:spacer>
                                <div class="panel-body">


                                    <h:outputLabel rendered="#{accountMB.accountToChangePass eq null}" style="color: red; font-size: 20px" value="#{msg['theLinkIsExpired']}" />
                                    <h:form id="register-form" role="form" autocomplete="off" class="form"
                                            method="post" rendered="#{accountMB.accountToChangePass ne null}">
                                        <p:growl id="growl" for="growl" globalOnly="true" closable="true"/>


                                        <div class="form-group">


                                            <p:message for="pass"/>

                                            <p:outputLabel for="pass" style="display: none"
                                                           value="#{msg['common.password']}"/>
                                            <h:panelGroup class="input-group">
                                                    <span class="input-group-addon">
                                                    <i class="fa fa-lock color-blue"/>
                                                </span>
                                                <p:password required="true"  style="direction: ltr"
                                                            value="#{accountMB.pass}"
                                                            match="confPass"
                                                            validatorMessage="#{msg['common.passwordNotMatch']}"
                                                            id="pass" styleClass="form-control"
                                                            placeholder="#{msg['common.password']}"/>

                                            </h:panelGroup>



                                            <p:message for="confPass"/>

                                            <p:outputLabel for="confPass" style="display: none"
                                                           value="#{msg['common.passwordConfirm']}"/>
                                            <h:panelGroup class="input-group">
                                                    <span class="input-group-addon">
                                                    <i class="fa fa-lock color-blue"/>
                                                </span>
                                                <p:password required="true"  style="direction: ltr"
                                                            value="#{accountMB.confPass}"
                                                            id="confPass" styleClass="form-control"
                                                            placeholder="#{msg['common.passwordConfirm']}"/>

                                            </h:panelGroup>



                                        </div>
                                        <div class="form-group">


                                            <p:commandButton update="@form" process="@form" validateClient="true"
                                                             onclick="$('body').addClass('disableScroll')"
                                                             value="#{msg['common.changePassword']}"
                                                             styleClass=" NO-PF-CLASS btn btn-md btn-success btn-block"
                                                             action="#{accountMB.forceChangePassword()}"/>
                                        </div>

                                        <input type="hidden" class="hide" name="token" id="token" value=""/>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </ui:define>
</ui:composition>
