<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:elle="http://java.sun.com/jsf/composite/components"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="title">#{msg['common.home']}</ui:define>

    <ui:define name="head">
        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS}"/>

            <f:viewAction action="#{accountMB.init()}"/>
            <f:viewAction action="#{accountMB.prepareAccount()}"/>
            <f:viewAction action="#{cartMB.preparePaymentType()}"/>


        </f:metadata>
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout"/>

    </ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="index.xhtml">#{msg['common.home']}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="checkout.xhtml">#{msg['common.cart']}</a>


                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->

        <h:panelGroup id="chGrd" layout="block" class="coupon-area white-bg pt-50 pb-30">


            <!-- coupon-area end -->
            <!-- checkout-area start -->

            <div class="checkout-area white-bg ">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-md-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="coupon-accordion">
                                <ui:remove>
                                            <!-- Accordion Start -->
                                            <h3>#{msg['common.haveCoupon']} <span
                                                    id="showcoupon">#{msg['common.haveCoupon.clickToAdd']}</span></h3>
                                            <div id="checkout_coupon" class="coupon-checkout-content">
                                                <div class="coupon-info">
                                                    <h:form id="frmCompon">
                                                        <p class="checkout-coupon">
                                                            <p:outputLabel value="#{msg['commn.couponCode']}" for="code"
                                                                           style="visibility: hidden;display: none"/>
                                                            <p:messages for="code"
                                                                        style="width: 308px;margin-bottom:-10px;"/>
                                                            <p:watermark value="#{msg['commn.couponCode']}" for="code"/>
                                                            <p:inputText value="#{cartMB.sCoupon}" id="code"
                                                                         styleClass="codeT code"
                                                                         required="true"/>

                                                            <p:commandButton styleClass="NO-PF-CLASS cBtn"

                                                                             action="#{cartMB.applyCoupon()}"
                                                                             update="@form"
                                                                             value="#{msg['common.applyCoupon']}"
                                                                             validateClient="true"/>

                                                        </p>
                                                    </h:form>
                                                </div>
                                            </div>
                                            <!-- ACCORDION END -->
                                </ui:remove>
                                            <c:if test="#{!loginBean.loggedIn}">
                                                <!-- Accordion Start -->
                                                <h3>#{msg['common.haveAccount']} <span
                                                        id="showlogin">#{msg['common.haveAccount.clickToAdd']}</span>
                                                </h3>
                                                <div id="checkout-login" class="coupon-content" style="display: block">
                                                    <div class="coupon-info">
                                                        <h:form id="frmLogin">

                                                            <p:messages style="width: 370px;"/>
                                                            <p class="form-row-first">

                                                                <p:outputLabel for="username"
                                                                               value="#{msg['common.email']}"/>
                                                                <p:inputText dir="LTR" style="direction: ltr"
                                                                             value="#{loginBean.username}"
                                                                             required="true" type="text"
                                                                             styleClass="form-control"
                                                                             id="username"
                                                                             placeholder="#{msg['common.email']}">
                                                                </p:inputText>

                                                            </p>
                                                            <p class="form-row-last">

                                                                <p:outputLabel for="inputPassword"
                                                                               value="#{msg['common.password']}"/>
                                                                <p:password value="#{loginBean.password}"
                                                                            type="password"
                                                                            dir="LTR"
                                                                            styleClass="form-control password-field"
                                                                            id="inputPassword" required="true"
                                                                            placeholder="#{msg['common.password']}"/>

                                                            </p>
                                                            <p class="form-row align-items-center">


                                                                <p:commandButton styleClass="login-btn NO-PF-CLASS"
                                                                                 actionListener="#{loginBean.login(false)}"
                                                                                 action="#{accountMB.prepareAccount}"
                                                                                 update="@form"
                                                                                 value="#{msg['common.login']}"
                                                                                 validateClient="true"/>
                                                                <!-- <label>
                                                                     <input type="checkbox"/>
                                                                     Remember me
                                                                 </label>-->
                                                            </p>
                                                            <p class="lost-password">
                                                                <a href="#{request.contextPath}/forgot-password.xhtml">#{msg['common.password.forgot']}  </a>
                                                            </p>
                                                        </h:form>
                                                    </div>
                                                </div>
                                                <!-- Accordion End -->

                                            </c:if>

                                            <div id="cbox_info" class="coupon-checkout-content" style="display: block">


                                                <h:form id="frmsignUp">
                                                    <p:messages id="msg"/>
                                                    <div class="checkout-area ">


                                                        <div class="checkbox-form mb-sm-40">
                                                            <h3 style="font-size: 16px;">#{msg['common.Accountdetails']}
                                                                <c:if test="#{loginBean.loggedIn}">
                                                                    <a class="cRed"
                                                                       href="#{request.contextPath}/customer/account.xhtml">
                                                                        <span class="cRed">   /  #{msg['msg.btn.edit']}</span>
                                                                        <i
                                                                                class="fa fa-edit"/>
                                                                    </a>
                                                                </c:if>

                                                            </h3>


                                                            <p:panelGrid columns="2" layout="grid"
                                                                         styleClass="ui-panelgrid-blank form-group"
                                                                         style="border:0px none; background-color:transparent;">
                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list ">

                                                                    <p:outputLabel for="fName"
                                                                                   value="#{msg['common.fName']}"/>
                                                                    <p:inputText required="true"
                                                                                 disabled="#{loginBean.loggedIn}"
                                                                                 id="fName"
                                                                                 value="#{accountMB.account.firstName}">

                                                                            <p:ajax process="@this" update="@none" global="false" />
                                                                    </p:inputText>
                                                                    <p:watermark for="fName"
                                                                                 value="#{msg['common.fName']}"/>
                                                                </h:panelGroup>
                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list ">
                                                                    <p:outputLabel for="lName"
                                                                                   value="#{msg['common.lName']}"/>
                                                                    <p:inputText id="lName" required="true"
                                                                                 disabled="#{loginBean.loggedIn}"
                                                                                 value="#{accountMB.account.lastName}">
                                                                        <p:ajax process="@this" update="@none" global="false" />

                                                                    </p:inputText>
                                                                    <p:watermark for="lName"
                                                                                 value="#{msg['common.lName']}"/>
                                                                </h:panelGroup>
                                                            </p:panelGrid>


                                                            <p:panelGrid columns="2" layout="grid"
                                                                         styleClass="ui-panelgrid-blank form-group"
                                                                         style="border:0px none; background-color:transparent;">
                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list country-select- clearfix ">


                                                                    <label>#{msg['common.country']} <span
                                                                            class="required">*</span></label>
                                                                    <p:outputLabel style="display: none"
                                                                                   for="country"
                                                                                   value="#{msg['common.country']}"/>
                                                                    <p:inputText
                                                                            style="visibility: hidden ; height: 0;width: 0 ;margin: 0;float: left;"
                                                                            required="true" type="text"
                                                                            id="country"
                                                                            value="#{accountMB.temp}"/>
                                                                    <h:selectOneMenu
                                                                            value="#{accountMB.selectedCountryShipment}"
                                                                            styleClass="wide custSelect"
                                                                            required="false" id="cs"
                                                                            valueChangeListener="#{cartMB.changeCountry}"
                                                                            disabled="#{loginBean.loggedIn}"
                                                                            requiredMessage="#{msg['common.country']} #{msg['common.required']}"
                                                                            converter="omnifaces.SelectItemsConverter">
                                                                        <f:selectItem noSelectionOption="true"
                                                                                      itemLabel="#{msg['msg.select']}"/>
                                                                        <f:selectItems
                                                                                value="#{accountMB.countryShipmentList}"
                                                                                var="co"
                                                                                itemLabel="#{co.country.discriminator[co.currentLanguage]}"
                                                                                itemValue="#{co}"/>
                                                                        <f:ajax execute="cs" render="country phone  "/>

                                                                    </h:selectOneMenu>

                                                                </h:panelGroup>
                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list country-select- clearfix ">


                                                                    <label>#{msg['common.city']} <span
                                                                            class="required">*</span></label>
                                                                    <p:outputLabel
                                                                            style="display: none;float: left;"
                                                                            for="city"
                                                                            value="#{msg['common.city']}"/>
                                                                    <p:inputText
                                                                            style="visibility: hidden ; height: 0;width: 0 ;margin: 0;float: left;"
                                                                            required="true" type="text"
                                                                            id="city"
                                                                            value="#{accountMB.account.city}"/>
                                                                    <h:selectOneMenu
                                                                            value="#{accountMB.account.city}"
                                                                            styleClass="wide custSelect"
                                                                            required="false" id="ci"

                                                                            disabled="#{loginBean.loggedIn}"
                                                                            requiredMessage="#{msg['common.city']} #{msg['common.required']}">
                                                                        <f:selectItem noSelectionOption="true"
                                                                                      itemLabel="#{msg['msg.select']}"/>
                                                                        <f:selectItems
                                                                                value="#{accountMB.cities}"
                                                                                var="co"
                                                                                itemLabel="#{co}"
                                                                                itemValue="#{co}"/>
                                                                        <f:ajax execute="ci" render="city"
                                                                                onevent="PF('statusDialog').hide()"/>

                                                                    </h:selectOneMenu>

                                                                </h:panelGroup>
                                                            </p:panelGrid>

                                                            <p:panelGrid columns="2" layout="grid"
                                                                         styleClass="ui-panelgrid-blank form-group"
                                                                         style="border:0px none; background-color:transparent;">


                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list ">

                                                                    <p:outputLabel for="state"
                                                                                   value="#{msg['common.state']}"/>
                                                                    <p:inputText required="true"
                                                                                 disabled="#{loginBean.loggedIn}"
                                                                                 id="state"
                                                                                 type="text"
                                                                                 value="#{accountMB.account.state}"/>
                                                                    <p:watermark for="state"
                                                                                 value="#{msg['common.state']}"/>
                                                                </h:panelGroup>
                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list ">

                                                                    <p:outputLabel for="postcode"
                                                                                   value="#{msg['common.postcode']}"/>
                                                                    <p:inputText required="true"
                                                                                 disabled="#{loginBean.loggedIn}"
                                                                                 type="text"
                                                                                 id="postcode"
                                                                                 value="#{accountMB.account.postcode}"/>
                                                                    <p:watermark for="postcode"
                                                                                 value="#{msg['common.postcode']}"/>

                                                                </h:panelGroup>

                                                            </p:panelGrid>
                                                            <div class="col-md-12">
                                                                <div class="checkout-form-list">
                                                                    <p:outputLabel for="address"
                                                                                   value="#{msg['common.address']}"/>
                                                                    <p:inputTextarea id="address"
                                                                                     disabled="#{loginBean.loggedIn}"
                                                                                     rows="4"
                                                                                     type="text"
                                                                                     value="#{accountMB.account.address}"/>
                                                                    <p:watermark for="address"
                                                                                 value="#{msg['common.address']}"/>

                                                                </div>
                                                            </div>

                                                            <p:panelGrid columns="2" layout="grid"
                                                                         styleClass="ui-panelgrid-blank form-group"
                                                                         style="border:0px none; background-color:transparent;">
                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list ">

                                                                    <p:outputLabel for="email"
                                                                                   value="#{msg['common.email']}"/>
                                                                    <p:inputText rendered="true"
                                                                                 disabled="#{loginBean.loggedIn}"
                                                                                 type="text"
                                                                                 id="email" required="true"
                                                                                 validatorMessage="#{msg['common.invalidEmail']}"
                                                                                 value="#{accountMB.account.email}">
                                                                        <f:validateRegex
                                                                                pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                                                    </p:inputText>
                                                                    <p:watermark for="email"
                                                                                 value="#{msg['common.email']}"/>

                                                                </h:panelGroup>

                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list ">
                                                                    <p:outputLabel for="phone"
                                                                                   value="#{msg['common.phone']}"/>
                                                                    <pe:inputPhone dir="ltr" required="true"
                                                                                   id="phone" validatorMessage="#{msg['common.phone.notCorrect']}"
                                                                                   value="#{accountMB.account.phone}"
                                                                                   style="width:100%"
                                                                                   disabled="#{loginBean.loggedIn}"
                                                                                   initialCountry="#{accountMB.account.phoneCode}">
                                                                        <p:ajax event="countrySelect"
                                                                                listener="#{accountMB.onCountrySelect}"/>
                                                                    </pe:inputPhone>
                                                                    <p:watermark for="phone"
                                                                                 value="#{msg['common.phone']}"/>

                                                                </h:panelGroup>

                                                            </p:panelGrid>

                                                            <p:panelGrid columns="2" layout="grid"
                                                                         styleClass="ui-panelgrid-blank form-group"
                                                                         style="border:0px none; background-color:transparent;">

                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list "
                                                                              rendered="#{!loginBean.loggedIn}">
                                                                    <p:outputLabel for="password"
                                                                                   value="#{msg['common.password']}"/>
                                                                    <p:password id="password" required="true"
                                                                                match="passwordConfirm"
                                                                                validatorMessage="#{msg['common.passwordNotMatch']}"
                                                                                value="#{accountMB.account.password}"/>
                                                                    <p:watermark for="password"
                                                                                 value="#{msg['common.password']}"/>

                                                                </h:panelGroup>

                                                                <h:panelGroup layout="block"
                                                                              class="checkout-form-list "
                                                                              rendered="#{!loginBean.loggedIn}">

                                                                    <p:outputLabel for="passwordConfirm"
                                                                                   value="#{msg['common.passwordConfirm']}"/>
                                                                    <p:password id="passwordConfirm"
                                                                                required="true"
                                                                                value="#{accountMB.account.passwordConfirm}"/>
                                                                    <p:watermark for="passwordConfirm"
                                                                                 value="#{msg['common.passwordConfirm']}"/>

                                                                </h:panelGroup>
                                                                <p:commandButton
                                                                        styleClass="login-btn NO-PF-CLASS"
                                                                        style="width: 100%"
                                                                        action="#{accountMB.signUp}"
                                                                        rendered="#{!loginBean.loggedIn}"
                                                                        onclick="$('body').addClass('disableScroll') ;"
                                                                        update=":coupon-accordion :mainJs :frmPay @form msg"
                                                                        value="#{msg['common.login']}"
                                                                        icon="fa fa-user-plus"
                                                                        oncomplete="$('body').removeClass('disableScroll')"
                                                                        validateClient="true"/>
                                                            </p:panelGrid>

                                                        </div>


                                                    </div>


                                                </h:form>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <h:panelGroup layout="block" styleClass="coupon-accordion" id="coupon-accordion">


                                <script>

                                    $('#showlogin').on('click', function () {
                                        $('#checkout-login').slideToggle();
                                    });
                                    $('#showcoupon').on('click', function () {
                                        $('#checkout_coupon').slideToggle();
                                    });
                                    $('#cbox').on('click', function () {
                                        $('#cbox_info').slideToggle();
                                    });
                                    $('#ship-box').on('click', function () {
                                        $('#ship-box-info').slideToggle();
                                    });
                                </script>
                            </h:panelGroup>


                        </div>
                        <div class="col-lg-4 col-md-4">
                            <h:form id="frmPay">
                                <div class="your-order">
                                    <h3>#{msg['common.yourOrder']}</h3>
                                    <h:panelGroup id="orderDt" layout="block"
                                                  styleClass="your-order-table table-responsive">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th class="product-name">#{msg['common.productName']}</th>
                                                <th class="product-total">#{msg['common.total']}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <ui:repeat value="#{cartMB.cartList}" var="cart">
                                                <tr class="cart_item">
                                                    <td class="product-name">
                                                        #{cart.item.name.get(cart.currentLanguage)}  <span
                                                            class="product-quantity"> × #{cart.qty}</span>
                                                    </td>
                                                    <td class="product-total">
                                                <span class="amount"> <elle:price value="#{cart.item.finalPrice}"
                                                                                  qty="#{cart.qty}"/></span>
                                                    </td>
                                                </tr>

                                            </ui:repeat>
                                            </tbody>
                                            <tfoot>
                                            <tr class="cart-subtotal" style="background: #ffffff;">
                                                <th>#{msg['common.cartTotals']}</th>
                                                <td><span class="amount">
                                             <elle:price
                                                     value="#{cartMB.cartList.stream().map(c->c.qty *c.item.finalPrice).sum()} "/>


                                        </span></td>
                                            </tr>

                                            <tr class="cart-subtotal" style="background: #ffa498">
                                                <th>#{msg['common.discount']}</th>
                                                <td>
                                            <span class="amount">
                                             <elle:price value="#{cartMB.discount}"/>
                                        </span>
                                                </td>
                                            </tr>

                                            <tr class="cart-subtotal" style="background: #aaaaff;">
                                                <th>#{msg['common.shipping']}</th>
                                                <td>
                                            <span class="amount">
                                             <elle:price value="#{cartMB.shipment}"/>
                                        </span>
                                                </td>
                                            </tr>

                                            <h:panelGroup rendered="#{cartMB.paymentType.id eq 1}">
                                                <tr class="cart-subtotal" style="background: #d3ffaa;">
                                                    <th>#{msg['common.payment-type.fee']}</th>
                                                    <td>
                                                        <span class="amount">
                                                        <elle:price value="#{cartMB.paymentRate}"/>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </h:panelGroup>
                                            <tr class="order-total">
                                                <th>#{msg['common.orderTotal']}</th>
                                                <td><span class=" total amount">
                                                    <elle:price
                                                            value="#{cartMB.cartList.stream().map(c->c.qty *c.item.finalPrice).sum()-cartMB.discount +cartMB.shipment +cartMB.paymentRate}"/>
                                                </span>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                        <hr/>
                                        <p:outputLabel value="#{msg['common.discountCoupon']}"/>
                                        <p:outputLabel value="#{msg['commn.couponCode']}" for="code"
                                                       style="visibility: hidden;display: none"/>
                                        <p:messages for="code"
                                                    style="width: 308px;margin-bottom:10px;"/>
                                        <p:watermark value="#{msg['commn.couponCode']}" for="code"/>
                                        <h:panelGroup  rendered="#{cartMB.coupon ne null}" layout="block" style="border: 1px dashed #28a745;    padding: 10px;    border-radius: 10px;    background: #ffeb3b;">
                                            <h:outputText
                                                    value="#{msg['commn.couponCode']} : #{cartMB.coupon.couponNumber}"
                                                    id="codeLbl"
                                                    styleClass="codeT code"
                                            />
                                            <p:commandLink id="remooveCoupon" update="@form"
                                                           style="float: #{localeMB.invFloat}">
                                                <i class="fa fa-close"/>
                                                <f:setPropertyActionListener value="#{null}" target="#{cartMB.coupon}"/>
                                            </p:commandLink>
                                            <p:tooltip for="remooveCoupon" value="#{msg['common.remove']}"/>
                                        </h:panelGroup>
                                        <p:inputText value="#{cartMB.sCoupon}" id="code" required="true"
                                                     rendered="#{cartMB.coupon eq null}"
                                                     styleClass="codeT code"
                                        />

                                        <p:commandButton styleClass="NO-PF-CLASS cBtn "
                                                         style="margin: 4px;background: #4caf50;"
                                                         rendered="#{cartMB.coupon eq null}"
                                                         action="#{cartMB.applyCoupon()}"

                                                         update="@form" onclick="$('body').addClass('disableScroll') ;"
                                                         oncomplete="$('body').removeClass('disableScroll')"
                                                         value="#{msg['common.applyCoupon']}"
                                                         validateClient="true"/>

                                        <hr/>
                                        <div class="payment-method">

                                            <p:outputLabel value="#{msg['common.payment-type']}" for="paymentType"/>
                                            <p:selectOneRadio required="true" id="paymentType"
                                                              value="#{cartMB.paymentType}"
                                                              converter="omnifaces.SelectItemsConverter">
                                                <f:selectItems value="#{cartMB.paymentTypeList}" var="p"
                                                               itemLabel="#{p.name[p.currentLanguage]}"
                                                               itemValue="#{p}"/>
                                                <p:ajax process="@this" update="orderDt" listener="#{cartMB.changePayentType}"/>


                                            </p:selectOneRadio>
                                            <h:panelGroup layout="blcok" rendered="#{!loginBean.loggedIn}">

                                                <h:outputLabel styleClass="fa fa-arrow-right "
                                                               style="color: red ; padding: 10px    "/>
                                                <p:outputLabel value="#{msg['common.singUpToCompleteCheckout']}"
                                                               style="color: red ; padding: 10px    "/>
                                            </h:panelGroup>

                                            <h:panelGroup layout="block"  rendered="#{cartMB.paymentType.id eq 2}" style="color: red ; padding: 10px    ">

                                            <h:outputText value="* #{msg['common.payWithUSD']}  : " />
                                                <elle:priceWitouConvert code="USD"
                                                                        value="#{cartMB.cartList.stream().map(c->c.qty *c.item.finalPrice).sum()-cartMB.discount +cartMB.shipment +cartMB.paymentRate}"/>
                                            </h:panelGroup>




                                            <p:commandButton styleClass="NO-PF-CLASS cBtn" style="width: 100%"
                                                             onclick="$('body').addClass('disableScroll') ;"
                                                             oncomplete="$('body').removeClass('disableScroll')"
                                                             action="#{cartMB.pay()}" process="@this paymentType"
                                                             icon="fa fa-money"
                                                             disabled="#{empty cartMB.cartList or (!loginBean.loggedIn)}"
                                                             value="#{msg['common.pay']}"

                                                             validateClient="true"/>




                                        </div>
                                    </h:panelGroup>
                                </div>
                            </h:form>
                        </div>


                    </div>
                </div>
            </div>


            <p:dialog showHeader="true" widgetVar="dlgItemNotAvailable" closeOnEscape="true" hideEffect="fade"
                      responsive="true" style="background: white;max-height: 90vh;"
                      resizable="true" draggable="false" width="600px"
                      blockScroll="true" header="#{msg['common.dlgItemNotAvailable']}"
                      onShow="PF('dlgItemNotAvailable').initPosition()" closable="true" position="center center"
                      modal="true">
                <h:form id="frmdlgItemNotAvailable">

                    <h:panelGroup id="modal-body" styleClass="modal-body" layout="block">
                        <div class="row">
                            <!-- Main Thumbnail Image Start -->
                            <div class="col-lg-12 ">


                                <p:dataTable var="cart" reflow="true" value="#{cartMB.itemNotAvailable}"
                                             scrollable="true" style="overflow-y: hidden "
                                             scrollHeight="200">
                                    <p:column headerText="#{msg['common.productName']}" width="200">
                                        <p:graphicImage style="width: 50px" cache="true"
                                                        alt="#{cart.item.name.get(currentLanguage.locale)}"
                                                        rendered="#{not empty cart.item.image}"
                                                        url="#{imageMb.getImageUrl(cart.item.image.get(0))}"                                                        />


                                        <p:graphicImage rendered="#{empty cart.item.image}"
                                                        library="store" style="width: 50px"
                                                        name="img/products/p1.jpg"/>
                                        #{cart.item.name.get(cart.currentLanguage)}

                                    </p:column>
                                    <p:column headerText="#{msg['common.RequiredQuantity']}" width="50">
                                        <h:outputText value="#{cart.qty}"/>
                                    </p:column>

                                    <p:column headerText="#{msg['common.availableQty']}" width="120">
                                        <h:outputText value="#{productDetailsMB.getAvailableQty(cart.item.id)}"/>
                                    </p:column>

                                    <p:column headerText="#{msg['common.action']}" width="50">
                                        <p:tooltip for="remove" value="#{msg['common.remove']}"/>

                                        <p:commandLink id="remove" style="width: auto!important;"
                                                       immediate="true"
                                                       update="@form :cartList" action="#{cartMB.updates('cartList')}">

                                            <p:collector value="#{cart}" removeFrom="#{cartMB.cartList}" unique="true"/>
                                            <p:collector value="#{cart}" removeFrom="#{cartMB.itemNotAvailable}"
                                                         unique="true"/>
                                            <i class="fa fa-times"/>

                                        </p:commandLink>


                                    </p:column>


                                </p:dataTable>
                            </div>
                        </div>
                    </h:panelGroup>

                </h:form>

                <p:ajax event="close" immediate="true" onstart="location.reload()"/>
            </p:dialog>

            <!-- checkout-area end -->

            <h:outputStylesheet>
                .table-responsive {
                    overflow-x: initial;
                }

                .ui-dialog .ui-dialog-content {
                    background: white;
                }

                .codeT {
                    height: 36px !important;
                    padding-right: 10px;
                    font-size: 13px;
                }


                .checkout-form-list input[type=password] {
                    padding: 5px;
                }

            </h:outputStylesheet>
        </h:panelGroup>

    </ui:define>
</ui:composition>
