<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/template.xhtml">


    <ui:define name="title">#{msg['common.password.forgot']}</ui:define>

    <ui:define name="head">

    </ui:define>

    <ui:define name="content">


        <div class="form-gap"></div>
        <div class="container">
            <div class="row">
                <h:outputStylesheet library="css" name="bootstrap.min.css" />

                <div style="margin: auto">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="text-center">
                                <h3><i class="fa fa-lock fa-4x"/></h3>
                                <h2 class="text-center">#{msg['common.password.forgot']}</h2>
                                <p:spacer height="20"/>
                                <p>#{msg['common.password.forgot.can']}</p>
                                <p:spacer height="20"/>
                                <div class="panel-body">

                                    <h:form id="register-form" role="form" autocomplete="off" class="form"
                                            method="post">
                                        <p:growl for="growl" id="growl" globalOnly="true" closable="true"/>


                                        <div class="form-group">


                                                <p:message for="email"/>

                                                <p:outputLabel for="email" style="display: none"
                                                               value="#{msg['common.email']}"/>
                                                <h:panelGroup class="input-group">
                                                    <span class="input-group-addon">
                                                    <i class="fa fa-envelope color-blue"/>
                                                </span>
                                                    <p:inputText required="true" type="email" style="direction: ltr"
                                                                 value="#{accountMB.email}"
                                                                 id="email" styleClass="form-control"
                                                                 placeholder="#{msg['common.email']}"
                                                                 validatorMessage="#{msg['common.invalidEmail']}">
                                                        <p:keyFilter regEx="/[a-z0-9_\.\-@]/i"/>
                                                        <f:validateRegex
                                                                pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                                    </p:inputText>
                                                </h:panelGroup>



                                        </div>
                                        <div class="form-group">


                                            <p:commandButton update="@form" process="@form" validateClient="true"
                                                             onclick="$('body').addClass('disableScroll')"
                                                             value="#{msg['common.resetPassword']}"
                                                             styleClass=" NO-PF-CLASS btn btn-md btn-success btn-block"
                                                             action="#{accountMB.resetPassword()}"/>
                                        </div>

                                        <input type="hidden" class="hide" name="token" id="token" value=""/>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </ui:define>
</ui:composition>
