<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">


    <ui:define name="title">#{msg['common.home']}</ui:define>

    <ui:define name="head">

    </ui:define>

    <ui:define name="content">


        <ui:include src="/WEB-INF/home/sliders.xhtml"/>
        <ui:include src="/WEB-INF/home/categorie-slider.xhtml"/>
        <ui:include src="/WEB-INF/home/new-products.xhtml"/>
        <ui:include src="/WEB-INF/home/best-price.xhtml"/>
        <ui:include src="/WEB-INF/home/best-seller.xhtml"/>
        <ui:include src="/WEB-INF/home/banner.xhtml"/>
        <ui:include src="/WEB-INF/home/brands-slider.xhtml"/>
        <ui:include src="/WEB-INF/home/quick-view.xhtml"/>
        <p:remoteCommand name="addToCart" immediate="true" update="@none" action="#{cartMB.addToCart}"/>
        <p:remoteCommand name="addToWishlist" immediate="true" update="@none" action="#{wishListMB.addToWishList}"/>

    </ui:define>
</ui:composition>
