<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/template.xhtml" xmlns:p="http://primefaces.org/ui">


    <ui:define name="head">

    </ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.xhtml">#{msg['common.home']}</a></li>
                    <li class="breadcrumb-item active">#{msg['common.login']}</li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Login Page Start Here -->
        <div class="login ptb-90">
            <div class="container">
                <h3 class="login-header">#{msg['common.login.desc']} </h3>
                <div class="row">
                    <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">
                        <div class="login-form">
                            <h:form id="frmLogin">
                                <div class="login-details text-center mb-25">
                                    <p:messages id="form_messages">
                                        <p:autoUpdate/>
                                    </p:messages>
                                </div>
                                <div class="form-group row">
                                    <p:outputLabel for="username" styleClass="col-sm-3 col-form-label"
                                                   value="#{msg['common.username']}"/>
                                    <div class="col-sm-7">
                                        <p:inputText dir="LTR" style="direction: ltr" value="#{loginBean.username}"
                                                     required="true" type="text" styleClass="form-control" id="username"
                                                     placeholder="#{msg['common.username']}"/>
                                    </div>
                                </div>
                                <div class="form-group row">


                                    <p:outputLabel for="inputPassword" styleClass="col-sm-3 col-form-label"
                                                   value="#{msg['common.password']}"/>
                                    <div class="col-sm-7">
                                        <p:password value="#{loginBean.password}" type="password"
                                                    dir="LTR" styleClass="form-control password-field"
                                                    id="inputPassword" required="true"
                                                    placeholder="#{msg['common.password']}"/>
                                        <button class="btn show-btn" type="button"
                                                onclick="$('.password-field').attr('type',$('.password-field').attr('type')=='text' ? 'password':'text')">
                                            #{msg['common.show']}
                                        </button>
                                    </div>
                                </div>
                                <div class="login-details text-center mb-25">

                                    <a href="#{request.contextPath}/forgot-password.xhtml">#{msg['common.password.forgot']}  </a>

                                    <p:commandButton styleClass="login-btn NO-PF-CLASS" action="#{loginBean.login()}"
                                                     value="#{msg['common.login']}" validateClient="true"/>
                                </div>
                                <hr></hr>
                                <div class="login-details text-center ">

                                    <a href="#{request.contextPath}/register.xhtml" style="margin: 0">
                                        <span class="fa fa-user-circle"></span>
                                        #{msg['common.Create-one-here']}!

                                    </a>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Page End Here -->

    </ui:define>
</ui:composition>
