<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/template.xhtml">

    <ui:define name="head">
        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS}"/>

            <f:viewAction action="#{articleMB.init(param.id)}"/>

        </f:metadata>

    </ui:define>
    <ui:define name="title">#{articleMB.selectedArticle.title[currentLanguage.locale]}</ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="index.xhtml">#{msg['common.home']}</a>
                    </li>
                    <li class="breadcrumb-item   active">
                        <a href="page.xhtml?id=#{param.id}">#{articleMB.selectedArticle.title[currentLanguage.locale]}</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->

        <!-- About Us Area Start -->
        <div class="skill-area white-bg ptb-50">
            <div class="container">
                <div class="row">
                    <h:outputText value="#{articleMB.selectedArticle.desc[currentLanguage.locale]}" escape="false"/>
                </div>
            </div>
        </div>
        <!-- About Us Area End -->


    </ui:define>
</ui:composition>
