<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:elle="http://java.sun.com/jsf/composite/components"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/template.xhtml">
    <ui:define
            name="title"> - #{msg['common.productDetails']} : #{productDetailsMB.selectedProduct.name.get(productDetailsMB.currentLanguage)} </ui:define>

    <ui:define name="head">
        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS}"/>

            <f:viewAction action="#{productDetailsMB.init(param.id)}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.xhtml">#{msg['common.home']}</a></li>
                    <li class="breadcrumb-item active">
                        <a href="product-details.xhtml?id=#{productDetailsMB.selectedProduct.id}">#{msg['common.productDetails']} </a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Product Thumbnail Start -->
        <div class="main-product-thumbnail white-bg ptb-90">
            <div class="container">
                <h:form>
                    <div class="row">
                        <!-- Main Thumbnail Image Start -->
                        <div class="col-lg-4 col-md-6 mb-all-40" dir="ltr">
                            <!-- Thumbnail Large Image start -->
                            <div class="tab-content">

                                <ui:repeat value="#{productDetailsMB.selectedProduct.image}" var="image" varStatus="st">
                                    <div id="thumb#{st.index}"
                                         class="tab-pane fade  #{st.index eq 0 ? 'show active':''}">
                                        <a data-fancybox="images" class="link"
                                           href="#{imageMb.getImageUrl(image.name)}">
                                            <p:graphicImage cache="true"
                                                            alt="#{productDetailsMB.selectedProduct.name.get(currentLanguage.locale)}"
                                                            styleClass="img"
                                                            url="#{imageMb.getImageUrl(image)}"/>

                                        </a>
                                    </div>


                                </ui:repeat>


                            </div>
                            <!-- Thumbnail Large Image End -->
                            <!-- Thumbnail Image End -->
                            <div class="product-thumbnail">
                                <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                                    <ui:repeat value="#{productDetailsMB.selectedProduct.image}" var="image"
                                               varStatus="st">
                                        <a class="#{st.index eq 0 ? 'active':''}" data-toggle="tab"
                                           href="#thumb#{st.index}">
                                            <p:graphicImage
                                                    alt="#{productDetailsMB.selectedProduct.name.get(currentLanguage.locale)}"
                                                    styleClass="img" cache="true"
                                                    url="#{imageMb.getImageUrl(image)}"/>


                                        </a>
                                    </ui:repeat>

                                </div>
                            </div>
                            <!-- Thumbnail image end -->
                        </div>
                        <!-- Main Thumbnail Image End -->
                        <!-- Thumbnail Description Start -->
                        <div class="col-lg-8 col-md-6">
                            <div class="thubnail-desc fix">
                                <h3 class="product-header">#{productDetailsMB.selectedProduct.name.get(currentLanguage.locale)}</h3>
                                <ui:remove>
                                    <ul class="rating-summary">
                                        <li class="rating-pro">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </li>

                                        <li class="read-review"><a href="#">read reviews (1)</a></li>
                                        <li class="write-review"><a href="#">write review</a></li>
                                    </ul>
                                </ui:remove>
                                <div class="pro-thumb-price mt-10">
                                    <p class="d-flex align-items-center">
                                        <h:panelGroup styleClass="prev-price"
                                                      rendered="#{productDetailsMB.selectedProduct.haveDiscount}">
                                            <elle:price value="#{productDetailsMB.selectedProduct.price} "/>
                                        </h:panelGroup>
                                        <span class="price">
                                            <elle:price value="#{productDetailsMB.selectedProduct.finalPrice} "/>
                                        </span>

                                        <h:panelGroup styleClass="saving-price"
                                                      rendered="#{productDetailsMB.selectedProduct.haveDiscount}">
                                            <h:outputText value="- #{productDetailsMB.selectedProduct.discount} %"/>
                                        </h:panelGroup>


                                    </p>
                                </div>
                                <br/>
                                <div style="color: #28a745;font-weight: bold;">

                                    <h:outputText value="#{msg['common.productCode']} :  "/>
                                    <h:outputLabel styleClass="code-box"
                                                   value="#{productDetailsMB.selectedProduct.code} "/>
                                </div>

                                <div class="pro-desc-details">
                                    <h:outputText
                                            value="#{productDetailsMB.selectedProduct.desc.get(currentLanguage.locale)}"
                                            escape="false"/>
                                </div>
                                <br/>
                                <ui:remove>

                                    <div class="product-size mtb-30 clearfix">
                                        <label>Size</label>
                                        <select class="">
                                            <option>S</option>
                                            <option>M</option>
                                            <option>L</option>
                                        </select>
                                    </div>
                                    <div class="color clearfix mb-30">
                                        <label>color</label>
                                        <ul class="color-list">
                                            <li>
                                                <a class="white" href="#"></a>
                                            </li>
                                            <li>
                                                <a class="orange active" href="#"></a>
                                            </li>
                                            <li>
                                                <a class="paste" href="#"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </ui:remove>
                                <div class="quatity-stock">

                                    <ul class="d-flex flex-wrap  align-items-center">
                                        <label>#{msg['common.qty']}</label>
                                        <li class="box-quantity">

                                            <input readonly="true" id="qty" class="quantity" min="1" value="1"
                                                   max="#{productDetailsMB.getAvailableQty(productDetailsMB.selectedProduct.id)}"/>

                                            <span style="position: relative ;    display: inline-block;">

                                            <a onclick=" if($('#qty').val()== #{productDetailsMB.getAvailableQty(productDetailsMB.selectedProduct.id)})  return;  $('#qty').val(parseInt($('#qty').val()) + 1 );"
                                               style="cursor: pointer; position: absolute;top:-20px;color: blue;pointer-events: painted;">
                                                <i class="fa fa-plus "/>
                                            </a>                                            <a
                                                    onclick="if ($('#qty').val()==1) return;  $('#qty').val(parseInt($('#qty').val()) - 1 );"
                                                    style="cursor: pointer; position: absolute;top:0px;color: red;pointer-events: painted;">
                                                <i class="fa fa-minus "/>
                                            </a>
                                            </span>


                                        </li>
                                        <li>
                                            <p:button styleClass="pro-cart "
                                                      title=" #{msg['common.addToCart']}"
                                                      icon="fa fa-shopping-cart "
                                                      onclick="addToCart([{name:'productId', value:'#{productDetailsMB.selectedProduct.id}'} , {name:'qty', value:$('#qty').val()}]) ;return false;">


                                            </p:button>
                                        </li>

                                        <li>
                                            <p:button styleClass="pro-cart amber-btn"
                                                      title="#{msg['common.addToWishlist']}"
                                                      icon="fa fa-star"
                                                      onclick="addToWishlist([{name:'productId', value:'#{productDetailsMB.selectedProduct.id}'}]) ;return false;">


                                            </p:button>

                                        </li>
                                    </ul>
                                    <p:spacer height="10" width="100%"></p:spacer>

                                    <span class="in-stock">
                                                <i class="icon-checkmark-round"></i>
                                        <h:outputText style="background-color: red; color: white;padding: 5px"
                                                      rendered="#{productDetailsMB.getAvailableQty(productDetailsMB.selectedProduct.id) le 0}"
                                                      value="#{msg['common.outStock']}"/>



                                    </span>
                                </div>
                                <div class="social-sharing mt-30">

                                    #{msg['common.share']}
                                    <pe:social id="socialMedia"
                                               shares="twitter,facebook,pinterest,googleplus,whatsapp,linkedin,email"
                                               url="#{utils.getFullUrlApp()}/product-details.xhtml?id=#{productDetailsMB.selectedProduct.id}"
                                               text="#{configMB.getConf(conf.NAME.name())} : #{productDetailsMB.selectedProduct.name[currentLanguage.locale]}"
                                               theme="classic"
                                               showLabel="false"
                                               showCount="false"
                                               style="font-size:12px;display:inline-block"
                                               emailTo="#{configMB.getConf(conf.EMAIL.name())}"

                                               twitterHashtags="#{configMB.getConf(conf.NAME.name())},Store, KSA"
                                               onclick="console.log('share ' +this.share + ' url ' + this.url + ' at ' + e.timeStamp);"/>
                                    <ui:remove>
                                        <ul>
                                            <li></li>
                                            <li>
                                                <a target="_blank" rel="external"
                                                   href="http://www.facebook.com/sharer.php?u=#{utils.getFullUrlApp()}/product-details.xhtml?id=#{productDetailsMB.selectedProduct.id}">
                                                    <i class="fa fa-facebook" aria-hidden="true"/>
                                                </a>
                                            </li>
                                            <li><a target="_blank" rel="external"
                                                   href="https://twitter.com/intent/tweet?text=#{productDetailsMB.selectedProduct.name[currentLanguage.locale]}&#10;&amp;url=#{utils.getFullUrlApp()}/product-details.xhtml?id=#{productDetailsMB.selectedProduct.id}"><i
                                                    class="fa fa-twitter" aria-hidden="true"></i></a></li>

                                        </ul>
                                    </ui:remove>
                                </div>
                            </div>
                        </div>
                        <!-- Thumbnail Description End -->
                        <p:remoteCommand name="addToCart" immediate="true" update="@none" action="#{cartMB.addToCart}"/>
                        <p:remoteCommand name="addToWishlist" immediate="true" update="@none"
                                         action="#{wishListMB.addToWishList}"/>


                    </div>
                </h:form>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Product Thumbnail End -->
        <!-- Product Thumbnail Description Start -->
        <div class="thumnail-desc">
            <div class="container">
                <div class="thumb-desc-inner">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="main-thumb-desc nav tabs-area" role="tablist">
                                <li><a class="active" data-toggle="tab" href="#dtail">#{msg['common.desc']}</a></li>
                                <ui:remove>

                                    <li><a data-toggle="tab" href="#review">#{msg['common.reviews']}</a></li>
                                </ui:remove>
                            </ul>
                            <!-- Product Thumbnail Tab Content Start -->
                            <div class="tab-content thumb-content">
                                <div id="dtail" class="tab-pane fade show active">
                                    <p>
                                        <h:outputText
                                                value="#{productDetailsMB.selectedProduct.desc.get(currentLanguage.locale)}"
                                                escape="false"/>
                                    </p>
                                </div>
                                <div id="review" class="tab-pane fade">
                                    <!-- Reviews Start -->
                                    <div class="review">
                                        <div class="group-title">
                                            <h2>customer review</h2>
                                        </div>
                                        <h4 class="review-mini-title">makali</h4>
                                        <ul class="review-list">
                                            <!-- Single Review List Start -->
                                            <li>
                                                <span>Quality</span>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <label>makali</label>
                                            </li>
                                            <!-- Single Review List End -->
                                            <!-- Single Review List Start -->
                                            <li>
                                                <span>price</span>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <label>Review by <a
                                                        href="https://themeforest.net/user/makali">makali</a></label>
                                            </li>
                                            <!-- Single Review List End -->
                                            <!-- Single Review List Start -->
                                            <li>
                                                <span>value</span>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <label>Posted on 12/20/18</label>
                                            </li>
                                            <!-- Single Review List End -->
                                        </ul>
                                    </div>
                                    <!-- Reviews End -->
                                    <!-- Reviews Start -->
                                    <div class="review mt-10">
                                        <h2 class="review-title mb-30">You're reviewing:
                                            <br/><span>Faded Short Sleeves T-shirt</span></h2>
                                        <p class="review-mini-title">your rating</p>
                                        <ul class="review-list">
                                            <!-- Single Review List Start -->
                                            <li>
                                                <span>Quality</span>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <!-- Single Review List End -->
                                            <!-- Single Review List Start -->
                                            <li>
                                                <span>price</span>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <!-- Single Review List End -->
                                            <!-- Single Review List Start -->
                                            <li>
                                                <span>value</span>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </li>
                                            <!-- Single Review List End -->
                                        </ul>
                                        <!-- Reviews Field Start -->
                                        <div class="riview-field mt-40">
                                            <form autocomplete="off" action="#">
                                                <div class="form-group">
                                                    <label class="req" for="sure-name">Name</label>
                                                    <input type="text" class="form-control" id="sure-name"
                                                           required="required"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="req" for="subject">Title of review</label>
                                                    <input type="text" class="form-control" id="subject"
                                                           required="required"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="req" for="comments">Your Review</label>
                                                    <textarea class="form-control" rows="5" id="comments"
                                                              required="required"></textarea>
                                                </div>
                                                <button type="submit" class="customer-btn">Submit</button>
                                            </form>
                                        </div>
                                        <!-- Reviews Field Start -->
                                    </div>
                                    <!-- Reviews End -->
                                </div>
                            </div>
                            <!-- Product Thumbnail Tab Content End -->
                        </div>
                    </div>
                    <!-- Row End -->
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Product Thumbnail Description End -->
        <!-- New Arrival Products Start Here -->
        <div class="new-arrival no-border-style ptb-90">
            <h:form id="relatedFrm">
                <div class="container">
                    <!-- Section Title Start -->
                    <div class="section-title text-center">
                        <h2>#{msg['common.relatedProducts']}</h2>
                        <!--
                                                <p>Add our new arrivals to your weekly lineup</p>
                        -->
                    </div>
                    <!-- Section Title End -->
                    <div class="our-pro-active owl-carousel" dir="ltr">
                        <ui:repeat value="#{productDetailsMB.relatedProduct}" var="product">
                            <!-- Single Product Start Here -->
                            <div class="single-makal-product">
                                <div class="pro-img">
                                    <a href="product-details.xhtml?id=#{product.id}">

                                        <p:graphicImage rendered="#{not empty product.image}" cache="true"
                                                        alt="#{product.name[currentLanguage.locale]}"
                                                        url="#{imageMb.getImageUrl(product.image[0])}">
                                        </p:graphicImage>

                                        <p:graphicImage rendered="#{empty product.image}" library="store"
                                                        name="img/products/p1.jpg"/>


                                    </a>
                                    <span class="sticker-new">new</span>

                                    <div class="quick-view-pro">
                                        <p:commandLink data-toggle="modal" data-target="#product-window"
                                                       styleClass="quick-view" href="#"
                                                       immediate="true" update=":frmModl" process="@this"
                                                       oncomplete="$('.do-quick-view').click()"
                                                       onclick="viewPdoduct([{name:'productId', value:'#{product.id}'}])"/>
                                    </div>

                                </div>
                                <div class="pro-content">
                                    <h4 class="pro-title" dir="#{guestPreferences.dir}">
                                        <a href="product-details.xhtml?id=#{product.id}">#{product.name.get(productDetailsMB.currentLanguage)}</a>
                                    </h4>
                                    <p dir="#{guestPreferences.dir}">
                                        <span class="price"><elle:price value="#{product.finalPrice}"/></span>
                                    </p>
                                    <div class="pro-actions">
                                        <div class="actions-primary">

                                            <p:commandLink class="add-to-carts c " data-toggle="tooltip"
                                                           onclick=" addToCart([{name:'productId', value:'#{product.id}'} , {name:'qty', value:'1'}])"
                                                           title="#{msg['common.addToCart']}"
                                                           data-original-title="#{msg['common.addToCart']}">
                                                <span class="fa fa-shopping-cart"/>
                                            </p:commandLink>
                                            <p:commandLink class="c addToWishlist" data-toggle="tooltip"
                                                           onclick=" addToWishlist([{name:'productId', value:'#{product.id}'}])"
                                                           title="#{msg['common.addToWishlist']}"
                                                           data-original-title="#{msg['common.addToWishlist']}">
                                                <span class="fa fa-star"/>
                                            </p:commandLink>

                                        </div>
                                        <ui:remove>
                                            <div class="actions-secondary">
                                                <div class="rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </ui:remove>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Product End Here -->
                        </ui:repeat>

                    </div>

                </div>
            </h:form>
        </div>
        <ui:include src="WEB-INF/home/quick-view.xhtml"/>
        <script>
            $(function () {
                $('button').tooltip();
            });
        </script>
    </ui:define>
</ui:composition>
