<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core" template="/WEB-INF/template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="title">#{msg['common.home']}</ui:define>

    <ui:define name="head">
        <h:outputScript>
            $(function(){
            if (#{loginBean.loggedIn}){
            window.location.href='#{request.contextPath}/#{loginBean.goToAccountPage()}';
            }
            });
        </h:outputScript>

    </ui:define>

    <ui:define name="content">

        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item">
                        <a href="index.xhtml">#{msg['common.home']}</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="register.xhtml">#{msg['common.singup']}</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->

        <div class="coupon-area white-bg pt-90 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h:form id="signup">
                            <p:messages id="msg"/>
                            <div class="checkout-area ">


                                <div class="col-lg-12">
                                    <div class="checkbox-form mb-sm-40">
                                        <h3>#{msg['common.singup']}
                                            <p:fragment rendered="#{loginBean.loggedIn}">
                                                <a class="cRed" href="#{request.contextPath}/customer/account.xhtml"><i
                                                        class="fa fa-edit"/> </a>
                                            </p:fragment>

                                        </h3>


                                        <p:panelGrid columns="2" layout="grid"
                                                     styleClass="ui-panelgrid-blank form-group"
                                                     style="border:0px none; background-color:transparent;">
                                            <h:panelGroup layout="block" class="checkout-form-list ">

                                                <p:outputLabel for="fName" value="#{msg['common.fName']}"/>
                                                <p:inputText disabled="#{loginBean.loggedIn}" id="fName"
                                                             value="#{accountMB.account.firstName}"/>
                                                <p:watermark for="fName" value="#{msg['common.fName']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" class="checkout-form-list ">
                                                <p:outputLabel for="lName" value="#{msg['common.lName']}"/>
                                                <p:inputText id="lName" disabled="#{loginBean.loggedIn}"
                                                             value="#{accountMB.account.lastName}"/>
                                                <p:watermark for="lName" value="#{msg['common.lName']}"/>
                                            </h:panelGroup>
                                        </p:panelGrid>


                                        <ui:remove>

                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Company Name</label>
                                                    <input type="text" placeholder=""/>
                                                </div>
                                            </div>
                                        </ui:remove>


                                        <p:panelGrid columns="2" layout="grid"
                                                     styleClass="ui-panelgrid-blank form-group"
                                                     style="border:0px none; background-color:transparent;">
                                            <h:panelGroup layout="block"
                                                          class="checkout-form-list country-select- clearfix ">
                                                <label>#{msg['common.country']} <span
                                                        class="required">*</span></label>
                                                <p:outputLabel style="display: none;float: left;"
                                                               for="country"
                                                               value="#{msg['common.country']}"/>

                                                <p:inputText
                                                        style="visibility: hidden ; height: 0;width: 0 ;margin: 0;float: left;"
                                                        required="true" type="text"
                                                        id="country" value="#{accountMB.temp}"/>
                                                <h:selectOneMenu value="#{accountMB.selectedCountryShipment}"
                                                                 styleClass="wide custSelect"
                                                                 required="false" id="cs"
                                                                 disabled="#{loginBean.loggedIn}"
                                                                 valueChangeListener="#{accountMB.changeCountry}"
                                                                 requiredMessage="#{msg['common.country']} #{msg['common.required']}"
                                                                 converter="omnifaces.SelectItemsConverter">
                                                    <f:selectItem noSelectionOption="true"
                                                                  itemLabel="#{msg['msg.select']}"/>
                                                    <f:selectItems value="#{accountMB.countryShipmentList}" var="co"
                                                                   itemLabel="#{co.country.discriminator[co.currentLanguage]}"
                                                                   itemValue="#{co}"/>
                                                    <f:ajax execute="cs" render="country cityGrd"/>

                                                </h:selectOneMenu>

                                            </h:panelGroup>

                                            <h:panelGroup layout="block" id="cityGrd"
                                                          class="checkout-form-list country-select- clearfix ">


                                                <label>#{msg['common.city']} <span
                                                        class="required">*</span></label>
                                                <p:outputLabel
                                                        style="display: none;float: left;"
                                                        for="city"
                                                        value="#{msg['common.city']}"/>
                                                <p:inputText
                                                        style="visibility: hidden ; height: 0;width: 0 ;margin: 0;float: left;"
                                                        required="true" type="text"
                                                        id="city"
                                                        value="#{accountMB.account.city}"/>
                                                <h:selectOneMenu
                                                        value="#{accountMB.account.city}"
                                                        styleClass="wide custSelect"
                                                        required="false" id="ci"

                                                        disabled="#{loginBean.loggedIn}"
                                                        requiredMessage="#{msg['common.city']} #{msg['common.required']}">
                                                    <f:selectItem noSelectionOption="true"
                                                                  itemLabel="#{msg['msg.select']}"/>
                                                    <f:selectItems
                                                            value="#{accountMB.cities}"
                                                            var="co"
                                                            itemLabel="#{co}"
                                                            itemValue="#{co}"/>
                                                    <f:ajax execute="ci" render="city"
                                                    />

                                                </h:selectOneMenu>

                                            </h:panelGroup>
                                        </p:panelGrid>

                                        <p:panelGrid columns="2" layout="grid"
                                                     styleClass="ui-panelgrid-blank form-group"
                                                     style="border:0px none; background-color:transparent;">

                                            <h:panelGroup layout="block" class="checkout-form-list ">

                                                <p:outputLabel for="state" value="#{msg['common.state']}"/>
                                                <p:inputText required="true" disabled="#{loginBean.loggedIn}"
                                                             id="state"
                                                             type="text"
                                                             value="#{accountMB.account.state}"/>
                                                <p:watermark for="state" value="#{msg['common.state']}"/>
                                            </h:panelGroup>
                                            <h:panelGroup layout="block" class="checkout-form-list ">

                                                <p:outputLabel for="postcode" value="#{msg['common.postcode']}"/>
                                                <p:inputText required="true" disabled="#{loginBean.loggedIn}"
                                                             type="text"
                                                             id="postcode"
                                                             value="#{accountMB.account.postcode}"/>
                                                <p:watermark for="postcode" value="#{msg['common.postcode']}"/>

                                            </h:panelGroup>

                                        </p:panelGrid>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <p:outputLabel for="address"
                                                               value="#{msg['common.address']}"/>
                                                <p:inputTextarea id="address"
                                                                 disabled="#{loginBean.loggedIn}"
                                                                 rows="4"
                                                                 type="text"
                                                                 value="#{accountMB.account.address}"/>
                                                <p:watermark for="address"
                                                             value="#{msg['common.address']}"/>

                                            </div>
                                        </div>
                                        <p:panelGrid columns="2" layout="grid"
                                                     styleClass="ui-panelgrid-blank form-group"
                                                     style="border:0px none; background-color:transparent;">
                                            <h:panelGroup layout="block" class="checkout-form-list ">

                                                <p:outputLabel for="email" value="#{msg['common.email']}"/>
                                                <p:inputText rendered="true" disabled="#{loginBean.loggedIn}"
                                                             type="text"
                                                             id="email" required="true"
                                                             validatorMessage="#{msg['common.invalidEmail']}"
                                                             value="#{accountMB.account.email}">
                                                    <f:validateRegex
                                                            pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                                </p:inputText>
                                                <p:watermark for="email" value="#{msg['common.email']}"/>

                                            </h:panelGroup>
                                            <h:panelGroup layout="block" class="checkout-form-list ">
                                                <p:outputLabel for="phone" value="#{msg['common.phone']}"/>
                                                <pe:inputPhone dir="ltr" required="true" id="phone"
                                                               value="#{accountMB.account.phone}"
                                                               initialCountry="#{accountMB.account.phoneCode}">
                                                    <p:ajax event="countrySelect"
                                                            listener="#{accountMB.onCountrySelect}"/>
                                                </pe:inputPhone>
                                                <p:watermark for="phone" value="#{msg['common.phone']}"/>

                                            </h:panelGroup>
                                        </p:panelGrid>

                                        <p:panelGrid columns="2" layout="grid"
                                                     styleClass="ui-panelgrid-blank form-group"
                                                     style="border:0px none; background-color:transparent;">

                                            <h:panelGroup layout="block" class="checkout-form-list "
                                                          rendered="#{!loginBean.loggedIn}">
                                                <p:outputLabel for="password" value="#{msg['common.password']}"/>
                                                <p:password id="password" required="true" match="passwordConfirm"
                                                            validatorMessage="#{msg['common.passwordNotMatch']}"
                                                            value="#{accountMB.account.password}"/>
                                                <p:watermark for="password" value="#{msg['common.password']}"/>

                                            </h:panelGroup>

                                            <h:panelGroup layout="block" class="checkout-form-list "
                                                          rendered="#{!loginBean.loggedIn}">

                                                <p:outputLabel for="passwordConfirm"
                                                               value="#{msg['common.passwordConfirm']}"/>
                                                <p:password id="passwordConfirm" required="true"
                                                            value="#{accountMB.account.passwordConfirm}"/>
                                                <p:watermark for="passwordConfirm"
                                                             value="#{msg['common.passwordConfirm']}"/>

                                            </h:panelGroup>
                                        </p:panelGrid>

                                    </div>


                                </div>

                                <p class="form-row align-items-center">


                                    <p:commandButton styleClass="login-btn NO-PF-CLASS"
                                                     action="#{accountMB.signUp}"
                                                     onclick="setTimeout(  function() {$('.ui-dialog-content').animate({scrollTop:0},1000);}, 100);                                                "
                                                     update=" @form msg"
                                                     value="#{msg['common.login']}"
                                                     validateClient="true"/>
                                    <!-- <label>
                                         <input type="checkbox"/>
                                         Remember me
                                     </label>-->
                                </p>
                            </div>
                            <p:messages id="msg1"/>

                        </h:form>

                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
