<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template.xhtml" xmlns:elle="http://java.sun.com/jsf/composite/components">
    <ui:define name="title">#{msg['common.shop']}</ui:define>

    <ui:define name="head">

        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout"/>

        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS}"/>
            <f:viewAction action="#{shopMB.prepareForSearch}"/>
        </f:metadata>

    </ui:define>

    <ui:define name="content">
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.xhtml">#{msg['common.home']}</a></li>


                    <li class="breadcrumb-item active">
                        <a href="shop.xhtml">#{msg['common.shop']} </a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Shop Page Start -->
        <div class="main-shop-page ptb-90">
            <h:form id="from">

                <h:panelGroup id="container" layout="block" styleClass="container"
                >

                    <!-- Row End -->
                    <div class="row">
                        <!-- Sidebar Shopping Option Start -->
                        <div class="col-lg-3 order-2 order-lg-1 mt-all-40 filter-option">
                            <div class="sidebar shop-sidebar">
                                <a class="close-link">
                                    <i class="fa fa-close"></i>
                                </a>
                                <!-- Price Filter Options Start -->
                                <div class="search-filter mb-30">
                                    <h3 class="sidebar-title">#{msg['common.search']}</h3>
                                    <p:remoteCommand name="searchByName" process="@form" update="@form:searchByName @form:products @form:script" actionListener="#{shopMB.filter()}"/>
                                        <p:growl>
                                                <p:autoUpdate/>
                                        </p:growl>

                                    <p:inputText value="#{shopMB.itemDTO.searchByName}" id="searchByName" style="width: 90%"
                                                 onkeypress="if (event.keyCode == 13) { searchByName(); return false; }">
                                    </p:inputText>
                                    <p:commandLink process="@this" update="@form:searchByName @form:products @form:script"
                                                   oncomplete="searchByName()">
                                        <f:setPropertyActionListener value="#{null}" target="#{shopMB.itemDTO.searchByName}"/>
                                        <i class="fa fa-close"/>
                                    </p:commandLink>

                                    <p:commandLink  onclick="searchByName()">
                                        <i class="fa fa-search"/>
                                    </p:commandLink>


                                </div>
                                <div class="search-filter mb-30">
                                    <h3 class="sidebar-title">#{msg['common.filterByPrice']}</h3>
                                    <h:panelGrid id="pnlPrice" columns="1" style="margin-bottom: 10px;width: 100%">
                                        <p:slider for="fromPrice,toPrice" display="displayRange" range="true"
                                                  step="10" maxValue="10000"
                                                  onSlideEnd="filterPrice([{name:'fromPrice', value:$('.fromPrice').val()} ,{name:'toPrice', value:$('.toPrice').val()}  ]) "
                                                  style="width: 100% "
                                                  displayTemplate="#{msg['common.Between']} {min} #{msg['common.and']}  {max}">

                                        </p:slider>


                                        <h:outputFormat id="displayRange" value="#{msg['common.range_price']}">
                                            <f:param value="#{shopMB.itemDTO.fromPrice}"/>
                                            <f:param value="#{shopMB.itemDTO.toPrice}"/>
                                        </h:outputFormat>

                                        <p:inputText type="hidden" styleClass="fromPrice" id="fromPrice"
                                                     value="#{shopMB.itemDTO.fromPrice}"/>
                                        <p:inputText type="hidden" styleClass="toPrice" id="toPrice"
                                                     value="#{shopMB.itemDTO.toPrice}"/>
                                        <p:remoteCommand name="filterPrice" actionListener="#{shopMB.filterPrice}"
                                                         global="false" update="@form:products @form:script"
                                                         immediate="true"/>
                                    </h:panelGrid>


                                </div>
                                <!-- Price Filter Options End -->
                                <!-- Sidebar Categorie Start -->
                                <div class="sidebar-categorie mb-30">
                                    <h3 class="sidebar-title">#{msg['common.category']}</h3>
                                    <p:tree value="#{shopMB.root3}" var="doc"
                                            selectionMode="checkbox" widgetVar="catSel"
                                            cache="false" selection="#{shopMB.selectedNodes2}">
                                        <p:treeNode icon="pi pi-paperclip">
                                            <h:outputText value="#{doc.name[doc.currentLanguage]}"/>
                                        </p:treeNode>

                                        <p:ajax event="select" update="@form:products @form:script"
                                                listener="#{shopMB.filterCat()}"/>
                                        <p:ajax event="unselect" update="@form:products @form:script"
                                                listener="#{shopMB.filterCat()}"/>

                                    </p:tree>
                                    <div class="clearfix"></div>
                                    <ul class="sidbar-style">


                                        <h:selectManyCheckbox id="catIds" value="#{shopMB.itemDTO.catIds}"
                                                              rendered="false" layout="pageDirection"
                                                              converter="javax.faces.Long">
                                            <f:selectItems value="#{shopMB.categoryList}" var="cat"
                                                           itemLabel="#{cat.name.get(cat.currentLanguage)}"
                                                           itemValue="#{cat.id}"/>
                                            <f:ajax event="change" execute="catIds" render="form:products form:script"
                                                    listener="#{shopMB.filter}"/>
                                        </h:selectManyCheckbox>


                                    </ul>
                                </div>
                                <!-- Sidebar Categorie Start -->




                                <!-- Sidebar Categorie Start -->
                                <div class="sidebar-categorie mb-30">
                                    <h3 class="sidebar-title">#{msg['common.brand']}</h3>
                                    <ul class="sidbar-style">


                                        <p:selectManyCheckbox id="brandIds" value="#{shopMB.itemDTO.brandIds}"
                                                              layout="pageDirection"
                                                              converter="javax.faces.Long">
                                            <f:selectItems value="#{shopMB.brandList}" var="brand"
                                                           itemLabel="#{brand.name.get(brand.currentLanguage)}"
                                                           itemValue="#{brand.id}"/>
                                            <p:ajax event="change" process="brandIds" update="products script"
                                                    listener="#{shopMB.filter}"/>
                                        </p:selectManyCheckbox>


                                    </ul>
                                </div>
                                <!-- Sidebar Categorie Start -->
                                <ui:remove>
                                    <!-- Product Size Start -->
                                    <div class="size mb-30">
                                        <h3 class="sidebar-title">size</h3>
                                        <ul class="size-list sidbar-style">
                                            <li class="form-check">
                                                <input class="form-check-input" value="" id="small" type="checkbox"/>
                                                <label class="form-check-label" for="small">S (6)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="" id="medium" type="checkbox"/>
                                                <label class="form-check-label" for="medium">M (9)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="" id="large" type="checkbox"/>
                                                <label class="form-check-label" for="large">L (8)</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Product Size End -->
                                    <!-- Product Color Start -->
                                    <div class="color mb-30">
                                        <h3 class="sidebar-title">color</h3>
                                        <ul class="color-option sidbar-style">
                                            <li>
                                                <span class="white"></span>
                                                <a href="#">white (4)</a>
                                            </li>
                                            <li>
                                                <span class="orange"/>
                                                <a href="#">Orange (2)</a>
                                            </li>
                                            <li>
                                                <span class="blue"/>
                                                <a href="#">Blue (6)</a>
                                            </li>
                                            <li>
                                                <span class="yellow"/>
                                                <a href="#">Yellow (8)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Product Color End -->
                                    <!-- Sidebar Categorie Start -->
                                    <div class="sidebar-categorie mb-30">
                                        <h3 class="sidebar-title">Components</h3>
                                        <ul class="sidbar-style">
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">cotton (4)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">polyester (4)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">Viscose (5)</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Sidebar Categorie Start -->
                                    <!-- Sidebar Categorie Start -->
                                    <div class="sidebar-categorie mb-30">
                                        <h3 class="sidebar-title">Styles</h3>
                                        <ul class="sidbar-style">
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">casual (5)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">dressy (2)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">girly (8)</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Sidebar Categorie Start -->
                                    <!-- Sidebar Categorie Start -->
                                    <div class="sidebar-categorie">
                                        <h3 class="sidebar-title">Properties</h3>
                                        <ul class="sidbar-style">
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">colorful dress (2)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">maxi dress (2)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">midi dress (2)</label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">short dress (4) </label>
                                            </li>
                                            <li class="form-check">
                                                <input class="form-check-input" value="#" type="checkbox"/>
                                                <label class="form-check-label">short sleve (3) </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Sidebar Categorie Start -->
                                </ui:remove>
                            </div>
                            <!-- Single Banner Start -->
                            <ui:remove>
                                <div class="sidebar-banner mt-30">
                                    <a href="shop.xhtml">
                                        <img class="ful" src="img/banner/b22.jpg" alt="slider-banner"/></a>
                                </div>
                            </ui:remove>
                        </div>
                        <!-- Sidebar Shopping Option End -->
                        <!-- Product Categorie List Start -->
                        <h:panelGroup id="products" layout="block" styleClass="col-lg-9 order-1 order-lg-2">

                            <!-- Grid & List View Start -->
                            <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                                <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                                    <ul class="nav tabs-area d-flex align-items-center">
                                        <li>
                                            <a onclick=" changeView([{name:'view', value:'grid-view'} ])"
                                               class="#{shopMB.view eq 'grid-view' ? 'active' :''}" data-toggle="tab"
                                               href="#grid-view">
                                                <i class="fa fa-th"/>
                                            </a>
                                        </li>
                                        <li><a
                                                onclick=" changeView([{name:'view', value:'list-view'} ])"
                                                class="#{shopMB.view eq 'list-view' ? 'active' :''}" data-toggle="tab"
                                                href="#list-view">
                                            <i class="fa fa-list-ul"/>
                                        </a></li>
                                    </ul>
                                    <span class="show-items">
                                    <h:outputFormat value="#{msg['common.count.product']}">
                                    <f:param value="#{shopMB.count}"/>
                                    </h:outputFormat>

                                    </span>
                                </div>
                                <!-- Toolbar Short Area Start -->
                                <div class="main-toolbar-sorter clearfix">
                                    <div class="toolbar-sorter d-md-flex align-items-center">
                                        <label>#{msg['common.sortBy']}:</label>
                                        <h:selectOneMenu styleClass="sorter wide" value="#{shopMB.itemDTO.sortWay}">
                                            <f:selectItems value="#{shopMB.sortWays}" var="st"
                                                           itemLabel="#{msg['sort.'.concat(st.name())]}"
                                                           itemValue="#{st}"/>
                                            <f:ajax event="change" execute="brandIds" render="from"
                                                    listener="#{shopMB.filter}"/>

                                        </h:selectOneMenu>

                                    </div>
                                </div>
                                <!-- Toolbar Short Area End -->
                            </div>
                            <!-- Grid & List View End -->
                            <div class="shop-area mb-all-40">
                                <!-- Grid & List Main Area End -->
                                <div class="tab-content">
                                    <div id="grid-view"
                                         class="tab-pane fade  #{shopMB.view eq 'grid-view' ? 'active show' :''}">
                                        <div class="row border-hover-effect ">

                                            <ui:repeat value="#{shopMB.itemList}" var="product">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-6">

                                                    <!-- Single Product Start Here -->
                                                    <div class="single-makal-product">
                                                        <div class="pro-img">
                                                            <a href="product-details.xhtml?id=#{product.id}">

                                                                <p:graphicImage rendered="#{empty product.image}"
                                                                                library="store"
                                                                                name="img/products/p1.jpg"/>

                                                                <p:graphicImage rendered="#{not empty product.image}"
                                                                                alt="#{product.name.get(currentLanguage.locale)}"
                                                                                styleClass="img" cache="true"
                                                                                url="#{imageMb.getImageUrl(product.image.get(0))}" />
                                                            </a>


                                                            <h:outputLabel styleClass="sticker-new"
                                                                           value="#{msg['common.new']}"
                                                                           rendered="#{product.newItem}"/>
                                                            <h:panelGroup styleClass="sticker-sale"
                                                                          rendered="#{product.haveDiscount}">
                                                                -  #{product.discount} %
                                                            </h:panelGroup>
                                                            <h:outputLabel styleClass="sticker-new"
                                                                           style="bottom: 0;top: auto;background: red;" value="#{msg['common.outStock']}"
                                                                           rendered="#{productDetailsMB.getAvailableQty(product.id) le 0}"/>

                                                            <div class="quick-view-pro">
                                                                <p:commandLink data-toggle="modal"
                                                                               data-target="#product-window"
                                                                               styleClass="quick-view" href="#"
                                                                               immediate="true" update=":frmModl"
                                                                               process="@this"
                                                                               oncomplete="$('.do-quick-view').click()"
                                                                               onclick="viewPdoduct([{name:'productId', value:'#{product.id}'}])"/>
                                                            </div>
                                                        </div>
                                                        <div class="pro-content">
                                                            <h4 class="pro-title">
                                                                <a href="product-details.xhtml?id=#{product.id}">#{product.name.get(product.currentLanguage)}</a>
                                                            </h4>
                                                            <p>
                                                    <span class="price">
                                                              <elle:price value="#{product.finalPrice} "/>
                                                    </span>
                                                                <span class="prev-price">
                                            <elle:price value="#{product.price} " rendered="#{product.haveDiscount}" />
                                        </span>
                                                            </p>
                                                            <div class="pro-actions">

                                                                <div class="pro-actions" dir="#{guestPreferences.dir}">
                                                                    <div class="actions-primary"
                                                                         dir="#{guestPreferences.dir}">
                                                                        <p:commandLink class="add-to-carts c "
                                                                                       data-toggle="tooltip"
                                                                                       onclick=" addToCart([{name:'productId', value:'#{product.id}'} , {name:'qty', value:'1'}])"
                                                                                       title="#{msg['common.addToCart']}"
                                                                                       data-original-title="#{msg['common.addToCart']}">
                                                                            <span class="fa fa-shopping-cart"/>
                                                                        </p:commandLink>
                                                                        <p:commandLink class="c addToWishlist"
                                                                                       data-toggle="tooltip"
                                                                                       onclick=" addToWishlist([{name:'productId', value:'#{product.id}'}])"
                                                                                       title="#{msg['common.addToWishlist']}"
                                                                                       data-original-title="#{msg['common.addToWishlist']}">
                                                                            <span class="fa fa-star"/>
                                                                        </p:commandLink>

                                                                    </div>


                                                                    <ui:remove>

                                                                        <div class="actions-secondary">
                                                                            <div class="rating">
                                                                                <i class="fa fa-star"
                                                                                   aria-hidden="true"></i>
                                                                                <i class="fa fa-star"
                                                                                   aria-hidden="true"></i>
                                                                                <i class="fa fa-star"
                                                                                   aria-hidden="true"></i>
                                                                                <i class="fa fa-star-o"
                                                                                   aria-hidden="true"></i>
                                                                                <i class="fa fa-star-o"
                                                                                   aria-hidden="true"></i>
                                                                            </div>
                                                                        </div>
                                                                    </ui:remove>
                                                                </div>

                                                                <ui:remove>
                                                                    <div class="actions-secondary">
                                                                        <div class="rating">
                                                                            <i class="fa fa-star" aria-hidden="true"/>
                                                                            <i class="fa fa-star" aria-hidden="true"/>
                                                                            <i class="fa fa-star" aria-hidden="true"/>
                                                                            <i class="fa fa-star-o" aria-hidden="true"/>
                                                                            <i class="fa fa-star-o" aria-hidden="true"/>
                                                                        </div>
                                                                    </div>
                                                                </ui:remove>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Single Product End Here -->
                                                </div>
                                            </ui:repeat>
                                        </div>
                                        <!-- Row End -->
                                    </div>
                                    <!-- #grid view End -->
                                    <div id="list-view"
                                         class="tab-pane fade fix #{shopMB.view eq 'list-view' ? 'active show' :''}">
                                        <ui:repeat value="#{shopMB.itemList}" var="product">
                                            <!-- Single Product Start Here -->
                                            <div class="single-makal-product Bord1"
                                                 style="padding: 5px;    border-radius: 10px">
                                                <div class="pro-img">
                                                    <a href="product-details.xhtml?id=#{product.id}">


                                                        <p:graphicImage rendered="#{not empty product.image}" cache="true"
                                                                      alt="#{product.name[currentLanguage.locale]}"
                                                                        url="#{imageMb.getImageUrl(product.image.get(0))}"/>
                                                        <p:graphicImage rendered="#{empty product.image}"
                                                                        library="store"
                                                                        name="img/products/p1.jpg"/>

                                                    </a>

                                                    <h:outputLabel styleClass="sticker-new"
                                                                   value="#{msg['common.new']}"
                                                                   rendered="#{product.newItem}"/>
                                                    <h:panelGroup styleClass="sticker-sale"
                                                                  rendered="#{product.haveDiscount}">
                                                        -  #{product.discount} %
                                                    </h:panelGroup>
                                                    <h:outputLabel styleClass="sticker-new"
                                                                   style="bottom: 0;top: auto;background: red;" value="#{msg['common.outStock']}"
                                                                       rendered="#{productDetailsMB.getAvailableQty(product.id) le 0}"/>


                                                </div>
                                                <div class="pro-content">
                                                    <h4 class="pro-title">
                                                        <a style="text-align: #{localeMB.align}!important" href="product-details.xhtml?id=#{product.id}">#{product.name.get(product.currentLanguage)}</a>

                                                    </h4>
                                                    <ui:remove>

                                                        <div class="rating">
                                                            <i class="fa fa-star" aria-hidden="true"/>
                                                            <i class="fa fa-star" aria-hidden="true"/>
                                                            <i class="fa fa-star" aria-hidden="true"/>
                                                            <i class="fa fa-star-o" aria-hidden="true"/>
                                                            <i class="fa fa-star-o" aria-hidden="true"/>
                                                        </div>
                                                    </ui:remove>

                                                    <span class="price">
                                                        <elle:price value="#{product.finalPrice} "/>
                                                    </span>
                                                    <span class="prev-price">
                                                        <elle:price value="#{product.price} " rendered="#{product.haveDiscount}" />
                                                    </span>

                                                    <div class="pro-actions" style="border: none" dir="#{guestPreferences.dir}">
                                                        <div class="actions-primary"
                                                             dir="#{guestPreferences.dir}">
                                                            <p:commandLink class="add-to-carts c "
                                                                           data-toggle="tooltip"
                                                                           onclick=" addToCart([{name:'productId', value:'#{product.id}'} , {name:'qty', value:'1'}])"
                                                                           title="#{msg['common.addToCart']}"
                                                                           data-original-title="#{msg['common.addToCart']}">
                                                                <span class="fa fa-shopping-cart"/>
                                                            </p:commandLink>
                                                            <p:commandLink class="c addToWishlist"
                                                                           data-toggle="tooltip"
                                                                           onclick=" addToWishlist([{name:'productId', value:'#{product.id}'}])"
                                                                           title="#{msg['common.addToWishlist']}"
                                                                           data-original-title="#{msg['common.addToWishlist']}">
                                                                <span class="fa fa-star"/>
                                                            </p:commandLink>

                                                        </div>


                                                        <ui:remove>

                                                            <div class="actions-secondary">
                                                                <div class="rating">
                                                                    <i class="fa fa-star"
                                                                       aria-hidden="true"></i>
                                                                    <i class="fa fa-star"
                                                                       aria-hidden="true"></i>
                                                                    <i class="fa fa-star"
                                                                       aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o"
                                                                       aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o"
                                                                       aria-hidden="true"></i>
                                                                </div>
                                                            </div>
                                                        </ui:remove>
                                                    </div>

                                                    <p style="text-align: #{localeMB.align}"><h:outputText value="#{product.desc[product.currentLanguage]}"
                                                                     escape="false"/></p>
                                                </div>
                                            </div>
                                            <!-- Single Product End Here -->
                                        </ui:repeat>
                                    </div>
                                    <!-- #list view End -->
                                </div>
                                <!-- Grid & List Main Area End -->
                            </div>
                            <!-- Shop Breadcrumb Area Start -->


                            <script>
                                var loadRun=true;

                                $(window).scroll(function() {
                                    if (loadRun) {
                                        var hT = $('.toLoadMore').offset().top,
                                            hH = $('.toLoadMore').outerHeight(),
                                            wH = $(window).height(),
                                            wS = $(this).scrollTop();
                                       // console.log(wS,(hT + hH- wH));
                                        if (wS > (hT + hH - wH)) {
                                          //  $('.loadMore').click();
                                        }
                                    }
                                });
                            </script>
                            <center>

                               <p:commandLink title="load more"
                                          disabled="#{!(shopMB.currentPage+1 le shopMB.toPage-1)}"   onstart="loadRun=false" oncomplete="loadRun=true" id="loadMore" styleClass="loadMore" process="@this" update="@form" action="#{shopMB.chanePageSize}">
                                   <f:setPropertyActionListener value="#{shopMB.sizePage +12}" target="#{shopMB.sizePage}" />
                                   <i class="fa fa-arrow-down"></i>

                               </p:commandLink>
                                <p:tooltip for="loadMore" value="#{msg['common.loadMore']}"></p:tooltip>
                            </center>


                            <div class="shop-breadcrumb-area border-default mt-30">

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-5">
                                        <span class="show-items">
                                            <h:outputFormat value="#{msg['common.showing.item']}">
                                    <f:param value="#{shopMB.fromItem}"/>
                                    <f:param value="#{shopMB.toItem}"/>
                                    <f:param value="#{shopMB.count}"/>
                                    </h:outputFormat>


                                        </span>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-7">

                                        <ul class="pfolio-breadcrumb-list text-center">
                                            <li class="float-left prev">

                                                <p:commandLink immediate="true" rendered="#{shopMB.currentPage ne 0}"
                                                               action="#{shopMB.previous}" oncomplete="scrollToTop()" update="@form">
                                                    <i class="fa fa-angle-left"
                                                       aria-hidden="true"/>#{msg['common.previous']}

                                                </p:commandLink>
                                            </li>
                                            <h:selectOneMenu styleClass="custom-selectOneMenu" id="selectPage"
                                                             value="#{shopMB.currentPage}">
                                                <f:ajax listener="#{shopMB.changePage}" render="from"
                                                        execute="selectPage"/>
                                                <c:forEach begin="0" end="#{shopMB.toPage-1}" varStatus="s">
                                                    <f:selectItem itemValue="#{s.index}" itemLabel="#{s.index+1}"/>
                                                </c:forEach>

                                            </h:selectOneMenu>


                                            <li class="float-right next">
                                                <p:commandLink immediate="true"
                                                               rendered="#{shopMB.currentPage+1 le shopMB.toPage-1}"
                                                               action="#{shopMB.next}" update="@form" oncomplete="scrollToTop()">

                                                    #{msg['common.next']}
                                                    <i class="fa fa-angle-right" aria-hidden="true"/>

                                                </p:commandLink>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <h:outputScript id="script">
                                try {
                                $('select').niceSelect();
                                } catch (e) {

                                }
                                $('.pro-title a').wrapInTag({
                                tag: 'span',
                                words: ['#{shopMB.itemDTO.searchByName}']
                                });



                            </h:outputScript>
                        </h:panelGroup>
                        <!-- Shop Breadcrumb Area End -->

                        <!-- product Categorie List End -->
                    </div>
                    <!-- Row End -->

                </h:panelGroup>
                <!-- Container End -->
                <p:remoteCommand name="addToCart" immediate="true" update="@none" action="#{cartMB.addToCart}"/>
                <p:remoteCommand name="changeView" immediate="true" update="@none" action="#{shopMB.changeView}"/>
                <p:remoteCommand name="addToWishlist" immediate="true" update="@none"
                                 action="#{wishListMB.addToWishList}"/>


            </h:form>
            <span  class="toLoadMore"/>
        </div>

        <!-- Shop Page End -->
        <ui:include src="/WEB-INF/home/quick-view.xhtml"/>


    </ui:define>
</ui:composition>
