<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:p="http://primefaces.org/ui">


<h:panelGroup layout="block" styleClass="container" rendered="#{not empty articalMB.articls}">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="TxtCenter">
            <h4 class="subtitle color-blue-2 underline">المقالات</h4>
            <p:spacer height="10" width="100%"/>
            <h2>آخر المقالات</h2>
        </div>
    </div>
    <br/>
    <div class="row">
        <c:forEach var="art" items="#{articalMB.articls}" varStatus="var">

            <div class="col-xs-12 col-sm-4">
                <div class="s_news-entry">
                    <img class="s_news-img img-full img-responsive" src="/image/article/#{art.cover.name}" alt=""/>
                    <h4 class="s_news-title">
                        <a href="#">#{art.title}</a>
                    </h4>
                    <div class="tour-info-line clearfix">
                        <div class="tour-info fl">
                            <img src="/image/calendar_icon_grey.png" alt=""/>
                            <span class="font-style-2 color-dark-2">
							 <h:outputText value="#{art.date}">
									<f:convertDateTime pattern="MM/dd/yyyy"/>
							</h:outputText>
							</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="/image/calendar_icon_grey.png" alt=""/>
                            <span class="font-style-2 color-dark-2">#{art.user.fullName}</span>
                        </div>
                        <div class="tour-info fl">
                            <img src="/image/comment_icon_grey.png" alt=""/>
                            <span class="font-style-2 color-dark-2">#{art.comments.size()} تعليق</span>
                        </div>
                    </div>
                    <div class="s_news-text color-grey-3">#{art.shortDesc}</div>
                </div>
                <br></br>

            </div>
        </c:forEach>
    </div>
</h:panelGroup>
</html>
