<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
    <p:importEnum type="com.ellepharma.constant.ConfigEnum" var="conf" allSuffix="allConfig"/>
    <footer class="pb-35" style="max-width: 97%">
        <div class="container">
            <!-- Footer Middle Start -->
            <div class="footer-middle ptb-10">
                <div class="row">
                    <!-- Single Footer Start -->
                    <div class="col-lg-4 col-md-4 mb-all-30">
                        <div class="single-footer">
                            <div class="footer-logo">
                                <a href="#">

                                    <p:graphicImage width="150" height="150" cache="true"
                                                    url="#{imageMb.getImageUrl(configMB.getConf(conf.LOGO.name()))}"
                                                    stream="true">
                                        <f:param value="#{configMB.getConf('VERSION')}" name="cache"/>
                                    </p:graphicImage>

                                </a>
                            </div>
                            <div class="footer-content">
                                <ul class="footer-list first-content">
                                    <li><i class="pe-7s-map-marker"></i>#{configMB.getConf(conf.ADDRESS.name())}
                                    </li>
                                    <li>
                                        <a href="tel:#{configMB.getConf(conf.MOBILE.name())}">
                                            <i class="pe-7s-call"></i>
                                            #{configMB.getConf(conf.MOBILE.name())}
                                        </a>
                                    </li>
                                    <li><i class="pe-7s-clock"></i>#{configMB.getConf(conf.WORKING_TIME.name())}
                                    </li>


                                    <li class="mt-20">
                                        <ul class="social-icon">
                                            <li><a target="_blank"  href="#{configMB.getConf(conf.FACEBOOK.name())}"><i
                                                    class="fa fa-facebook"
                                                    aria-hidden="true"></i></a>
                                            </li>
                                            <li><a  target="_blank"  href="##{configMB.getConf(conf.INSTAGRAM.name())}"><i
                                                    class="fa fa-instagram"
                                                    aria-hidden="true"></i></a>
                                            </li>
                                          <!--  <li><a target="_blank"  href="#{configMB.getConf(conf.TWITTER.name())}"><i
                                                    class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>-->

                                            <li>
                                                <a target="_blank" href="mailto:#{configMB.getConf(conf.EMAIL.name())}"><i
                                                        class="fa fa-envelope-open-o"/>

                                                </a>
                                            </li>
                                            <!--  <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <ui:remove>
                    <!-- Single Footer Start -->

                        <div class="col-lg-4 col-md-4 mb-all-30">
                        <div class="single-footer">
                            <div class="single-footer">
                                <h4 class="footer-title">products</h4>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">Prices drop</a></li>
                                        <li><a href="#">New products</a></li>
                                        <li><a href="#">Best sales</a></li>
                                        <li><a href="#">terms &amp; conditions</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ui:remove>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-4 col-md-4 mb-all-30 PTP-20">
                        <div class="single-footer">
                            <div class="single-footer">
                                <h4 class="footer-title">#{msg['common.importantUrl']}</h4>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#{request.contextPath}/about-us.xhtml">#{msg['common.about-us']}</a></li>
                                        <li><a href="#{request.contextPath}/term_and_condition.xhtml">#{msg['common.terms_and_conditions']}</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-4 col-md-4 mb-all-30 PTP-20">
                        <div class="single-footer">
                            <div class="single-footer">
                                <h4 class="footer-title">#{msg['common.joinNewsletter']} </h4>
                                <div class="footer-content subscribe-form">
                                    <div class="subscribe-box">
                                        <h:form>
                                            <p:message for="subscribe_email" style="max-width: 90%"/>
                                            <p:outputLabel for="subscribe_email"
                                                           value="#{msg['common.your_email_address']}"/>
                                            <p:inputText required="true" type="email"
                                                         value="#{newsletterMB.newsletter.email}" id="subscribe_email"
                                                         placeholder="#{msg['common.your_email_address']}"
                                                         validatorMessage="#{msg['common.invalidEmail']}">
                                                <p:keyFilter regEx="/[a-z0-9_\.\-@]/i"/>
                                                <f:validateRegex
                                                        pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                            </p:inputText>
                                            <p:commandButton update="@form" process="@form" validateClient="true"
                                                             onclick="$('body').addClass('disableScroll')" value=" "
                                                             styleClass=" NO-PF-CLASS pe-7s-mail-open"
                                                             action="#{newsletterMB.subscribe()}"></p:commandButton>
                                        </h:form>
                                    </div>
                                    <p class="mt-10">#{msg['msg.offers.desc']}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                </div>
                <!-- Row End -->
            </div>
            <!-- Footer Middle End -->
            <!-- Footer Bottom Start -->
            <div class="footer-bottom pt-35">
                <div class="col-md-12">
                    <div class="row align-items-center justify-content-md-between">
                        <!--  <div class="footer-copyright ">
                              <p>Copyright <a
                                      href="#{request.contextPath}">#{configMB.getConf(conf.NAME.name())}</a> All Rights Reserved</p>
                          </div>-->
                        <div class="footer-payment">
                            <a href="#">
                                <p:graphicImage  height="50" name="img/payment/major-cc.png" library="store" alt="payment-img"
                                                class="img"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom End -->
        </div>
    </footer>

</ui:composition>