<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:elle="http://java.sun.com/jsf/composite/components"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
>
    <p:importEnum type="com.ellepharma.constant.ConfigEnum" var="conf" allSuffix="allConfig"/>
    <header>
        <!-- Header Top Start Here -->
        <div class="header-top">
            <div class="container">
                <div class="col-sm-12">
                    <div class="row justify-content-lg-between justify-content-center">
                        <!-- Header Top Left Start -->
                        <div class="header-top-left order-2 order-lg-1">
                            <ul>
                                <li>
                                    <a href="tel:#{configMB.getConf(conf.MOBILE.name())}"><i class="fa fa-phone"/>
                                        <h:outputText value="#{configMB.getConf(conf.MOBILE.name())}"/>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="mailto:#{configMB.getConf(conf.EMAIL.name())}"><i
                                            class="fa fa-envelope-open-o"/>
                                        <h:outputText value="#{configMB.getConf(conf.EMAIL.name())}"/>
                                    </a>
                                </li>
                                <li>
                                    <ul class="social-icon">
                                        <li>
                                            <a target="_blank" href="#{configMB.getConf(conf.FACEBOOK.name())}">
                                                <i class="fa fa-facebook" aria-hidden="true"/>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="#{configMB.getConf(conf.INSTAGRAM.name())}">
                                                <i class="fa fa-instagram" aria-hidden="true"/>
                                            </a>
                                        </li>
                                        <!-- <li>
                                             <a target="_blank" href="#{configMB.getConf(conf.TWITTER.name())}">
                                                 <i class="fa fa-twitter" aria-hidden="true"/>
                                             </a>
                                         </li>-->
                                        <!--   <li>
                                               <a href="#">
                                                   <i class="fa fa-youtube" aria-hidden="true"></i>
                                               </a>
                                           </li>
                                           <li>
                                               <a href="#">
                                                   <i class="fa fa-google-plus" aria-hidden="true"></i>
                                               </a>
                                           </li>
                                           -->
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Header Top Left End -->
                        <!-- Header Top Right Start -->
                        <div class="header-top-right order-1 order-lg-2">
                            <ul>
                                <ui:remove>
                                    <li>
                                        <a href="#">
                                            <h:outputText value="#{currentCurrency.currencyCode}"/>
                                            <i class="fa fa-angle-down"/>
                                        </a>
                                        <!-- Dropdown Start -->
                                        <h:form>
                                            <ul class="ht-dropdown">
                                                <ui:repeat value="#{currencyMB.currencyList}" var="currency">

                                                    <li>
                                                        <p:commandLink href="#" oncomplete="location.reload()"
                                                                       styleClass="Fs13" immediate="true"
                                                                       action="#{currencyMB.changeCurrency(currency)}">
                                                            <h:outputText value="#{currency.currencyCode}"/>
                                                        </p:commandLink>

                                                    </li>

                                                </ui:repeat>
                                            </ul>
                                        </h:form>
                                        <!-- Dropdown End -->
                                    </li>
                                </ui:remove>
                                <c:if test="#{!loginBean.loggedIn}">
                                    <li>
                                        <a href="#">

                                            <p:graphicImage height="25px"
                                                            value="https://laendercode.net/img/flag-icon-css/flags/4x3/#{countryDetectMB.currentCountry.isoCode2.toLowerCase()}.svg"/>
                                            <h:outputText value="#{countryDetectMB.currentCountry.isoCode2}"/>
                                            <i class="fa fa-angle-down"/>
                                        </a>
                                        <!-- Dropdown Start -->
                                        <h:form>

                                            <ul class="ht-dropdown" style="min-width: 250px">


                                                <p:repeat value="#{countryDetectMB.cList}" var="c">
                                                    <li style="margin: 5px;">
                                                        <p:commandLink href="#" oncomplete="location.reload()"
                                                                       styleClass="Fs13" immediate="true"
                                                                       actionListener="#{countryDetectMB.prepareCCS(c)}">
                                                            <p:graphicImage height="25px"
                                                                            value="https://laendercode.net/img/flag-icon-css/flags/4x3/#{c.isoCode2.toLowerCase()}.svg"/>
                                                            #{c.desc}
                                                        </p:commandLink>
                                                    </li>

                                                </p:repeat>
                                            </ul>
                                        </h:form>
                                        <!-- Dropdown End -->
                                    </li>
                                </c:if>

                                <li>
                                    <a href="#">
                                        <p:graphicImage library="store" name="img/header/#{currentLanguage.locale}.png"
                                                        height="25px" alt="language-selector"/>
                                        <h:outputText value="#{currentLanguage.languageDesc[currentLanguage.locale]}"/>
                                        <i class="fa fa-angle-down"/>
                                    </a>
                                    <!-- Dropdown Start -->
                                    <h:form>

                                        <ul class="ht-dropdown">
                                            <ui:repeat value="#{guestPreferences.languageList}" var="lang">
                                                <li style="margin: 5px;">
                                                    <p:commandLink href="#" oncomplete="location.reload()"
                                                                   styleClass="Fs13" immediate="true"
                                                                   action="#{guestPreferences.changeLang(lang)}">
                                                        <p:graphicImage library="store"
                                                                        name="img/header/#{lang.locale}.png"
                                                                        height="25px" alt="language-selector"/>
                                                        #{lang.languageDesc[currentLanguage.locale]}
                                                    </p:commandLink>
                                                </li>

                                            </ui:repeat>
                                        </ul>
                                    </h:form>
                                    <!-- Dropdown End -->
                                </li>

                                <li>
                                    <a href="#">


                                        <p:graphicImage library="store" name="img/header/user.png"
                                                        style="width: 25px   ;"
                                                        alt="language-selector"/>

                                        <i class="fa fa-angle-down"/>
                                    </a>
                                    <!-- Dropdown Start -->
                                    <ul class="ht-dropdown">

                                        <c:if test="#{loginBean.loggedIn}">
                                            <li>
                                                <a href="#{request.contextPath}/customer/account.xhtml">#{msg['common.myAccount']}</a>
                                            </li>

                                            <li>
                                                <a href="#{request.contextPath}/customer/account.xhtml?active=wishlist">#{msg['common.myWishlist']}</a>
                                            </li>

                                        </c:if>
                                        <li>

                                            <p:link rendered="#{!loginBean.loggedIn}"
                                                    href="#{request.contextPath}/login.xhtml">#{msg['msg.signIn']} </p:link>


                                            <p:commandLink rendered="#{loginBean.loggedIn}"
                                                           action="#{loginBean.logout}">#{msg['common.LogOut']} </p:commandLink>


                                        </li>
                                        <c:if test="#{!loginBean.loggedIn}">

                                            <li>
                                                <p:link
                                                        href="#{request.contextPath}/register.xhtml">#{msg['common.singup']} </p:link>
                                            </li>
                                        </c:if>


                                    </ul>
                                    <!-- Dropdown End -->
                                </li>
                                <c:if test="false">

                                    <li>
                                        <a href="#{request.contextPath}/customer/account.xhtml">
                                            <i class="fa fa-user-circle"/>
                                        </a>

                                    </li>
                                </c:if>


                            </ul>
                        </div>
                        <!-- Header Top Right End -->
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Header Top End Here -->
        <!-- Header Middle Start Here -->
        <!--class  .header-sticky-->
        <div class="header-middle stick header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo Start -->
                    <div class="col-xl-3 col-lg-2 col-6">
                        <div class="logo">
                            <a href="#{request.contextPath}/index.xhtml">


                                <p:graphicImage width="100" height="100" cache="true"
                                                url="#{imageMb.getImageUrl(configMB.getConf(conf.LOGO.name()))}"
                                                stream="true">
                                    <f:param value="#{configMB.getConf('VERSION')}" name="cache"/>
                                </p:graphicImage>

                            </a>
                        </div>
                    </div>
                    <!-- Logo End -->
                    <!-- Menu Area Start Here -->
                    <div class="col-xl-7 col-lg-8 d-none d-lg-block">
                        <nav>

                            <ul class="header-bottom-list d-flex">
                                <h:outputText escape="false" value="#{homeMB.menuHtml}"/>
                            </ul>
                        </nav>
                    </div>
                    <!-- Menu Area End Here -->
                    <!-- Cart Box Start Here -->
                    <div class="col-xl-2 col-lg-2 col-6">
                        <h:panelGroup layout="block" styleClass="cart-box" id="cart-box">
                            <ul>
                                <!-- Search Box Start Here -->
                                <li style="padding: 0px;">
                                    <a href="#">
                                        <span class="pe-7s-search"/>
                                    </a>
                                    <div class="categorie-search-box ht-dropdown ">
                                        <form action="#{request.contextPath}/shop.xhtml">
                                            <input style="border: 1px solid #8cc544;   border-radius: 10px;    padding: 5px 10px;"
                                                   type="text"
                                                   name="searchByName" placeholder="#{msg['common.search']}"/>
                                            <button>
                                                <span class="pe-7s-search"/>
                                            </button>
                                        </form>
                                    </div>
                                </li>
                                <!-- Categorie Search Box End Here -->
                                <li>

                                    <p:button id="sumQty" url="#" onclick="return false" icon="fa fa-shopping-cart" title="Cart"   styleClass="btn-carts" >
                                        <pe:badge   content="#{cartMB.cartList.stream().map(c->c.qty).sum()}" />
                                    </p:button>

                                    <ul class="ht-dropdown cart-box-width">
                                        <li>
                                            <h:panelGroup layout="block" id="cartList">
                                                <h:panelGroup layout="block" styleClass="cart-box-container style-13">
                                                    <ui:repeat value="#{cartMB.cartList}" var="cart">
                                                        <!-- Cart Box Start -->
                                                        <div class="single-cart-box">
                                                            <div class="cart-img">
                                                                <a href="#">
                                                                    <p:graphicImage style="width: 50%" cache="true"
                                                                                    alt="#{cart.item.name.get(currentLanguage.locale)}"
                                                                                    rendered="#{not empty cart.item.image}"
                                                                                    url="#{imageMb.getImageUrl(cart.item.image.get(0))}"
                                                                                   />

                                                                    <p:graphicImage rendered="#{empty cart.item.image}"
                                                                                    library="store" style="width: 50%"
                                                                                    name="img/products/p1.jpg"/>

                                                                </a>
                                                                <span class="pro-quantity">#{cart.qty} X</span>
                                                            </div>
                                                            <div class="cart-content">
                                                                <h6>
                                                                    <p:link id="name"
                                                                            href="#{request.contextPath}/cart.xhtml">
                                                                        #{cart.item.name.get(cart.currentLanguage)}
                                                                    </p:link>
                                                                    <p:tooltip for="name"
                                                                               value="#{cart.item.name.get(cart.currentLanguage)}"/>
                                                                </h6>
                                                                <span class="cart-price">
                                                                  <elle:price value="#{cart.item.finalPrice} "/>

                                                        </span>
                                                                <ui:remove>
                                                                    <span>Size: S</span>
                                                                    <span>Color: Yellow</span>
                                                                </ui:remove>
                                                            </div>

                                                            <p:commandLink id="remove" style="width: auto!important;"
                                                                           styleClass="del-icone"
                                                                           action="#{cartMB.cartList.remove(cart)}"
                                                                           immediate="true"
                                                                           update="cartList sumQty">
                                                                <i class="fa fa-close"/>

                                                            </p:commandLink>

                                                            <p:tooltip for="remove" value="#{msg['common.remove']}"/>
                                                        </div>
                                                    </ui:repeat>
                                                    <!-- Cart Box End -->
                                                </h:panelGroup>
                                                <!-- Cart Footer Inner Start -->
                                                <div class="cart-footer">
                                                    <ul class="price-content">
                                                        <li>#{msg['common.cartTotals']}
                                                            <span>

                                                        <elle:price
                                                                value="#{cartMB.cartList.stream().map(c->c.qty *c.item.finalPrice).sum()} "/>
                                                        </span>
                                                        </li><!--
                                                        <li>#{msg['common.shipping']}
                                                            <span>
                                                                        <elle:price value="0"/>

                                                        </span>

                                                        </li>-->
                                                        <li>#{msg['common.discount']}
                                                            <span>
                                                           <elle:price value="#{cartMB.discount}"/>
                                                        </span>

                                                        </li>
                                                        <li>#{msg['common.shipping']}
                                                            <span>
                                                           <elle:price value="#{cartMB.shipment}"/>
                                                        </span>

                                                        </li>
                                                        <ui:remove>

                                                            <li>Taxes
                                                                <span><elle:price value="0"/></span>
                                                            </li>
                                                        </ui:remove>


                                                        <h:panelGroup rendered="#{cartMB.paymentType.id eq 1}">
                                                            <li>
                                                                #{msg['common.payment-type.fee']}
                                                                <span><elle:price
                                                                        value="#{cartMB.paymentRate}"/>
                                                       </span>
                                                            </li>

                                                        </h:panelGroup>


                                                        <li>#{msg['common.orderTotal']}
                                                            <span><elle:price
                                                                    value="#{cartMB.cartList.stream().map(c->c.qty *c.item.finalPrice).sum()-cartMB.discount +cartMB.shipment +cartMB.paymentRate} "/></span>
                                                        </li>
                                                    </ul>
                                                    <div class="cart-actions text-center">
                                                        <a class="cart-checkout"
                                                           href="#{request.contextPath}/cart.xhtml">#{msg['common.cart']}</a>
                                                        <br/>
                                                        <a class="cart-checkout"
                                                           href="#{request.contextPath}/checkout.xhtml">#{msg['common.proceedToCheckout']}</a>
                                                    </div>
                                                </div>
                                                <!-- Cart Footer Inner End -->
                                            </h:panelGroup>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </h:panelGroup>
                    </div>
                    <!-- Cart Box End Here -->
                </div>
                <!-- Row End -->
                <!-- Mobile Menu Start Here -->
                <div class="mobile-menu d-block d-lg-none">
                    <h:outputText escape="false" value="#{homeMB.menuHtml2}"/>


                </div>
                <!-- Mobile Menu End Here -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Header Middle End Here -->
    </header>
    <style>
        .header-sticky.sticky {
            z-index: 10
        }
    </style>
<!--
    <script>



        $(document).on('click',".add-to-carts", function () {
            var cart = $('.btn-carts');
            console.log(cart)
            var imgtodrag = $(this).parents().eq(3).find(".img-product");
            if (imgtodrag) {
                console.log($(imgtodrag));
                console.log(imgtodrag.offset());
                var imgclone = imgtodrag.clone()
                    .offset({
                        top: imgtodrag.offset().top,
                        left: imgtodrag.offset().left
                    })
                    .css({
                        'opacity': '0.7',
                        'position': 'absolute',
                        'height': '150px',
                        'width': '150px',
                        'z-index': '100'
                    })
                    .appendTo($('body'))
                    .animate({
                        'top': cart.offset().top + 10,
                        'left': cart.offset().left + 10,
                        'width': 100,
                        'height': 100
                    }, 500, 'easeInOutExpo');

                setTimeout(function () {
                    cart.effect("shake", {
                        times: 2
                    }, 200);
                }, 1500);

                imgclone.animate({
                    'width': 0,
                    'height': 0
                }, function () {
                    $(this).detach()
                });
            }
        });

    </script>-->
</ui:composition>