<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:subview id="regionSlid" rendered="#{regionMB.view}">
    <div class="main-wraper">
        <div class="container">
            <div class="row">

                <div class="row">
                    <p:spacer width="100%" height="50"/>
                </div>
                <div class="col-md-12">
                    <div class="simple-tab tab-2 color-1 tab-wrapper">
                        <div class="tab-nav-wrapper">
                            <div class="nav-tab  clearfix">
                                <div class="nav-tab-item col-md-6">البرامج السياحية</div>
                                <div class="nav-tab-item col-md-6 active">الأماكن السياحية</div>
                            </div>
                        </div>

                        <div class="tab-info ">
                            <div class="hotel-small style-2 clearfix">
                                <div class="TxtCenter">
                                    <h2>أكثر البرامج تقييما</h2>
                                    <p class="color-grey">نعرض لكم أكثر البرامج تقييما من قبل زوآر الموقع الأكارم</p>
                                </div>
                                <c:forEach var="r" items="#{regionMB.regions}" varStatus="vs">

                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="radius-mask tour-block hover-aqua">
                                            <div class="clip">


                                                <h:panelGroup rendered="#{not empty r.image}" layout="block"
                                                              styleClass="bg bg-bg-chrome act"
                                                              style="background-image: url(/image/slide/#{r.image.get(0).name})"></h:panelGroup>

                                            </div>
                                            <div class="tour-layer delay-1"></div>
                                            <div class="tour-caption">
                                                <div class="vertical-align">
                                                    <h3 class="hover-it">
                                                        <h:outputText
                                                                value="#{localeMB.language eq 'ar' ? r.nameAr:r.nameEn}"/>
                                                    </h3>
                                                    <div class="rate">
                                                        <ui:repeat value="#{utils.createArray(r.resultRat)}" var="test">
                                                            <span class="fa fa-star color-yellow"></span>
                                                        </ui:repeat>
                                                    </div>
                                                    <h4>
                                                        في <b>#{r.city.name}</b>
                                                    </h4>
                                                    <p:spacer height="20" width="100%"/>
                                                    <div class="proContain">
                                                        <ui:repeat var="prop" value="#{r.proprties}">
                                                            <img src="/image/prop/#{prop.image.name}" width="25"/>
                                                        </ui:repeat>
                                                    </div>
                                                </div>
                                                <div class="vertical-bottom">
                                                    <div class="fl">
                                                        <div class="tour-info"></div>
                                                        <div class="tour-info"></div>
                                                    </div>
                                                    <a href="place.xhtml?id=#{r.id}"
                                                       class="c-button b-50 bg-aqua hv-transparent fr">
                                                        <span>#{msg['msg.viewDetails']}</span> <img
                                                            src="/image/flag_icon.png"
                                                            alt=""/>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </c:forEach>

                            </div>
                        </div>
                        <div class="tabs-content clearfix">
                            <div class="tab-info active">
                                <div class="hotel-small style-2 clearfix">

                                    <div class="TxtCenter">
                                        <h2>أكثر الاماكن تقييما</h2>
                                        <p class="color-grey">نعرض لكم أكثر الأماكن تقييما من قبل زوآر الموقع الأكارم</p>
                                    </div>
                                    <c:forEach var="r" items="#{regionMB.regions}" varStatus="vs">

                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                            <div class="radius-mask tour-block hover-aqua">
                                                <div class="clip">


                                                    <h:panelGroup rendered="#{not empty r.image}" layout="block"
                                                                  styleClass="bg bg-bg-chrome act"
                                                                  style="background-image: url(/image/slide/#{r.image.get(0).name})"></h:panelGroup>

                                                </div>
                                                <div class="tour-layer delay-1"></div>
                                                <div class="tour-caption">
                                                    <div class="vertical-align">
                                                        <h3 class="hover-it">
                                                            <h:outputText
                                                                    value="#{localeMB.language eq 'ar' ? r.nameAr:r.nameEn}"/>
                                                        </h3>
                                                        <div class="rate">
                                                            <ui:repeat value="#{utils.createArray(r.resultRat)}"
                                                                       var="test">
                                                                <span class="fa fa-star color-yellow"></span>
                                                            </ui:repeat>
                                                        </div>
                                                        <h4>
                                                            في <b>#{r.city.name}</b>
                                                        </h4>
                                                        <p:spacer height="20" width="100%"/>
                                                        <div class="proContain">
                                                            <ui:repeat var="prop" value="#{r.proprties}">
                                                                <img src="/image/prop/#{prop.image.name}" width="25"/>
                                                            </ui:repeat>
                                                        </div>
                                                    </div>
                                                    <div class="vertical-bottom">
                                                        <div class="fl">
                                                            <div class="tour-info"></div>
                                                            <div class="tour-info"></div>
                                                        </div>
                                                        <a href="place.xhtml?id=#{r.id}"
                                                           class="c-button b-50 bg-aqua hv-transparent fr">
                                                            <span>#{msg['msg.viewDetails']}</span> <img
                                                                src="/image/flag_icon.png"
                                                                alt=""/>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </c:forEach>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</f:subview>
</html>