<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:subview id="regionSlid" rendered="#{regionMB.view}">

    <div class="main-wraper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="second-title">
                        <h2>#{msg['msg.touristAreas']}</h2>
                        <p class="color-grey">#{msg['msg.touristAreasDesc']}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="top-baner arrows">

                    <div class="swiper-container offers-slider" data-autoplay="5000" data-loop="1" data-speed="500"
                         data-slides-per-view="responsive" data-mob-slides="1"
                         data-xs-slides="4" data-sm-slides="4" data-md-slides="4" data-lg-slides="4"
                         data-add-slides="4">
                        <div class="swiper-wrapper">
                            <c:forEach var="r" items="#{regionMB.regions}" varStatus="vs">
                                <div class="swiper-slide" data-val="#{vs.index}">
                                    <div class="offers-block radius-mask">
                                        <div class="clip">

                                            <h:panelGroup rendered="#{not empty r.image}" layout="block"
                                                          styleClass="bg bg-bg-chrome act"
                                                          style="background-image: url(/image/slide/#{r.image.get(0).name})"></h:panelGroup>
                                        </div>
                                        <div class="tour-layer delay-1"></div>
                                        <div class="vertical-top">
                                            <div class="rate">
                                                <ui:repeat value="#{utils.createArray(r.resultRat)}" var="test">
                                                    <span class="fa fa-star color-yellow"></span>
                                                </ui:repeat>
                                            </div>
                                            <h3>#{localeMB.language eq 'ar' ? r.nameAr:r.nameEn}</h3>
                                        </div>
                                        <h:panelGroup layout="block" styleClass="vertical-bottom"
                                                      rendered="#{r.proprties ne null}">
                                            <ul class="offers-info">

                                                <ui:repeat var="prop" value="#{r.proprties}">
                                                    <li><b></b>

                                                        <img rendered="#{not empty prop.image}"
                                                             src="/image/prop/#{prop.image.name}" width="25"/></li>
                                                </ui:repeat>
                                            </ul>
                                            <p>#{localeMB.language eq 'ar' ? r.descriptionAr:r.descriptionEn}</p>
                                            <a href="/place.xhtml?id=#{r.id}"
                                               class="c-button bg-aqua hv-aqua-o b-40"><span>#{msg['msg.viewDetails']}</span></a>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </c:forEach>
                        </div>

                        <div class="pagination  poin-style-1 pagination-hidden"></div>
                    </div>
                    <div class="swiper-arrow-left offers-arrow">
                        <span class="fa fa-angle-left"></span>
                    </div>
                    <div class="swiper-arrow-right offers-arrow">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:subview>
</html>