<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<f:view locale="#{guestPreferences.language.locale}">

    <h:head id="head">
        <p:importEnum type="com.ellepharma.constant.ConfigEnum" var="conf" allSuffix="allConfig"/>
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout"/>
        <meta charset="utf-8" content="#{countryDetectMB.currentLanguage}"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title><ui:insert name="title"/> - #{configMB.getConf(conf.NAME.name())} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Favicons -->
        <link rel="shortcut icon" href="#{imageMb.getImageUrl(configMB.getConf(conf.LOGO.name()))}"/>
        <!-- Fontawesome css -->
        <h:outputStylesheet library="store" name="css/font-awesome.min.css"/>
        <!-- Animate css -->
        <h:outputStylesheet library="store" name="css/animate.css"/>
        <!-- 7-stroke fonts css -->
        <h:outputStylesheet library="store" name="css/pe-icon-7-stroke.min.css"/>
        <!-- Nice select css -->
        <h:outputStylesheet library="store" name="css/nice-select.css"/>
        <!-- Jquery fancybox css -->
        <h:outputStylesheet library="store" name="css/jquery.fancybox.css"/>
        <!-- Jquery ui price slider css -->
        <h:outputStylesheet library="store" name="css/jquery-ui.min.css"/>
        <!-- Meanmenu css -->
        <h:outputStylesheet library="store" name="css/meanmenu.min.css"/>
        <!-- Owl carousel css -->
        <h:outputStylesheet library="store" name="css/owl.carousel.min.css"/>
        <!-- Bootstrap css -->
        <h:outputStylesheet library="store" name="css/bootstrap.min.css"/>
        <!-- Custom css -->
        <h:outputStylesheet library="store" name="css/default.css"/>
        <!-- Main css -->

        <h:outputStylesheet library="store" name="css/style#{configMB.getProp('store.name')}.css"/>
        <h:outputStylesheet library="store" name="css/style_#{currentLanguage.locale}.css"/>
        <h:outputStylesheet library="css" name="custom.css"/>
        <!-- Responsive css -->
        <h:outputStylesheet library="store" name="css/responsive.css"/>
        <h:outputStylesheet library="css" name="countrySelect.min.css"/>
        <h:outputScript library="js" name="common.js"/>
        <!-- Modernizer js -->
        <h:outputScript library="store" name="js/vendor/modernizr-3.5.0.min.js"/>
        <h:outputScript name="js/validatonMessages/ClientSideValidationMessages.js" library="ultima-layout"/>
        <h:outputScript library="store" name="js/modernizr.js"/>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var lazyloadImages = document.querySelectorAll("img.lazy");
                var lazyloadThrottleTimeout;

                function lazyload () {
                    if(lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                    }

                    lazyloadThrottleTimeout = setTimeout(function() {
                        var scrollTop = window.pageYOffset;
                        lazyloadImages.forEach(function(img) {
                            if(img.offsetTop &lt; (window.innerHeight + scrollTop)) {
                                img.src = img.dataset.src;
                                img.classList.remove('lazy');
                            }
                        });
                        if(lazyloadImages.length == 0) {
                            document.removeEventListener("scroll", lazyload);
                            window.removeEventListener("resize", lazyload);
                            window.removeEventListener("orientationChange", lazyload);
                        }
                    }, 20);
                }

                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
            });
            //paste this code under the head tag or in a separate js file.
            // Wait for window load
            $(window).on('load', function () {
                $('body').removeClass('preLaod');
                $(".se-pre-con").fadeOut("slow");
            });
            $(document).ready(function () {
                scrollToTop();
            });
        </script>
        <f:metadata>
            <f:viewAction action="#{countryDetectMB.prepareCCS()}"/>
        </f:metadata>
        <ui:insert name="head"/>
    </h:head>
    <h:body styleClass="main-body preLaod " dir="#{guestPreferences.dir}">
        <h:outputScript library="store" name="js/vendor/modernizr-3.5.0.min.js"/>
        <div class="se-pre-con"></div>

        <c:if test="#{countryDetectMB.currentCountry ne null}">
            <ui:include src="/WEB-INF/header.xhtml"/>
            <p:growl id="form_messages" life="700"/>

            <ui:insert name="content"/>
            <ui:include src="/WEB-INF/footer.xhtml"/>
        </c:if>

        <h:outputScript library="store" name="js/selectize.min.js"/>

        <h:outputStylesheet library="store" name="css/selectize.bootstrap3.min.css"/>
        <h:outputScript library="store" name="js/jquery.countdown.min.js"/>
        <h:outputScript library="store" name="js/jquery.meanmenu.min.js"/>
        <h:outputScript library="store" name="js/jquery.scrollUp.js"/>
        <h:outputScript library="store" name="js/jquery.fancybox.min.js"/>
        <h:outputScript library="store" name="js/jquery.nice-select.min.js"/>
        <h:outputScript library="store" name="js/jquery-ui.min.js"/>
        <h:outputScript library="store" name="js/owl.carousel.min.js"/>
        <h:outputScript library="store" name="js/popper.min.js"/>
        <h:outputScript library="store" name="js/bootstrap.min.js"/>
        <h:outputScript library="store" name="js/plugins.js"/>
        <h:outputScript library="js" name="url.min.js"/>
        <h:outputScript id="mainJs" library="store" name="js/main.js"/>

        <h:outputScript name="jquery.ui.slider-1.12.1-rtl.js" library="js"
                        rendered="#{guestPreferences.orientationRTL}"/>
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/>

        <p:dialog style="box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0); background: transparent;"
                  widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false"
                  showHeader="false" blockScroll="true">
            <div class="divLoadin"></div>
        </p:dialog>
        <p:dialog showHeader="false" showEffect="true" visible="#{countryDetectMB.currentCountry eq null}" modal="true"
                  id="dlg" blockScroll="true" resizable="false" maximizable="false" closable="false" draggable="false"
                  position="center center" height="340px" width="auto" styleClass="countryDlg">

            <h:form>
                <h:outputText
                        style="margin-top: 10px;text-align: center;    display: block;    color: red;    font-weight: bold;"
                        value="يرجى اختيار الدولة"/>
                <p:scrollPanel mode="native" style="height:300px">
                    <p:repeat value="#{countryDetectMB.cList}" var="c">
                        <p:commandLink style="padding: 15px 5px;display: block" styleClass="country-select"
                                       actionListener="#{countryDetectMB.prepareCCS(c)}" oncomplete="location.reload()">

                            <p:graphicImage height="70px"
                                            value="https://laendercode.net/img/flag-icon-css/flags/4x3/#{c.isoCode2.toLowerCase()}.svg"/>
                            <h:outputText styleClass="label" style="margin: 5px 10px"
                                          value="#{c.desc}"/>
                        </p:commandLink>

                    </p:repeat>
                </p:scrollPanel>
            </h:form>

        </p:dialog>



        <!-- WhatsHelp.io widget -->
        <h:outputScript rendered="#{configMB.getConf(conf.ENABLE_SUPPORT.name())=='true'}">
            (function () {
            var options = {
            facebook: "#{configMB.getConf(conf.FACEBOOK_PAGE_ID.name())}", // Facebook page ID
            email: "#{configMB.getConf(conf.EMAIL.name())}", // Email
            whatsapp:"#{configMB.getConf(conf.MOBILE.name())}",
            call:"#{configMB.getConf(conf.MOBILE.name())}",
            call_to_action: "Message us", // Call to action
            button_color: "#6bb949", // Color of button
            position: "#{localeMB.invFloat}", // Position may be 'right' or 'left'
            order: "facebook,email,whatsapp,call", // Order of buttons
            company_logo_url:"#{imageMb.getImageUrl(configMB.getConf(conf.LOGO.name()))}",
            //greeting_message:"Hello dskjfndsf fsdlfnsdkjf fsdkfnjsdjk",
            showHelloPopup:true,
            //clientHostname:"https://ellepharma.com/",
            // key:"test",
            // domain:"https://ellepharma.com/"
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
        </h:outputScript>
        <!-- /WhatsHelp.io widget -->
    </h:body>


</f:view>
</html>