<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">

<div class="style-page">
    <div class="wrappers">
        <div class="conf-button">
            <span class="fa fa-cog"></span>
            <h6>Theme options #{localeMB.dir}</h6>
        </div>
        <a href="index.xhtml" class="site-logo"><img src="img/theme-1/logo_dark.png" alt=""/></a>
        <div class="color-block">
            <h5>change color</h5>
            <div class="entry bg-1" data-color="theme-1"></div>
            <div class="entry bg-2" data-color="theme-2"></div>
            <div class="entry bg-3" data-color="theme-3"></div>
            <div class="entry bg-4" data-color="theme-4"></div>
            <div class="entry bg-5" data-color="theme-5"></div>
            <div class="entry bg-6" data-color="theme-6"></div>
            <div class="entry bg-7" data-color="theme-7"></div>
            <div class="entry bg-8" data-color="theme-8"></div>
            <div class="entry bg-9" data-color="theme-9"></div>
        </div>
        <div class="color-block">
            <h5>Layout style</h5>
            <div class="check-option active">
                <span class="boxed">Boxed</span>
            </div>
            <div class="check-option">
                <span class="noboxed">Wide</span>
            </div>
        </div>
        <div class="color-block">
            <h5>Elements style</h5>
            <div class="check-option active">
                <span class="rounded">Rounded</span>
            </div>
            <div class="check-option">
                <span class="norounded">Not rounded</span>
            </div>
        </div>
        <div class="color-block">
            <h5>Header style</h5>
            <div class="header-style">
                <a href="menu_style_1.xhtml" class="active"> <img src="img/landing/header_1.png" alt=""/>
                </a> <a href="menu_style_2.xhtml"> <p:graphicImage library="img" name="landing/header_2.png"/>
            </a> <a href="menu_style_3.xhtml"> <img src="img/landing/header_3.png" alt=""/>
            </a> <a href="menu_style_4.xhtml"> <img src="img/landing/header_4.png" alt=""/>
            </a> <a href="menu_style_5.xhtml"> <img src="img/landing/header_5.png" alt=""/>
            </a> <a href="menu_style_6.xhtml"> <img src="img/landing/header_6.png" alt=""/>
            </a>
            </div>
        </div>
        <div class="color-block">
            <h5>Footer style</h5>
            <div class="header-style">
                <a href="footer_style_1.xhtml" class="active"> <img src="img/landing/footer_1.png" alt=""/>
                </a> <a href="footer_style_2.xhtml"> <img src="img/landing/footer_2.png" alt=""/>
            </a> <a href="footer_style_3.xhtml"> <img src="img/landing/footer_3.png" alt=""/>
            </a> <a href="footer_style_4.xhtml"> <img src="img/landing/footer_4.png" alt=""/>
            </a> <a href="footer_style_5.xhtml"> <img src="img/landing/footer_5.png" alt=""/>
            </a>
            </div>
        </div>
    </div>
</div>
</html>
