/*--------------------------------------------------
Template Name: makali;
Description: ;
Version: 1.0;
-----------------------------------------------------*/
/* by default css */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
    color: #323232;
}

p {
    color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
}

a, a:hover {
    color: #323232;
}

a, button, a:before, img, input {
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.tab-content .tab-pane {
    display: block;
    height: 0;
    visibility: hidden;
}

.tab-content .tab-pane.active {
    height: auto;
    visibility: visible;
}

.thumb-desc-inner .tab-pane:not(.active) {
    display: none;
}

.form-check-input {
    margin-left: 0;
}

.form-check-label {
    margin-bottom: 0;
    margin-left: 1.25rem;
    padding-left: 0;
}

input:focus {
    outline: none;
}

input, select {
    font-size: 14px;
}

textarea {
    resize: none;
}

.modal-backdrop {
    z-index: 999;
}

option {
    background: #ffffff none repeat scroll 0 0;
    padding: 5px 0 5px 10px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

.table {
    margin-bottom: 0;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ebebeb;
}

button:focus,
select:focus {
    outline: none;
}

button.close {
    cursor: pointer;
}

.img {
    max-width: 100%;
}

.full-img {
    width: 100%;
}

.menu-hidden {
    display: none;
}

.zoom {
    overflow: hidden;
}

.zoom img, .single-banner img {
    width: 100%;
    -webkit-transition: all 500ms ease-in 0s;
    transition: all 500ms ease-in 0s;
}

.zoom:hover img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*************************************
scroll up css
**************************************/
#scrollUp {
    background: #292929 none repeat scroll 0 0;
    border: 1px solid #343434;
    bottom: 65px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    right: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
}

#scrollUp i {
    font-size: 25px;
    line-height: 35px;
}

#scrollUp:hover {
    background: #fff none repeat scroll 0 0;
    color: #292929;
}

/*************************************
Background variation set 
**************************************/
/*colored background*/
.white-bg {
    background: #fff;
}

.off-white-bg {
    background: #f4f4f4;
}

.dark-white-bg {
    background: #f7f7f7;
}

.black-bg {
    background: #242424;
}

.light-blue-bg {
    background: #2a3543;
}

.dark-black-bg {
    background: #0f151d;
}

.green-bg {
    background: #35a875;
}

.orange-bg {
    background: #ffb400;
}

/*************************
         Margin top
*************************/
.mt-0 {
    margin-top: 0
}

.mt-5 {
    margin-top: 5px
}

.mt-10 {
    margin-top: 10px
}

.mt-12 {
    margin-top: 12px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mt-60 {
    margin-top: 60px
}

.mt-70 {
    margin-top: 70px
}

.mt-80 {
    margin-top: 80px
}

.mt-90 {
    margin-top: 90px
}

.mt-100 {
    margin-top: 100px
}

.mt-110 {
    margin-top: 110px
}

.mt-120 {
    margin-top: 120px
}

.mt-130 {
    margin-top: 130px
}

.mt-140 {
    margin-top: 140px
}

.mt-150 {
    margin-top: 150px
}

.mtm-30 {
    margin-top: -30px
}

.mtm-80 {
    margin-top: -80px
}

/*************************
      Margin right
*************************/
.mr-0 {
    margin-right: 0px
}

.mr-10 {
    margin-right: 10px
}

.mr-15 {
    margin-right: 15px
}

.mr-20 {
    margin-right: 20px
}

.mr-30 {
    margin-right: 30px
}

.mr-40 {
    margin-right: 40px
}

.mr-50 {
    margin-right: 50px
}

.mr-60 {
    margin-right: 60px
}

.mr-70 {
    margin-right: 70px
}

.mr-80 {
    margin-right: 80px
}

.mr-90 {
    margin-right: 90px
}

.mr-100 {
    margin-right: 100px
}

.mr-110 {
    margin-right: 110px
}

.mr-120 {
    margin-right: 120px
}

.mr-130 {
    margin-right: 130px
}

.mr-140 {
    margin-right: 140px
}

.mr-150 {
    margin-right: 150px
}

/*************************
      Margin bottom
*************************/
.mb-0 {
    margin-bottom: 0
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-100 {
    margin-bottom: 100px
}

.mb-110 {
    margin-bottom: 110px
}

.mb-120 {
    margin-bottom: 120px
}

.mb-130 {
    margin-bottom: 130px
}

.mb-140 {
    margin-bottom: 140px
}

.mb-150 {
    margin-bottom: 150px
}

/*************************
        Margin left
*************************/
.ml-0 {
    margin-left: 0
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-30 {
    margin-left: 30px
}

.ml-40 {
    margin-left: 40px
}

.ml-50 {
    margin-left: 50px
}

.ml-60 {
    margin-left: 60px
}

.ml-70 {
    margin-left: 70px
}

.ml-80 {
    margin-left: 80px
}

.ml-90 {
    margin-left: 90px
}

.ml-100 {
    margin-left: 100px
}

.ml-110 {
    margin-left: 110px
}

.ml-120 {
    margin-left: 120px
}

.ml-130 {
    margin-left: 130px
}

.ml-140 {
    margin-left: 140px
}

.ml-150 {
    margin-left: 150px
}

/*************************
        Padding
*************************/
.p-0 {
    padding: 0
}

.p-5 {
    padding: 5px
}

.p-10 {
    padding: 10px
}

.p-15 {
    padding: 15px
}

.p-20 {
    padding: 20px
}

.p-25 {
    padding: 25px
}

.p-30 {
    padding: 30px
}

.p-35 {
    padding: 35px
}

.p-40 {
    padding: 40px
}

.p-45 {
    padding: 45px
}

.p-50 {
    padding: 50px
}

.p-55 {
    padding: 55px
}

.p-60 {
    padding: 60px
}

.p-65 {
    padding: 65px
}

.p-70 {
    padding: 70px
}

.p-75 {
    padding: 75px
}

.p-80 {
    padding: 80px
}

.p-85 {
    padding: 85px
}

.p-90 {
    padding: 90px
}

.p-95 {
    padding: 95px
}

.p-100 {
    padding: 100px
}

/*************************
        Padding top
*************************/
.pt-0 {
    padding-top: 0
}

.pt-5 {
    padding-top: 5px
}

.pt-10 {
    padding-top: 10px
}

.pt-15 {
    padding-top: 15px
}

.pt-20 {
    padding-top: 20px
}

.pt-30 {
    padding-top: 30px
}

.pt-35 {
    padding-top: 35px
}

.pt-40 {
    padding-top: 40px
}

.pt-50 {
    padding-top: 50px
}

.pt-60 {
    padding-top: 60px
}

.pt-70 {
    padding-top: 70px
}

.pt-75 {
    padding-top: 75px
}

.pt-80 {
    padding-top: 80px
}

.pt-90 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pt-110 {
    padding-top: 110px
}

.pt-120 {
    padding-top: 120px
}

.pt-130 {
    padding-top: 130px
}

.pt-140 {
    padding-top: 140px
}

.pt-150 {
    padding-top: 150px
}

/*************************
        Padding right
*************************/
.pr-0 {
    padding-right: 0
}

.pr-10 {
    padding-right: 10px
}

.pr-15 {
    padding-right: 15px
}

.pr-20 {
    padding-right: 20px
}

.pr-30 {
    padding-right: 30px
}

.pr-40 {
    padding-right: 40px
}

.pr-50 {
    padding-right: 50px
}

.pr-60 {
    padding-right: 60px
}

.pr-70 {
    padding-right: 70px
}

.pr-80 {
    padding-right: 80px
}

.pr-90 {
    padding-right: 90px
}

.pr-100 {
    padding-right: 100px
}

.pr-110 {
    padding-right: 110px
}

.pr-120 {
    padding-right: 120px
}

.pr-130 {
    padding-right: 130px
}

.pr-140 {
    padding-right: 140px
}

/*************************
        Padding bottom
*************************/
.pb-0 {
    padding-bottom: 0
}

.pb-10 {
    padding-bottom: 10px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-35 {
    padding-bottom: 35px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-45 {
    padding-bottom: 45px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-55 {
    padding-bottom: 55px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.pb-110 {
    padding-bottom: 110px
}

.pb-120 {
    padding-bottom: 120px
}

.pb-130 {
    padding-bottom: 130px
}

.pb-140 {
    padding-bottom: 140px
}

.pb-150 {
    padding-bottom: 150px
}

/*************************
        Padding left
*************************/
.pl-0 {
    padding-left: 0
}

.pl-10 {
    padding-left: 10px
}

.pl-15 {
    padding-left: 15px
}

.pl-20 {
    padding-left: 20px
}

.pl-30 {
    padding-left: 30px
}

.pl-40 {
    padding-left: 40px
}

.pl-50 {
    padding-left: 50px
}

.pl-60 {
    padding-left: 60px
}

.pl-70 {
    padding-left: 70px
}

.pl-80 {
    padding-left: 80px
}

.pl-90 {
    padding-left: 90px
}

.pl-100 {
    padding-left: 100px
}

.pl-110 {
    padding-left: 110px
}

.pl-120 {
    padding-left: 120px
}

.pl-130 {
    padding-left: 130px
}

.pl-140 {
    padding-left: 140px
}

.pl-150 {
    padding-left: 150px
}

/*************************
        Padding left-right
*************************/
.plr-0 {
    padding-left: 0;
    padding-right: 0;
}


/***************************
    Page section padding 
****************************/
.ptb-0 {
    padding: 0
}

.ptb-10 {
    padding: 10px 0
}

.ptb-15 {
    padding: 15px 0
}

.PTP-20 {
    padding-top: 20px;
}
.ptb-20 {
    padding: 20px 0
}

.ptb-25 {
    padding: 25px 0
}

.ptb-30 {
    padding: 30px 0
}

.ptb-35 {
    padding: 35px 0
}

.ptb-40 {
    padding: 40px 0
}

.ptb-45 {
    padding: 45px 0
}

.ptb-50 {
    padding: 50px 0
}

.ptb-55 {
    padding: 55px 0
}

.ptb-60 {
    padding: 60px 0
}

.ptb-70 {
    padding: 70px 0
}

.ptb-75 {
    padding: 75px 0
}

.ptb-80 {
    padding: 80px 0
}

.ptb-90 {
    padding: 90px 0
}

.ptb-100 {
    padding: 100px 0
}

.ptb-110 {
    padding: 110px 0
}

.ptb-120 {
    padding: 120px 0
}

.ptb-130 {
    padding: 130px 0
}

.ptb-140 {
    padding: 140px 0
}

.ptb-150 {
    padding: 150px 0
}

/***************************
    Page section margin 
****************************/
.mtb-0 {
    margin: 0
}

.mtb-10 {
    margin: 10px 0
}

.mtb-15 {
    margin: 15px 0
}

.mtb-20 {
    margin: 20px 0
}

.mtb-30 {
    margin: 30px 0
}

.mtb-40 {
    margin: 40px 0
}

.mtb-50 {
    margin: 50px 0
}

.mtb-60 {
    margin: 60px 0
}

.mtb-70 {
    margin: 70px 0
}

.mtb-80 {
    margin: 80px 0
}

.mtb-90 {
    margin: 90px 0
}

.mtb-100 {
    margin: 100px 0
}

.mtb-110 {
    margin: 110px 0
}

.mtb-120 {
    margin: 120px 0
}

.mtb-130 {
    margin: 130px 0
}

.mtb-140 {
    margin: 140px 0
}

.mtb-150 {
    margin: 150px 0;
}


/*Opacity background*/
.bg-opacity-black-10:before, .bg-opacity-black-20:before, .bg-opacity-black-30:before, .bg-opacity-black-40:before, .bg-opacity-black-50:before, .bg-opacity-black-60:before, .bg-opacity-black-70:before, .bg-opacity-black-80:before, .bg-opacity-black-90:before, .bg-opacity-white-10:before, .bg-opacity-white-20:before, .bg-opacity-white-30:before, .bg-opacity-white-40:before, .bg-opacity-white-50:before, .bg-opacity-white-60:before, .bg-opacity-white-70:before, .bg-opacity-white-80:before, .bg-opacity-white-90:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.bg-opacity-black-10:before {
    background: rgba(0, 0, 0, 0.1);
}

.bg-opacity-black-20:before {
    background: rgba(0, 0, 0, 0.2);
}

.bg-opacity-black-30:before {
    background: rgba(0, 0, 0, 0.3);
}

.bg-opacity-black-40:before {
    background: rgba(0, 0, 0, 0.4);
}

.bg-opacity-black-50:before {
    background: rgba(0, 0, 0, 0.5);
}

.bg-opacity-black-60:before {
    background: rgba(0, 0, 0, 0.6);
}

.bg-opacity-black-70:before {
    background: rgba(0, 0, 0, 0.7);
}

.bg-opacity-black-80:before {
    background: rgba(0, 0, 0, 0.8);
}

.bg-opacity-black-90:before {
    background: rgba(0, 0, 0, 0.9);
}

.bg-opacity-white-10:before {
    background: rgba(255, 255, 255, 0.1);
}

.bg-opacity-white-20:before {
    background: rgba(255, 255, 255, 0.2);
}

.bg-opacity-white-30:before {
    background: rgba(255, 255, 255, 0.3);
}

.bg-opacity-white-40:before {
    background: rgba(255, 255, 255, 0.4);
}

.bg-opacity-white-50:before {
    background: rgba(255, 255, 255, 0.5);
}

.bg-opacity-white-60:before {
    background: rgba(255, 255, 255, 0.6);
}

.bg-opacity-white-70:before {
    background: rgba(255, 255, 255, 0.7);
}

.bg-opacity-white-80:before {
    background: rgba(255, 255, 255, 0.8);
}

.bg-opacity-white-90:before {
    background: rgba(255, 255, 255, 0.9);
}


/*image background*/
.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9, .bg-10 {
    background-attachment: fixed;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.bg-1 {
    background: url(../../images/bg/1.jpg);
}

.bg-2 {
    background: url(../../images/bg/2.jpg);
}

.bg-3 {
    background: url(../../images/bg/3.jpg);
}

.bg-4 {
    background: url(../../images/bg/4.jpg);
}

.bg-5 {
    background: url(../../images/bg/5.jpg);
}

.bg-6 {
    background: url(../../images/bg/6.jpg);
}

.bg-7 {
    background: url(../../images/bg/7.jpg);
}

.bg-8 {
    background: url(../../images/bg/8.jpg);
}

.bg-9 {
    background: url(../../images/bg/9.jpg);
}

.bg-10 {
    background: url(../../images/bg/10.jpg);
}

/*pattern background*/
.pattern-bg {
    background: url(../../images/pattern/pattern-bg.png) repeat;
    background-position: top right;
    background-color: rgba(236, 239, 247, 1);
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

::-webkit-input-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

:-moz-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

::-moz-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

:-ms-input-placeholder {
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

.newsletter-box input::-webkit-input-placeholder {
    color: #efefef;
}


