
body {
    direction: rtl;
    font-family: 'DroidKufiRegular', palanquin-bold !important;


}

body {
    text-align: right;
}
.table-content table {
    direction: rtl;
}

.LTR {
    direction: ltr;
}



.cart-content {
    text-align: right;
}

.cart-box > ul > li > a span + span.total-pro {
    right: 0px;
    left: auto;
}

.header-top-right > ul > li img {
    margin-left: 5px;
}
.header-top-left > ul > li:hover ul.ht-dropdown, .header-top-right > ul > li:hover ul.ht-dropdown, .cart-box > ul > li:hover .ht-dropdown, .vertical-menu-list > li:hover ul.ht-dropdown, .header-bottom-list li:hover ul.ht-dropdown {

    text-align: right;
}
.price-content li span, .cart-content span.cart-price {
    float: left;
}
.sticker-new, .sticker-sale {
    right: 20px;
    left: auto;
}

.sticker-sale {

    right: 75px;
    left: auto;
}
.pro-title a{
    text-align: right;
}

.cart_totals table td .amount{
    margin-right: 5px;
    margin-left: auto;
}


.amount-range, .price-button {
    width: 100%;
    word-spacing: 15px;
    text-align: left;
}
.sidebar-title{
    text-align: right;
}

.form-check-label {

    margin-right: 1.25rem;
    margin-left: auto;
}

.sidebar .form-check{
    text-align: right;
}
.color-option li span{
    margin-left: 5px;
}

.grid-list-view span {
    padding-right: 40px;
    padding-left:auto;
}

.toolbar-sorter label{
    margin-right: 0px;
    margin-left: 15px;
    width: 100px;
}


.float-right {
    float: left!important;
}
.float-left {
    float: right!important;
}

.shop-breadcrumb-area .fa-angle-right:before {
    content: "\f104";
}
.shop-breadcrumb-area .fa-angle-left:before {
    content: "\f105";
}

.pfolio-breadcrumb-list li.next a i {
    margin-right: 8px;
    margin-left: 0px;
}

.pfolio-breadcrumb-list li.prev a i {
    margin-left: 8px;
    margin-right: 0px;
}
#list-view .single-makal-product .pro-content{
    text-align: right;
    padding-right: 15px;
    padding-left: 0px;
}
.small-btn a::before, .add-to-cart:before{
    margin-left:8px ;
}
.checkout-form-list input[type="text"], .checkout-form-list input[type="pa{ssword"], .checkout-form-list input[type="email"]{
    padding: 0 10px 0 0;
}

.nice-select .option ,.nice-select{
    text-align: right !important;
}

.header-bottom-list > li > ul.ht-dropdown li a, .header-top-right > ul > li > ul.ht-dropdown li a, .cart-box-right ul > li > a {
    text-align: right !important;

}

.ht-dropdown {
    left: auto!important;
}

@media (max-width: 1199px) and (min-width: 992px){
    .header-bottom-list ul.ht-dropdown.megamenu-three {
         width: auto!important;
    }}
.drop-icon::after {
    margin-right: 5px;
}

.cart-box-width, .categorie-search-box {
    right: auto;
    left: 0;
}

.mean-container .mean-nav ul li a.mean-expand{
    right: auto;
    left: 0;
}

@media (max-width: 991px) {
    .cart-box {
        padding-right: auto;
        padding-left: 60px;
    }
}
.mean-container a.meanmenu-reveal{
    left: 0!important;
    right: auto!important;
    top: -59px;
}


.cart-box-width, .categorie-search-box {
    right: auto!important;
    left: -30px!important;
}
@media (max-width: 575px){
    .cart-box-width {
        right: -236px!important;
    }}


.coupon-accordion h3{
    padding: 1em 3.5em 1em 1em;
}

.coupon-accordion h3::before {

    right: 16px;
    left: auto;
}

.ui-growl {

    left: 10px!important;
    right: auto!important;
    font-size: 14px;
}
.ui-growl-icon-close {
    left: 3px;
    right: auto;

}

.user-name::before {
    right: 0px!important;
    left: auto!important;
}

.user-name {
    padding-right: 25px;
    padding-left: auto;
}
.header-top-left > ul > li > a i {
    margin-right:auto;
    margin-left: 5px;
}
.nice-select {
    font-size: 11px;
}
.sidebar-title {
    font-size: 15px;
}
.header-bottom-list > li > ul.ht-dropdown li a, .header-top-right > ul > li > ul.ht-dropdown li a, .cart-box-right ul > li > a {
    font-size: 13px;
    font-weight: 300;
    padding: 4px 7px;
}
.menu-tile a {
    font-weight: 500 !important;
}
.section-title {
    padding-bottom: 31px;
}
.h4, h4 {
    font-size: 1.3erm;
}
body .ui-widget-content {
    font-size: 14px;

}

.ui-radiobutton .ui-radiobutton-box {
    margin: 2px -2px;
    border: 1px solid #757575!important;
}
body .ui-radiobutton .ui-radiobutton-box .ui-icon-bullet {
    background-color: #28a745!important;
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    right: auto;
}



.ui-paginator-next {
    transform: rotate(180deg);
}

.ui-paginator-last {
    transform: rotate(180deg);
}

.ui-paginator-prev {
    transform: rotate(180deg);
}

.ui-paginator-first {
    transform: rotate(180deg);
}

.ui-paginator {
    direction: rtl;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
    direction: ltr !important;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: left;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: right;
}

.categorie-search-box button {
    right: auto;
    left: 0;
}
.footer-list li i{
    margin-right: auto;
    margin-left: 8px;

}

.ui-wizard-step-title {

    float: right!important;
}
.ui-wizard-nav-next {
    float: left!important;
    padding-right: 40px!important;
    padding-left: 40px!important;
}
.ui-wizard-nav-back {
    float: right!important;
    padding-right: 40px!important;
    padding-left: 40px!important;
}



.ui-icon-arrowthick-1-w {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    right: .5em;

}
.ui-icon-arrowthick-1-e {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    left: .5em;

}

.ui-icon-arrowthick-1-w:before {
    content: ""!important;
}
.ui-icon-arrowthick-1-e:before {
    content: ""!important;
}

.intl-tel-input .country-list {
    left: 0 !important;
}
.ui-galleria-filmstrip {
    right: 0!important;
    left: auto!important;
}
.ui-galleria-frame {
    float: right!important;
}.ui-galleria-filmstrip-wrapper {
     margin: 5px 25px!important;
 }

.ui-galleria-panel{
    width: 600px;
    height: 313px;
    display: block;
}
.ui-galleria > .ui-galleria-filmstrip-wrapper {
    display:none!important;
}

.ui-galleria > .ui-galleria-filmstrip-wrapper ~ .ui-galleria-filmstrip-wrapper {
    display:block!important;
}
.ui-galleria-filmstrip {
    z-index: 0!important;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
}
.input-group-addon:first-child {
    border-left: 0!important;
    border-top-left-radius: 0!important;
     border-bottom-left-radius: 0!important;
}

.ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden){
    text-align: right!important;
}


.ui-datatable-reflow .ui-datatable-data td[role="gridcell"] .ui-column-title {
    margin: auto 10px!important
}

.ui-datatable-reflow .ui-datatable-data td[role="gridcell"] .ui-column-title:after {
    content: " : ";
}




.NO-PF-CLASS .ui-button-icon-left {
    left: 10px;
}


.slide-btn .small-btn {
    text-align: right !important;
}

.drop-icon::after {
    margin-right: 5px;
    float: left;
}

.dashboard-list li a.active:after {
    content: "\f104";
    margin-right: 5px;
    margin-left: auto;

}
p {
    text-align: right!important;

}

#dtail p {
    text-align: right!important;
}