<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <p:importEnum type="com.ellepharma.constant.ConfigEnum" var="conf" allSuffix="allConfig"/>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
    </f:facet>
    <title>- #{configMB.getConf(conf.NAME.name())} </title>
    <h:outputScript name="js/ripple.js" library="ultima-layout"/>
</h:head>

<h:body styleClass="exception-body notfound-page">

    <div class="exception-type">
        <p:graphicImage name="image/404.svg" library="ultima-layout"/>
    </div>

    <div class="card exception-panel">
        <i class="material-icons">&#xE001;</i>
        <h1>Page Not Found</h1>
        <div class="exception-detail">The resource you are looking for does not exist.</div>
        <p:button value="Homepage" href="#{request.contextPath}" styleClass="secondary"/>

    </div>

    <h:outputStylesheet name="css/ripple.css" library="ultima-layout"/>
    <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout"/>
</h:body>

</html>